Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

Revert "DEV: upgrades sassc to 2.4.0 (#10447)"
  Gemfile
  Gemfile.lock
Due: none

FIX - make Discobot new user tutorial a little more robust (#10497)
  plugins/discourse-narrative-bot/config/locales/server.en.yml
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/new_user_narrative.rb
  plugins/discourse-narrative-bot/plugin.rb
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/new_user_narrative_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

minor copyedit on site setting and user option descriptions
  config/locales/client.en.yml
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

DEV: skip using `br` tag in header widget rendering.
  app/assets/javascripts/discourse/app/widgets/header.js
  app/assets/stylesheets/common/base/discourse.scss
Due: prettier, eslint-js

UX: lowercase tag name before checking it with topic title.
  app/assets/javascripts/discourse/app/models/topic.js
Due: prettier, eslint-js

FIX: Remove unnecessary audio/video parent element load (#10511)
  app/assets/javascripts/pretty-text/addon/upload-short-url.js
Due: prettier, eslint-js

FIX: Correct `personal_messages:<username>` advanced search filter.
  app/assets/javascripts/discourse/app/widgets/search-menu.js
  lib/search.rb
  spec/components/search_spec.rb
Due: rubocop, prettier, eslint-js

Fix lint.
  lib/search.rb
Due: rubocop

PERF: Avoid extra subquery when searching within PMs for normal user.
  lib/search.rb
Due: rubocop

FIX: Restrict `personal_messages:` advanced search filter to admin.
  lib/search.rb
  spec/components/search_spec.rb
Due: rubocop

FIX: Stop category logo + background being marked secure (#10513)
  lib/upload_security.rb
  spec/lib/upload_security_spec.rb
Due: rubocop

FIX: removes us_pacific-new from the list of available timezones (#10514)
  app/assets/javascripts/discourse/app/initializers/moment.js
Due: prettier, eslint-js

FEATURE: Allow plugins to register parameter-based API routes (#10505)
  lib/auth/default_current_user_provider.rb
  lib/discourse_plugin_registry.rb
  lib/plugin/instance.rb
  spec/integration/api_keys_spec.rb
Due: rubocop

DEV: Improve user card styling extensibility (#10508)
  app/assets/javascripts/discourse/app/templates/components/user-card-contents.hbs
  app/assets/stylesheets/mobile/components/user-card.scss
Due: none

FIX: Add cache-busting parameter to ace-editor javascript
  app/assets/javascripts/admin/components/ace-editor.js
Due: prettier, eslint-js

REFACTOR: rewrite the emoji-picker (#10464)
  app/assets/javascripts/discourse-shims.js
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/components/emoji-picker.js
  app/assets/javascripts/discourse/app/helpers/replace-emoji.js
  app/assets/javascripts/discourse/app/initializers/enable-emoji.js
  app/assets/javascripts/discourse/app/templates/components/d-editor.hbs
  app/assets/javascripts/discourse/app/templates/components/emoji-picker.hbs.erb
  app/assets/javascripts/discourse/app/templates/emoji-picker-recent.hbr
  app/assets/javascripts/pretty-text/addon/emoji.js
  app/assets/stylesheets/common/base/emoji.scss
  app/assets/stylesheets/mobile/emoji.scss
  test/javascripts/acceptance/emoji-picker-test.js
  test/javascripts/components/d-editor-test.js
Due: prettier, eslint-js

UX: improves picker on automatic dark themes (#10515)
  app/assets/stylesheets/common/base/emoji.scss
  app/assets/stylesheets/mobile/emoji.scss
Due: none

FIX: close picker on emoji selection when on mobile device (#10516)
  app/assets/javascripts/discourse/app/components/emoji-picker.js
Due: prettier, eslint-js

FIX: ensures diversity code is not applied multiple times (#10517)
  app/assets/javascripts/discourse/app/components/emoji-picker.js
Due: prettier, eslint-js

FEATURE: More API scopes (#10493)
  app/assets/javascripts/admin/templates/api-keys-new.hbs
  app/assets/stylesheets/common/admin/api.scss
  app/models/api_key_scope.rb
  config/locales/client.en.yml
  spec/requests/admin/api_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
