Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: sliding window end time in rate limiter (#11691)
  lib/rate_limiter.rb
  spec/components/rate_limiter_spec.rb
Due: rubocop

FIX: Use the same time moment for related Redis calls in rate limiter (#11692)
  lib/rate_limiter.rb
Due: rubocop

DEV: Split toggle topic close job (#11679)
  app/jobs/regular/bump_topic.rb
  app/jobs/regular/clear_slow_mode.rb
  app/jobs/regular/close_topic.rb
  app/jobs/regular/delete_replies.rb
  app/jobs/regular/delete_topic.rb
  app/jobs/regular/open_topic.rb
  app/jobs/regular/publish_topic_to_category.rb
  app/jobs/regular/toggle_topic_closed.rb
  app/models/topic.rb
  app/models/topic_timer.rb
  app/services/topic_status_updater.rb
  lib/guardian/topic_guardian.rb
  spec/integration/topic_auto_close_spec.rb
  spec/jobs/close_topic_spec.rb
  spec/jobs/open_topic_spec.rb
  spec/models/post_action_spec.rb
  spec/models/topic_timer_spec.rb
Due: rubocop

DEV: pass the current category to discovery-list-container-top on tag pages (#11690)
  app/assets/javascripts/discourse/app/templates/tags/show.hbs
Due: none

FIX: Users can remove themselves from a PM even if they can still access it through a group. (#11693)
  app/serializers/topic_view_details_serializer.rb
  spec/serializers/topic_view_details_serializer_spec.rb
Due: rubocop

FIX: Safari iOS page title and url regression when sharing (#11699)
  app/assets/javascripts/discourse/app/initializers/opengraph-tag-updater.js
  app/assets/javascripts/discourse/tests/acceptance/opengraph-tag-updater-test.js
  app/views/qunit/index.html.erb
Due: prettier, eslint-js

FIX: Use ImageMagick to detect animated images (#11702)
  lib/upload_creator.rb
  spec/fixtures/images/animated.webp
  spec/lib/upload_creator_spec.rb
Due: rubocop

Improve Vanilla import script. (#11701)
  script/import_scripts/vanilla_body_parser.rb
  script/import_scripts/vanilla_mysql.rb
  spec/script/import_scripts/vanilla_body_parser_spec.rb
Due: rubocop

FEATURE: Log when a group is deleted. (#11706)
  app/controllers/admin/groups_controller.rb
  config/locales/client.en.yml
  spec/requests/admin/groups_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FEATURE: IMAP detect spammed email and delete associated Discourse topic (#11654)
  db/migrate/20210107005832_add_imap_missing_column_to_incoming_email.rb
  lib/imap/providers/generic.rb
  lib/imap/sync.rb
  spec/components/imap/sync_spec.rb
Due: rubocop

FIX: prevents debouncing and query to override each other (#11704)
  app/assets/javascripts/discourse/app/controllers/users.js
  app/assets/javascripts/discourse/app/templates/mobile/users.hbs
  app/assets/javascripts/discourse/app/templates/users.hbs
Due: prettier, eslint-js

FIX: Make category change work with shared drafts (#11705)
  app/assets/javascripts/discourse/app/components/shared-draft-controls.js
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/models/topic.js
  app/assets/javascripts/discourse/tests/acceptance/shared-drafts-test.js
  app/controllers/topics_controller.rb
  app/serializers/topic_view_serializer.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, prettier, eslint-js

Sync up master with Ember CLI branch where possible (#11707)
  app/assets/javascripts/discourse-shims.js
  app/assets/javascripts/discourse/app/index.html
  app/assets/javascripts/discourse/app/initializers/keyboard-shortcuts.js
  app/assets/javascripts/discourse/config/environment.js
  app/assets/javascripts/discourse/config/optional-features.json
  app/assets/javascripts/discourse/config/targets.js
Due: prettier, eslint-js

FIX: Render topic fancy title in review queue (#11713)
  app/assets/javascripts/discourse/app/templates/components/reviewable-topic-link.hbs
Due: none

FIX: Render fancy title correctly in composer (#11714)
  app/assets/javascripts/discourse/app/models/composer.js
Due: prettier, eslint-js

Improvements to phpBB3 import script (#10999)
  script/import_scripts/base.rb
  script/import_scripts/base/lookup_container.rb
  script/import_scripts/phpbb3/database/database.rb
  script/import_scripts/phpbb3/database/database_3_0.rb
  script/import_scripts/phpbb3/importer.rb
  script/import_scripts/phpbb3/importers/bookmark_importer.rb
  script/import_scripts/phpbb3/importers/category_importer.rb
  script/import_scripts/phpbb3/importers/importer_factory.rb
  script/import_scripts/phpbb3/importers/message_importer.rb
  script/import_scripts/phpbb3/importers/permalink_importer.rb
  script/import_scripts/phpbb3/importers/poll_importer.rb
  script/import_scripts/phpbb3/importers/post_importer.rb
  script/import_scripts/phpbb3/importers/user_importer.rb
  script/import_scripts/phpbb3/settings.yml
  script/import_scripts/phpbb3/support/bbcode/markdown_node.rb
  script/import_scripts/phpbb3/support/bbcode/xml_to_markdown.rb
  script/import_scripts/phpbb3/support/settings.rb
  script/import_scripts/phpbb3/support/smiley_processor.rb
  script/import_scripts/phpbb3/support/text_processor.rb
  spec/script/import_scripts/phpbb3/support/bbcode/xml_to_markdown_spec.rb
Due: rubocop, yaml-syntax

FEATURE: reason to reject user signup (#11700)
  app/assets/javascripts/discourse/app/components/reviewable-item.js
  app/assets/javascripts/discourse/app/controllers/reject-reason-reviewable.js
  app/assets/javascripts/discourse/app/templates/components/reviewable-user.hbs
  app/assets/javascripts/discourse/app/templates/modal/reject-reason-reviewable.hbs
  app/assets/javascripts/discourse/tests/acceptance/review-test.js
  app/assets/javascripts/discourse/tests/helpers/review-pretender.js
  app/controllers/reviewables_controller.rb
  app/jobs/regular/user_email.rb
  app/mailers/user_notifications.rb
  app/models/reviewable.rb
  app/models/reviewable_user.rb
  app/serializers/reviewable_action_serializer.rb
  app/serializers/reviewable_user_serializer.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  db/migrate/20210111025920_add_reject_reason_to_reviewables.rb
  lib/reviewable/actions.rb
  spec/models/reviewable_user_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

UX: Ellipsis hamburger menu link text when overflowing (#11715)
  app/assets/stylesheets/common/base/menu-panel.scss
Due: none

DEV: Document get user by external_id api endpoint (#11717)
  spec/requests/api/users_spec.rb
  spec/swagger_helper.rb
Due: rubocop

FIX: IMAP post alerter race condition and code improvements (#11711)
  app/models/incoming_email.rb
  app/models/topic.rb
  app/services/post_alerter.rb
  lib/email/receiver.rb
  lib/imap/sync.rb
  spec/models/topic_spec.rb
  spec/services/post_alerter_spec.rb
Due: rubocop
