Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD main
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD main
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {all_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {all_files}
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint plugins/**/test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Enable jquery-integration runtime deprecation (#18057)
  app/assets/javascripts/discourse/config/optional-features.json
  app/assets/javascripts/discourse/public/assets/scripts/module-shims.js
Due: prettier, eslint

DEV: Keep global state reset in a single place (#18049)
  app/assets/javascripts/discourse/tests/acceptance/plugin-outlet-multi-template-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/unit/lib/link-lookup-test.js
Due: prettier, eslint

UX: hide background image in crawler view (#18054)
  app/assets/stylesheets/common/base/crawler_layout.scss
Due: prettier-scss

FIX: Backup/Restore didn't use correct Redis namespace in multisite (#18060)
  lib/backup_restore.rb
  lib/backup_restore/backuper.rb
  lib/backup_restore/system_interface.rb
  spec/lib/backup_restore/system_interface_multisite_spec.rb
Due: rubocop

FIX: hide sidebar for anonymous when login required (#18065)
  app/assets/javascripts/discourse/app/controllers/application.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-user-test.js
Due: prettier, eslint

UX: sidebar styling, spacing consistency, etc (#18059)
  app/assets/javascripts/discourse/app/components/sidebar.hbs
  app/assets/javascripts/discourse/app/components/sidebar/hamburger-dropdown.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/user/sections.hbs
  app/assets/stylesheets/common/base/sidebar-footer.scss
  app/assets/stylesheets/common/base/sidebar-more-section-links.scss
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  app/assets/stylesheets/common/base/sidebar-section.scss
  app/assets/stylesheets/common/base/sidebar.scss
  app/assets/stylesheets/desktop/discourse.scss
  app/assets/stylesheets/desktop/menu-panel.scss
  app/assets/stylesheets/desktop/sidebar-section.scss
  app/assets/stylesheets/mobile/menu-panel.scss
  app/assets/stylesheets/mobile/sidebar.scss
Due: prettier-scss

Fix constraints typo in routes config (#17994)
  config/routes.rb
Due: rubocop

FIX: hide sidebar toggle button when no sidebar (#18068)
  app/assets/javascripts/discourse/app/controllers/application.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-user-test.js
Due: prettier, eslint

PERF: Rely on preload for first_post for TopicBookmarkable (#18066)
  app/serializers/user_topic_bookmark_serializer.rb
Due: rubocop

DEV: Do not MiniProfile theme-javascripts (#18067)
  config/initializers/006-mini_profiler.rb
Due: rubocop

DEV: Add salesforce plugin to official list of plugins (#18072)
  lib/plugin/metadata.rb
Due: rubocop

DEV: Enable ember-cli plugin assets by default (#18058)
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/discourse/lib/bootstrap-json/index.js
  lib/ember_cli.rb
Due: rubocop, prettier, eslint

DEV: Remove JQuery from `lib/keyboard-shortcuts.js` (#18056)
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
Due: prettier, eslint

FIX: Avoid duplicate topic-list requests (#18073)
  app/assets/javascripts/discourse/app/adapters/topic-list.js
  app/models/topic_list.rb
  spec/lib/topic_query_spec.rb
  spec/models/topic_list_spec.rb
  spec/requests/categories_controller_spec.rb
Due: rubocop, prettier, eslint

UX: revert sidebar scrollbar repositioning (#18076)
  app/assets/javascripts/discourse/app/components/sidebar.hbs
  app/assets/javascripts/discourse/app/components/sidebar/hamburger-dropdown.hbs
  app/assets/javascripts/discourse/app/components/sidebar/user/sections.hbs
  app/assets/stylesheets/common/base/sidebar-footer.scss
  app/assets/stylesheets/common/base/sidebar.scss
  app/assets/stylesheets/desktop/discourse.scss
Due: prettier-scss

UX: more apparent focus styles for sidebar headers (#18078)
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  app/assets/stylesheets/common/base/sidebar-section.scss
Due: prettier-scss

remove margin from sidebar sections (#18082)
  app/assets/stylesheets/common/base/sidebar-section.scss
Due: prettier-scss
