Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

UX: Improve quick search suggestions (#13813)
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/widgets/search-menu-results.js
  app/assets/javascripts/discourse/app/widgets/search-menu.js
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
  lib/search.rb
Due: rubocop, prettier, eslint-js

FIX: manually adds frowning_face_with_open_mouth for apple (#13528)
  app/assets/javascripts/pretty-text/addon/emoji/version.js
  app/models/emoji.rb
  plugins/poll/spec/lib/pretty_text_spec.rb
  public/images/emoji/apple/frowning_face_with_open_mouth.png
  spec/components/pretty_text_spec.rb
  spec/lib/upload_security_spec.rb
  spec/models/upload_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Add default `Accept-Language` to FinalDestination requests (#13817)
  lib/final_destination.rb
Due: rubocop

SECURITY: Validate period param for top topic routes (#13818)
  lib/topic_query.rb
  spec/components/topic_query_spec.rb
  spec/requests/list_controller_spec.rb
Due: rubocop

DEV: extract join_group method from groups#add_members method (#13807)
  app/assets/javascripts/discourse/app/components/group-membership-button.js
  app/assets/javascripts/discourse/app/models/group.js
  app/controllers/groups_controller.rb
  config/routes.rb
  spec/requests/groups_controller_spec.rb
Due: rubocop, prettier, eslint-js

FIX: MyBB importer exposes deleted posts (#13700)
  script/import_scripts/mybb.rb
Due: rubocop

Update translations (#13821)
  config/locales/client.ar.yml
  config/locales/client.da.yml
  config/locales/client.fr.yml
  config/locales/client.he.yml
  config/locales/client.ja.yml
  config/locales/client.pl_PL.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.sv.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
  config/locales/server.ar.yml
  config/locales/server.da.yml
  config/locales/server.de.yml
  config/locales/server.es.yml
  config/locales/server.fi.yml
  config/locales/server.fr.yml
  config/locales/server.gl.yml
  config/locales/server.he.yml
  config/locales/server.it.yml
  config/locales/server.ja.yml
  config/locales/server.ko.yml
  config/locales/server.nl.yml
  config/locales/server.pl_PL.yml
  config/locales/server.pt_BR.yml
  config/locales/server.ru.yml
  config/locales/server.sv.yml
  config/locales/server.tr_TR.yml
  config/locales/server.uk.yml
  config/locales/server.zh_CN.yml
  plugins/discourse-local-dates/config/locales/client.ja.yml
  plugins/discourse-narrative-bot/config/locales/client.ja.yml
  plugins/discourse-narrative-bot/config/locales/server.ja.yml
  plugins/discourse-narrative-bot/config/locales/server.zh_CN.yml
  plugins/styleguide/config/locales/client.ja.yml
  public/500.ja.html
Due: yaml-syntax

FIX: Validate email_accent_bg_color color (#13778)
  app/assets/javascripts/admin/addon/components/color-input.js
  config/locales/server.en.yml
  config/site_settings.yml
  lib/validators/css_color_validator.rb
  spec/components/validators/css_color_validator_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: update the list of users after user joined group (#13822)
  app/assets/javascripts/discourse/app/models/group.js
  app/controllers/groups_controller.rb
Due: rubocop, prettier, eslint-js

FIX: Ensure browser history contains correct URLs (#13367)
  app/assets/javascripts/discourse/app/routes/topic-by-slug-or-id.js
Due: prettier, eslint-js

DEV: extract leave_group method from the group#remove_member method (#13823)
  app/assets/javascripts/discourse/app/components/group-membership-button.js
  app/assets/javascripts/discourse/app/models/group.js
  app/controllers/groups_controller.rb
  config/routes.rb
  spec/requests/groups_controller_spec.rb
Due: rubocop, prettier, eslint-js

Version bump to v2.8.0.beta4 (#13824)
  lib/version.rb
Due: rubocop
