Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: Error when SMTP enabled in PostAlerter with no incoming email (#14981)
  app/services/post_alerter.rb
  spec/services/post_alerter_spec.rb
Due: rubocop

FEATURE: Show a confirmation modal when "Dismiss all" would dismiss an important notification (#14935)
  app/assets/javascripts/discourse/app/widgets/user-menu.js
  app/assets/javascripts/discourse/tests/acceptance/dismiss-notification-modal-test.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

UX: launch full page search on second `Enter` hit (#14978)
  app/assets/javascripts/discourse/app/controllers/keyboard-shortcuts-help.js
  app/assets/javascripts/discourse/app/templates/modal/keyboard-shortcuts-help.hbs
  app/assets/javascripts/discourse/app/widgets/search-menu.js
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Convert URLs embedded topics to absolute form (#14975)
  app/models/topic_embed.rb
  spec/models/topic_embed_spec.rb
Due: rubocop

FIX: register customOptions as select kit filter (#14933)
  app/assets/javascripts/select-kit/addon/components/user-chooser.js
Due: prettier, eslint-js

UX: add more search aliases for emojis. (#14768)
  lib/tasks/emoji.rake
Due: none

FIX: clear previous errors on second factor form display (#14987)
  app/assets/javascripts/discourse/app/controllers/login.js
Due: prettier, eslint-js

DEV: updates popper to 2.10.2 (#14986)
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
  package.json
  public/popper.js.map
  vendor/assets/javascripts/popper.js
  yarn.lock
Due: prettier, eslint-js

DEV: Fix a `userFields` computed property override (#14988)
  app/assets/javascripts/discourse/app/controllers/preferences/profile.js
  app/assets/javascripts/discourse/tests/unit/controllers/preferences-profile-test.js
Due: prettier, eslint-js

FIX: Cache all watched words (#14992)
  app/services/word_watcher.rb
Due: rubocop

DEV: `I18n` global is no longer supported (#14993)
  lib/tasks/docker.rake
Due: none

DEV: Make `screen-track` a regular service (#14983)
  app/assets/javascripts/application.js
  app/assets/javascripts/discourse/app/pre-initializers/inject-discourse-objects.js
  app/assets/javascripts/discourse/app/services/screen-track.js
  app/assets/javascripts/discourse/tests/unit/controllers/topic-test.js
  app/assets/javascripts/discourse/tests/unit/services/screen-track-test.js
Due: prettier, eslint-js

FEATURE: Apply rate limits per user instead of IP for trusted users (#14706)
  app/controllers/application_controller.rb
  app/models/user_api_key.rb
  app/models/user_auth_token.rb
  config/discourse_defaults.conf
  lib/admin_constraint.rb
  lib/auth/current_user_provider.rb
  lib/auth/default_current_user_provider.rb
  lib/guardian.rb
  lib/homepage_constraint.rb
  lib/middleware/anonymous_cache.rb
  lib/middleware/request_tracker.rb
  lib/rate_limiter.rb
  lib/rate_limiter/limit_exceeded.rb
  lib/staff_constraint.rb
  spec/components/auth/default_current_user_provider_spec.rb
  spec/components/current_user_spec.rb
  spec/components/guardian_spec.rb
  spec/components/hijack_spec.rb
  spec/components/middleware/anonymous_cache_spec.rb
  spec/components/middleware/request_tracker_spec.rb
  spec/jobs/export_user_archive_spec.rb
  spec/multisite/request_tracker_spec.rb
  spec/rails_helper.rb
  spec/requests/application_controller_spec.rb
  spec/requests/session_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/support/helpers.rb
Due: rubocop

DEV: Extract shared external upload routes into controller helper (#14984)
  app/assets/javascripts/discourse/app/components/uppy-backup-uploader.js
  app/assets/javascripts/discourse/app/mixins/composer-upload-uppy.js
  app/assets/javascripts/discourse/app/mixins/uppy-s3-multipart.js
  app/assets/javascripts/discourse/app/mixins/uppy-upload.js
  app/controllers/admin/backups_controller.rb
  app/controllers/uploads_controller.rb
  config/routes.rb
  lib/external_upload_helpers.rb
  spec/requests/admin/backups_controller_spec.rb
  spec/requests/uploads_controller_spec.rb
Due: rubocop, prettier, eslint-js

FIX: none and all categories filter (#14999)
  app/assets/javascripts/select-kit/addon/components/category-drop.js
Due: prettier, eslint-js

FIX: Incorrect title and chevron when filtering by post number. (#14985)
  app/assets/javascripts/discourse/app/widgets/post.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
Due: prettier, eslint-js

FEATURE: Log only topic/post search queries in search log (#14994)
  lib/search.rb
  spec/requests/search_controller_spec.rb
Due: rubocop

FIX: exclude moderator_action post for reply count in user summary. (#14991)
  app/models/topic.rb
  app/models/user_summary.rb
  spec/models/user_summary_spec.rb
Due: rubocop

DEV: add outlet for extra categories column (#15002)
  app/assets/javascripts/discourse/app/templates/components/categories-and-latest-topics.hbs
  app/assets/javascripts/discourse/app/templates/components/categories-and-top-topics.hbs
Due: none

DEV: Make `store` an actual service (#14996)
  app/assets/javascripts/discourse/app/models/store.js
  app/assets/javascripts/discourse/app/models/topic.js
  app/assets/javascripts/discourse/app/pre-initializers/inject-discourse-objects.js
  app/assets/javascripts/discourse/app/services/store.js
  app/assets/javascripts/discourse/tests/helpers/create-store.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/setup-tests.js
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
