Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Deprecate OAuth2Authenticator and OAuth2UserInfo (#15427)
  app/models/oauth2_user_info.rb
  lib/auth/oauth2_authenticator.rb
  lib/discourse.rb
  spec/services/user_anonymizer_spec.rb
  spec/services/user_merger_spec.rb
Due: rubocop

DEV: Add email bounce DiscourseEvent for plugins (#15398)
  lib/email/receiver.rb
Due: rubocop

DEV: Modernise navigation-bar plugin-outlet (#15478)
  app/assets/javascripts/discourse/app/components/navigation-bar.js
  app/assets/javascripts/discourse/app/templates/components/navigation-bar.hbs
  app/assets/javascripts/discourse/app/templates/mobile/components/navigation-bar.hbs
Due: prettier, eslint

DEV: Removing unused lines of code.
  app/assets/javascripts/pretty-text/addon/engines/discourse-markdown-it.js
  app/assets/javascripts/pretty-text/addon/pretty-text.js
Due: prettier, eslint

UX: prevent crawler view topic-list overflow (#15483)
  app/assets/stylesheets/common/base/crawler_layout.scss
Due: prettier-scss

DEV: Rolling back bookmarkable column changes (#15482)
  app/models/bookmark.rb
  db/migrate/20220105024605_add_trigger_for_polymorphic_bookmark_columns_to_sync_data.rb
  db/migrate/20220107011124_drop_bookmark_polymorphic_trigger.rb
  db/post_migrate/20220107014925_drop_bookmark_polymorphic_columns.rb
  spec/lib/bookmark_manager_spec.rb
Due: rubocop

DEV: Drop bookmark trigger correctly (#15486)
  db/migrate/20220105024605_add_trigger_for_polymorphic_bookmark_columns_to_sync_data.rb
  db/migrate/20220107011124_drop_bookmark_polymorphic_trigger.rb
Due: rubocop

DEV: Log response headers when getting rate limit errors during smoke tests (#15487)
  test/smoke_test.js
Due: prettier, eslint

FIX: when composing a message do not suggest deleted posts users (#15488)
  app/models/user_search.rb
  spec/models/user_search_spec.rb
Due: rubocop

FIX: Refresh logic in discovery topic lists (#15489)
  app/assets/javascripts/discourse/app/controllers/discovery/topics.js
Due: prettier, eslint

DEV: Retroactively add test for ignoring flagged responses (#15491)
  spec/models/reviewable_flagged_post_spec.rb
Due: rubocop

DEV: Fewer jQuery calls in offset calculation (#15465)
  app/assets/javascripts/discourse/app/components/composer-body.js
  app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/app/components/topic-navigation.js
  app/assets/javascripts/discourse/app/components/topic-timeline.js
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/lib/lock-on.js
  app/assets/javascripts/discourse/app/lib/offset-calculator.js
  app/assets/javascripts/discourse/app/lib/sticky-avatars.js
  plugins/discourse-narrative-bot/assets/javascripts/initializers/new-user-narrative.js
Due: prettier, eslint

DEV: Document delete post API endpoint (#15495)
  spec/requests/api/posts_spec.rb
  spec/requests/api/schemas/json/post_delete_request.json
Due: rubocop

FIX: Actually save fields on themes:update (#15497)
  lib/tasks/themes.rake
Due: none

FIX: Append /all to URL if default list is 'none' (#15460)
  app/assets/javascripts/discourse/app/lib/url.js
  app/assets/javascripts/discourse/tests/unit/lib/url-test.js
Due: prettier, eslint

DEV: Avoid `$` globals (#15453)
  app/controllers/forums_controller.rb
  app/services/destroy_task.rb
  bin/unicorn
  config/application.rb
  config/initializers/000-development_reload_warnings.rb
  config/initializers/100-watch_for_restart.rb
  config/unicorn.conf.rb
  lib/discourse.rb
  lib/tasks/themes.rake
  spec/models/user_option_spec.rb
  spec/rails_helper.rb
  spec/requests/forums_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/support/helpers.rb
Due: rubocop

DEV: migrate audio cloak-prevention to decorateCookedElement (#15502)
  app/assets/javascripts/discourse/app/initializers/post-decorations.js
Due: prettier, eslint

UX: updated "accept invite" error page (#15490)
  app/assets/stylesheets/common/base/login.scss
  app/views/invites/show.html.erb
  config/locales/server.en.yml
  public/images/crying-face.svg
Due: prettier-scss, yaml-syntax, i18n-lint

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
