Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Ensure ember-cli `rake theme:qunit` works with CSP enabled (#16541)
  app/assets/javascripts/discourse/testem.js
  app/views/qunit/theme.html.erb
Due: prettier, eslint

REFACTOR: add-archetype-class mixin (#16546)
  app/assets/javascripts/discourse/app/mixins/add-archetype-class.js
Due: prettier, eslint

DEV: Fix test hook placement (#16551)
  app/assets/javascripts/discourse/tests/acceptance/search-full-test.js
Due: prettier, eslint

FIX: Ensure lazy-load-images does not remove entire `img.style` (#16553)
  app/assets/javascripts/discourse/app/lib/lazy-load-images.js
Due: prettier, eslint

DEV: Ensure `custom_fields_clean?` returns false when values change (#16552)
  app/models/concerns/has_custom_fields.rb
  spec/lib/concern/has_custom_fields_spec.rb
Due: rubocop

FIX: properly clean Thunderbird emails, don't remove links (#16543)
  lib/email/receiver.rb
Due: rubocop

REFACTOR: live-development.js (#16548)
  app/assets/javascripts/discourse/app/initializers/live-development.js
  app/models/theme_field.rb
Due: rubocop, prettier, eslint

FIX: Check 2FA is disabled before enabling DiscourseConnect. (#16542)
  config/locales/server.en.yml
  lib/site_settings/validations.rb
  lib/validators/enable_sso_validator.rb
  spec/lib/validators/enable_sso_validator_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: Correctly handle the print param on topics#show. (#16555)
  app/controllers/topics_controller.rb
  config/routes.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop

UX: organize topic admin menu into groups (#16489)
  app/assets/javascripts/discourse/app/widgets/topic-admin-menu.js
  app/assets/stylesheets/common/base/topic-admin-menu.scss
  config/locales/client.en.yml
Due: prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

UX: Fix a few WCAG color scheme contrast issues (#16554)
  app/assets/stylesheets/wcag.scss
Due: prettier-scss

UX: ask for confirmation when deleting a post using shortcut (#16526)
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  config/locales/client.en.yml
Due: prettier, eslint, yaml-syntax, i18n-lint

FIX: prefers computed over discourseComputed (#16562)
  app/assets/javascripts/discourse/app/components/badge-button.js
  app/assets/javascripts/discourse/tests/integration/components/badge-button-test.js
Due: prettier, eslint

UX: prevent group mention from wrapping (#16558)
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier-scss

DEV: prefix group name when appended as class (#16556)
  app/assets/javascripts/discourse/app/templates/group.hbs
Due: none

UX: Tweak topic-admin-menu alignment/size (#16564)
  app/assets/stylesheets/common/base/topic-admin-menu.scss
Due: prettier-scss

UX: fix topic admin menu layout for short screens (#16565)
  app/assets/stylesheets/mobile/topic.scss
Due: prettier-scss

DEV: Ensure theme tests are always loaded in a consistent order (#16569)
  app/models/theme.rb
Due: rubocop

DEV: Add CI job that audits dependency licenses (#16568)
  .github/workflows/licenses.yml
  .gitignore
  .licensed.yml
  .licensee.json
Due: yaml-syntax

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
