Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD main
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD main
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {all_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {all_files}
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint plugins/**/test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

Update translations (#15705)
  config/locales/client.sv.yml
  config/locales/client.tr_TR.yml
  config/locales/server.tr_TR.yml
  plugins/discourse-local-dates/config/locales/client.ur.yml
  plugins/styleguide/config/locales/client.sv.yml
  plugins/styleguide/config/locales/client.tr_TR.yml
  plugins/styleguide/config/locales/client.ur.yml
Due: yaml-syntax

DEV: Run Ember CLI tests in random order
  .github/workflows/tests.yml
  app/assets/javascripts/discourse/tests/test-boot-ember-cli.js
Due: prettier, eslint, yaml-syntax

FIX: Allow staff to reset passwords by username (#15709)
  app/assets/javascripts/discourse/app/models/user.js
  app/controllers/session_controller.rb
  spec/requests/session_controller_spec.rb
Due: rubocop, prettier, eslint

Revert "DEV: Run Ember CLI tests in random order" (#15717)
  .github/workflows/tests.yml
  app/assets/javascripts/discourse/tests/test-boot-ember-cli.js
Due: prettier, eslint, yaml-syntax

FIX: This was causing a flaky test in Ember CLI
  app/assets/javascripts/discourse/tests/acceptance/user-activity-read-test.js
Due: prettier, eslint

FIX: Prevent "integer out of range" when merging post timings (#15723)
  app/services/user_merger.rb
  spec/services/user_merger_spec.rb
Due: rubocop

DEV: Fix typo in comment.
  app/assets/javascripts/discourse/app/lib/plugin-api.js
Due: prettier, eslint

Update translations (#15731)
  config/locales/client.tr_TR.yml
  config/locales/server.he.yml
  config/locales/server.tr_TR.yml
  plugins/poll/config/locales/server.he.yml
Due: yaml-syntax

Version bump to v2.9.0.beta1 (#15732)
  lib/version.rb
Due: rubocop

Revert "Revert "DEV: Run Ember CLI tests in random order" (#15717)"
  .github/workflows/tests.yml
  app/assets/javascripts/discourse/tests/test-boot-ember-cli.js
Due: prettier, eslint, yaml-syntax

FIX: remove duplicated word from client strings
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

DEV: Clean up HTML state between tests
  app/assets/javascripts/discourse/tests/setup-tests.js
Due: prettier, eslint

Update app/assets/javascripts/discourse/tests/setup-tests.js
  app/assets/javascripts/discourse/tests/setup-tests.js
Due: prettier, eslint

DEV: Remove jQuery UI vendor dependencies (#15700)
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/vendor-common.js
  app/assets/javascripts/wizard-vendor.js
  vendor/assets/javascripts/jquery.sortable.js
  vendor/assets/javascripts/jquery.ui.widget.js
Due: prettier, eslint

DEV: Add markdown_additional_options to Site (#15738)
  app/assets/javascripts/discourse/app/lib/text.js
  app/assets/javascripts/pretty-text/addon/pretty-text.js
  app/models/site.rb
  app/serializers/site_serializer.rb
  lib/pretty_text.rb
  spec/requests/api/schemas/json/site_response.json
Due: rubocop, prettier, eslint

DEV: Add backwards-compat for SiteSettings/User globals in ember-cli (#15719)
  app/assets/javascripts/discourse/app/initializers/inject-objects.js
Due: prettier, eslint

DEV: remove unused function in d-editor (#15680)
  app/assets/javascripts/discourse/app/components/d-editor.js
Due: prettier, eslint

I18N: Improve copy on blocked words error messages (#15741)
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

UX: try select-kit autocomplete Chrome fix (#15752)
  app/assets/javascripts/select-kit/addon/templates/components/select-kit/select-kit-filter.hbs
  app/assets/stylesheets/common/base/discourse.scss
Due: prettier-scss

Only block domains at the final destination (#15689)
  lib/final_destination.rb
  lib/inline_oneboxer.rb
  lib/onebox/domain_checker.rb
  lib/oneboxer.rb
  lib/retrieve_title.rb
  spec/components/oneboxer_spec.rb
  spec/components/retrieve_title_spec.rb
  spec/lib/onebox/domain_checker_spec.rb
Due: rubocop
