Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: destroys instance when hiding date popover (#16623)
  plugins/discourse-local-dates/assets/javascripts/initializers/discourse-local-dates.js
Due: prettier, eslint

FIX: Handle enum types during database restore (#16624)
  lib/backup_restore.rb
Due: rubocop

DEV: Remove RTLit gem (#16620)
  Gemfile
  Gemfile.lock
  config/discourse_defaults.conf
Due: none

DEV: Use cloneJSON instead of spread operator (#16615)
  plugins/discourse-local-dates/test/javascripts/acceptance/download-calendar-test.js
Due: prettier, eslint

DEV: Fix typos and outdated comments (#16614)
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  config/dev_defaults.yml
  config/initializers/100-logster.rb
  lib/tasks/db.rake
Due: rubocop, prettier, eslint, yaml-syntax

FEATURE: Add fallback to suggested value when auth_overrides_username (#16612)
  lib/auth/result.rb
  spec/lib/auth/result_spec.rb
Due: rubocop

FIX: Validate permalink_normalizations setting (#16604)
  config/locales/server.en.yml
  config/site_settings.yml
  lib/validators/regexp_list_validator.rb
  spec/lib/validators/regexp_list_validator_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

DEV: replace depreciated {{hasBlock}} (#16629)
  app/assets/javascripts/discourse/app/templates/components/user-info.hbs
Due: none

FIX: Skip invalid custom_field json in hotlinked_media migration (#16630)
  db/migrate/20220428094026_create_post_hotlinked_media.rb
Due: rubocop

DEV: Use Ember getter and explicitly check for undefined (#16618)
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/mixins/uppy-upload.js
Due: prettier, eslint

DEV: Drop our `mail` gem fork (#16622)
  Gemfile
  Gemfile.lock
Due: none

FIX: Missing translation when translation override contained a `%{key}` (#16625)
  lib/freedom_patches/translate_accelerator.rb
  spec/fixtures/i18n/translate_accelerator.de.yml
  spec/fixtures/i18n/translate_accelerator.en.yml
  spec/lib/freedom_patches/translate_accelerator_spec.rb
Due: rubocop, yaml-syntax

DEV: Improve lefthook config and remove some slow hooks (#16626)
  .eslintignore
  .prettierignore
  lefthook.yml
Due: yaml-syntax

DEV: Fix stylesheet watcher (#16635)
  lib/stylesheet/watcher.rb
Due: rubocop

DEV: Convert notify_about_flags_after to float (#16633)
  app/jobs/scheduled/pending_reviewables_reminder.rb
  config/site_settings.yml
  spec/jobs/pending_reviewables_reminder_spec.rb
Due: rubocop, yaml-syntax

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
