Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

REFACTOR: Move Mousetrap library to an import
  app/assets/javascripts/discourse-shims.js
  app/assets/javascripts/discourse/app/app.js
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/initializers/keyboard-shortcuts.js
Due: prettier, eslint-js

FIX: Bump onebox to fix soundcloud oneboxes
  Gemfile.lock
Due: none

DEV: Replace SECURE_MEDIA_ROUTE const with other methods (#10545)
  app/models/post.rb
  app/models/upload.rb
  lib/url_helper.rb
  spec/models/upload_spec.rb
Due: rubocop

DEV: Allow all uploads when fixing missing s3
  lib/tasks/uploads.rake
Due: none

DEV: Remove staff bypass on fix missing
  lib/tasks/uploads.rake
Due: none

DEV: Throw an error instead of a string.
  test/javascripts/test_helper.js
Due: prettier, eslint-js

FEATURE: User selectable color schemes (#10544)
  app/assets/javascripts/admin/controllers/admin-customize-colors-show.js
  app/assets/javascripts/admin/models/color-scheme.js
  app/assets/javascripts/admin/templates/customize-colors-show.hbs
  app/assets/javascripts/discourse/app/controllers/preferences/interface.js
  app/assets/javascripts/discourse/app/lib/color-scheme-picker.js
  app/assets/javascripts/discourse/app/lib/theme-selector.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/pre-initializers/discourse-bootstrap.js
  app/assets/javascripts/discourse/app/routes/preferences-interface.js
  app/assets/javascripts/discourse/app/templates/preferences/interface.hbs
  app/assets/stylesheets/common/admin/customize.scss
  app/assets/stylesheets/common/base/user.scss
  app/assets/stylesheets/desktop/user.scss
  app/controllers/admin/color_schemes_controller.rb
  app/controllers/stylesheets_controller.rb
  app/helpers/application_helper.rb
  app/models/color_scheme.rb
  app/serializers/color_scheme_selectable_serializer.rb
  app/serializers/color_scheme_serializer.rb
  app/serializers/site_serializer.rb
  app/serializers/user_option_serializer.rb
  app/services/color_scheme_revisor.rb
  app/services/user_updater.rb
  config/locales/client.en.yml
  config/routes.rb
  db/migrate/20200819021210_add_user_selectable_column_to_color_schemes.rb
  db/migrate/20200819203846_add_color_scheme_id_to_user_options.rb
  spec/helpers/application_helper_spec.rb
  spec/models/color_scheme_spec.rb
  spec/models/site_spec.rb
  spec/requests/stylesheets_controller_spec.rb
  spec/serializers/site_serializer_spec.rb
  spec/services/color_scheme_revisor_spec.rb
  test/javascripts/acceptance/preferences-test.js
  test/javascripts/acceptance/user-preferences-interface-test.js
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

PERF: Add partial index on reviewables for topic view (#10492)
  db/migrate/20200820174703_add_partial_target_id_index_to_reviewables.rb
Due: rubocop

DEV: Switch to new ExportUserArchive job
  app/controllers/export_csv_controller.rb
  app/jobs/regular/export_csv_file.rb
  app/jobs/regular/export_user_archive.rb
  spec/jobs/export_csv_file_spec.rb
  spec/requests/export_csv_controller_spec.rb
Due: rubocop

DEV: drop the explicit .each in UserArchive CSV writing
  app/jobs/regular/export_user_archive.rb
  spec/jobs/export_user_archive_spec.rb
Due: rubocop

DEV: Create ExportUserArchive as clone of ExportCsvFile
  app/jobs/regular/export_user_archive.rb
  spec/jobs/export_user_archive_spec.rb
Due: rubocop

DEV: minor refactors to ExportUserArchive(Spec)
  app/jobs/regular/export_user_archive.rb
  spec/jobs/export_user_archive_spec.rb
Due: rubocop

FIX: UserAction did not have a types enum (#10553)
  app/models/user_action.rb
Due: rubocop

FIX - rails_route_from_url would fail if path contained unicode characters
  lib/url_helper.rb
Due: rubocop

REFACTOR: Don't use `layoutName` in select-kit (#10556)
  app/assets/javascripts/app-boot.js
  app/assets/javascripts/select-kit/addon/components/category-drop/category-drop-header.js
  app/assets/javascripts/select-kit/addon/components/category-row.js
  app/assets/javascripts/select-kit/addon/components/color-palettes/color-palettes-row.js
  app/assets/javascripts/select-kit/addon/components/combo-box/combo-box-header.js
  app/assets/javascripts/select-kit/addon/components/create-color-row.js
  app/assets/javascripts/select-kit/addon/components/dropdown-select-box/dropdown-select-box-header.js
  app/assets/javascripts/select-kit/addon/components/dropdown-select-box/dropdown-select-box-row.js
  app/assets/javascripts/select-kit/addon/components/future-date-input-selector/future-date-input-selector-header.js
  app/assets/javascripts/select-kit/addon/components/future-date-input-selector/future-date-input-selector-row.js
  app/assets/javascripts/select-kit/addon/components/mini-tag-chooser/mini-tag-chooser-header.js
  app/assets/javascripts/select-kit/addon/components/mini-tag-chooser/selected-collection.js
  app/assets/javascripts/select-kit/addon/components/multi-select.js
  app/assets/javascripts/select-kit/addon/components/multi-select/multi-select-filter.js
  app/assets/javascripts/select-kit/addon/components/multi-select/multi-select-header.js
  app/assets/javascripts/select-kit/addon/components/multi-select/selected-category.js
  app/assets/javascripts/select-kit/addon/components/none-category-row.js
  app/assets/javascripts/select-kit/addon/components/notifications-filter/notifications-filter-header.js
  app/assets/javascripts/select-kit/addon/components/period-chooser/period-chooser-header.js
  app/assets/javascripts/select-kit/addon/components/period-chooser/period-chooser-row.js
  app/assets/javascripts/select-kit/addon/components/pinned-button.js
  app/assets/javascripts/select-kit/addon/components/select-kit.js
  app/assets/javascripts/select-kit/addon/components/select-kit/errors-collection.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-body.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-collection.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-create-row.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-filter.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-none-row.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-row.js
  app/assets/javascripts/select-kit/addon/components/select-kit/single-select-header.js
  app/assets/javascripts/select-kit/addon/components/selected-name.js
  app/assets/javascripts/select-kit/addon/components/single-select.js
  app/assets/javascripts/select-kit/addon/components/tag-chooser-row.js
  app/assets/javascripts/select-kit/addon/components/tag-drop/tag-drop-header.js
  app/assets/javascripts/select-kit/addon/components/tag-row.js
  app/assets/javascripts/select-kit/addon/components/topic-notifications-button.js
  app/assets/javascripts/select-kit/addon/components/user-chooser/user-row.js
  app/assets/javascripts/wizard/wizard.js
Due: prettier, eslint-js

FEATURE: Add category tracking state to user archive export (#10557)
  app/jobs/regular/export_user_archive.rb
  spec/jobs/export_user_archive_spec.rb
Due: rubocop

Basic spec for rails_route_from_url (#10558)
  spec/components/url_helper_spec.rb
Due: rubocop

FIX: Pluralized translation overrides didn't work for en_US
  lib/i18n/backend/discourse_i18n.rb
  spec/components/freedom_patches/translate_accelerator_spec.rb
  spec/integration/email_style_spec.rb
Due: rubocop

UX: Restyle user menu so user links are findable (#10554)
  app/assets/javascripts/discourse/app/widgets/quick-access-profile.js
  app/assets/javascripts/discourse/app/widgets/user-menu.js
  app/assets/stylesheets/common/base/menu-panel.scss
  test/javascripts/widgets/user-menu-test.js
Due: prettier, eslint-js

FIX: Do not set color_scheme_id in user options when no schemes are marked as selectable
  app/assets/javascripts/discourse/app/controllers/preferences/interface.js
  app/assets/javascripts/discourse/app/routes/preferences-interface.js
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
