Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: apply allow origin response header for CDN requests. (#11893)
  app/controllers/application_controller.rb
  app/controllers/highlight_js_controller.rb
  app/controllers/static_controller.rb
  app/controllers/stylesheets_controller.rb
  app/controllers/svg_sprite_controller.rb
  app/controllers/theme_javascripts_controller.rb
  app/controllers/uploads_controller.rb
  app/controllers/user_avatars_controller.rb
  config/initializers/008-rack-cors.rb
  lib/discourse.rb
  lib/middleware/enforce_hostname.rb
  spec/requests/static_controller_spec.rb
Due: rubocop

Quite a few Ember-CLI / Upgrade related changes (#11867)
  app/assets/javascripts/discourse/app/components/topic-list-item.js
  app/assets/javascripts/discourse/app/controllers/reorder-categories.js
  app/assets/javascripts/discourse/app/helpers/raw.js
  app/assets/javascripts/discourse/app/initializers/copy-codeblocks.js
  app/assets/javascripts/discourse/app/initializers/jquery-plugins.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/mixins/buffered-content.js
  app/assets/javascripts/discourse/app/mixins/mobile-scroll-direction.js
  app/assets/javascripts/discourse/app/mixins/scrolling.js
  app/assets/javascripts/discourse/app/mixins/username-validation.js
  app/assets/javascripts/discourse/app/services/app-events.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/unit/controllers/create-account-test.js
Due: prettier, eslint-js

document user endpoints (#11894)
  spec/requests/api/schemas/json/admin_user_list_response.json
  spec/requests/api/schemas/json/admin_user_response.json
  spec/requests/api/schemas/json/success_ok_response.json
  spec/requests/api/schemas/json/user_actions_response.json
  spec/requests/api/schemas/json/user_delete_request.json
  spec/requests/api/schemas/json/user_delete_response.json
  spec/requests/api/schemas/json/user_refresh_gravatar_response.json
  spec/requests/api/schemas/json/user_update_avatar_request.json
  spec/requests/api/schemas/json/user_update_email_request.json
  spec/requests/api/schemas/json/users_public_list_response.json
  spec/requests/api/shared/shared_examples.rb
  spec/requests/api/users_spec.rb
Due: rubocop

remove hidden area in flagged removed post msg (#11901)
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

Improve invite to forum modal description (#11903)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

UX: Allow some overflow in composer preview (#11902)
  app/assets/stylesheets/common/d-editor.scss
  app/assets/stylesheets/desktop/compose.scss
Due: none

DEV: Add time shortcut picker component and libs and refactor bookmark modal controller into component which uses time shortcut picker (#11802)
  app/assets/javascripts/discourse/app/components/bookmark-local-date.js
  app/assets/javascripts/discourse/app/components/bookmark.js
  app/assets/javascripts/discourse/app/components/time-shortcut-picker.js
  app/assets/javascripts/discourse/app/controllers/bookmark.js
  app/assets/javascripts/discourse/app/lib/bookmark.js
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/lib/time-shortcut.js
  app/assets/javascripts/discourse/app/lib/time-utils.js
  app/assets/javascripts/discourse/app/templates/components/bookmark-local-date.hbs
  app/assets/javascripts/discourse/app/templates/components/bookmark.hbs
  app/assets/javascripts/discourse/app/templates/components/time-shortcut-picker.hbs
  app/assets/javascripts/discourse/app/templates/modal/bookmark.hbs
  app/assets/javascripts/discourse/tests/acceptance/bookmarks-test.js
  app/assets/javascripts/discourse/tests/helpers/component-test.js
  app/assets/javascripts/discourse/tests/integration/components/bookmark-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/bookmark-test.js
  app/assets/javascripts/discourse/tests/unit/lib/time-utils-test.js
  app/assets/stylesheets/common/components/bookmark-modal.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Stop trying to set values on destroyed bookmark component (#11909)
  app/assets/javascripts/discourse/app/components/bookmark.js
Due: prettier, eslint-js

left align popup-menu button text
  app/assets/stylesheets/common/base/popup-menu.scss
Due: none

FIX: Return the CDN's URL when using the site's small logo as the system's user avatar.
  app/models/user.rb
  spec/models/user_spec.rb
Due: rubocop

FEATURE: Add daily job to check for new features
  app/jobs/scheduled/check_new_features.rb
Due: rubocop

Add autofocus to the change ownership modal
  app/assets/javascripts/discourse/app/templates/modal/change-owner.hbs
Due: none

Apply suggestions from code review
  app/assets/javascripts/discourse/app/templates/modal/change-owner.hbs
Due: none

DEV: Update msgpack to 1.4.2.
  Gemfile.lock
Due: none

DEV: {{user-selector}} replacement (#11726)
  app/assets/javascripts/admin/addon/controllers/admin-api-keys-new.js
  app/assets/javascripts/admin/addon/controllers/admin-email-preview-digest.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-merge-users-prompt.js
  app/assets/javascripts/admin/addon/templates/api-keys-new.hbs
  app/assets/javascripts/admin/addon/templates/email-preview-digest.hbs
  app/assets/javascripts/admin/addon/templates/modal/admin-merge-users-prompt.hbs
  app/assets/javascripts/discourse/app/components/composer-user-selector.js
  app/assets/javascripts/discourse/app/components/invite-panel.js
  app/assets/javascripts/discourse/app/templates/components/composer-user-selector.hbs
  app/assets/javascripts/discourse/app/templates/components/invite-panel.hbs
  app/assets/javascripts/discourse/app/templates/composer.hbs
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-test.js
  app/assets/javascripts/discourse/tests/acceptance/new-message-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/select-kit/addon/components/email-group-user-chooser-header.js
  app/assets/javascripts/select-kit/addon/components/email-group-user-chooser-row.js
  app/assets/javascripts/select-kit/addon/components/email-group-user-chooser.js
  app/assets/javascripts/select-kit/addon/components/select-kit.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-filter.js
  app/assets/javascripts/select-kit/addon/components/user-chooser.js
  app/assets/javascripts/select-kit/addon/templates/components/email-group-user-chooser-header.hbs
  app/assets/javascripts/select-kit/addon/templates/components/email-group-user-chooser-row.hbs
  app/assets/javascripts/select-kit/addon/templates/components/select-kit/select-kit-filter.hbs
  app/assets/stylesheets/common/admin/api.scss
  app/assets/stylesheets/common/select-kit/_index.scss
  app/assets/stylesheets/common/select-kit/email-group-user-chooser.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Existing shared drafts should be accessible (#11915)
  app/assets/javascripts/discourse/app/templates/components/shared-draft-controls.hbs
  app/controllers/list_controller.rb
  app/serializers/site_serializer.rb
  app/serializers/topic_view_serializer.rb
  config/locales/client.en.yml
  lib/guardian/post_guardian.rb
  lib/guardian/topic_guardian.rb
  lib/topic_query.rb
  spec/components/guardian/topic_guardian_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: Emoji search/autocomplete should respect selected skin tone (#11917)
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/components/emoji-picker.js
  app/assets/javascripts/discourse/tests/unit/lib/emoji-test.js
  app/assets/javascripts/pretty-text/addon/emoji.js
Due: prettier, eslint-js

DEV: Performance fixes to filtered replies (#11916)
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/widgets/post-menu.js
  app/assets/javascripts/discourse/app/widgets/post-stream.js
  app/assets/javascripts/discourse/app/widgets/post.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Skip shared drafts logic if disabled (#11918)
  app/controllers/list_controller.rb
  spec/requests/list_controller_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
