Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: Show title on results of all poll types (#11041)
  plugins/poll/assets/javascripts/widgets/discourse-poll.js.es6
  plugins/poll/assets/stylesheets/common/poll.scss
  plugins/poll/assets/stylesheets/desktop/poll.scss
Due: prettier, eslint-es6

FEATURE: Include rejected queued posts in the user archive export (#10859)
  app/jobs/regular/export_user_archive.rb
  spec/jobs/export_user_archive_spec.rb
Due: rubocop

FIX: Capybara diet upgrade, can eat real 🌿 now (#11040)
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/new_user_narrative.rb
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/new_user_narrative_spec.rb
Due: rubocop

DEV: Better custom field preload error (#11044)
  app/models/concerns/has_custom_fields.rb
Due: rubocop

FIX: Hide delete button if user cannot delete and/or flag a post (#11045)
  app/assets/javascripts/discourse/app/lib/transform-post.js
  app/assets/javascripts/discourse/tests/integration/widgets/post-test.js
Due: prettier, eslint-js

DEV: annotate models (#11047)
  app/models/category.rb
  app/models/group_user.rb
  app/models/imap_sync_log.rb
  app/models/post_search_data.rb
  app/models/screened_email.rb
  app/models/theme_modifier_set.rb
  app/models/topic.rb
  app/models/topic_custom_field.rb
  app/models/topic_link.rb
  app/models/topic_link_click.rb
  app/models/topic_user.rb
  app/models/user_action.rb
  app/models/user_api_key.rb
  app/models/user_custom_field.rb
  app/models/user_history.rb
  app/models/user_ip_address_history.rb
  app/models/user_stat.rb
Due: rubocop

FIX - don't hide tags if user has correct permissions (#11046)
  lib/discourse_tagging.rb
  spec/components/discourse_tagging_spec.rb
Due: rubocop
