Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Dejquerify marking FAQ as read (#17001)
  app/assets/javascripts/discourse/app/components/watch-read.js
Due: prettier, eslint

UX: don't tether popper to the viewport if reference is out of the viewport (#17012)
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Due: prettier, eslint

FIX: Restore automatic style preview in wizard (#17015)
  app/assets/javascripts/wizard/lib/preview.js
Due: prettier, eslint

DEV: Remove unused wizard code (#17016)
  app/assets/javascripts/wizard/components/theme-preview.js
  app/assets/javascripts/wizard/lib/preview.js
  app/assets/javascripts/wizard/models/wizard.js
Due: prettier, eslint

FIX: Email Send post has already been taken error (#16992)
  app/models/post_reply_key.rb
  spec/lib/email/sender_spec.rb
Due: rubocop

FIX: Seed multisite dbs after migrating in development (#17017)
  lib/tasks/db.rake
Due: none

DEV: Remove reply_as_private_message from composer (#16979)
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/fixtures/user-fixtures.js
  app/assets/javascripts/select-kit/addon/components/composer-actions.js
  config/locales/client.en.yml
Due: prettier, eslint, yaml-syntax, i18n-lint

DEV: Allow all subdomains of localhost in development (#17018)
  config/environments/development.rb
Due: rubocop

DEV: Implement "My Posts" section link for experimental sidebar (#17008)
  app/assets/javascripts/discourse/app/components/sidebar/topics-section.js
  app/assets/javascripts/discourse/app/initializers/subscribe-user-changes.js
  app/assets/javascripts/discourse/app/initializers/subscribe-user-notifications.js
  app/assets/javascripts/discourse/app/lib/sidebar/topics-section/base-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/topics-section/my-posts-section-link.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-topics-section-test.js
  app/models/user_stat.rb
  config/locales/client.en.yml
  spec/lib/post_creator_spec.rb
  spec/models/draft_spec.rb
Due: rubocop, prettier, eslint, yaml-syntax, i18n-lint

UX: hide select-kits when the parent element is outside the viewport
  app/assets/stylesheets/common/select-kit/select-kit.scss
Due: prettier-scss

FIX: Correctly handle invalid auth cookies (#16995)
  lib/auth/default_current_user_provider.rb
  spec/lib/middleware/anonymous_cache_spec.rb
Due: rubocop

FEATURE: Allow hotlinked media to be blocked (#16940)
  app/assets/stylesheets/common/base/topic-post.scss
  app/jobs/regular/pull_hotlinked_images.rb
  app/models/post_analyzer.rb
  config/locales/server.en.yml
  config/site_settings.yml
  lib/cooked_post_processor.rb
  lib/cooked_processor_mixin.rb
  lib/pretty_text.rb
  spec/integration/blocked_hotlinked_media_spec.rb
Due: rubocop, prettier-scss, yaml-syntax, i18n-lint

UX: Larger images in mobile emoji picker (#17013)
  app/assets/stylesheets/common/base/emoji.scss
  app/assets/stylesheets/mobile/emoji.scss
Due: prettier-scss

UX: Remove limit for emoji search in composer (#17014)
  app/assets/javascripts/discourse/app/components/emoji-picker.js
Due: prettier, eslint

DEV: Remove reply_as_new_topic from PM composer actions (#17023)
  app/assets/javascripts/select-kit/addon/components/composer-actions.js
Due: prettier, eslint

DEV: Add new user scopes (#17026)
  app/models/user.rb
Due: rubocop

DEV: Remove this chained user scope (#17029)
  app/models/user.rb
Due: rubocop

FIX: Missing tracked sub category topics from tracked topic list (#17034)
  lib/topic_query.rb
  spec/lib/topic_query_spec.rb
Due: rubocop

FIX: escape youtube title when constructing onebox preview html (#16999)
  lib/onebox/engine/youtube_onebox.rb
  spec/lib/oneboxer_spec.rb
Due: rubocop

DEV: include `time_left` information in rate limiting error messages (#17037)
  app/controllers/application_controller.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
