Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

Version bump to v2.7.0.beta2
  lib/version.rb
Due: rubocop

FIX: Share popup is positioned incorrectly in RTL locales (#11792)
  app/assets/javascripts/discourse/app/components/share-popup.js
Due: prettier, eslint-js

DEV: Sync up more Ember CLI features (#11790)
  app/assets/javascripts/discourse-common/addon/config/environment.js
  app/assets/javascripts/discourse-common/addon/lib/debounce.js
  app/assets/javascripts/discourse/app/app.js
  app/assets/javascripts/discourse/app/initializers/inject-objects.js
  app/assets/javascripts/discourse/app/pre-initializers/map-routes.js
  app/assets/javascripts/discourse/app/templates/components/edit-category-general.hbs
  app/assets/javascripts/discourse/tests/acceptance/category-edit-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/acceptance/create-account-user-fields-test.js
  app/assets/javascripts/discourse/tests/acceptance/enforce-second-factor-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-test.js
  app/assets/javascripts/discourse/tests/acceptance/invite-show-user-fields-test.js
  app/assets/javascripts/discourse/tests/acceptance/plugin-keyboard-shortcut-test.js
  app/assets/javascripts/discourse/tests/acceptance/preferences-test.js
  app/assets/javascripts/discourse/tests/acceptance/raw-plugin-outlet-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-full-test.js
  app/assets/javascripts/discourse/tests/acceptance/sign-in-test.js
  app/assets/javascripts/discourse/tests/acceptance/tag-groups-test.js
  app/assets/javascripts/discourse/tests/acceptance/tags-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-discovery-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-card-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-test.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  app/assets/javascripts/discourse/tests/unit/controllers/bookmark-test.js
  app/assets/javascripts/discourse/tests/unit/localization-test.js
  app/assets/javascripts/handlebars-shim.js
Due: prettier, eslint-js

FIX: broken URL when username contains subfolder. (#11786)
  app/assets/javascripts/discourse-common/addon/lib/get-url.js
  app/assets/javascripts/discourse/tests/unit/lib/get-url-test.js
Due: prettier, eslint-js

UX: warn about messages to be orphaned while deleting a group. (#11727)
  app/assets/javascripts/discourse/app/controllers/group.js
  app/assets/javascripts/discourse/tests/acceptance/group-test.js
  app/assets/javascripts/discourse/tests/fixtures/group-fixtures.js
  app/models/group.rb
  app/serializers/group_show_serializer.rb
  config/locales/client.en.yml
  spec/serializers/group_show_serializer_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Add schema checking to api doc testing (#11721)
  Gemfile
  Gemfile.lock
  spec/requests/api/schemas/tag_group_schemas.rb
  spec/requests/api/shared/shared_examples.rb
  spec/requests/api/tags_spec.rb
  spec/swagger_helper.rb
Due: rubocop

DEV: Updates to api docs schema validation (#11801)
  spec/requests/api/schemas/json/tag_group_create_request.json
  spec/requests/api/schemas/json/tag_group_create_response.json
  spec/requests/api/schemas/schema_loader.rb
  spec/requests/api/schemas/tag_group_schemas.rb
  spec/requests/api/shared/shared_examples.rb
  spec/requests/api/tags_spec.rb
Due: rubocop

A11Y: Update selected name role to button (#11804)
  app/assets/javascripts/select-kit/addon/templates/components/selected-name.hbs
Due: none

A11Y: Add aria-label to input clear button (#11803)
  app/assets/javascripts/select-kit/addon/templates/components/combo-box/combo-box-header.hbs
  app/assets/javascripts/select-kit/addon/templates/components/selected-name.hbs
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

A11Y: associate search controls with their labels (#11806)
  app/assets/javascripts/discourse/app/templates/components/search-advanced-options.hbs
  app/assets/javascripts/discourse/tests/acceptance/search-full-test.js
Due: prettier, eslint-js

FIX: Update categories without full page refresh (#11793)
  app/assets/javascripts/discourse/app/controllers/reorder-categories.js
  app/models/category_list.rb
  app/serializers/category_detailed_serializer.rb
Due: rubocop, prettier, eslint-js

UX: specify width and height for onebox preview error image (#11807)
  app/assets/stylesheets/common/base/onebox.scss
Due: none

A11y: makes advanced search and html heading (#11808)
  app/assets/javascripts/discourse/app/templates/full-page-search.hbs
  app/assets/stylesheets/common/base/search.scss
Due: none

A11Y: improves search-in-options filter accessibility (#11809)
  app/assets/javascripts/discourse/app/templates/components/search-advanced-options.hbs
  app/assets/stylesheets/common/base/discourse.scss
Due: none

FIX: print raw html of logo image to skip unwanted html encoding (#11805)
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/templates/advanced_user.svg.erb
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/templates/new_user.svg.erb
  plugins/discourse-narrative-bot/spec/requests/discobot_certificate_spec.rb
Due: rubocop

UX: show onebox error preview image as favicon (#11810)
  app/assets/stylesheets/common/base/onebox.scss
Due: none

DEV: eslint rules should be defined in eslint-config-discourse (#11812)
  .eslintrc
Due: none

UX: Makes the theme editor display placeholder correctly for RTL languages (#11800)
  app/assets/javascripts/admin/addon/components/ace-editor.js
  app/assets/javascripts/admin/addon/components/admin-theme-editor.js
  app/assets/javascripts/admin/addon/templates/components/admin-theme-editor.hbs
  app/assets/javascripts/discourse/app/lib/text-direction.js
  app/assets/stylesheets/common/base/rtl.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FEATURE: Add new features section in admin dashboard (#11731)
  app/assets/javascripts/admin/addon/components/dashboard-new-features.js
  app/assets/javascripts/admin/addon/models/admin-dashboard.js
  app/assets/javascripts/admin/addon/templates/components/dashboard-new-feature-item.hbs
  app/assets/javascripts/admin/addon/templates/components/dashboard-new-features.hbs
  app/assets/javascripts/admin/addon/templates/dashboard.hbs
  app/assets/javascripts/discourse/tests/acceptance/dashboard-test.js
  app/assets/javascripts/discourse/tests/fixtures/dashboard-new-features.js
  app/assets/stylesheets/common/admin/dashboard.scss
  app/controllers/admin/dashboard_controller.rb
  config/locales/client.en.yml
  config/routes.rb
  config/site_settings.yml
  lib/discourse_updates.rb
  spec/components/discourse_updates_spec.rb
  spec/requests/admin/dashboard_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: It seems sometimes shims are evaluated by older JS engines (#11813)
  app/assets/javascripts/handlebars-shim.js
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
