Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Apply model transformer API on more models (#18087)
  app/assets/javascripts/discourse/app/components/user-menu/bookmarks-list.js
  app/assets/javascripts/discourse/app/components/user-menu/items-list.js
  app/assets/javascripts/discourse/app/components/user-menu/messages-list.js
  app/assets/javascripts/discourse/app/components/user-menu/notifications-list.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/models/bookmark.js
  app/assets/javascripts/discourse/app/models/notification.js
  app/assets/javascripts/discourse/tests/acceptance/user-menu-test.js
  app/assets/javascripts/discourse/tests/fixtures/notification-fixtures.js
Due: prettier, eslint

DEV: allow custom composer heights in CSS (#18094)
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
Due: prettier, eslint

UX: Remove confusing fallback locale warning (#18096)
  app/assets/javascripts/admin/addon/controllers/admin-site-text-index.js
  app/assets/javascripts/admin/addon/templates/site-text-index.hbs
  config/locales/client.en.yml
Due: prettier, eslint, yaml-syntax, i18n-lint

Revert "Build(deps): Bump jwt from 2.4.1 to 2.5.0 (#18095)" (#18098)
  Gemfile.lock
Due: none

Revert "DEV: Upgrade Redis to 4.8" (#18099)
  Gemfile.lock
  lib/discourse_redis.rb
  spec/lib/discourse_redis_spec.rb
Due: rubocop

Update translations (#18093)
  config/locales/client.ko.yml
  config/locales/server.ko.yml
Due: yaml-syntax

FIX: prevents iOS software keyboard to hide sk body (#18102)
  app/assets/stylesheets/common/select-kit/select-kit.scss
Due: prettier-scss

UX: fix styles for the wizard congrats step (#18105)
  app/assets/stylesheets/wizard.scss
  app/views/finish_installation/index.html.erb
  config/locales/server.en.yml
Due: prettier-scss, yaml-syntax, i18n-lint

DEV: update breadcrumbs outlet values (#18111)
  app/assets/javascripts/discourse/app/templates/components/bread-crumbs.hbs
Due: none

remove focus from sidebar header toggle click (#18088)
  app/assets/javascripts/discourse/app/components/sidebar/section.js
Due: prettier, eslint

DEV: plugin outlet for wizard checkboxes (#18113)
  app/assets/javascripts/wizard/addon/templates/components/wizard-field-checkbox.hbs
Due: none

FIX: LocalJumpError : unexpected return (#18114)
  app/controllers/groups_controller.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
