Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

Sync up master and Ember CLI branches again (#11746)
  app/assets/javascripts/discourse/app/templates/modal/feature-topic.hbs
  app/assets/javascripts/discourse/app/templates/tags/index.hbs
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/discourse/public/assets/scripts/discourse-boot.js
  app/assets/javascripts/discourse/testem.js
Due: prettier, eslint-js

FIX: Add bookmark limits (#11725)
  app/controllers/bookmarks_controller.rb
  app/models/bookmark.rb
  app/models/user_bookmark_list.rb
  config/locales/server.en.yml
  spec/models/user_bookmark_list_spec.rb
  spec/requests/bookmarks_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: Do not process pop3 mails > 1 week old (#11740)
  app/jobs/scheduled/poll_mailbox.rb
  spec/jobs/poll_mailbox_spec.rb
Due: rubocop

FIX: Do not test bookmark rate limiter message (#11749)
  spec/requests/bookmarks_controller_spec.rb
Due: rubocop

DEV: Change Topic Timer from enqueue_at scheduled jobs to incrementally executed jobs (#11698)
  app/jobs/regular/bump_topic.rb
  app/jobs/regular/clear_slow_mode.rb
  app/jobs/regular/close_topic.rb
  app/jobs/regular/delete_replies.rb
  app/jobs/regular/delete_topic.rb
  app/jobs/regular/open_topic.rb
  app/jobs/regular/publish_topic_to_category.rb
  app/jobs/regular/topic_timer_base.rb
  app/jobs/scheduled/periodical_updates.rb
  app/jobs/scheduled/topic_timer_enqueuer.rb
  app/models/topic.rb
  app/models/topic_timer.rb
  spec/integration/topic_auto_close_spec.rb
  spec/jobs/publish_topic_to_category_spec.rb
  spec/jobs/topic_timer_enqueuer_spec.rb
  spec/models/post_action_spec.rb
  spec/models/topic_spec.rb
  spec/models/topic_timer_spec.rb
  spec/support/sidekiq_helpers.rb
Due: rubocop

FIX: Add Retry-Header to rate limited responses (#11736)
  lib/middleware/request_tracker.rb
  lib/rate_limiter.rb
  spec/components/middleware/request_tracker_spec.rb
Due: rubocop

FEATURE: Give user menu icons alt attributes (#11750)
  app/assets/javascripts/discourse/app/widgets/default-notification-item.js
  app/assets/javascripts/discourse/app/widgets/link.js
  app/assets/javascripts/discourse/app/widgets/user-menu.js
Due: prettier, eslint-js

A11Y: Add aria-labels to search inputs and search button (#11752)
  app/assets/javascripts/discourse/app/templates/components/google-search.hbs
  app/assets/javascripts/discourse/app/templates/full-page-search.hbs
  app/assets/javascripts/discourse/app/widgets/search-menu-controls.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: currentUser was missing `appEvents` (#11758)
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/pre-initializers/inject-discourse-objects.js
  app/assets/javascripts/discourse/tests/unit/services/current-user-test.js
Due: prettier, eslint-js

FIX: Make sure login required skipped for confirm new email routes (#11748)
  app/controllers/users_email_controller.rb
  spec/requests/users_email_controller_spec.rb
Due: rubocop

FIX: Do not email group user with user_private_message notification (#11754)
  app/services/post_alerter.rb
  spec/services/post_alerter_spec.rb
Due: rubocop

FIX: Unescape emoji when pg headlines is used for search result blurb.
  app/assets/javascripts/discourse/app/widgets/search-menu-results.js
Due: prettier, eslint-js

DEV: Add created_via column to IncomingEmail (#11751)
  app/controllers/admin/email_controller.rb
  app/jobs/regular/group_smtp_email.rb
  app/jobs/regular/process_email.rb
  app/jobs/scheduled/poll_mailbox.rb
  app/models/incoming_email.rb
  db/migrate/20210119005647_add_created_via_to_incoming_email.rb
  lib/email/processor.rb
  lib/email/receiver.rb
  lib/imap/sync.rb
  spec/components/email/receiver_spec.rb
  spec/components/imap/sync_spec.rb
  spec/jobs/process_email_spec.rb
  spec/jobs/regular/group_smtp_email_spec.rb
Due: rubocop

FIX: remove rendering UX from ember models (#11724)
  app/assets/javascripts/admin/addon/controllers/admin-user-index.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-delete-user-posts-progress.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-merge-users-progress.js
  app/assets/javascripts/admin/addon/models/admin-user.js
  app/assets/javascripts/admin/addon/models/backup.js
  app/assets/javascripts/admin/addon/routes/admin-backups-index.js
  app/assets/javascripts/admin/addon/routes/admin-backups.js
  app/assets/javascripts/admin/addon/templates/modal/admin-delete-user-posts-progress.hbs
  app/assets/javascripts/admin/addon/templates/modal/admin-merge-users-progress.hbs
  app/assets/stylesheets/common/base/modal.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Always show overriden colors filter (#11755)
  app/assets/javascripts/admin/addon/templates/customize-colors-show.hbs
  app/assets/stylesheets/common/admin/customize.scss
Due: none

FIX: Support for single use invite links (#11719)
  app/models/invite.rb
  app/models/invite_redeemer.rb
  spec/models/invite_redeemer_spec.rb
  spec/models/invite_spec.rb
Due: rubocop

DEV: Add DiscourseEvent before post changes are published (#11759)
  lib/post_revisor.rb
Due: rubocop

Update translations (#11764)
  config/locales/client.ar.yml
  config/locales/client.fa_IR.yml
  config/locales/client.fr.yml
  config/locales/client.he.yml
  config/locales/client.pl_PL.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ro.yml
  config/locales/client.ru.yml
  config/locales/client.sv.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
  config/locales/server.fr.yml
  config/locales/server.pl_PL.yml
  config/locales/server.pt_BR.yml
  config/locales/server.ru.yml
  plugins/styleguide/config/locales/client.fr.yml
Due: yaml-syntax

DEV: Use absolute path for popper.js sourcemap (#11762)
  lib/tasks/javascript.rake
  vendor/assets/javascripts/popper.js
Due: prettier, eslint-js
