Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: updates to onebox 2.2.14 (#12713)
  Gemfile.lock
  app/assets/javascripts/discourse/app/initializers/onebox-decorators.js
  app/assets/stylesheets/common/base/onebox.scss
Due: prettier, eslint-js

FEATURE: Tweak slow mode messages and intervals (#12704)
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/controllers/edit-slow-mode.js
  config/locales/client.en.yml
  config/locales/server.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Ensure the top 6 categories are shown in the user summary (#12691)
  app/models/user_summary.rb
  spec/models/user_summary_spec.rb
Due: rubocop

FIX: Improve error messages for invites (#12714)
  app/controllers/invites_controller.rb
  app/models/invite.rb
  config/locales/server.en.yml
  lib/validators/email_validator.rb
  spec/models/invite_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

UX: Minor styling improvements to invites (#12715)
  app/assets/javascripts/discourse/app/templates/modal/create-invite.hbs
  app/assets/javascripts/discourse/tests/acceptance/create-invite-modal-test.js
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/desktop/modal.scss
Due: prettier, eslint-js

FIX: Show invite validation errors to users (#12717)
  app/controllers/invites_controller.rb
  config/locales/server.en.yml
  spec/requests/invites_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

UX: Full height composer on mobile Android (#12709)
  app/assets/javascripts/discourse/app/components/composer-body.js
  app/assets/stylesheets/mobile/compose.scss
Due: prettier, eslint-js

FEATURE: In the slow mode dialog make "Enabled Until" mandatory (#12701)
  app/assets/javascripts/discourse/app/controllers/edit-slow-mode.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Raise exception when execute_command will spawn a shell (#12716)
  lib/discourse.rb
  spec/components/discourse_spec.rb
Due: rubocop

FIX: remove old usercard styles, fix bg img class (#12712)
  app/assets/javascripts/discourse/app/components/user-card-contents.js
  app/assets/stylesheets/common/components/user-card.scss
Due: prettier, eslint-js

DEV: Bump discourse_dev to 0.1.0 (#12722)
  Gemfile.lock
  lib/js_locale_helper.rb
  lib/plugin/instance.rb
Due: rubocop

FIX: Docking mixin was not cleaning up timers (#12638)
  app/assets/javascripts/discourse/app/mixins/docking.js
Due: prettier, eslint-js

FIX: Generate unique HTML heading names (#12705)
  app/assets/javascripts/discourse/tests/unit/lib/pretty-text-test.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/anchor.js
  plugins/poll/spec/lib/pretty_text_spec.rb
  spec/components/pretty_text_spec.rb
Due: rubocop, prettier, eslint-js

FIX: ensure plugin's gems are in the gem path (#12727)
  lib/plugin_gem.rb
Due: rubocop

FIX: whitespaces when copying code blocks (#12730)
  app/assets/javascripts/discourse/app/initializers/copy-codeblocks.js
Due: prettier, eslint-js

DEV: Pass a list of tag group names when using the search endpoint. (#12721)
  app/controllers/tag_groups_controller.rb
  spec/requests/tag_groups_controller_spec.rb
Due: rubocop

FIX: Update database_restorer to avoid shell use (#12731)
  lib/backup_restore/database_restorer.rb
  spec/lib/backup_restore/database_restorer_spec.rb
Due: rubocop

DEV: ensures stylesheet watcher isn't crashing with gems plugins (#12733)
  lib/stylesheet/watcher.rb
Due: rubocop

UX: Prevent some composer buttons from receiving focus (#12719)
  app/assets/javascripts/discourse/app/components/d-button.js
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/templates/components/composer-toggles.hbs
  app/assets/javascripts/discourse/app/templates/components/d-editor.hbs
  app/assets/javascripts/select-kit/addon/components/composer-actions.js
  app/assets/javascripts/select-kit/addon/components/select-kit.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-row.js
  app/assets/javascripts/select-kit/addon/components/select-kit/single-select-header.js
  app/assets/javascripts/select-kit/addon/components/toolbar-popup-menu-options.js
Due: prettier, eslint-js

DEV: Export regex for parsing topic URL (#12740)
  app/assets/javascripts/discourse/app/lib/url.js
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
