Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: Do not try to show logo if it does not exist (#12968)
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/templates/advanced_user.svg.erb
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/templates/new_user.svg.erb
Due: none

Color scheme optional defer publish (#12972)
  app/models/color_scheme.rb
Due: rubocop

FIX: Shared drafts should be disabled if Uncategorized was selected. (#12973)
  app/serializers/site_serializer.rb
  app/serializers/topic_view_serializer.rb
  spec/serializers/site_serializer_spec.rb
Due: rubocop

UX: Improve category controls on smallest devices (#12945)
  app/assets/stylesheets/common/base/_topic-list.scss
  app/assets/stylesheets/mobile/topic-list.scss
Due: none

DEV: Remove unused rswag script
  script/json_to_rswag.rb
Due: rubocop

PERF: Preload `LetterAvatar.image_magick_version` in master process.
  lib/discourse.rb
Due: rubocop

DEV: show profiler badge for first request (#12978)
  app/assets/javascripts/discourse/lib/bootstrap-json/index.js
Due: prettier, eslint-js

DEV: update styleguide guidance for colors and font sizes (#12975)
  plugins/styleguide/assets/javascripts/discourse/templates/components/color-example.hbs
  plugins/styleguide/assets/javascripts/discourse/templates/styleguide/atoms/01-font-scale.hbs
  plugins/styleguide/assets/javascripts/discourse/templates/styleguide/atoms/03-colors.hbs
  plugins/styleguide/assets/stylesheets/colors.scss
  plugins/styleguide/assets/stylesheets/styleguide.scss
  plugins/styleguide/assets/stylesheets/typography.scss
Due: none

FIX: `crypto.randomUUID` is only available in newer node releases (#12983)
  app/assets/javascripts/discourse/lib/bootstrap-json/index.js
Due: prettier, eslint-js

DEV: Fix tags/show template lint errors (#12982)
  app/assets/javascripts/discourse/app/templates/tags/show.hbs
Due: none

UX: return correct error message if reviewable user is deleted already. (#12977)
  app/controllers/reviewables_controller.rb
  config/locales/server.en.yml
  spec/requests/reviewables_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

DEV: do not cd into yarn dir, use --cwd argument to yarn instead (#12986)
  bin/ember-cli
Due: none

FIX: Core templates should never overwrite theme/plugins (#12988)
  app/assets/javascripts/discourse-common/addon/lib/raw-templates.js
  app/assets/javascripts/discourse-hbr/raw-handlebars-compiler.js
Due: prettier, eslint-js

DEV: Remove duplicate test (#12989)
  spec/lib/upload_creator_spec.rb
Due: rubocop

DEV: Buttons were missing btn-default classes (#12991)
  app/assets/javascripts/admin/addon/templates/badges.hbs
  app/assets/javascripts/admin/addon/templates/components/dashboard-new-features.hbs
  app/assets/javascripts/admin/addon/templates/components/tags-uploader.hbs
  app/assets/javascripts/admin/addon/templates/user-index.hbs
  app/assets/javascripts/discourse/app/templates/badges/show.hbs
  app/assets/javascripts/discourse/app/templates/components/copy-button.hbs
  app/assets/javascripts/discourse/app/templates/components/date-time-input.hbs
  app/assets/javascripts/discourse/app/templates/components/group-membership-button.hbs
  app/assets/javascripts/discourse/app/templates/components/topic-entrance.hbs
  app/assets/javascripts/discourse/app/templates/group-index.hbs
  app/assets/javascripts/discourse/app/templates/modal/create-invite.hbs
  app/assets/javascripts/discourse/app/templates/preferences/profile.hbs
  app/assets/javascripts/discourse/app/templates/review-index.hbs
  app/assets/javascripts/discourse/app/templates/user-invited-show.hbs
  app/assets/javascripts/discourse/app/templates/user.hbs
  app/assets/javascripts/discourse/app/widgets/private-message-map.js
  app/assets/javascripts/discourse/app/widgets/quick-access-panel.js
  app/assets/javascripts/discourse/app/widgets/topic-admin-menu.js
  plugins/poll/assets/javascripts/discourse/templates/modal/poll-ui-builder.hbs
Due: prettier, eslint-js

FIX: allow webp format on themes by default as well (#12994)
  config/site_settings.yml
Due: yaml-syntax

FIX: access to styleguide in subfolder install (#12995)
  plugins/styleguide/plugin.rb
Due: rubocop

FEATURE: ability to register custom filters for posts (#12938)
  lib/plugin/instance.rb
  lib/topic_view.rb
  spec/components/topic_view_spec.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
