Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

Version bump to v2.7.0.beta6 (#12636)
  lib/version.rb
Due: rubocop

DEV: Bump discourse_dev to 0.0.8 (#12639)
  Gemfile.lock
Due: none

REFACTOR: Consistency, A11Y, and less text for composer toggles (#12627)
  app/assets/javascripts/discourse/app/templates/components/composer-toggles.hbs
  app/assets/javascripts/discourse/app/templates/composer.hbs
  app/assets/stylesheets/common/base/compose.scss
  app/assets/stylesheets/common/components/buttons.scss
  app/assets/stylesheets/mobile/compose.scss
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

tweaks to invite error messages (#12640)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FIX: mobile topic list number alignment (#12641)
  app/assets/stylesheets/mobile/topic-list.scss
Due: none

FIX: behaviour -> behavior spelling in default US translation (#12647)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FIX: dismiss new button for tags on top (#12628)
  app/assets/javascripts/discourse/app/controllers/tag-show.js
  app/assets/javascripts/discourse/app/templates/tags/show.hbs
Due: prettier, eslint-js

DEV: introduces {{not}} helper (#12651)
  app/assets/javascripts/discourse/app/helpers/not.js
  app/assets/javascripts/discourse/app/lib/truth-convert.js
  app/assets/javascripts/discourse/tests/unit/helpers/not-test.js
Due: prettier, eslint-js

UX: always display remove emoji btn from emoji-value-list (#12652)
  app/assets/javascripts/admin/addon/templates/components/emoji-value-list.hbs
Due: none

DEV: Adds new plugin API support to always show the topic map (#12642)
  app/assets/javascripts/discourse/app/lib/transform-post.js
Due: prettier, eslint-js

UX: shows a hint when there are more tags than displayed (#12649)
  app/assets/javascripts/select-kit/addon/components/tag-drop.js
  app/assets/javascripts/select-kit/addon/components/tag-drop/more-tags-collection.js
  app/assets/javascripts/select-kit/addon/templates/components/tag-drop/more-tags-collection.hbs
  app/assets/stylesheets/common/select-kit/tag-drop.scss
  app/models/tag.rb
  config/locales/client.en.yml
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FEATURE: Use SVG icons for some oneboxes (#12654)
  app/assets/images/favicons/amazon.png
  app/assets/images/favicons/apple.png
  app/assets/images/favicons/github.png
  app/assets/images/favicons/rottentomatoes.png
  app/assets/images/favicons/twitter.png
  app/assets/images/favicons/wikipedia.png
  app/assets/javascripts/discourse/app/initializers/post-decorations.js
  app/assets/stylesheets/common/base/onebox.scss
  lib/svg_sprite/svg_sprite.rb
  vendor/assets/svg-icons/discourse-additional.svg
Due: rubocop, prettier, eslint-js

FIX: Ensure group flair upload is present when deciding type (#12650)
  app/models/group.rb
Due: rubocop

FEATURE: trigger webhook when a user added/removed in a group. (#12653)
  app/models/group.rb
  app/models/web_hook_event_type.rb
  app/serializers/web_hook_group_user_serializer.rb
  config/initializers/012-web_hook_events.rb
  config/locales/client.en.yml
  db/fixtures/007_web_hook_event_types.rb
  spec/fabricators/web_hook_fabricator.rb
  spec/models/web_hook_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FEATURE: Make the tag_groups#search endpoint public. (#12643)
  app/assets/javascripts/select-kit/addon/components/tag-group-chooser.js
  app/controllers/tag_groups_controller.rb
  config/routes.rb
  spec/requests/tag_groups_controller_spec.rb
Due: rubocop, prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
