Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: Remapping of uploads could fail during restore of backup (#13897)
  lib/backup_restore/restorer.rb
Due: rubocop

Update translations (#13898)
  config/locales/client.ar.yml
  config/locales/client.ko.yml
  config/locales/client.pl_PL.yml
  config/locales/client.ru.yml
  config/locales/client.sr.yml
  config/locales/client.sv.yml
  config/locales/client.tr_TR.yml
  config/locales/server.ar.yml
  config/locales/server.he.yml
  config/locales/server.ko.yml
  config/locales/server.pl_PL.yml
  config/locales/server.ru.yml
  config/locales/server.sv.yml
  plugins/discourse-local-dates/config/locales/client.ar.yml
  plugins/discourse-narrative-bot/config/locales/server.ar.yml
  plugins/poll/config/locales/client.sr.yml
  plugins/styleguide/config/locales/client.ar.yml
  plugins/styleguide/config/locales/client.sr.yml
Due: yaml-syntax

UX: Improve copy when a group member search returns no results (#13899)
  app/assets/javascripts/discourse/app/controllers/group-index.js
  app/assets/javascripts/discourse/app/templates/group-index.hbs
  app/assets/javascripts/discourse/app/templates/mobile/group-index.hbs
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Add `GeoList2-ASN.mmdb` and `.bundle` to `.gitignore` (#13902)
  .gitignore
Due: none

DEV: Clear all `navItem` information between tests (#13903)
  app/assets/javascripts/discourse/app/models/nav-item.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Due: prettier, eslint-js

DEV: don't swallow a promise from group.findMembers method and switch to using async/await (#13888)
  app/assets/javascripts/discourse/app/components/group-card-contents.js
  app/assets/javascripts/discourse/app/controllers/group-index.js
  app/assets/javascripts/discourse/app/models/group.js
  app/assets/javascripts/discourse/app/routes/group-index.js
Due: prettier, eslint-js

FEATURE: Onebox can match engines based on the content_type (#13876)
  lib/final_destination.rb
  lib/onebox/engine.rb
  lib/onebox/engine/image_onebox.rb
  lib/onebox/matcher.rb
  lib/oneboxer.rb
  spec/components/final_destination_spec.rb
  spec/lib/onebox/engine/image_onebox_spec.rb
  spec/lib/onebox/engine_spec.rb
  spec/lib/onebox/preview_spec.rb
Due: rubocop

FIX: Validate value of custom dropdown user fields - dropdowns and multiple selects (#13890)
  app/controllers/users_controller.rb
  app/models/user_field_option.rb
  spec/fabricators/user_field_option_fabricator.rb.rb
  spec/requests/users_controller_spec.rb
Due: rubocop

Update .ruby-version.sample
  .ruby-version.sample
Due: none

FIX: Better composer placeholder handling during media optimization (#13907)
  app/assets/javascripts/discourse/app/components/composer-editor.js
Due: prettier, eslint-js

UX: History controls should use nav-pill styles (#13904)
  app/assets/javascripts/discourse/app/controllers/history.js
  app/assets/javascripts/discourse/app/templates/modal/history.hbs
  app/assets/stylesheets/desktop/history.scss
  app/assets/stylesheets/mobile/history.scss
Due: prettier, eslint-js

FIX: do not show private group flair on user avatars (#13872)
  app/models/group.rb
  app/serializers/site_serializer.rb
  lib/user_lookup.rb
  spec/components/user_lookup_spec.rb
  spec/models/group_spec.rb
  spec/requests/groups_controller_spec.rb
Due: rubocop

FEATURE: New and Unread messages for user personal messages. (#13603)
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/controllers/user-private-messages.js
  app/assets/javascripts/discourse/app/lib/cached-topic-list.js
  app/assets/javascripts/discourse/app/routes/app-route-map.js
  app/assets/javascripts/discourse/app/routes/build-private-messages-group-route.js
  app/assets/javascripts/discourse/app/routes/build-private-messages-route.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-archive.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-group-new.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-group-unread.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-group.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-new.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-personal-archive.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-personal-new.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-personal-sent.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-personal-unread.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-personal.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-unread.js
  app/assets/javascripts/discourse/app/routes/user-private-messages.js
  app/assets/javascripts/discourse/app/templates/user/messages.hbs
  app/assets/javascripts/discourse/tests/acceptance/user-private-messages-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-test.js
  app/assets/javascripts/discourse/tests/fixtures/user-fixtures.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  app/assets/stylesheets/common/base/user.scss
  app/assets/stylesheets/common/components/navs.scss
  app/assets/stylesheets/desktop/user.scss
  app/assets/stylesheets/mobile/user.scss
  app/controllers/list_controller.rb
  app/models/tag.rb
  app/models/topic_tracking_state.rb
  config/locales/client.en.yml
  config/routes.rb
  lib/topic_query.rb
  lib/topic_query/private_message_lists.rb
  spec/components/topic_query_spec.rb
  spec/lib/topic_query/private_message_lists_spec.rb
  spec/models/topic_tracking_state_spec.rb
  spec/requests/tags_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Make search work with sub-sub-categories (#13901)
  app/assets/javascripts/discourse/app/components/search-advanced-options.js
  app/assets/javascripts/discourse/app/widgets/category-link.js
  app/assets/javascripts/discourse/app/widgets/search-menu-results.js
  lib/search.rb
  spec/lib/search_spec.rb
Due: rubocop, prettier, eslint-js

UX: adds hover title with full date to admin users columns (#13913)
  app/assets/javascripts/admin/addon/templates/users-list-show.hbs
Due: none

FEATURE: Add post edits count to user activity (#13495)
  app/assets/javascripts/admin/addon/controllers/admin-user-index.js
  app/assets/javascripts/admin/addon/templates/user-index.hbs
  app/assets/javascripts/discourse/tests/acceptance/admin-user-index-test.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  app/assets/javascripts/discourse/tests/integration/components/admin-report-test.js
  app/assets/stylesheets/common/admin/customize.scss
  app/models/concerns/reports/post_edits.rb
  app/models/post_revision.rb
  app/models/user.rb
  app/models/user_stat.rb
  app/serializers/admin_detailed_user_serializer.rb
  config/dev_defaults.yml
  config/locales/client.en.yml
  db/migrate/20210708035525_add_user_id_index_to_post_revisions.rb
  db/migrate/20210708035538_add_post_edits_count_to_user_stats.rb
  lib/discourse_dev/post.rb
  lib/discourse_dev/post_revision.rb
  lib/post_revisor.rb
  lib/tasks/populate.rake
  spec/components/post_revisor_spec.rb
  spec/models/report_spec.rb
  spec/requests/api/schemas/json/admin_user_response.json
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Upload placeholder was missing line break (#13917)
  app/assets/javascripts/discourse/app/components/composer-editor.js
Due: prettier, eslint-js

FIX: Use reply-to address for incoming emails if present (#13896)
  lib/email/receiver.rb
  spec/components/email/receiver_spec.rb
  spec/fixtures/emails/reply_to_different_to_from.eml
  spec/fixtures/emails/reply_to_different_to_from_no_x_original.eml
  spec/fixtures/emails/reply_to_different_to_from_x_original_different.eml
Due: rubocop

UX: UX Fixes (#13918)
  app/assets/stylesheets/common/components/keyboard_shortcuts.scss
  app/assets/stylesheets/common/select-kit/email-group-user-chooser.scss
Due: none

FIX: Adjust poll buttons (#13924)
  plugins/poll/assets/stylesheets/desktop/poll.scss
Due: none
