Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: paste the spreadsheet to the composer (#11163)
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/tests/integration/components/d-editor-test.js
Due: prettier, eslint-js

FIX: Store Reviewable's force_review as a boolean. (#11219)
  app/models/reviewable.rb
  db/migrate/20201112142419_add_reviewables_force_review.rb
  spec/components/new_post_manager_spec.rb
  spec/components/post_action_creator_spec.rb
  spec/models/reviewable_spec.rb
Due: rubocop

UX: draft delete button was looking odd on user stream (#11232)
  app/assets/stylesheets/common/components/user-stream-item.scss
Due: none

UX: update the invite button label (#11231)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

DEV: cap notifications per run at 300 as stated in comment (#11252)
  app/jobs/scheduled/bookmark_reminder_notifications.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
