Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Make `search` an actual service (#14998)
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/pre-initializers/inject-discourse-objects.js
  app/assets/javascripts/discourse/app/services/search.js
  app/assets/javascripts/discourse/app/widgets/header.js
  app/assets/javascripts/discourse/app/widgets/search-menu-results.js
  app/assets/javascripts/discourse/app/widgets/search-menu.js
Due: prettier, eslint-js

DEV: Fix `castInteger` deprecations (#15004)
  app/assets/javascripts/discourse/app/templates/components/groups-form-interaction-fields.hbs
  app/assets/javascripts/discourse/app/templates/full-page-search.hbs
Due: none

DEV: Use `class` syntax in key-value-store (#15005)
  app/assets/javascripts/discourse/app/lib/key-value-store.js
  app/assets/javascripts/discourse/tests/unit/lib/key-value-store-test.js
Due: prettier, eslint-js

DEV: Avoid unnecessary `site-settings:main` lookups (#15006)
  app/assets/javascripts/admin/addon/services/admin-tools.js
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
Due: prettier, eslint-js

PERF: Improve JS app boot speed by optimizing `customResolve()` (#14990)
  app/assets/javascripts/discourse-common/addon/lib/suffix-trie.js
  app/assets/javascripts/discourse-common/addon/resolver.js
  app/assets/javascripts/discourse/tests/unit/lib/suffix-trie-test.js
Due: prettier, eslint-js

DEV: Hide message bus site settings (#15009)
  config/site_settings.yml
Due: yaml-syntax

PERF: Move `preload` hints to the `<head>` (#15008)
  app/views/layouts/application.html.erb
Due: none

Improved create invite modal (#14151)
  app/assets/javascripts/discourse/app/components/future-date-input.js
  app/assets/javascripts/discourse/app/controllers/create-invite.js
  app/assets/javascripts/discourse/app/controllers/share-topic.js
  app/assets/javascripts/discourse/app/controllers/user-invited-show.js
  app/assets/javascripts/discourse/app/routes/group-index.js
  app/assets/javascripts/discourse/app/templates/modal/create-invite.hbs
  app/assets/javascripts/discourse/tests/acceptance/create-invite-modal-test.js
  app/assets/stylesheets/common/base/share_link.scss
  app/assets/stylesheets/desktop/modal.scss
  config/locales/client.en.yml
  config/site_settings.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Topic list separator fix (#15011)
  app/assets/stylesheets/common/base/_topic-list.scss
  app/assets/stylesheets/desktop/topic-list.scss
Due: none

FIX: Don't overwrite computed property for loading spinner fix
  app/assets/javascripts/discourse/app/controllers/discovery.js
  app/assets/javascripts/discourse/app/controllers/discovery/topics.js
  app/assets/javascripts/discourse/app/routes/discovery.js
Due: prettier, eslint-js

DEV: Refactor `logs-notice`/`global-notice` (#15000)
  app/assets/javascripts/discourse/app/components/global-notice.js
  app/assets/javascripts/discourse/app/pre-initializers/inject-discourse-objects.js
  app/assets/javascripts/discourse/app/services/logs-notice.js
Due: prettier, eslint-js

UX: Move share topic warning to modal flash alert (#15012)
  app/assets/javascripts/discourse/app/controllers/share-topic.js
  app/assets/javascripts/discourse/app/templates/modal/share-topic.hbs
  app/assets/javascripts/discourse/tests/acceptance/share-topic-test.js
  app/assets/stylesheets/common/base/share_link.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Remove JQuery from discourse/lib/text-direction (#15014)
  app/assets/javascripts/discourse/app/initializers/post-decorations.js
  app/assets/javascripts/discourse/app/lib/text-direction.js
Due: prettier, eslint-js

FIX: Validate number of votes allowed per poll per user. (#15001)
  plugins/poll/config/locales/server.en.yml
  plugins/poll/lib/poll.rb
  plugins/poll/spec/db/post_migrate/migrate_polls_data_spec.rb
  plugins/poll/spec/integration/poll_endpoints_spec.rb
  plugins/poll/spec/lib/poll_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: Add a confirm and cancel button when editing alt text (#15003)
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/tests/acceptance/composer-image-preview-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/image-controls.js
  app/assets/stylesheets/common/d-editor.scss
Due: prettier, eslint-js

PERF: Reduce records queried in `UserStat.update_first_unread_pm`. (#15016)
  app/models/user_stat.rb
Due: rubocop

DEV: Return promise for toggleFilteredRepliesView widget action. (#15020)
  app/assets/javascripts/discourse/app/widgets/post.js
Due: prettier, eslint-js

PERF: Use more efficient text-direction check in select-kit init (#15015)
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Due: prettier, eslint-js

FIX: infinite recursion when calling a refresh() action on routes (#14624)
  app/assets/javascripts/discourse/app/controllers/user-topics-list.js
  app/assets/javascripts/discourse/app/routes/group-messages.js
  app/assets/javascripts/discourse/app/routes/user-activity-read.js
  app/assets/javascripts/discourse/app/routes/user-activity-topics.js
  app/assets/javascripts/discourse/app/routes/user-private-messages.js
  app/assets/javascripts/discourse/app/templates/user-topics-list.hbs
  app/assets/javascripts/discourse/tests/acceptance/user-activity-read-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-activity-topic-test.js
Due: prettier, eslint-js

FIX: Ensure mobile topic-list links are treated as Ember transitions (#15022)
  app/assets/stylesheets/common/base/_topic-list.scss
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
