Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

UX: Improve tag and assign display in search (#12039)
  app/assets/stylesheets/common/base/search-menu.scss
  app/assets/stylesheets/common/base/tagging.scss
  app/assets/stylesheets/desktop/compose.scss
Due: none

UX: Prevent badges on usercards from overflowing (#12037)
  app/assets/javascripts/discourse/app/components/user-badge.js
  app/assets/javascripts/discourse/app/templates/components/user-badge.hbs
  app/assets/stylesheets/common/components/user-card.scss
  app/assets/stylesheets/mobile/components/user-card.scss
Due: prettier, eslint-js

UI: Specify social button styling (#12054)
  app/assets/stylesheets/common/base/login.scss
Due: none

DEV: Show warning message when using ember css selectors (#12036)
  app/assets/stylesheets/common/admin/customize.scss
  app/models/theme_field.rb
  config/locales/server.en.yml
  spec/requests/admin/themes_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: Optimize move to dismiss_new_topics migration (#12041)
  db/migrate/20210208022738_move_new_since_to_new_table.rb
Due: rubocop

Revert "FEATURE: Ability to dismiss all new topics (#12018)" (#12058)
  app/assets/javascripts/discourse/app/models/topic-tracking-state.js
  app/assets/javascripts/discourse/tests/unit/models/topic-tracking-state-test.js
  app/controllers/topics_controller.rb
  app/jobs/scheduled/clean_dismissed_topic_users.rb
  app/models/topic_tracking_state.rb
  app/models/user_option.rb
  app/services/dismiss_topics.rb
  app/services/user_merger.rb
  db/migrate/20210208022738_move_new_since_to_new_table.rb
  spec/jobs/clean_dismissed_topic_users_spec.rb
  spec/jobs/export_user_archive_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/services/dismiss_topics_spec.rb
Due: rubocop, prettier, eslint-js

FIX: Validate duration minutes values for topic timer (#12040)
  app/assets/javascripts/discourse/app/controllers/edit-topic-timer.js
  app/controllers/topics_controller.rb
  app/models/topic_timer.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  spec/models/topic_timer_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

UX: remove pluralization in single category notification types. (#12061)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

DEV: Deprecate {{user-selector}} and replace it with {{email-group-user-chooser}} (#12042)
  app/assets/javascripts/discourse/app/components/user-selector.js
  app/assets/javascripts/discourse/app/controllers/change-owner.js
  app/assets/javascripts/discourse/app/controllers/group-add-members.js
  app/assets/javascripts/discourse/app/controllers/groups-new.js
  app/assets/javascripts/discourse/app/controllers/ignore-duration-with-username.js
  app/assets/javascripts/discourse/app/controllers/move-to-topic.js
  app/assets/javascripts/discourse/app/controllers/review-index.js
  app/assets/javascripts/discourse/app/templates/groups/new.hbs
  app/assets/javascripts/discourse/app/templates/modal/change-owner.hbs
  app/assets/javascripts/discourse/app/templates/modal/group-add-members.hbs
  app/assets/javascripts/discourse/app/templates/modal/ignore-duration-with-username.hbs
  app/assets/javascripts/discourse/app/templates/modal/move-to-topic.hbs
  app/assets/javascripts/discourse/app/templates/review-index.hbs
  app/assets/javascripts/select-kit/addon/components/email-group-user-chooser.js
  app/assets/stylesheets/common/select-kit/email-group-user-chooser.scss
Due: prettier, eslint-js

fix vbulletin importer to hide soft-deleted posts (#12057)
  script/bulk_import/vbulletin.rb
  script/import_scripts/vbulletin.rb
  script/import_scripts/vbulletin5.rb
Due: rubocop

DEV: Prevents rate limits for new feature checks on multisite (#12053)
  app/jobs/scheduled/check_new_features.rb
  lib/discourse_updates.rb
  spec/multisite/jobs_spec.rb
Due: rubocop

DEV: prevents heisentest in processor spec (#12066)
  spec/support/fake_logger.rb
Due: rubocop

DEV: add allow origin header to public javascript files. (#12059)
  config/nginx.sample.conf
Due: none

UX: trim `@` char from start of the username string in search. (#12060)
  app/assets/javascripts/select-kit/addon/components/user-chooser.js
Due: prettier, eslint-js

FIX: Allow all tags in site/theme settings, ignore tag group restrictions (#12067)
  app/assets/javascripts/admin/addon/templates/components/site-settings/tag-list.hbs
Due: none

FIX: Regression in admin new features (#12068)
  lib/discourse_updates.rb
Due: rubocop

UX: show plugin descriptions on admin plugins page
  app/assets/javascripts/admin/addon/templates/plugins-index.hbs
  app/assets/stylesheets/common/admin/plugins.scss
  app/serializers/admin_plugin_serializer.rb
Due: rubocop

FEATURE: when moving posts to existing topic auto-select single topic (#12064)
  app/assets/javascripts/discourse/app/components/choose-topic.js
Due: prettier, eslint-js

DEV: Add poll:voted event (#12070)
  plugins/poll/assets/javascripts/widgets/discourse-poll.js.es6
Due: prettier, eslint-es6
