Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Remove the use of stubs. (#14142)
  spec/components/guardian_spec.rb
Due: rubocop

DEV: Do not delete failed uploads from S3 in debug mode (#14143)
  app/services/external_upload_manager.rb
Due: rubocop

FIX: Make user-card-metadata plugin outlet tagless (#14131)
  app/assets/javascripts/discourse/app/templates/components/user-card-contents.hbs
Due: none

FIX: Add plugin event to topic list user lookup (#14116)
  app/models/topic_list.rb
  app/models/topic_posters_summary.rb
  lib/plugin/instance.rb
Due: rubocop

FIX: Remove spacing from GitHub oneboxes (#14147)
  lib/email/styles.rb
Due: rubocop

FEATURE: improve "blank page syndrome" on the user notifications page (#14103)
  app/assets/javascripts/discourse/app/controllers/user-notifications.js
  app/assets/javascripts/discourse/app/templates/user/notifications-index.hbs
  app/assets/javascripts/discourse/tests/acceptance/notifications-test.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

DEV: fixes broken tests on ember-cli due to uppy
  app/assets/javascripts/discourse-shims.js
  app/assets/javascripts/discourse/app/lib/uppy-checksum-plugin.js
  app/assets/javascripts/discourse/app/lib/uppy-media-optimization-plugin.js
  vendor/assets/javascripts/uppy.js
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
