Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD main
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD main
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {all_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {all_files}
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint plugins/**/test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Bump chrome-launcher/chrome-remote-interface (#16160)
  package.json
  yarn.lock
Due: none

UX: Tweak the "new" badge size, position, color (#16168)
  app/assets/stylesheets/common/components/badges.scss
  app/assets/stylesheets/desktop/topic-list.scss
Due: prettier-scss

DEV: Install the `@ember/jquery` package to remove warning (#16165)
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: none

FIX: J/K post stream navigation inconsistencies (#16171)
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/tests/acceptance/keyboard-shortcuts-test.js
Due: prettier, eslint

DEV: Make decorator method names debug-friendly (#16181)
  app/assets/javascripts/discourse/app/lib/plugin-api.js
Due: prettier, eslint

DEV: Use the --no-rebase option of `git pull` (#16180)
  lib/tasks/plugin.rake
Due: none

DEV: Deprecate /posts/:id/reply-ids/all (#16136)
  app/controllers/posts_controller.rb
Due: rubocop

DEV: Check if show-modal container is viable (#16170)
  app/assets/javascripts/discourse/app/lib/show-modal.js
Due: prettier, eslint

FIX: Do not run Ember CLI chunk files through babel twice (#16183)
  lib/tasks/assets.rake
Due: none

DEV: Use Ember CLI for docker.rake CI testing (#16182)
  app/assets/javascripts/discourse/testem.js
  lib/tasks/docker.rake
Due: prettier, eslint

DEV: Remove duplicated methods (#16178)
  lib/cooked_post_processor.rb
Due: rubocop

UX: Hide group avatar flair block if it's empty
  app/assets/javascripts/discourse/app/templates/group.hbs
Due: none

DEV: Ensure yarn dependencies are installed during docker.rake (#16185)
  lib/tasks/docker.rake
Due: none

PERF: Fix n+1 for categories + featured topics (#16188)
  app/models/category_list.rb
  spec/requests/categories_controller_spec.rb
  spec/support/helpers.rb
Due: rubocop

FEATURE: use canonical links in posts.rss feed (#16190)
  app/controllers/posts_controller.rb
  app/helpers/posts_helper.rb
  app/models/post.rb
  app/views/posts/latest.rss.erb
  app/views/topics/show.html.erb
  lib/topic_view.rb
  spec/models/post_spec.rb
  spec/requests/posts_controller_spec.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop

FIX: Always include the first poster when converting to PM (#16187)
  app/models/topic_converter.rb
  spec/models/topic_converter_spec.rb
Due: rubocop

DEV: Don't install plugin gems twice (#16192)
  lib/tasks/plugin.rake
Due: none

UX: Styling changes to global banner (#16191)
  app/assets/javascripts/discourse/app/components/discourse-banner.js
  app/assets/javascripts/discourse/app/templates/components/discourse-banner.hbs
  app/assets/stylesheets/common/components/banner.scss
  app/assets/stylesheets/mobile/components/_index.scss
  app/assets/stylesheets/mobile/components/banner.scss
  config/locales/client.en.yml
Due: prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

DEV: Stop live-reloading locally on SCSS changes (#16193)
  app/assets/javascripts/discourse/ember-cli-build.js
Due: prettier, eslint
