Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: Resend only pending invites (#13403)
  app/controllers/invites_controller.rb
  spec/requests/invites_controller_spec.rb
Due: rubocop

FIX: prevents mode to be forced to unexisting mode (#13413)
  app/assets/javascripts/admin/addon/routes/admin-reports-show.js
Due: prettier, eslint-js

FIX: Update post's raw from server response (#13414)
  app/assets/javascripts/discourse/app/models/composer.js
  app/controllers/posts_controller.rb
  spec/requests/posts_controller_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Plugin API to allow creation of directory columns with item query (#13402)
  app/assets/javascripts/discourse/app/components/table-header-toggle.js
  app/assets/javascripts/discourse/app/controllers/edit-user-directory-columns.js
  app/assets/javascripts/discourse/app/controllers/users.js
  app/assets/javascripts/discourse/app/helpers/directory-item-helpers.js
  app/assets/javascripts/discourse/app/helpers/directory-item-label.js
  app/assets/javascripts/discourse/app/helpers/directory-item-user-field-value.js
  app/assets/javascripts/discourse/app/helpers/directory-item-value.js
  app/assets/javascripts/discourse/app/templates/components/directory-item.hbs
  app/assets/javascripts/discourse/app/templates/components/directory-table.hbs
  app/assets/javascripts/discourse/app/templates/mobile/components/directory-item.hbs
  app/assets/javascripts/discourse/app/templates/modal/edit-user-directory-columns.hbs
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  app/assets/javascripts/discourse/tests/setup-tests.js
  app/controllers/application_controller.rb
  app/controllers/directory_columns_controller.rb
  app/controllers/directory_items_controller.rb
  app/models/directory_column.rb
  app/models/directory_item.rb
  app/serializers/directory_column_serializer.rb
  app/serializers/directory_item_serializer.rb
  db/migrate/20210609133551_add_type_to_directory_columns.rb
  db/post_migrate/20210609152431_remove_directory_column_automatic.rb
  lib/plugin/instance.rb
  spec/components/plugin/instance_spec.rb
  spec/requests/admin/user_fields_controller_spec.rb
Due: rubocop, prettier, eslint-js

FEATURE: Open the edit bookmark modal when clicking on the topic level bookmark button (#13407)
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/initializers/topic-footer-buttons.js
  app/assets/javascripts/discourse/app/models/post.js
  app/assets/javascripts/discourse/app/models/topic.js
  app/assets/javascripts/discourse/tests/acceptance/bookmarks-test.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: translations of table headers in group members directory
  app/assets/javascripts/discourse/app/templates/group-index.hbs
  app/assets/javascripts/discourse/app/templates/group-requests.hbs
Due: none

DEV: reset plugin added directory columns in testing (#13420)
  app/models/directory_column.rb
  app/models/directory_item.rb
  spec/components/plugin/instance_spec.rb
Due: rubocop

DEV: Add optional theme test step to the `smoke:test` rake task (#13418)
  lib/tasks/smoke_test.rake
  test/run-qunit.js
Due: prettier, eslint-js

DEV: Revert 3 commits for plugin API to add directory columns (#13423)
  app/assets/javascripts/discourse/app/components/table-header-toggle.js
  app/assets/javascripts/discourse/app/controllers/edit-user-directory-columns.js
  app/assets/javascripts/discourse/app/controllers/users.js
  app/assets/javascripts/discourse/app/helpers/directory-item-helpers.js
  app/assets/javascripts/discourse/app/helpers/directory-item-label.js
  app/assets/javascripts/discourse/app/helpers/directory-item-user-field-value.js
  app/assets/javascripts/discourse/app/helpers/directory-item-value.js
  app/assets/javascripts/discourse/app/templates/components/directory-item.hbs
  app/assets/javascripts/discourse/app/templates/components/directory-table.hbs
  app/assets/javascripts/discourse/app/templates/group-index.hbs
  app/assets/javascripts/discourse/app/templates/group-requests.hbs
  app/assets/javascripts/discourse/app/templates/mobile/components/directory-item.hbs
  app/assets/javascripts/discourse/app/templates/modal/edit-user-directory-columns.hbs
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  app/assets/javascripts/discourse/tests/setup-tests.js
  app/controllers/application_controller.rb
  app/controllers/directory_columns_controller.rb
  app/controllers/directory_items_controller.rb
  app/models/directory_column.rb
  app/models/directory_item.rb
  app/serializers/directory_column_serializer.rb
  app/serializers/directory_item_serializer.rb
  db/migrate/20210609133551_add_type_to_directory_columns.rb
  db/post_migrate/20210609152431_remove_directory_column_automatic.rb
  lib/plugin/instance.rb
  spec/components/plugin/instance_spec.rb
  spec/requests/admin/user_fields_controller_spec.rb
Due: rubocop, prettier, eslint-js

FIX: Adding multiple auto tags in watched words admin UI (#13421)
  app/assets/javascripts/admin/addon/components/watched-word-form.js
  app/assets/javascripts/admin/addon/templates/components/watched-word-form.hbs
  app/assets/stylesheets/common/admin/staff_logs.scss
  app/assets/stylesheets/common/select-kit/multi-select.scss
Due: prettier, eslint-js

FIX: Broken DB issue following a reverted migration (#13426)
  db/migrate/20210617183010_add_automatic_column_directory_columns.rb
Due: rubocop

FIX: Allow SVG uploads if dimensions are a fraction of a unit (#13409)
  lib/upload_creator.rb
  spec/fixtures/images/massive.svg
  spec/fixtures/images/pencil.svg
  spec/fixtures/images/tiny.svg
  spec/fixtures/images/zero_sized.svg
  spec/lib/upload_creator_spec.rb
Due: rubocop

FIX: Use correct property for jump-up embedded post link (#13425)
  app/assets/javascripts/discourse/app/widgets/embedded-post.js
Due: prettier, eslint-js

FIX: Drop and recreate column properly for directory_columns (#13429)
  db/migrate/20210617202227_change_automatic_on_directory_columns_to_bool.rb
Due: rubocop

FIX: Dismiss new keyboard shortcut not working (#13430)
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/tests/acceptance/keyboard-shortcuts-test.js
Due: prettier, eslint-js

FIX: Do not add mailing list headers to group SMTP emails (#13431)
  lib/email/sender.rb
  spec/components/email/sender_spec.rb
Due: rubocop

DEV: improve error message for invalid setting’s value
  lib/site_settings/type_supervisor.rb
Due: rubocop

Update lib/site_settings/type_supervisor.rb
  lib/site_settings/type_supervisor.rb
Due: rubocop

REFACTOR: removes unused code (#13412)
  app/assets/javascripts/discourse/app/models/store.js
  app/assets/javascripts/discourse/tests/unit/services/store-test.js
Due: prettier, eslint-js

DEV: removes maximum limit on tag list site setting (#13436)
  app/assets/javascripts/admin/addon/templates/components/site-settings/tag-list.hbs
Due: none
