Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD main
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD main
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {all_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {all_files}
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint plugins/**/test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Add test ENV conditional back to server_plugin_outlet (#16878)
  app/helpers/application_helper.rb
Due: rubocop

FIX: pass empty hash for view locals by default (#16879)
  app/helpers/application_helper.rb
Due: rubocop

DEV: do not run plugin tests for server_plugin_outlet (#16880)
  app/helpers/application_helper.rb
Due: rubocop

FIX: Clear inline onebox cache when a post is rebaked (#16871)
  app/models/post_analyzer.rb
  spec/models/post_spec.rb
Due: rubocop

DEV: allow running plugin tests for server_plugin_outlet (#16883)
  app/helpers/application_helper.rb
Due: rubocop

DEV: Add comment about `UserController#cards` route (#16882)
  app/controllers/users_controller.rb
Due: rubocop

FIX: Refactor placement of plugin outlet & index use (#16874)
  app/assets/javascripts/discourse/app/templates/components/topic-list-item.hbs
  app/assets/javascripts/discourse/app/templates/components/topic-list.hbs
Due: none

FEATURE Add reset bump dates bulk action (#16885)
  app/assets/javascripts/discourse/app/controllers/topic-bulk-actions.js
  app/assets/javascripts/discourse/tests/acceptance/topic-bulk-actions-test.js
  config/locales/client.en.yml
  lib/topics_bulk_action.rb
  spec/lib/topics_bulk_action_spec.rb
Due: rubocop, prettier, eslint, yaml-syntax, i18n-lint

PERF: Speed up secure media and ACL sync rake tasks (#16849)
  app/jobs/regular/sync_acls_for_uploads.rb
  lib/tasks/uploads.rake
  lib/upload_security.rb
  spec/jobs/sync_acls_for_uploads_spec.rb
  spec/tasks/uploads_spec.rb
Due: rubocop

REFACTOR: Remove duplicate code in `SiteSettingsController` (#16889)
  app/controllers/admin/site_settings_controller.rb
Due: rubocop

FIX: Site setting changes for boolean should be logged as true/false (#16888)
  app/services/staff_action_logger.rb
  spec/services/staff_action_logger_spec.rb
Due: rubocop

DEV: Add bookmark-icon component (#16893)
  app/assets/javascripts/discourse/app/components/bookmark-icon.js
  app/assets/javascripts/discourse/app/initializers/topic-footer-buttons.js
  app/assets/javascripts/discourse/app/models/bookmark.js
  app/assets/javascripts/discourse/app/templates/components/bookmark-icon.hbs
  app/assets/javascripts/discourse/app/widgets/post-menu.js
  app/assets/javascripts/discourse/app/widgets/quick-access-bookmarks.js
  app/assets/javascripts/discourse/tests/integration/components/bookmark-icon-test.js
Due: prettier, eslint

FEATURE: Site setting for blocking onebox of URLs that redirect (#16881)
  config/locales/server.en.yml
  config/site_settings.yml
  lib/final_destination.rb
  lib/inline_oneboxer.rb
  lib/oneboxer.rb
  lib/retrieve_title.rb
  spec/lib/inline_oneboxer_spec.rb
  spec/lib/oneboxer_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: Applying default user options didn't work for boolean flags (#16890)
  app/controllers/admin/site_settings_controller.rb
  app/models/user_option.rb
  spec/requests/admin/site_settings_controller_spec.rb
Due: rubocop

DEV: Only demux migration stdout if running concurrently (#16895)
  lib/tasks/db.rake
Due: none

DEV: Map already-downloaded hotlinked images in post_process_cooked
  app/jobs/regular/pull_hotlinked_images.rb
  app/models/post_hotlinked_media.rb
  lib/cooked_post_processor.rb
  lib/cooked_processor_mixin.rb
Due: rubocop

UX: align the trash button on the bookmark modal (#16884)
  app/assets/stylesheets/common/components/bookmark-modal.scss
Due: prettier-scss

DEV: Allow plugins to register Onebox handlers (#16870)
  lib/inline_oneboxer.rb
  lib/oneboxer.rb
  spec/lib/inline_oneboxer_spec.rb
  spec/lib/oneboxer_spec.rb
Due: rubocop
