Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

REFACTOR: Move test setup to a module
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/helpers/widget-test.js
  app/assets/javascripts/discourse/tests/setup-tests.js
  app/assets/javascripts/discourse/tests/test_helper.js
  app/assets/javascripts/discourse/tests/unit/lib/upload-short-url-test.js
  plugins/poll/test/javascripts/acceptance/poll-pie-chart-test.js.es6
  plugins/poll/test/javascripts/acceptance/polls-bar-chart-test-desktop.js.es6
  plugins/poll/test/javascripts/acceptance/polls-bar-chart-test-mobile.js.es6
  plugins/poll/test/javascripts/widgets/discourse-poll-test.js.es6
Due: prettier, eslint-es6, eslint-js

REFACTOR: Remove `.erb` file from javascript tests
  app/assets/javascripts/discourse/tests/fixtures/concerns/notification-types.js
  app/assets/javascripts/discourse/tests/fixtures/concerns/notification-types.js.erb
  lib/tasks/javascript.rake
Due: prettier, eslint-js

FIX: Favicon count was not updated when window focus returned (#10875)
  app/assets/javascripts/discourse/app/services/document-title.js
Due: prettier, eslint-js

FIX: Make browser-update work with IE<11 (#10868)
  vendor/assets/javascripts/browser-update.js.erb
Due: none

DEV: Add styleguide locale files to Crowdin (#10876)
  translator.yml
Due: yaml-syntax

FIX: Include subfolder base_path in web app manifest shortcuts (#10878)
  app/controllers/metadata_controller.rb
Due: rubocop

Replace `base_uri` with `base_path` (#10879)
  app/controllers/application_controller.rb
  app/controllers/extra_locales_controller.rb
  app/controllers/robots_txt_controller.rb
  app/controllers/tags_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/helpers/application_helper.rb
  app/helpers/user_notifications_helper.rb
  app/models/admin_dashboard_data.rb
  app/models/badge.rb
  app/models/category.rb
  app/models/emoji.rb
  app/models/javascript_cache.rb
  app/models/permalink.rb
  app/models/topic.rb
  app/models/user.rb
  app/models/user_avatar.rb
  app/views/layouts/_head.html.erb
  app/views/layouts/application.html.erb
  app/views/robots_txt/index.erb
  app/views/robots_txt/no_index.erb
  lib/configurable_urls.rb
  lib/content_security_policy/default.rb
  lib/content_security_policy/middleware.rb
  lib/discourse.rb
  lib/file_store/local_store.rb
  lib/pretty_text.rb
  lib/url_helper.rb
  lib/wizard/builder.rb
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/base.rb
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/new_user_narrative.rb
  plugins/discourse-narrative-bot/plugin.rb
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/new_user_narrative_spec.rb
  spec/components/oneboxer_spec.rb
  spec/models/post_spec.rb
Due: rubocop

FIX: display correct reply count for crawler
  app/views/list/list.erb
Due: none

FIX: second factor cannot be enabled if SSO is enabled (#10880)
  config/locales/server.en.yml
  lib/site_settings/validations.rb
  spec/lib/site_settings/validations_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

REFACTOR: Use imports for `sinon` and `setResolver`
  .eslintrc
  app/assets/javascripts/discourse-loader.js
  app/assets/javascripts/discourse/tests/setup-tests.js
  app/assets/javascripts/discourse/tests/test_helper.js
  app/assets/javascripts/discourse/tests/unit/lib/formatter-test.js
  app/assets/javascripts/discourse/tests/unit/models/topic-tracking-state-test.js
  app/assets/javascripts/test-shims.js
  app/assets/javascripts/wizard/test/test_helper.js
  plugins/discourse-local-dates/test/javascripts/lib/local-date-builder-test.js.es6
Due: prettier, eslint-es6, eslint-js

FIX: Observers weren't working on admin email logs
  app/assets/javascripts/admin/addon/controllers/admin-email-logs.js
  app/assets/javascripts/admin/addon/routes/admin-email-incomings.js
Due: prettier, eslint-js

FEATURE - SiteSetting to disable user option to hide their profiles and presences (#10885)
  app/assets/javascripts/discourse/app/templates/preferences/interface.hbs
  config/locales/server.en.yml
  config/site_settings.yml
  lib/guardian/user_guardian.rb
  plugins/discourse-presence/assets/javascripts/discourse/lib/presence.js.es6
  plugins/discourse-presence/plugin.rb
  plugins/discourse-presence/spec/requests/presence_controller_spec.rb
  spec/components/guardian/user_guardian_spec.rb
  spec/requests/list_controller_spec.rb
  spec/requests/posts_controller_spec.rb
  spec/requests/user_actions_controller_spec.rb
  spec/requests/user_badges_controller_spec.rb
  spec/requests/users_controller_spec.rb
Due: rubocop, prettier, eslint-es6, yaml-syntax, i18n-lint

DEV: Add discourse-teambuild to official plugins (#10874)
  lib/plugin/metadata.rb
Due: rubocop

FIX: Handle .discourse-compatibility syntax errors (#10891)
  lib/version.rb
  spec/components/version_spec.rb
  spec/models/remote_theme_spec.rb
  spec/services/themes_spec.rb
  spec/support/helpers.rb
Due: rubocop

DEV: Fix a spec incompatibility with pre-2.28 git (#10892)
  spec/components/version_spec.rb
  spec/support/helpers.rb
Due: rubocop

FIX: use new color variables in embed.scss, remove hardcoded colors (#10887)
  app/assets/stylesheets/embed.scss
Due: none

DEV: Fix an apparently "too modern" git command (#10894)
  spec/components/version_spec.rb
Due: rubocop

FEATURE: respect tags_sort_alphabetically setting when display tags (#10889)
  app/serializers/concerns/topic_tags_mixin.rb
  spec/serializers/topic_view_serializer_spec.rb
Due: rubocop

Revert "FIX: use new color variables in embed.scss, remove hardcoded colors (#10887)" (#10897)
  app/assets/stylesheets/embed.scss
Due: none

FIX: use new color variables in embed.scss, remove hardcoded colors (#10898)
  app/assets/stylesheets/embed.scss
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
