Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD main
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD main
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {all_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {all_files}
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint plugins/**/test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

UX: Always show avatar on mobile topic lists (#15323)
  app/assets/javascripts/discourse/app/components/basic-topic-list.js
  app/assets/javascripts/discourse/app/components/topic-list-item.js
  app/assets/javascripts/discourse/app/templates/components/basic-topic-list.hbs
  app/assets/javascripts/discourse/app/templates/components/topic-list.hbs
  app/assets/javascripts/discourse/app/templates/mobile/list/topic-list-item.hbr
Due: prettier, eslint

FEATURE: Allow to modify topic-backed static pages (#15324)
  app/controllers/static_controller.rb
  app/views/static/show.html.erb
  lib/plugin/instance.rb
  spec/requests/static_controller_spec.rb
Due: rubocop

FIX: uses new format for search tag endpoint to prevent issues (#15328)
  app/assets/javascripts/discourse/app/lib/category-tag-search.js
  app/assets/javascripts/discourse/tests/acceptance/tags-test.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/tag-drop-test.js
  app/assets/javascripts/select-kit/addon/components/mini-tag-chooser.js
  app/assets/javascripts/select-kit/addon/components/tag-chooser.js
Due: prettier, eslint

DEV: Make i18n spec ignore these test-only settings (#15329)
  spec/requests/static_controller_spec.rb
Due: rubocop

DEV: make sure we handle staged users correctly in DiscourseConnect (#15320)
  app/models/discourse_single_sign_on.rb
  spec/models/discourse_single_sign_on_spec.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Due: rubocop

DEV: Remove jQuery animate calls (#15321)
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  plugins/discourse-narrative-bot/assets/javascripts/initializers/new-user-narrative.js
Due: prettier, eslint

FIX: Add smooth scrolling polyfill (#15333)
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/polyfills.js
Due: prettier, eslint

PERF: Prefabricate more parts of users_controller_spec (#15335)
  spec/requests/users_controller_spec.rb
Due: rubocop

DEV: Refactor animation for invalid inputs in wizard (#15334)
  app/assets/javascripts/wizard/components/wizard-step.js
  app/assets/javascripts/wizard/controllers/step.js
  app/assets/javascripts/wizard/models/step.js
  app/assets/stylesheets/wizard.scss
Due: prettier, prettier-scss, eslint

DEV: Remove unused composer editor preview sync (#15322)
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/pretty-text/addon/pretty-text.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/inject-line-number.js
  config/site_settings.yml
  db/migrate/20211216191224_remove_advanced_editor_preview_site_setting.rb
Due: rubocop, prettier, eslint, yaml-syntax

DEV: Tweak smooth-scroll polyfill speed (#15342)
  app/assets/javascripts/polyfills.js
Due: prettier, eslint

FIX: Incorrect header offset calculation (#15341)
  app/assets/javascripts/discourse/app/components/site-header.js
Due: prettier, eslint

DEV: Remove iOS 9.3 polyfills (#15343)
  app/assets/javascripts/polyfills.js
Due: prettier, eslint

SECURITY: Disable MessageBus::Diagnostics.
  config/initializers/004-message_bus.rb
Due: rubocop

DEV: creates domFromString utility function (#15310)
  app/assets/javascripts/discourse-common/addon/lib/dom-from-string.js
  app/assets/javascripts/discourse/tests/unit/lib/dom-from-string-test.js
  app/assets/javascripts/discourse/tests/unit/lib/formatter-test.js
  app/assets/javascripts/discourse/tests/unit/lib/link-mentions-test.js
  app/assets/javascripts/pretty-text/addon/oneboxer.js
Due: prettier, eslint

DEV: supports actionClick for small actions (#15331)
  app/assets/javascripts/discourse/app/widgets/post-small-action.js
  app/assets/javascripts/discourse/tests/integration/widgets/post-small-action-test.js
Due: prettier, eslint

DEV: allows to import decorateGithubOneboxBody (#15349)
  app/assets/javascripts/discourse/app/initializers/onebox-decorators.js
Due: prettier, eslint

Revert "DEV: supports actionClick for small actions (#15331)" (#15350)
  app/assets/javascripts/discourse/app/widgets/post-small-action.js
  app/assets/javascripts/discourse/tests/integration/widgets/post-small-action-test.js
Due: prettier, eslint

FIX: translation precedence was different on client and server
  lib/freedom_patches/translate_accelerator.rb
  lib/i18n/backend/discourse_i18n.rb
  spec/components/freedom_patches/translate_accelerator_spec.rb
  spec/lib/i18n/discourse_i18n_spec.rb
Due: rubocop

FIX: "Customize Text" showed compiled MessageFormat string for overridden `_MF` translations
  app/controllers/admin/site_texts_controller.rb
  lib/freedom_patches/translate_accelerator.rb
  lib/js_locale_helper.rb
  spec/requests/admin/site_texts_controller_spec.rb
Due: rubocop

FIX: Translation overrides from fallback locale didn't work on client
  app/assets/javascripts/discourse/app/initializers/localization.js
  app/assets/javascripts/discourse/tests/unit/localization-test.js
  app/controllers/admin/site_texts_controller.rb
  lib/js_locale_helper.rb
  spec/requests/admin/site_texts_controller_spec.rb
  spec/requests/extra_locales_controller_spec.rb
Due: rubocop, prettier, eslint
