Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: Add topic_diff to PostRevisor (#12518)
  lib/post_revisor.rb
  spec/components/post_revisor_spec.rb
Due: rubocop

FIX: delete orphan post revisions (#12502)
  db/post_migrate/20210324043327_delete_orphan_post_revisions.rb
  lib/post_destroyer.rb
  spec/components/post_destroyer_spec.rb
Due: rubocop

FIX: `uploads:fix_missing_s3` rake task used wrong SHA1 (#12495)
  lib/tasks/uploads.rake
Due: none

FIX: remove @discobot likes feature on public topics (#12522)
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/track_selector.rb
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/track_selector_spec.rb
Due: rubocop

DEV: Deprecate `message` parameter in auth provider plugin API (#12523)
  app/assets/javascripts/discourse/app/models/login-method.js
  app/assets/javascripts/discourse/tests/fixtures/site-fixtures.js
  app/serializers/auth_provider_serializer.rb
  lib/auth/auth_provider.rb
  spec/fixtures/plugins/my_plugin/plugin.rb
Due: rubocop, prettier, eslint-js

FIX: Composer save button should be ✏ Save Edit when editing a PM post (#12521)
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
Due: prettier, eslint-js

FIX: Allow pasting invitees in invite modal (#12520)
  app/assets/javascripts/discourse/app/components/invite-panel.js
  app/assets/javascripts/discourse/app/templates/components/invite-panel.hbs
  app/assets/stylesheets/common/components/share-and-invite-modal.scss
Due: prettier, eslint-js

DEV: Move incorrectly placed topic tests (#12513)
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
Due: prettier, eslint-js

UX: Display a tooltip when trying to delete an automatic group. (#12493)
  app/assets/javascripts/discourse/app/controllers/group.js
  app/assets/javascripts/discourse/app/templates/group.hbs
  app/assets/stylesheets/common/base/group.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Replace 'Chromebook' with 'Chrome OS' (#12508)
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

DEV: Add tests for invite system (#12524)
  app/assets/javascripts/discourse/app/components/invite-panel.js
  app/assets/javascripts/discourse/app/templates/components/invite-panel.hbs
  app/assets/javascripts/discourse/tests/integration/components/invite-panel-test.js
  app/controllers/invites_controller.rb
  app/models/invite.rb
  spec/models/invite_spec.rb
  spec/requests/invites_controller_spec.rb
  spec/requests/topics_controller_spec.rb
  test/javascripts/integration/components/invite-panel-test.js
Due: rubocop, prettier, eslint-js

FIX: add all the keys that should be allowed in user_notifications (#12526)
  app/models/translation_override.rb
Due: rubocop

IMPR: improved topic timer component's code structure (#12519)
  app/assets/javascripts/discourse/app/components/topic-timer-info.js
Due: prettier, eslint-js

FEATURE: Add new :topic_tags_changed DiscourseEvent (#12530)
  lib/discourse_tagging.rb
  spec/components/discourse_tagging_spec.rb
Due: rubocop

FEATURE: Implement nonces for Google Tag Manager integration (#12531)
  app/assets/javascripts/google-tag-manager.js
  app/helpers/application_helper.rb
  app/helpers/common_helper.rb
  app/views/common/_google_tag_manager_head.html.erb
  lib/content_security_policy/default.rb
  spec/lib/content_security_policy_spec.rb
  spec/requests/application_controller_spec.rb
Due: rubocop, prettier, eslint-js

UX: Emoji popup layout adjustments (#12533)
  app/assets/stylesheets/common/base/emoji.scss
Due: none

FIX: Allow dismissing Discard Drafts modal via ESC (#12532)
  app/assets/javascripts/discourse/app/components/d-modal.js
  app/assets/javascripts/discourse/app/mixins/key-enter-escape.js
  app/assets/javascripts/discourse/app/templates/modal/discard-draft.hbs
  app/assets/stylesheets/common/base/modal.scss
Due: prettier, eslint-js

PERF: improve category moderators query (#12538)
  app/models/about.rb
Due: rubocop

FIX: Bookmark topics were not being updated when the post moved (#12542)
  app/models/post_mover.rb
  db/post_migrate/20210328233843_fix_bookmarks_with_incorrect_topic_id.rb
  spec/models/post_mover_spec.rb
Due: rubocop

DEV: Add tests for create-invite modal (#12535)
  app/assets/javascripts/discourse/app/templates/modal/create-invite.hbs
  app/assets/javascripts/discourse/tests/acceptance/create-invite-modal-test.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
