Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD main
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD main
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {all_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {all_files}
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint plugins/**/test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Add `after-topic-progress` plugin outlet (#15572)
  app/assets/javascripts/discourse/app/templates/components/topic-progress.hbs
Due: none

FIX: Selected group cleared between emoji uploads (#15581)
  app/assets/javascripts/discourse/app/components/emoji-uploader.js
  app/assets/javascripts/discourse/app/mixins/uppy-upload.js
  app/assets/javascripts/discourse/app/templates/components/emoji-uploader.hbs
  app/assets/javascripts/discourse/tests/integration/components/emoji-uploader-test.js
Due: prettier, eslint

FIX: limits pre-line impact to tweet text (#15583)
  app/assets/stylesheets/common/base/onebox.scss
  lib/onebox/templates/twitterstatus.mustache
Due: prettier-scss

FIX: Pass category and tag IDs to the emit webhook event job. (#15568)
  config/initializers/012-web_hook_events.rb
  spec/models/web_hook_spec.rb
Due: rubocop

UX: flat-btn should also respond to Enter (#15584)
  app/assets/javascripts/discourse/app/components/flat-button.js
  app/assets/javascripts/discourse/tests/integration/components/flat-button-test.js
Due: prettier, eslint

DEV: fix tests (#15587)
  app/assets/javascripts/discourse/tests/acceptance/search-full-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-mobile-test.js
Due: prettier, eslint

DEV: Remove duplicated emoji files (again) (#15593)
  public/images/emoji/google/smiling_face_with_three_Hearts.png
  public/images/emoji/twitter/smiling_face_with_three_Hearts.png
  public/images/emoji/win10/smiling_face_with_three_Hearts.png
Due: none

FIX: Emoji group not actually saving (#15602)
  app/assets/javascripts/discourse/app/components/emoji-uploader.js
  app/assets/javascripts/discourse/app/mixins/uppy-upload.js
  app/assets/javascripts/discourse/app/templates/components/emoji-uploader.hbs
  app/assets/javascripts/discourse/tests/integration/components/emoji-uploader-test.js
Due: prettier, eslint

FIX: Ensure floating quote button is distanced from iOS selection (#15588)
  app/assets/javascripts/discourse/app/components/quote-button.js
Due: prettier, eslint

UX: Animate the movement of the quote button on selection change (#15590)
  app/assets/javascripts/discourse/app/components/quote-button.js
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier, prettier-scss, eslint

FIX: Improve emoji upload UI (#15603)
  app/assets/javascripts/admin/addon/controllers/admin-emojis.js
  app/assets/javascripts/discourse/app/components/emoji-uploader.js
  app/assets/javascripts/discourse/app/templates/components/emoji-uploader.hbs
  app/assets/stylesheets/common/admin/admin_emojis.scss
  config/locales/client.en.yml
Due: prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

DEV: Skip failing flaky tests for now (#15605)
  app/assets/javascripts/discourse/tests/acceptance/bookmarks-test.js
  app/assets/javascripts/discourse/tests/acceptance/click-track-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/acceptance/fast-edit-test.js
  app/assets/javascripts/discourse/tests/acceptance/jump-to-test.js
  app/assets/javascripts/discourse/tests/acceptance/post-history-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-quote-button-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/unknown-test.js
Due: prettier, eslint

DEV: Improve stability of Tests (#15591)
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/tests/acceptance/keyboard-shortcuts-test.js
  app/assets/javascripts/discourse/tests/unit/lib/uppy-checksum-plugin-test.js
Due: prettier, eslint

DEV: Use a real image to fix a net::err in tests (#15597)
  app/assets/javascripts/discourse/tests/acceptance/preferences-test.js
Due: prettier, eslint

DEV: Fix a computed override in tests (#15596)
  app/assets/javascripts/discourse/tests/unit/models/topic-test.js
Due: prettier, eslint

UX: No border-radius on textarea (#15594)
  app/assets/stylesheets/common/base/discourse.scss
Due: prettier-scss

UX: center emoji picker when limited space (#15607)
  app/assets/javascripts/discourse/app/components/emoji-picker.js
Due: prettier, eslint

FIX: correctly uses the name helper for selected content (#15610)
  app/assets/javascripts/select-kit/addon/components/select-kit/single-select-header.js
Due: prettier, eslint

DEV: Restore tests for inserting images as separate paragraphs (#15601)
  app/assets/javascripts/discourse/tests/acceptance/composer-uploads-uppy-test.js
Due: prettier, eslint
