Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: Make score's reason link building more explicit (#14475)
  app/serializers/reviewable_score_serializer.rb
  config/locales/server.en.yml
  spec/serializers/reviewable_score_serializer_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

UX: Fix label in search when tagging is disabled (#14503)
  app/assets/javascripts/discourse/app/controllers/full-page-search.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

UX: Use consistent category badge font size in dropdowns (#14502)
  app/assets/stylesheets/common/select-kit/select-kit.scss
Due: none

FIX: Stop incoming message tracking after navigating away. (#14498)
  app/assets/javascripts/discourse/app/controllers/user-topics-list.js
  app/assets/javascripts/discourse/app/models/private-message-topic-tracking-state.js
Due: prettier, eslint-js

DEV: Allow `onStateChange` callbacks for PM topic tracking state. (#14479)
  app/assets/javascripts/discourse/app/models/private-message-topic-tracking-state.js
  app/assets/javascripts/discourse/tests/unit/models/private-message-topic-tracking-state-test.js
Due: prettier, eslint-js

FIX: Stop tracking incoming message after navigating away take 2. (#14508)
  app/assets/javascripts/discourse/app/models/private-message-topic-tracking-state.js
  app/assets/javascripts/discourse/tests/acceptance/user-private-messages-test.js
Due: prettier, eslint-js

FEATURE: Allow users to remove their vote (#14459)
  plugins/poll/app/controllers/polls_controller.rb
  plugins/poll/assets/javascripts/initializers/extend-for-poll.js.es6
  plugins/poll/assets/javascripts/widgets/discourse-poll.js.es6
  plugins/poll/config/locales/client.en.yml
  plugins/poll/jobs/regular/close_poll.rb
  plugins/poll/lib/poll.rb
  plugins/poll/plugin.rb
  plugins/poll/spec/controllers/polls_controller_spec.rb
  plugins/poll/spec/controllers/posts_controller_spec.rb
  plugins/poll/spec/integration/poll_endpoints_spec.rb
  plugins/poll/spec/lib/polls_updater_spec.rb
  plugins/poll/test/javascripts/acceptance/poll-results-test.js.es6
  plugins/poll/test/javascripts/widgets/discourse-poll-test.js.es6
Due: rubocop, prettier, eslint-es6, yaml-syntax, i18n-lint

FIX: Use addresses to compare email header (#14509)
  lib/email/receiver.rb
  spec/components/email/receiver_spec.rb
  spec/fixtures/emails/reply_to_whitespaces.eml
Due: rubocop

DEV: observe all elements to prevent any missed mutation (#14507)
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/tests/acceptance/composer-onebox-test.js
  app/assets/javascripts/discourse/tests/acceptance/hashtags-test.js
Due: prettier, eslint-js

FIX: Vimeo private video oneboxes were broken (#14510)
  lib/onebox/engine/vimeo_onebox.rb
Due: rubocop

DEV: replace mailcatcher references with mailhog (#14500)
  config/environment.rb
  config/environments/development.rb
  config/environments/profile.rb
  docs/DEVELOPER-ADVANCED.md
  docs/DEVELOPMENT-OSX-NATIVE.md
  docs/TESTING.md
Due: rubocop

UX: capitalize unsubscribed email locale (#14512)
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

FIX: Ember CLI was always loading the admin payload in dev mode
  app/assets/javascripts/discourse/app/index.html
  app/assets/javascripts/discourse/lib/bootstrap-json/index.js
Due: prettier, eslint-js

DEV: Use Set instead of array-as-an-object (#14511)
  app/assets/javascripts/discourse/app/models/topic-list.js
  app/assets/javascripts/discourse/app/routes/discovery-categories.js
Due: prettier, eslint-js

UX: Global notice no longer accepts HTML. (#14515)
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

DEV: Add plugin outlet to the bottom of flag modal (#14413)
  app/assets/javascripts/discourse/app/templates/modal/flag.hbs
Due: none

FIX: Support Ruby 3 keyword arguments
  app/models/theme.rb
  app/views/about/index.html.erb
  lib/discourse_redis.rb
  lib/seed_data/categories.rb
  lib/seed_data/topics.rb
  lib/tasks/posts.rake
  lib/upload_recovery.rb
  lib/validators/post_validator.rb
  spec/requests/posts_controller_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/requests/uploads_controller_spec.rb
  spec/services/user_authenticator_spec.rb
Due: rubocop

FIX: Display embeddable host's post to category. (#14517)
  app/assets/javascripts/admin/addon/components/embeddable-host.js
  app/assets/javascripts/admin/addon/templates/components/embeddable-host.hbs
Due: prettier, eslint-js

FEATURE: Return subcategories on categories endpoint (#14492)
  app/controllers/categories_controller.rb
  app/models/category.rb
  app/models/category_list.rb
  app/serializers/category_detailed_serializer.rb
  spec/requests/api/schemas/json/category_list_response.json
  spec/requests/categories_controller_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
