Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FEATURE: Order pinned topics by their `pinned_at` column (#14090)
  lib/topic_query.rb
  spec/components/topic_query_spec.rb
Due: rubocop

DEV: Rename discourse-presence endpoints and messagebus channels (#14089)
  plugins/discourse-presence/assets/javascripts/discourse/lib/presence.js.es6
  plugins/discourse-presence/plugin.rb
  plugins/discourse-presence/spec/requests/presence_controller_spec.rb
Due: rubocop, prettier, eslint-es6

FIX: Always reload post's raw when editing a post (#14085)
  app/assets/javascripts/discourse/app/models/composer.js
Due: prettier, eslint-js

DEV: adds plugin-outlet before category in /latest (#14092)
  app/assets/javascripts/discourse/app/templates/list/topic-list-item.hbr
Due: none

DEV: UserOption.user_tzinfo (#14088)
  app/models/user_option.rb
  spec/models/user_option_spec.rb
Due: rubocop

FEATURE: improve "blank page syndrome" on the user bookmarks page
  app/assets/javascripts/discourse/app/controllers/user-activity-bookmarks.js
  app/assets/javascripts/discourse/app/templates/user/bookmarks.hbs
  app/assets/javascripts/discourse/tests/acceptance/user-bookmarks-test.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Upgrade Rails to 6.1.4.1. (#14098)
  Gemfile
  Gemfile.lock
Due: none

FIX: Adding debugging and fixing media-optimization-worker issues (#14099)
  app/assets/javascripts/discourse/app/initializers/register-media-optimization-upload-processor.js
  app/assets/javascripts/discourse/app/lib/uppy-media-optimization-plugin.js
  app/assets/javascripts/discourse/app/services/media-optimization-worker.js
Due: prettier, eslint-js

DEV: Remove invalid class. (#14100)
  app/assets/javascripts/discourse/app/templates/user/messages.hbs
Due: none

DEV: removes plugin generator (#14101)
  lib/generators/plugin/plugin_generator.rb
  lib/generators/plugin/templates/LICENSE.erb
  lib/generators/plugin/templates/README.md.erb
  lib/generators/plugin/templates/acceptance-test.js.es6.erb
  lib/generators/plugin/templates/assets/javascripts/discourse/adapters/adapter.js.es6.erb
  lib/generators/plugin/templates/assets/javascripts/discourse/controllers/controller-index.js.es6.erb
  lib/generators/plugin/templates/assets/javascripts/discourse/controllers/controller-show.js.es6.erb
  lib/generators/plugin/templates/assets/javascripts/discourse/controllers/controller.js.es6.erb
  lib/generators/plugin/templates/assets/javascripts/discourse/models/model.js.es6.erb
  lib/generators/plugin/templates/assets/javascripts/discourse/routes/route-index.js.es6.erb
  lib/generators/plugin/templates/assets/javascripts/discourse/routes/route-show.js.es6.erb
  lib/generators/plugin/templates/assets/javascripts/discourse/routes/route.js.es6.erb
  lib/generators/plugin/templates/assets/javascripts/discourse/templates/template-index.hbs.erb
  lib/generators/plugin/templates/assets/javascripts/discourse/templates/template-show.hbs.erb
  lib/generators/plugin/templates/assets/javascripts/discourse/templates/template.hbs.erb
  lib/generators/plugin/templates/client.en.yml.erb
  lib/generators/plugin/templates/controller.rb.erb
  lib/generators/plugin/templates/controller_spec.rb.erb
  lib/generators/plugin/templates/engine.rb.erb
  lib/generators/plugin/templates/javascript.js.es6.erb
  lib/generators/plugin/templates/plugin.rb.erb
  lib/generators/plugin/templates/plugin_controller.rb.erb
  lib/generators/plugin/templates/route-map.js.es6.erb
  lib/generators/plugin/templates/route_constraint.rb.erb
  lib/generators/plugin/templates/routes.rb.erb
  lib/generators/plugin/templates/scheduled_job.rb.erb
  lib/generators/plugin/templates/server.en.yml.erb
  lib/generators/plugin/templates/settings.yml.erb
  lib/generators/plugin/templates/stylesheet.scss.erb
Due: rubocop
