Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FEATURE: Allow category group moderators to list/unlist topics (#11470)
  app/assets/javascripts/discourse/app/widgets/topic-admin-menu.js
  app/assets/javascripts/discourse/tests/fixtures/topic.js
  app/controllers/topics_controller.rb
  app/serializers/topic_view_details_serializer.rb
  lib/guardian/topic_guardian.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, prettier, eslint-js

FEATURE: Automatically disable slow mode. (#11461)
  app/assets/javascripts/discourse/app/components/future-date-input.js
  app/assets/javascripts/discourse/app/controllers/edit-slow-mode.js
  app/assets/javascripts/discourse/app/models/topic.js
  app/assets/javascripts/discourse/app/templates/components/future-date-input.hbs
  app/assets/javascripts/discourse/app/templates/modal/edit-slow-mode.hbs
  app/controllers/topics_controller.rb
  app/jobs/regular/clear_slow_mode.rb
  app/models/topic_timer.rb
  config/locales/client.en.yml
  spec/requests/topics_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Users without shared drafts access can still have access to the category. (#11476)
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/tests/fixtures/topic.js
  app/controllers/list_controller.rb
  app/controllers/topics_controller.rb
  app/serializers/topic_view_serializer.rb
  lib/guardian/topic_guardian.rb
  lib/topic_creator.rb
  lib/topic_query.rb
  spec/components/topic_query_spec.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, prettier, eslint-js

FIX: Show correct avatar in post stream bar (#11481)
  app/assets/javascripts/discourse/app/components/scrolling-post-stream.js
  app/assets/javascripts/discourse/app/templates/topic.hbs
  app/assets/javascripts/discourse/app/widgets/post-stream.js
Due: prettier, eslint-js

FIX: Show quote replies when filtering (#11483)
  lib/topic_view.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop

UX: Show required indication consistently on signup (#11477)
  app/assets/javascripts/discourse/app/templates/modal/create-account.hbs
  app/assets/stylesheets/common/base/user.scss
Due: none

FIX: clear WordWatcher cache after topic_spec (#11488)
  spec/models/topic_spec.rb
Due: rubocop

FIX: Do not forbid tags in /new-topic on mobile (#11486)
  app/assets/javascripts/discourse/app/controllers/composer.js
Due: prettier, eslint-js

UX: Tweaks to filtered replies (#11485)
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/models/post-stream.js
  app/assets/javascripts/discourse/app/widgets/post-stream.js
  app/assets/javascripts/discourse/app/widgets/post.js
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Fix JS errors in styleguide (#11494)
  plugins/styleguide/assets/javascripts/discourse/lib/dummy-data.js.es6
  plugins/styleguide/assets/javascripts/discourse/templates/styleguide/organisms/03-topic-footer-buttons.hbs
  plugins/styleguide/assets/javascripts/discourse/templates/styleguide/organisms/basic-topic-list.hbs
  plugins/styleguide/assets/javascripts/discourse/templates/styleguide/organisms/latest-topic-list.hbs
  plugins/styleguide/config/locales/client.en.yml
Due: prettier, eslint-es6, yaml-syntax, i18n-lint

DEV: Add site header organism to styleguide (#11495)
  plugins/styleguide/assets/javascripts/discourse/lib/dummy-data.js.es6
  plugins/styleguide/assets/javascripts/discourse/templates/styleguide/organisms/site-header.hbs
  plugins/styleguide/config/locales/client.en.yml
Due: prettier, eslint-es6, yaml-syntax, i18n-lint

FEATURE: Allow IP anonymization via admin user controller API (#11497)
  app/controllers/admin/users_controller.rb
  spec/requests/admin/users_controller_spec.rb
Due: rubocop

UX: remove timeline from print view, fix header in crawler view (#11489)
  app/assets/stylesheets/common/base/crawler_layout.scss
  app/assets/stylesheets/common/printer-friendly.scss
Due: none

FIX: no email when the category is muted and mailing list is on (#11490)
  app/jobs/regular/notify_mailing_list_subscribers.rb
  app/models/topic_tracking_state.rb
  app/models/user.rb
  spec/jobs/notify_mailing_list_subscribers_spec.rb
Due: rubocop

UX: When input placeholders are too long, truncate with ellipsis (#11504)
  app/assets/stylesheets/common/base/discourse.scss
Due: none

UX: Make theme install modal more responsive (#11503)
  app/assets/stylesheets/common/admin/customize-install-theme.scss
Due: none

UX: Add title attribute to watched word input (#11505)
  app/assets/javascripts/admin/addon/templates/components/watched-word-form.hbs
Due: none

UX: Don't wrap menu text under icon (#11502)
  app/assets/stylesheets/common/base/popup-menu.scss
Due: none

DEV: Trigger events when filtering replies (#11498)
  app/assets/javascripts/discourse/app/models/post-stream.js
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
