Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FEATURE: Mailing list mode default disabled (#11091)
  config/site_settings.yml
  spec/models/topic_user_spec.rb
  spec/models/user_spec.rb
  spec/requests/email_controller_spec.rb
  spec/services/user_updater_spec.rb
Due: rubocop, yaml-syntax

FEATURE: Add opt-in screenshots to the web app manifest (#12288)
  app/controllers/metadata_controller.rb
  config/locales/server.en.yml
  config/site_settings.yml
Due: rubocop, yaml-syntax, i18n-lint

FIX: Ensure UserField changes are reflected instantly in webhooks (#12291)
  app/models/web_hook.rb
  spec/models/web_hook_spec.rb
Due: rubocop

FIX: subfolder prefix should work even if url starts with the prefix (#12284)
  app/assets/javascripts/discourse-common/addon/lib/get-url.js
  app/assets/javascripts/discourse/tests/unit/lib/get-url-test.js
Due: prettier, eslint-js

FIX: new topic indicator on the mobile categories page (#12271)
  app/models/category_list.rb
  spec/models/category_list_spec.rb
Due: rubocop

DEV: Update Rails to latest patch level (#12281)
  Gemfile
  Gemfile.lock
Due: none

DEV: bump `discourse_dev` gem to version `0.0.3`. (#12295)
  Gemfile.lock
Due: none

Update Code of Conduct to v2.0 (#12296)
  docs/code-of-conduct.md
Due: none

clarify copy "this site was just updated" popup
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FEATURE: Add newly loaded topics to bulk-select automatically if Select All is on (#12026)
  app/assets/javascripts/discourse/app/components/discovery-topics-list.js
  app/assets/javascripts/discourse/app/components/topic-list-item.js
  app/assets/javascripts/discourse/app/components/topic-list.js
  app/assets/javascripts/discourse/app/mixins/bulk-topic-selection.js
  app/assets/javascripts/discourse/app/models/topic-list.js
  app/assets/javascripts/discourse/app/templates/discovery/topics.hbs
  app/assets/javascripts/discourse/app/templates/tags/show.hbs
  app/assets/javascripts/discourse/tests/integration/components/topic-list-item-test.js
  app/assets/javascripts/discourse/tests/integration/components/topic-list-test.js
Due: prettier, eslint-js
