Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FEATURE: Allow admins to pre-populate user fields (#12361)
  app/assets/javascripts/discourse/app/routes/invites-show.js
  app/controllers/invites_controller.rb
  app/jobs/regular/bulk_invite.rb
  app/models/user.rb
  spec/fixtures/csv/discourse_headers.csv
  spec/jobs/bulk_invite_spec.rb
  spec/models/invite_spec.rb
  spec/requests/invites_controller_spec.rb
Due: rubocop, prettier, eslint-js

FIX: Isolate modal and global key-binds (#12477)
  app/assets/javascripts/discourse/app/components/bookmark.js
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/components/edit-topic-timer-form.js
  app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/app/components/time-shortcut-picker.js
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/templates/components/bookmark.hbs
  app/assets/javascripts/discourse/app/templates/components/edit-topic-timer-form.hbs
  app/assets/javascripts/discourse/tests/acceptance/bookmarks-test.js
  app/assets/javascripts/discourse/tests/acceptance/plugin-keyboard-shortcut-test.js
  app/assets/javascripts/discourse/tests/integration/components/bookmark-test.js
Due: prettier, eslint-js

UX: Let users know they disabled discobot and they can't interact with it. (#12534)
  plugins/discourse-narrative-bot/config/locales/server.en.yml
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/track_selector.rb
  plugins/discourse-narrative-bot/plugin.rb
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/track_selector_spec.rb
  plugins/discourse-narrative-bot/spec/user_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: Set the "hasTargetGroups" attribute in the composer when clicking the group message button. (#12536)
  app/assets/javascripts/discourse/app/components/group-card-contents.js
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/controllers/group.js
  app/assets/javascripts/discourse/app/mixins/open-composer.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/routes/new-message.js
  app/assets/javascripts/discourse/tests/acceptance/group-test.js
Due: prettier, eslint-js

FIX: Prevent UniqueViolation exceptions when syncing group mentions (#12543)
  app/services/post_alerter.rb
Due: rubocop

DEV: Better SimpleCov configuration (#12544)
  spec/rails_helper.rb
Due: rubocop

FIX: Show error messages when adding permalinks in the admin UI (#12545)
  app/assets/javascripts/admin/addon/components/permalink-form.js
  app/models/permalink.rb
Due: rubocop, prettier, eslint-js

FIX: additionalOpts update and change to function (#12546)
  app/assets/javascripts/discourse/app/components/topic-timer-info.js
Due: prettier, eslint-js

UX: Fix tab list alignment in emoji popup (#12548)
  app/assets/javascripts/discourse/app/templates/components/emoji-picker.hbs
  app/assets/stylesheets/common/base/emoji.scss
Due: none

DEV: Correct the ruby version check (#12551)
  config/application.rb
Due: rubocop

FIX: Improve error messages if user cannot send PM emails (#12547)
  app/assets/javascripts/discourse/app/templates/components/composer-user-selector.hbs
  config/locales/server.en.yml
  lib/topic_creator.rb
  spec/components/topic_creator_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

DEV: Remove draft attributes from topic lists (#12525)
  app/controllers/categories_controller.rb
  app/models/category_list.rb
  app/models/draftable_list.rb
  app/models/topic_list.rb
  app/serializers/category_list_serializer.rb
  app/serializers/top_list_serializer.rb
  app/serializers/topic_list_serializer.rb
  spec/requests/api/categories_spec.rb
  spec/requests/api/schemas/json/category_list_response.json
  spec/requests/api/schemas/json/category_topics_response.json
  spec/requests/categories_controller_spec.rb
  spec/requests/tags_controller_spec.rb
Due: rubocop

DEV: Clear filters when navigating to a post (#12557)
  app/assets/javascripts/discourse/app/lib/url.js
  app/assets/javascripts/discourse/app/models/post-stream.js
Due: prettier, eslint-js

UX: login modal adjustments (#12552)
  app/assets/stylesheets/common/base/login.scss
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/common/components/buttons.scss
  app/assets/stylesheets/desktop/login.scss
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

UX: remove reference to contact form in settings (#12554)
  app/assets/javascripts/discourse/tests/fixtures/site-settings.js
  config/locales/server.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

UX: more consistent user control button width (#12553)
  app/assets/stylesheets/desktop/user.scss
Due: none

Improve details_enabled site setting description copy (#12560)
  plugins/discourse-details/config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

DEV: small refactor of the category_moderators method (#12550)
  app/models/about.rb
Due: rubocop

FIX: Redirect to provided origin after auth (#12558)
  app/controllers/users/omniauth_callbacks_controller.rb
  lib/middleware/omniauth_bypass_middleware.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Due: rubocop
