Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FEATURE: Remove user topic timers and migrate to bookmarks with reminders (#10474)
  app/assets/javascripts/discourse/app/components/edit-topic-timer-form.js
  app/assets/javascripts/discourse/app/components/topic-timer-info.js
  app/assets/javascripts/discourse/app/controllers/edit-topic-timer.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/app/templates/modal/edit-topic-timer.hbs
  app/assets/javascripts/discourse/app/templates/topic.hbs
  app/jobs/regular/topic_reminder.rb
  app/models/topic.rb
  app/models/topic_timer.rb
  app/serializers/topic_view_serializer.rb
  app/serializers/web_hook_topic_view_serializer.rb
  config/locales/client.en.yml
  db/migrate/20200819030609_migrate_user_topic_timers_to_bookmark_reminders.rb
  plugins/poll/test/javascripts/acceptance/poll-quote-test.js.es6
  spec/jobs/topic_reminder_spec.rb
  spec/models/topic_spec.rb
  spec/models/topic_timer_spec.rb
  spec/requests/api/topics_spec.rb
  test/javascripts/acceptance/composer-actions-test.js
  test/javascripts/acceptance/topic-edit-timer-test.js
  test/javascripts/fixtures/poll.js
  test/javascripts/fixtures/topic.js
Due: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

DEV: remove stubs from silencer spec
  spec/services/user_silencer_spec.rb
Due: rubocop

FEATURE: allow to extend topic_eager_loads in Search (#10625)
  lib/plugin/instance.rb
  lib/search.rb
  spec/lib/search_spec.rb
Due: rubocop

FIX: Make form use /u/admin-login instead of /users/admin-login (#10663)
  app/views/users/admin_login.html.erb
Due: none

FIX: upload errors were sometimes not displayed properly (#10605)
  app/assets/javascripts/discourse/app/mixins/upload.js
Due: prettier, eslint-js

DEV: Add include_pms option to TopicQuery (#10647)
  lib/topic_query.rb
  spec/components/topic_query_spec.rb
  spec/fabricators/topic_fabricator.rb
  spec/models/topic_spec.rb
Due: rubocop

FIX: Mark only uploads as verified/unverified in S3 inventory
  lib/s3_inventory.rb
Due: rubocop

FIX: adds shims for popper in wizard (#10658)
  app/assets/javascripts/select-kit/addon/components/select-kit.js
  app/assets/javascripts/wizard-shims.js
  app/assets/javascripts/wizard-vendor.js
Due: prettier, eslint-js

FIX: Wizard does not include `discourse-shims`
  app/assets/javascripts/wizard/test/test_helper.js
Due: prettier, eslint-js

Create proper shim for xss library
  app/assets/javascripts/discourse-shims.js
  app/assets/javascripts/pretty-text-bundle.js
  app/assets/javascripts/pretty-text/addon/sanitizer.js
  app/assets/javascripts/pretty-text/addon/xss.js
Due: prettier, eslint-js

REFACTOR: improve readability of cacheBuster
  app/assets/javascripts/discourse/app/lib/load-script.js
Due: prettier, eslint-js

Revert "Create proper shim for xss library"
  app/assets/javascripts/discourse-shims.js
  app/assets/javascripts/pretty-text-bundle.js
  app/assets/javascripts/pretty-text/addon/sanitizer.js
  app/assets/javascripts/pretty-text/addon/xss.js
Due: prettier, eslint-js

FIX: spec for oversized images security fix
  spec/models/upload_spec.rb
Due: rubocop

FIX: improvements after code review
  spec/models/upload_spec.rb
Due: rubocop

Update message_bus to 3.3.2.
  Gemfile.lock
Due: none

FIX: `TopicQuery.list_private_messages_unread` ignore notification level
  lib/topic_query.rb
  spec/requests/list_controller_spec.rb
Due: rubocop

DEV: Fix `MessageBus::InvalidMessageTarget` error after upgrading mb.
  app/models/category.rb
  app/models/post.rb
Due: rubocop

DEV: Fix another `MessageBus::InvalidMessageTarget` error.
  app/models/topic_tracking_state.rb
Due: rubocop

DEV: updates js transpiler to use babel 7 (#10627)
  lib/discourse_js_processor.rb
  spec/models/theme_field_spec.rb
  spec/models/theme_spec.rb
  vendor/assets/javascripts/babel.js
Due: rubocop, prettier, eslint-js

REFACTOR: reworks all the search-advanced-options panel (#10661)
  app/assets/javascripts/discourse/app/components/search-advanced-options.js
  app/assets/javascripts/discourse/app/templates/components/search-advanced-options.hbs
  app/assets/javascripts/discourse/app/templates/full-page-search.hbs
  app/assets/javascripts/select-kit/addon/components/multi-select/multi-select-header.js
  app/assets/javascripts/select-kit/addon/templates/components/multi-select/multi-select-header.hbs
  app/assets/stylesheets/common/base/search.scss
  app/assets/stylesheets/mobile/search.scss
  test/javascripts/acceptance/search-full-test.js
  test/javascripts/helpers/qunit-helpers.js
Due: prettier, eslint-js
