Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: Count resulting bulk invites correctly (#18461)
  app/jobs/regular/bulk_invite.rb
  config/locales/server.en.yml
  spec/jobs/bulk_invite_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: Skip quality title validations for static topics when edited by admin (#18468)
  lib/validators/quality_title_validator.rb
  spec/lib/validators/quality_title_validator_spec.rb
Due: rubocop

DEV: Remove usages of enable_personal_messages (#18437)
  lib/guardian.rb
  lib/guardian/group_guardian.rb
  lib/guardian/post_guardian.rb
  lib/guardian/topic_guardian.rb
  lib/topic_query.rb
  spec/integration/watched_words_spec.rb
  spec/lib/guardian_spec.rb
  spec/lib/new_post_manager_spec.rb
  spec/lib/post_creator_spec.rb
  spec/lib/search_spec.rb
  spec/lib/topic_creator_spec.rb
  spec/lib/topic_query/private_message_lists_spec.rb
  spec/lib/topic_query_spec.rb
  spec/models/group_archived_message_spec.rb
  spec/models/private_message_topic_tracking_state_spec.rb
  spec/models/topic_spec.rb
  spec/models/topic_user_spec.rb
  spec/models/trust_level3_requirements_spec.rb
  spec/models/user_search_spec.rb
  spec/models/user_spec.rb
  spec/requests/groups_controller_spec.rb
  spec/requests/list_controller_spec.rb
  spec/requests/posts_controller_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/serializers/basic_group_serializer_spec.rb
  spec/serializers/topic_view_serializer_spec.rb
  spec/support/helpers.rb
Due: rubocop

FIX: Link to `discovery.category` in sidebar` (#18467)
  app/assets/javascripts/discourse/app/lib/sidebar/user/categories-section/category-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
Due: prettier, eslint

DEV: Add displaySection to sidebar sections (#18479)
  app/assets/javascripts/discourse/app/components/sidebar/section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section.js
  app/assets/javascripts/discourse/app/components/sidebar/user/sections.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/base-custom-sidebar-section.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
  app/assets/javascripts/discourse/tests/integration/components/sidebar/section-test.js
Due: prettier, eslint

DEV: Add tests for review-index route (#18415)
  app/assets/javascripts/discourse/tests/unit/routes/review-index-test.js
Due: prettier, eslint

UX: `More...` -> `More` in Sidebar (#18482)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

DEV: Convert experimental user page activity nav to horizontal nav (#18483)
  app/assets/javascripts/discourse/app/components/user-nav.hbs
  app/assets/javascripts/discourse/app/components/user-nav/messages-nav.hbs
  app/assets/javascripts/discourse/app/templates/user/activity.hbs
  app/assets/javascripts/discourse/app/templates/user/notifications.hbs
Due: none

FIX: Missing sidebar section link icon for PM tags (#18481)
  app/assets/javascripts/discourse/app/lib/sidebar/user/messages-section/message-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/tags-section/base-tag-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/tags-section/pm-tag-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/tags-section/tag-section-link.js
Due: prettier, eslint

DEV: Include pending reviewables in the main tab in the user menu (#18471)
  app/assets/javascripts/discourse/app/components/user-menu/messages-list.js
  app/assets/javascripts/discourse/app/components/user-menu/notifications-list.js
  app/assets/javascripts/discourse/app/lib/utilities.js
  app/assets/javascripts/discourse/app/models/notification.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/notifications-list-test.js
  app/assets/javascripts/discourse/tests/unit/lib/utilities-test.js
  app/controllers/notifications_controller.rb
  app/controllers/reviewables_controller.rb
  app/models/reviewable.rb
  app/serializers/basic_reviewable_serializer.rb
  spec/requests/notifications_controller_spec.rb
  spec/support/common_basic_reviewable_serializer.rb
Due: rubocop, prettier, eslint

DEV: Fix message section link filters displaying icons (#18484)
  app/assets/javascripts/discourse/app/lib/sidebar/user/messages-section/message-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-messages-section-test.js
Due: prettier, eslint

DEV: Add faraday and faraday-retry as explicit dependencies (#18473)
  Gemfile
  Gemfile.lock
Due: none

DEV: removes legacy code (#18486)
  app/models/topic.rb
Due: rubocop

DEV: Delete reviewable associations when deleting (#18472)
  app/models/reviewable.rb
  spec/models/reviewable_spec.rb
Due: rubocop

FIX: Ability to trigger emoji after indented code block (#18478)
  app/assets/javascripts/discourse/app/lib/utilities.js
  app/assets/javascripts/discourse/tests/unit/lib/utilities-test.js
Due: prettier, eslint

DEV: Add a rake task to export/import translation overrides (#18487)
  lib/import_export.rb
  lib/import_export/base_exporter.rb
  lib/import_export/importer.rb
  lib/import_export/translation_overrides_exporter.rb
  lib/tasks/export.rake
  spec/fixtures/json/import-export.json
  spec/import_export/importer_spec.rb
Due: rubocop

DEV: Remove contextual topic list linking behaviour in sidebar (#18485)
  app/assets/javascripts/discourse/app/lib/sidebar/common/community-section/everything-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/categories-section/category-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/tracked-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/tags-section/tag-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
Due: prettier, eslint

FIX: watched topic overcome muted category (#18480)
  app/assets/javascripts/discourse/app/models/topic-tracking-state.js
  app/assets/javascripts/discourse/tests/unit/models/topic-tracking-state-test.js
  app/jobs/regular/notify_mailing_list_subscribers.rb
  app/models/topic_tracking_state.rb
  app/models/user.rb
Due: rubocop, prettier, eslint

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
