Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

A11Y: Add `aria-label`s to topics list column headers
  app/assets/javascripts/discourse/app/templates/topic-list-header.hbr
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

A11Y: Add aria-label to the Replies cell in topics list
  app/assets/javascripts/discourse/app/templates/list/posts-count-column.hbr
Due: none

A11Y: Improve topic entrance modal
  app/assets/javascripts/discourse/app/components/topic-entrance.js
  app/assets/javascripts/discourse/app/templates/components/topic-entrance.hbs
  app/assets/javascripts/discourse/tests/acceptance/topic-entrance-test.js
  config/locales/client.en.yml
Due: prettier, eslint, yaml-syntax, i18n-lint

A11Y: Make the views column in topics lists tabbable
  app/assets/javascripts/discourse/app/templates/list/topic-list-item.hbr
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FIX: Add `errors` field if group update confirmation (#16260)
  app/assets/javascripts/discourse/app/components/group-manage-save-button.js
  app/assets/javascripts/discourse/app/lib/ajax.js
  app/controllers/application_controller.rb
  app/controllers/groups_controller.rb
  spec/requests/groups_controller_spec.rb
Due: rubocop, prettier, eslint

UX: cleaner messages for empty state on the user activity topics page (#16267)
  app/assets/javascripts/discourse/app/routes/discourse.js
  app/assets/javascripts/discourse/app/routes/user-activity-drafts.js
  app/assets/javascripts/discourse/app/routes/user-activity-stream.js
  app/assets/javascripts/discourse/app/routes/user-activity-topics.js
  app/assets/javascripts/discourse/tests/acceptance/user-activity-topic-test.js
  config/locales/client.en.yml
Due: prettier, eslint, yaml-syntax, i18n-lint

DEV: Fix "serialize to JSON safely" deprecation (#16280)
  app/models/user.rb
Due: rubocop

DEV: Remove old link building code. (#16121)
  app/serializers/reviewable_score_serializer.rb
Due: rubocop

DEV: Make tests more resilient (#16279)
  spec/requests/session_controller_spec.rb
Due: rubocop

DEV: Promote historic post_deploy migrations (#16288)
  db/migrate/20210125100452_migrate_search_data_after_default_locale_rename.rb
  db/migrate/20210127140730_undo_add_processed_to_notifications.rb
  db/migrate/20210207232853_fix_topic_timer_duration_minutes.rb
  db/migrate/20210215231312_fix_group_flair_avatar_upload_security_and_acls.rb
  db/migrate/20210218022739_move_new_since_to_new_table_again.rb
  db/migrate/20210219171329_drop_old_sso_site_settings.rb
  db/migrate/20210302164429_drop_flash_onebox_site_setting.rb
  db/migrate/20210324043327_delete_orphan_post_revisions.rb
  db/migrate/20210328233843_fix_bookmarks_with_incorrect_topic_id.rb
  script/promote_migrations
Due: rubocop

FIX: Bug setting notification level to muted/ignored on user page (#16268)
  app/assets/javascripts/discourse/app/controllers/ignore-duration.js
  app/assets/javascripts/discourse/app/controllers/user.js
  app/assets/javascripts/discourse/app/templates/modal/ignore-duration.hbs
  app/assets/javascripts/discourse/tests/acceptance/user-test.js
  app/controllers/users_controller.rb
  config/locales/server.en.yml
  spec/requests/users_controller_spec.rb
Due: rubocop, prettier, eslint, yaml-syntax, i18n-lint

DEV: Rename param passed to updateNotificationLevel (#16289)
  app/assets/javascripts/discourse/app/controllers/user.js
Due: prettier, eslint

FIX: Do not wrap unaccent around tsqueries (#16284)
  lib/search.rb
  spec/models/topic_spec.rb
Due: rubocop

DEV: Be more lenient in CLI confirmation (#16290)
  script/discourse
Due: none

DEV: Make Bookmark#post_id column nullable (#16287)
  app/models/bookmark.rb
  db/post_migrate/20220325064954_make_some_bookmark_columns_nullable.rb
Due: rubocop

DEV: Remove underscore versions of TextareaTextManipulation functions (#16285)
  app/assets/javascripts/discourse/app/mixins/textarea-text-manipulation.js
Due: prettier, eslint

DEV: Register question_answer_user_commented notification type. (#16297)
  app/assets/javascripts/discourse/tests/fixtures/concerns/notification-types.js
  app/models/notification.rb
  spec/requests/api/schemas/json/site_response.json
Due: rubocop, prettier, eslint

FEATURE: Support upload:// urls in img tags (#16277)
  app/assets/javascripts/pretty-text/engines/discourse-markdown/upload-protocol.js
  spec/lib/pretty_text_spec.rb
Due: rubocop, prettier, eslint

DEV: Add polyfill for `String.prototype.replaceAll` (#16301)
  app/assets/javascripts/browser-detect.js
  app/assets/javascripts/polyfills.js
Due: prettier, eslint

FIX: Show restricted groups warning when necessary (#16236)
  app/assets/javascripts/discourse/app/controllers/share-topic.js
  app/assets/javascripts/discourse/tests/acceptance/share-topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
Due: prettier, eslint

DEV: Add additional outlet to user-card next to `message` button (#16300)
  app/assets/javascripts/discourse/app/templates/components/user-card-contents.hbs
  app/assets/stylesheets/mobile/components/user-card.scss
Due: prettier-scss

FIX: Resetting selectable avatars was failing (#16302)
  lib/site_setting_extension.rb
  spec/lib/site_setting_extension_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
