Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: Current title wasn't visible when assigning badge title
  app/assets/javascripts/discourse/app/components/badge-title.js
  app/assets/javascripts/discourse/app/controllers/badges/show.js
  test/javascripts/components/badge-title-test.js
Due: prettier, eslint-js

FIX: improve Vanilla importing (#10478)
  script/import_scripts/vanilla_body_parser.rb
  script/import_scripts/vanilla_mysql.rb
  spec/fixtures/images/vanilla_import/393/5QR3BX57K7HM.pdf
  spec/fixtures/images/vanilla_import/569/ZSM5T09U03WE.png
  spec/fixtures/json/vanilla-rich-posts.json
  spec/script/import_scripts/vanilla_body_parser_spec.rb
Due: rubocop

FIX: group categories inputs not filled sometimes
  app/assets/javascripts/discourse/app/models/group.js
Due: prettier, eslint-js

FIX: duplicate categories and tags allowed in inputs where they shouldn't be allowed
  app/assets/javascripts/discourse/app/templates/group/manage/categories.hbs
  app/assets/javascripts/discourse/app/templates/preferences/categories.hbs
  app/assets/javascripts/discourse/app/templates/preferences/tags.hbs
Due: none

FIX: limit number of users addable to group at once (#10510)
  app/controllers/groups_controller.rb
  config/locales/server.en.yml
  spec/requests/groups_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

DEV: Ensure test resets to original constant.
  spec/requests/groups_controller_spec.rb
Due: rubocop

DEV: allow plugins to send extra silenced message params
  app/services/user_silencer.rb
Due: rubocop

Revert "DEV: allow plugins to send extra silenced message params"
  app/services/user_silencer.rb
Due: rubocop

DEV: Remove hasBlock from user-info component (#10415)
  app/assets/javascripts/discourse/app/components/user-info.js
Due: prettier, eslint-js

UX: Minor layout fixes and improved consistency on theme admin
  app/assets/javascripts/admin/templates/customize-themes-show.hbs
  app/assets/stylesheets/common/admin/customize.scss
Due: none

DEV: Disable migration advisory locks in dev and test environment.
  config/database.yml
Due: none

fix: 🐛 category & tag search regex to support thai character
  lib/search.rb
Due: rubocop

test: 💍 add test for thai tag
  spec/components/search_spec.rb
Due: rubocop

UX: Timeline should jump to the bottom of the post in single-post topics (#10503)
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/lib/url.js
Due: prettier, eslint-js

Use quotes instead of grave accent
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

DEV: Don't lint core files when target == plugins (#10259)
  .eslintignore
  .github/workflows/ci.yml
  .prettierignore
  package.json
  yarn.lock
Due: yaml-syntax

DEV: Remove unused code and translations
  app/assets/javascripts/discourse/app/components/topic-join-group-notice.js
  app/assets/javascripts/discourse/app/templates/components/topic-join-group-notice.hbs
  app/assets/stylesheets/desktop/topic.scss
  app/assets/stylesheets/mobile/topic.scss
  app/controllers/groups_controller.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: DEV: Lock-on improvements (#10448)
  app/assets/javascripts/discourse/app/lib/lock-on.js
Due: prettier, eslint-js

Merge pull request #10519 from gschlager/get-url
  app/assets/javascripts/admin/controllers/admin-dashboard-general.js
  app/assets/javascripts/admin/templates/dashboard_general.hbs
  app/assets/javascripts/discourse-common/addon/helpers/get-url.js
  app/assets/javascripts/discourse-common/addon/lib/get-url.js
  app/assets/javascripts/discourse/app/components/suggested-topics.js
  app/assets/javascripts/discourse/app/controllers/forgot-password.js
  app/assets/javascripts/discourse/app/models/topic-details.js
  app/assets/javascripts/discourse/app/templates/modal/bookmark.hbs
  test/javascripts/lib/get-url-test.js
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
