Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Add template linting to the CI workflow (#10821)
  .github/workflows/ci.yml
Due: yaml-syntax

REFACTOR: Removes double check of site setting in badge granter
  app/services/badge_granter.rb
Due: rubocop

REFACTOR: Support importing of `Pretender`
  app/assets/javascripts/discourse-loader.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  app/assets/javascripts/wizard/test/test_helper.js
  app/assets/javascripts/wizard/test/wizard-pretender.js
Due: prettier, eslint-js

FIX: Escaped `mailto` URLs would raise an exception
  lib/url_helper.rb
  spec/components/url_helper_spec.rb
Due: rubocop

Remove "further reading" step from wizard (#10825)
  app/assets/javascripts/wizard/components/popular-themes.js
  app/assets/javascripts/wizard/templates/components/popular-themes.hbs
  app/assets/stylesheets/wizard.scss
  config/locales/server.en.yml
  lib/wizard/builder.rb
  public/images/wizard/further-reading.png
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

Bump discourse-fonts to 0.0.5 (#10829)
  Gemfile.lock
Due: none

FIX: Handle poll titles when headings are present (#10832)
  plugins/poll/assets/javascripts/lib/discourse-markdown/poll.js.es6
  plugins/poll/spec/lib/pretty_text_spec.rb
Due: rubocop, prettier, eslint-es6

DEV: Do not render header in wizard preview when logo is missing (#10835)
  app/assets/javascripts/wizard/components/font-preview.js
Due: prettier, eslint-js

FIX: Find noscript element with crawler content (#10834)
  vendor/assets/javascripts/browser-update.js.erb
Due: none

FEATURE: bulk remove tags (#10831)
  app/assets/javascripts/discourse/app/controllers/topic-bulk-actions.js
  config/locales/client.en.yml
  lib/topics_bulk_action.rb
  spec/components/topics_bulk_action_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Correctly render title-less poll widgets (#10837)
  plugins/poll/assets/javascripts/widgets/discourse-poll.js.es6
  plugins/poll/test/javascripts/widgets/discourse-poll-test.js.es6
Due: prettier, eslint-es6

FIX: fixes regression where wizard dropdown couldn't update (#10838)
  app/assets/javascripts/wizard/templates/components/wizard-field-dropdown.hbs
Due: none

SECURITY: Ensure users can see the topic before setting a topic timer. (#10841)
  app/controllers/topics_controller.rb
  app/jobs/regular/publish_topic_to_category.rb
  spec/jobs/publish_topic_to_category_spec.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop

User export: profile as json, export auth token logs (#10819)
  app/jobs/regular/export_user_archive.rb
  spec/jobs/export_user_archive_spec.rb
Due: rubocop

FIX: When admin changes an email for the user the user must confirm the change (#10830)
  app/assets/javascripts/discourse/app/controllers/preferences/email.js
  app/assets/javascripts/discourse/app/templates/preferences-email.hbs
  app/controllers/users_email_controller.rb
  app/jobs/regular/user_email.rb
  app/mailers/user_notifications.rb
  app/models/email_change_request.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  db/migrate/20201006021020_add_requested_by_to_email_change_request.rb
  lib/email_updater.rb
  spec/components/email_updater_spec.rb
  spec/jobs/user_email_spec.rb
  spec/mailers/user_notifications_spec.rb
  spec/requests/users_email_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

PERF: Introduce absolute limit of digests per 30 minutes (#10845)
  app/jobs/scheduled/enqueue_digest_emails.rb
  config/discourse_defaults.conf
  spec/jobs/enqueue_digest_emails_spec.rb
Due: rubocop

FIX: Use getAttribute instead of dataset (#10848)
  vendor/assets/javascripts/browser-update.js.erb
Due: none
