Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: optimizes sk body position in RTL mode (#10997)
  app/assets/javascripts/select-kit/addon/components/select-kit.js
  app/assets/javascripts/select-kit/addon/components/topic-notifications-button.js
  app/assets/javascripts/select-kit/addon/templates/components/topic-notifications-button.hbs
Due: prettier, eslint-js

minor changes in site settings
  config/site_settings.yml
Due: yaml-syntax

EDIT: specs and translation updated
  config/locales/server.en.yml
  spec/components/guardian_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: invite users with sufficient trust level
  config/locales/server.en.yml
  config/site_settings.yml
  lib/guardian.rb
  spec/components/guardian_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: Properly handle quotes and backslash in `Search.set_tsquery_weight_filter`
  lib/search.rb
  spec/components/search_spec.rb
Due: rubocop

FIX: removes duplicate “ and adds ‘ and ’ (#11010)
  plugins/discourse-local-dates/assets/javascripts/lib/discourse-markdown/discourse-local-dates.js.es6
Due: prettier, eslint-es6

FIX: Add check for youtube thumbnail (#11000)
  app/assets/javascripts/discourse/app/initializers/ensure-max-image-dimensions.js
Due: prettier, eslint-js

FIX: Only include last_posted_at if there's a topic_user object. (#11011)
  app/assets/javascripts/discourse/app/components/slow-mode-info.js
  app/serializers/topic_view_serializer.rb
  spec/serializers/topic_view_serializer_spec.rb
Due: rubocop, prettier, eslint-js

FIX: State is leaking between tests, causing flakey failures
  app/assets/javascripts/discourse/tests/acceptance/user-bookmarks-test.js
Due: prettier, eslint-js

FEATURE: allow category group moderators to edit posts (#11005)
  lib/guardian/post_guardian.rb
  spec/components/guardian_spec.rb
  spec/requests/posts_controller_spec.rb
Due: rubocop

FEATURE - ImageMagick jpeg quality (#11004)
  app/models/optimized_image.rb
  app/models/upload.rb
  config/locales/server.en.yml
  config/site_settings.yml
  lib/upload_creator.rb
  spec/lib/upload_creator_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

UX: Move category editing/creation to its own page (#10973)
  app/assets/javascripts/discourse/app/components/edit-category-general.js
  app/assets/javascripts/discourse/app/components/edit-category-panel.js
  app/assets/javascripts/discourse/app/controllers/edit-category.js
  app/assets/javascripts/discourse/app/routes/app-route-map.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/routes/discovery-categories.js
  app/assets/javascripts/discourse/app/routes/discovery-edit-category.js
  app/assets/javascripts/discourse/app/routes/discovery-edit-child-category.js
  app/assets/javascripts/discourse/app/routes/new-category.js
  app/assets/javascripts/discourse/app/templates/components/edit-category-tags.hbs
  app/assets/javascripts/discourse/app/templates/edit-category.hbs
  app/assets/javascripts/discourse/app/templates/modal/edit-category.hbs
  app/assets/javascripts/discourse/tests/acceptance/category-edit-test.js
  app/assets/javascripts/discourse/tests/acceptance/category-new-test.js
  app/assets/javascripts/discourse/tests/fixtures/site-fixtures.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/base/edit-category.scss
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/desktop/edit-category.scss
  app/assets/stylesheets/desktop/modal.scss
  app/assets/stylesheets/mobile/edit-category.scss
  app/assets/stylesheets/mobile/modal.scss
  config/locales/client.en.yml
  config/routes.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

Add new `cloneJSON` method for cloning an object
  app/assets/javascripts/discourse-common/addon/lib/object.js
  app/assets/javascripts/discourse/tests/acceptance/user-bookmarks-test.js
Due: prettier, eslint-js

UX: improve error message for already logged in users (#11020)
  app/controllers/invites_controller.rb
  config/locales/server.en.yml
  spec/requests/invites_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint
