Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Include `login_required` attribute in basic info endpoint (#14064)
  app/controllers/site_controller.rb
  spec/requests/site_controller_spec.rb
Due: rubocop

FIX: Do not display the color scheme ID in interface dropdown (#14066)
  app/assets/javascripts/discourse/app/controllers/preferences/interface.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-interface-test.js
Due: prettier, eslint-js

FIX: uses keyUp as widgets dont handle bubbling (#14068)
  app/assets/javascripts/discourse/app/widgets/search-menu-controls.js
Due: prettier, eslint-js

DEV: Allow passing a category parameter when importing a topic (#14069)
  app/models/topic_embed.rb
  spec/models/topic_embed_spec.rb
Due: rubocop

FIX: Move bookmark modal buttons into modal-footer (#14072)
  app/assets/javascripts/discourse/app/templates/components/bookmark.hbs
  app/assets/stylesheets/common/components/bookmark-modal.scss
Due: none

DEV: Remove experimental uploader notice in composer (#14074)
  app/assets/javascripts/discourse/app/components/composer-editor-uppy.js
  app/assets/javascripts/discourse/app/templates/components/composer-editor.hbs
Due: prettier, eslint-js

FIX: if the category slug is not present then search via ID (#14060)
  app/assets/javascripts/discourse/app/components/search-advanced-options.js
  app/assets/javascripts/discourse/tests/acceptance/search-full-test.js
  app/assets/javascripts/discourse/tests/fixtures/site-fixtures.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/category-chooser-test.js
Due: prettier, eslint-js

FIX: Unread group PMs should use `GroupUser#first_unread_pm_at`. (#14075)
  lib/topic_query/private_message_lists.rb
  spec/lib/topic_query/private_message_lists_spec.rb
Due: rubocop

FIX: Make site tasks work with duplicated uploads (#13972)
  lib/tasks/site.rake
Due: none

FIX: log proper error message when SSO nonce verification fails (#14077)
  app/controllers/session_controller.rb
  app/models/discourse_single_sign_on.rb
  lib/single_sign_on.rb
  spec/models/discourse_single_sign_on_spec.rb
Due: rubocop

FIX: Remove markers from all translated languages (#14081)
  lib/email/receiver.rb
  spec/components/email/receiver_spec.rb
  spec/fixtures/emails/previous_replies_de.eml
  spec/fixtures/emails/reply_above_de.eml
Due: rubocop

FIX: add a string for the Unseen view tab tooltip (#14079)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FIX: Include tags in quick search suggestions (#14080)
  app/assets/javascripts/discourse/app/widgets/search-menu-results.js
  app/assets/javascripts/discourse/app/widgets/search-menu.js
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
  app/assets/stylesheets/common/base/search-menu.scss
Due: prettier, eslint-js

FIX: Bookmark delete button alignment in modal-footer (#14087)
  app/assets/javascripts/discourse/app/templates/components/bookmark.hbs
  app/assets/stylesheets/common/components/bookmark-modal.scss
Due: none

FIX: do not show default locale option on site text customization (#14083)
  app/assets/javascripts/admin/addon/templates/site-text-index.hbs
Due: none

FIX: Revoking admin or moderator status doesn't require refresh to delete/anonymize/merge user (#14073)
  app/assets/javascripts/admin/addon/models/admin-user.js
  app/controllers/admin/users_controller.rb
  spec/requests/admin/users_controller_spec.rb
Due: rubocop, prettier, eslint-js

FIX: Deprecated method should still behave the same. (#14067)
  app/controllers/posts_controller.rb
  spec/requests/posts_controller_spec.rb
Due: rubocop

UX: do not show selected composer education messages on whisper post (#14078)
  app/assets/javascripts/discourse/app/components/composer-messages.js
  app/assets/javascripts/discourse/app/controllers/composer.js
  lib/composer_messages_finder.rb
Due: rubocop, prettier, eslint-js

FIX: Make themes:update work with multisites (#14082)
  lib/tasks/themes.rake
Due: none

FIX: pick-files-button component (#14045)
  app/assets/javascripts/discourse/app/components/pick-files-button.js
  app/assets/javascripts/discourse/tests/integration/components/pick-files-button-tests.js
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
