Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

UX: Add auto focus to hamburger and user menu dropdowns (#13165)
  app/assets/javascripts/discourse/app/widgets/header.js
Due: prettier, eslint-js

FIX: automatically expire bad push channels (#13156)
  app/models/push_subscription.rb
  app/services/push_notification_pusher.rb
  db/migrate/20210526053611_add_error_count_to_push_subscriptions.rb
  spec/services/push_notification_pusher_spec.rb
Due: rubocop

FIX: We can't use `?.` yet (#13168)
  app/assets/javascripts/discourse/app/widgets/header.js
Due: prettier, eslint-js

FIX: no error when double save post with poll (#13111)
  plugins/poll/plugin.rb
  plugins/poll/spec/models/poll_spec.rb
Due: rubocop

FEATURE: Flarum import script (#13139)
  script/import_scripts/flarum_import.rb
Due: rubocop

UX: Make search result styles more consistent (#13174)
  app/assets/stylesheets/common/base/_topic-list.scss
  app/assets/stylesheets/common/base/search-menu.scss
  app/assets/stylesheets/common/base/search.scss
Due: none

UX: unconditionally focus modals (#13179)
  app/assets/javascripts/discourse/app/components/d-modal.js
Due: prettier, eslint-js

DEV: Do not prompt to run `yarn` in dev env (#13167)
  app/views/layouts/ember_cli.html.erb
Due: none

UX: Twitter onebox layout adjustments (#13181)
  app/assets/stylesheets/common/base/onebox.scss
  app/assets/stylesheets/common/d-editor.scss
  lib/onebox/engine/twitter_status_onebox.rb
  lib/onebox/templates/twitterstatus.mustache
Due: rubocop

UX: alert screen readers when there is an issue saving a post (#13182)
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/components/popup-input-tip.js
Due: prettier, eslint-js

Various GitHub Onebox improvements (#13163)
  app/assets/javascripts/discourse/app/initializers/post-decorations.js
  app/assets/stylesheets/common/base/onebox.scss
  lib/onebox/engine/github_actions_onebox.rb
  lib/onebox/engine/github_folder_onebox.rb
  lib/onebox/mixins/github_body.rb
  lib/onebox/templates/githubactions.mustache
  lib/onebox/templates/githubfolder.mustache
  spec/fixtures/onebox/githubactions_actions_run.response
  spec/fixtures/onebox/githubactions_pr.response
  spec/fixtures/onebox/githubactions_pr_run.response
  spec/fixtures/onebox/githubpullrequest.response
  spec/lib/onebox/engine/github_actions_onebox_spec.rb
  spec/lib/onebox/engine/github_pullrequest_onebox_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Enable optional chaining in all contexts (#13180)
  app/assets/javascripts/discourse/app/widgets/header.js
  lib/discourse_js_processor.rb
Due: rubocop, prettier, eslint-js

UX: Show grandparent category badge in sticky header on desktop (#13184)
  app/assets/javascripts/discourse/app/widgets/header-topic-info.js
Due: prettier, eslint-js

FEATURE: Use path from existing URL of uploads and optimized images (#13177)
  lib/file_store/base_store.rb
  lib/file_store/local_store.rb
  lib/file_store/s3_store.rb
  lib/shrink_uploaded_image.rb
  spec/components/email/sender_spec.rb
  spec/components/file_store/base_store_spec.rb
  spec/components/file_store/local_store_spec.rb
  spec/components/file_store/s3_store_spec.rb
  spec/fabricators/upload_fabricator.rb
  spec/models/upload_spec.rb
  spec/multisite/s3_store_spec.rb
Due: rubocop

FEATURE: Silence watched word (#13160)
  app/models/watched_word.rb
  app/services/word_watcher.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  lib/new_post_manager.rb
  spec/requests/posts_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

DEV: Simplify watched word code (#13103)
  app/assets/javascripts/admin/addon/components/watched-word-form.js
  app/assets/javascripts/admin/addon/controllers/admin-watched-words-action.js
  app/assets/javascripts/admin/addon/controllers/admin-watched-words.js
  app/assets/javascripts/admin/addon/models/watched-word.js
  app/assets/javascripts/admin/addon/routes/admin-watched-words-action.js
  app/assets/javascripts/admin/addon/routes/admin-watched-words.js
  app/assets/javascripts/admin/addon/templates/watched-words-action.hbs
  app/assets/javascripts/admin/addon/templates/watched-words.hbs
  app/assets/javascripts/pretty-text/engines/discourse-markdown/censored.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/watched-words-replace.js
  app/serializers/watched_word_list_serializer.rb
Due: rubocop, prettier, eslint-js

FEATURE: Show an error message if regex is invalid (#13164)
  app/assets/javascripts/admin/addon/controllers/admin-watched-words-action.js
  app/assets/javascripts/admin/addon/templates/watched-words-action.hbs
  app/assets/javascripts/discourse/tests/acceptance/admin-watched-words-test.js
  app/serializers/watched_word_serializer.rb
  config/locales/client.en.yml
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Stubbing "Rails.env.production?" introduces a lot of flakiness. (#13188)
  spec/requests/qunit_controller_spec.rb
Due: rubocop

FEATURE: Enable pausing images from Giphy and Tenor (#13185)
  lib/cooked_post_processor.rb
  spec/components/cooked_post_processor_spec.rb
Due: rubocop

FIX: don't update `allow_title` column of existing badges in seed. (#13190)
  app/models/badge.rb
  spec/models/badge_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
