Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: simplifies updating searchedTerms from connectors (#10674)
  app/assets/javascripts/discourse/app/components/search-advanced-options.js
  app/assets/javascripts/discourse/app/templates/components/search-advanced-options.hbs
Due: prettier, eslint-js

FIX: img width and height should be in quotes (#10675)
  app/assets/javascripts/discourse/app/templates/components/emoji-picker.hbs.erb
Due: none

UX: Remove extraneous ellipsis after "loading"
  app/assets/javascripts/admin/templates/badges-show.hbs
Due: none

FIX: topic progress wrapper positioning regression
  app/assets/stylesheets/desktop/topic.scss
Due: none

FEATURE: Allow admins to delete user SSO records in the UI (#10669)
  app/assets/javascripts/admin/controllers/admin-user-index.js
  app/assets/javascripts/admin/models/admin-user.js
  app/assets/javascripts/admin/templates/user-index.hbs
  app/assets/stylesheets/common/admin/users.scss
  app/controllers/admin/users_controller.rb
  app/serializers/admin_detailed_user_serializer.rb
  config/locales/client.en.yml
  config/routes.rb
  lib/guardian/user_guardian.rb
  spec/requests/admin/users_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

Create proper shim for xss library - second attempt
  app/assets/javascripts/discourse-shims.js
  app/assets/javascripts/pretty-text-bundle.js
  app/assets/javascripts/pretty-text/addon/sanitizer.js
  app/assets/javascripts/pretty-text/addon/xss.js
Due: prettier, eslint-js

FIX: Missing files from previous commit
  lib/pretty_text.rb
  lib/pretty_text/shims.js
  lib/pretty_text/vendor-shims.js
Due: rubocop, prettier, eslint-js

SECURITY: __ws shouldn't be able to override every domain in multisite
  config/initializers/200-first_middlewares.rb
Due: rubocop

FIX: Clear stylesheet cache on base font change
  config/initializers/014-track-setting-changes.rb
  lib/stylesheet/manager.rb
  spec/components/stylesheet/manager_spec.rb
Due: rubocop

Update translations
  config/locales/client.ko.yml
  config/locales/client.nl.yml
  config/locales/client.ru.yml
  config/locales/client.sv.yml
  config/locales/server.ko.yml
  config/locales/server.sv.yml
  plugins/discourse-local-dates/config/locales/client.ko.yml
  plugins/discourse-narrative-bot/config/locales/server.ko.yml
  plugins/discourse-narrative-bot/config/locales/server.sv.yml
Due: yaml-syntax

Update rails_failover to 0.5.7.
  Gemfile.lock
Due: none

FIX: category slug route was not working for subfolder setup
  app/controllers/list_controller.rb
  spec/requests/list_controller_spec.rb
Due: rubocop

FIX: attempts to make autofocus more resilient in modals (#10680)
  app/assets/javascripts/discourse/app/components/d-modal.js
  app/assets/javascripts/discourse/app/controllers/insert-hyperlink.js
Due: prettier, eslint-js

Update translations
  config/locales/client.ko.yml
  config/locales/client.ru.yml
  config/locales/server.ko.yml
  plugins/discourse-details/config/locales/server.ko.yml
  plugins/discourse-local-dates/config/locales/client.ko.yml
  plugins/discourse-local-dates/config/locales/server.ko.yml
  plugins/discourse-narrative-bot/config/locales/client.ko.yml
  plugins/discourse-narrative-bot/config/locales/server.ko.yml
  plugins/discourse-presence/config/locales/client.ko.yml
  plugins/discourse-presence/config/locales/server.ko.yml
  plugins/poll/config/locales/client.ko.yml
  plugins/poll/config/locales/server.ko.yml
  public/403.ko.html
  public/422.ko.html
  public/503.ko.html
Due: yaml-syntax

UI: minor size/spacing inconsistencies in search advanced options (#10681)
  app/assets/stylesheets/common/base/search.scss
Due: none

FIX: uses get() on properties of groups/badges which could be POJOs (#10682)
  app/assets/javascripts/discourse/app/models/user.js
Due: prettier, eslint-js

FIX: N+1 for admins viewing groups page
  app/serializers/basic_group_serializer.rb
  app/serializers/group_show_serializer.rb
  spec/serializers/basic_group_serializer_spec.rb
  spec/serializers/group_show_serializer_spec.rb
Due: rubocop

FIX: don't show Tags tab in group management if tags are disabled
  app/assets/javascripts/discourse/app/controllers/group-manage.js
  app/serializers/group_show_serializer.rb
Due: rubocop, prettier, eslint-js

FIX: group tag notifications included for all users
  app/serializers/group_show_serializer.rb
  spec/serializers/group_show_serializer_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
