Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: ensures average is applied on last incomplete segment (#13472)
  app/assets/javascripts/admin/addon/models/report.js
Due: prettier, eslint-js

FIX: ShrinkUploadedImage was broken since cb12a721 (#13474)
  lib/shrink_uploaded_image.rb
Due: rubocop

DEV: Remove IntersectionObserver polyfill (#13445)
  app/assets/javascripts/discourse/app/components/emoji-picker.js
  app/assets/javascripts/vendor.js
  app/assets/stylesheets/common/base/emoji.scss
  lib/tasks/javascript.rake
  package.json
  vendor/assets/javascripts/intersection-observer.js
  yarn.lock
Due: prettier, eslint-js

DEV: Remove leftover reference to intersection-observer (#13478)
  app/assets/javascripts/discourse/tests/theme_qunit_vendor.js
Due: prettier, eslint-js

FIX: `fix_missing_s3` rake task could fail due to missing upload (#13479)
  lib/tasks/uploads.rake
Due: none

DEV: Promote old post-deploy migrations to pre-deploy migrations (#13477)
  db/migrate/20180917024729_remove_superfluous_columns.rb
  db/migrate/20180917034056_remove_superfluous_tables.rb
  db/migrate/20181012123001_drop_group_locked_trust_level_from_user.rb
  db/migrate/20181112013117_migrate_url_site_settings.rb
  db/migrate/20190103065652_remove_uploaded_meta_id_from_category.rb
  db/migrate/20190121203023_drop_queued_post_id_from_user_actions.rb
  db/migrate/20190123171817_drop_queued_posts.rb
  db/migrate/20190205104116_drop_unused_auth_tables.rb
  db/migrate/20190208144706_drop_unused_auth_tables_again.rb
  db/migrate/20190312194528_drop_email_user_options_columns.rb
  db/migrate/20190508141824_drop_claimed_by_id.rb
  db/migrate/20190716124050_remove_via_email_from_invite.rb
  db/migrate/20191107032231_change_notification_level.rb
  db/migrate/20191107190330_remove_suppress_from_latest_from_category.rb
  db/migrate/20191129144706_drop_unused_google_instagram_auth_tables.rb
  db/migrate/20191219112000_remove_key_from_api_keys.rb
  db/migrate/20200117174646_make_post_reply_id_column_read_only.rb
  db/migrate/20200120131338_drop_unused_columns.rb
  db/migrate/20200330233427_drop_old_unread_pm_notification_indices.rb
  db/migrate/20200408121312_remove_key_from_user_api_key.rb
  db/migrate/20200415140830_drop_automatic_membership_retroactive_from_group.rb
  db/migrate/20200424032633_remove_canonical_email_from_user_emails.rb
  db/migrate/20200430010528_remove_avg_time_from_topics_posts.rb
  db/migrate/20200508141209_allow_null_old_email_on_email_change_requests.rb
  db/migrate/20200513185052_drop_topic_reply_count.rb
  db/migrate/20200520001619_remove_fks_from_bookmarks.rb
  db/migrate/20200522004855_remove_access_control_post_fk.rb
  db/migrate/20200601111500_remove_image_url_from_post_and_topic.rb
  db/migrate/20200610150900_correct_posts_schema.rb
  lib/migration/safe_migrate.rb
Due: rubocop

FIX: Ignore posts needing approval when calculating reviewable counts. (#13464)
  lib/topic_view.rb
  spec/components/topic_view_spec.rb
Due: rubocop

FEATURE: Make max number of favorite configurable (#13480)
  app/assets/javascripts/discourse/app/controllers/user-badges.js
  app/assets/javascripts/discourse/app/models/user-badge.js
  app/assets/javascripts/discourse/app/templates/user/badges.hbs
  app/assets/stylesheets/common/base/user-badges.scss
  app/assets/stylesheets/common/components/user-card.scss
  app/assets/stylesheets/desktop/components/user-card.scss
  app/assets/stylesheets/mobile/components/user-card.scss
  app/controllers/user_badges_controller.rb
  app/models/user.rb
  app/serializers/detailed_user_badge_serializer.rb
  config/locales/server.en.yml
  config/site_settings.yml
  spec/requests/user_badges_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Do not re-throw in popupAjaxError (#13462)
  app/assets/javascripts/discourse/app/lib/ajax-error.js
  app/assets/javascripts/discourse/tests/acceptance/group-manage-email-settings-test.js
Due: prettier, eslint-js

DEV: Plugin API to add directory columns (#13440)
  app/assets/javascripts/discourse/app/components/table-header-toggle.js
  app/assets/javascripts/discourse/app/controllers/edit-user-directory-columns.js
  app/assets/javascripts/discourse/app/controllers/users.js
  app/assets/javascripts/discourse/app/helpers/directory-item-helpers.js
  app/assets/javascripts/discourse/app/helpers/directory-item-label.js
  app/assets/javascripts/discourse/app/helpers/directory-item-user-field-value.js
  app/assets/javascripts/discourse/app/helpers/directory-item-value.js
  app/assets/javascripts/discourse/app/routes/users.js
  app/assets/javascripts/discourse/app/templates/components/directory-item.hbs
  app/assets/javascripts/discourse/app/templates/components/directory-table.hbs
  app/assets/javascripts/discourse/app/templates/group-index.hbs
  app/assets/javascripts/discourse/app/templates/group-requests.hbs
  app/assets/javascripts/discourse/app/templates/mobile/components/directory-item.hbs
  app/assets/javascripts/discourse/app/templates/modal/edit-user-directory-columns.hbs
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  app/assets/javascripts/discourse/tests/setup-tests.js
  app/controllers/application_controller.rb
  app/controllers/directory_columns_controller.rb
  app/controllers/directory_items_controller.rb
  app/controllers/edit_directory_columns_controller.rb
  app/models/directory_column.rb
  app/models/directory_item.rb
  app/serializers/directory_column_serializer.rb
  app/serializers/directory_item_serializer.rb
  app/serializers/edit_directory_column_serializer.rb
  config/routes.rb
  db/migrate/20210618135229_reintroduce_type_to_directory_columns.rb
  lib/discourse_event.rb
  lib/plugin/instance.rb
  spec/components/discourse_event_spec.rb
  spec/components/plugin/instance_spec.rb
  spec/requests/admin/user_fields_controller_spec.rb
  spec/requests/directory_columns_controller_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Refactor custom svg icon caching (#13483)
  lib/svg_sprite/svg_sprite.rb
  spec/components/svg_sprite/svg_sprite_spec.rb
  spec/fixtures/plugins/my_plugin/svg-icons/custom.svg
Due: rubocop

FIX: Absolute path for directory-columns.json (#13488)
  app/assets/javascripts/discourse/app/routes/users.js
Due: prettier, eslint-js

FIX: Ignore missing uploads in theme settings (#13486)
  app/models/theme.rb
  spec/models/theme_spec.rb
Due: rubocop

DEV: Remove a perf fix that's no longer needed
  lib/freedom_patches/performance_fixes.rb
Due: rubocop

DEV: Fix failing directory-columns ember CLI tests (#13490)
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
Due: prettier, eslint-js

DEV: Introduce `TemporaryRedis` and unset `DISCOURSE_*` env vars in the `themes:isolated_test` rake task (#13401)
  lib/tasks/qunit.rake
  lib/tasks/themes.rake
  lib/temporary_redis.rb
Due: rubocop

FIX: Make favorite work with multiple grant badges (#13492)
  app/controllers/user_badges_controller.rb
  spec/requests/user_badges_controller_spec.rb
Due: rubocop

DEV: Add a way to exclude ENV vars from getting unset in `themes:isolated_test` (#13494)
  lib/tasks/themes.rake
Due: none

DEV: Do not add proxy argument when running ember-cli test (#13498)
  bin/ember-cli
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
