Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: ensures validValues is an array (#13435)
  app/assets/javascripts/admin/addon/mixins/setting-object.js
Due: prettier, eslint-js

FIX: Mobile layout for watched words admin UI (#13427)
  app/assets/javascripts/admin/addon/controllers/admin-watched-words.js
  app/assets/javascripts/admin/addon/templates/watched-words.hbs
  app/assets/stylesheets/common/admin/staff_logs.scss
Due: prettier, eslint-js

FEATURE: Use responsive image sizes in post stream (#13343)
  app/assets/javascripts/discourse/app/initializers/ensure-max-image-dimensions.js
  app/assets/javascripts/discourse/app/initializers/post-decorations.js
  app/assets/javascripts/discourse/app/lib/lazy-load-images.js
  app/assets/javascripts/discourse/app/widgets/post-cooked.js
  app/assets/stylesheets/common/base/onebox.scss
  app/assets/stylesheets/common/base/topic-post.scss
  config/site_settings.yml
  plugins/poll/assets/stylesheets/common/poll.scss
Due: prettier, eslint-js, yaml-syntax

FIX: Update post's raw from server response (#13438)
  app/serializers/new_post_result_serializer.rb
  spec/requests/api/schemas/json/topic_create_response.json
  spec/requests/posts_controller_spec.rb
Due: rubocop

UX: Use button instead of anchor in filtered replies bar (#13439)
  app/assets/javascripts/discourse/app/widgets/post-stream.js
Due: prettier, eslint-js

FEATURE: An API key scope for editing posts. (#13441)
  app/models/api_key_scope.rb
  config/locales/client.en.yml
  spec/requests/admin/api_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: Add word boundaries to replace and tag watched words (#13405)
  app/assets/javascripts/discourse/tests/acceptance/admin-watched-words-test.js
  app/assets/javascripts/discourse/tests/fixtures/watched-words-fixtures.js
  app/assets/javascripts/discourse/tests/unit/lib/pretty-text-test.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/watched-words.js
  app/serializers/watched_word_serializer.rb
  app/services/word_watcher.rb
  spec/components/post_creator_spec.rb
  spec/components/pretty_text_spec.rb
Due: rubocop, prettier, eslint-js

FIX: Do not check for duplicate links in Onebox (#13345)
  app/assets/javascripts/discourse/app/controllers/composer.js
  lib/pretty_text.rb
  spec/components/pretty_text_spec.rb
Due: rubocop, prettier, eslint-js

FIX: Do not display twice a user who changed vote (#13284)
  plugins/poll/assets/javascripts/widgets/discourse-poll.js.es6
  plugins/poll/test/javascripts/acceptance/poll-results-test.js.es6
Due: prettier, eslint-es6

UX: daily automatic grouping for less than 34 days instead of 30 (#13437)
  app/assets/javascripts/admin/addon/models/report.js
Due: prettier, eslint-js

UX: Fix mobile progress bar button alignment (#13442)
  app/assets/stylesheets/common/topic-timeline.scss
Due: none

UX: Fix jump-to-post layout on mobile (#13443)
  app/assets/stylesheets/common/base/modal.scss
Due: none

FIX: Remove List-Unsubscribe header if using group SMTP (#13448)
  app/mailers/user_notifications.rb
  spec/components/email/sender_spec.rb
Due: rubocop

FIX: Prevent resurrecting old topics via email reply for group inboxes with SMTP enabled (#13382)
  config/locales/server.en.yml
  lib/email/receiver.rb
  spec/components/email/receiver_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

PERF: Cache categories in Site model take 2.
  app/models/category.rb
  app/models/category_tag.rb
  app/models/category_tag_group.rb
  app/models/site.rb
  app/serializers/site_serializer.rb
  lib/guardian/category_guardian.rb
  spec/models/site_spec.rb
  spec/serializers/site_serializer_spec.rb
Due: rubocop

DEV: Replace const munging in specs with stub_const helper
  spec/components/topic_view_spec.rb
  spec/requests/groups_controller_spec.rb
Due: rubocop

Code review comments.
  app/assets/javascripts/discourse/app/lib/theme-selector.js
  app/assets/javascripts/discourse/lib/bootstrap-json/index.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-interface-test.js
  app/controllers/bootstrap_controller.rb
  app/controllers/stylesheets_controller.rb
  app/models/theme.rb
  app/views/common/_discourse_publish_stylesheet.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/embed.html.erb
  app/views/layouts/finish_installation.html.erb
  app/views/layouts/no_ember.html.erb
  app/views/qunit/index.html.erb
  app/views/qunit/theme.html.erb
  app/views/wizard/index.html.erb
  app/views/wizard/qunit.html.erb
  lib/stylesheet/importer.rb
  lib/stylesheet/manager.rb
  lib/stylesheet/manager/builder.rb
  lib/svg_sprite/svg_sprite.rb
  lib/theme_modifier_helper.rb
  spec/components/stylesheet/manager_spec.rb
  spec/components/svg_sprite/svg_sprite_spec.rb
  spec/fixtures/onebox/discourse_topic.response
  spec/fixtures/onebox/discourse_topic_reply.response
  spec/lib/content_security_policy_spec.rb
  spec/requests/bootstrap_controller_spec.rb
  spec/requests/safe_mode_controller_spec.rb
  spec/requests/svg_sprite_controller_spec.rb
  spec/serializers/listable_topic_serializer_spec.rb
Due: rubocop, prettier, eslint-js

PERF: Eager load Theme associations in Stylesheet Manager.
  app/controllers/application_controller.rb
  app/controllers/bootstrap_controller.rb
  app/controllers/qunit_controller.rb
  app/controllers/stylesheets_controller.rb
  app/controllers/svg_sprite_controller.rb
  app/helpers/application_helper.rb
  app/helpers/qunit_helper.rb
  app/models/color_scheme.rb
  app/models/theme.rb
  app/views/common/_discourse_publish_stylesheet.html.erb
  app/views/common/_discourse_stylesheet.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/crawler.html.erb
  app/views/layouts/no_ember.html.erb
  config/routes.rb
  lib/content_security_policy.rb
  lib/content_security_policy/extension.rb
  lib/content_security_policy/middleware.rb
  lib/middleware/anonymous_cache.rb
  lib/stylesheet/importer.rb
  lib/stylesheet/manager.rb
  lib/stylesheet/manager/builder.rb
  lib/stylesheet/manager/scss_checker.rb
  lib/svg_sprite/svg_sprite.rb
  lib/theme_modifier_helper.rb
  spec/components/scss_checker_spec.rb
  spec/components/stylesheet/manager_spec.rb
  spec/components/svg_sprite/svg_sprite_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/lib/theme_flag_modifier_spec.rb
  spec/models/color_scheme_spec.rb
  spec/models/theme_spec.rb
  spec/requests/application_controller_spec.rb
  spec/requests/safe_mode_controller_spec.rb
  spec/requests/stylesheets_controller_spec.rb
Due: rubocop

DEV: Move chrome binary check into a shared lib (#13451)
  lib/autospec/qunit_runner.rb
  lib/chrome_installed_checker.rb
  lib/tasks/qunit.rake
  lib/tasks/smoke_test.rake
Due: rubocop

FIX: Color scheme stylesheet not loaded when no default theme is set.
  lib/stylesheet/manager.rb
  spec/components/stylesheet/manager_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
