Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

UX: fix bulk select button height on search page (#12301)
  app/assets/stylesheets/common/base/search.scss
Due: none

UX: Add class to email div on login (#12310)
  app/assets/javascripts/discourse/app/templates/modal/create-account.hbs
Due: none

FEATURE: Change very high/low search priority to rank at absolute ends.
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20201223071241_delete_stale_category_search_priorities_from_site_settings.rb
  lib/search.rb
  lib/validators/category_search_priority_weights_validator.rb
  spec/components/validators/category_search_priority_weights_validator_spec.rb
  spec/requests/search_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FEATURE: Allow invites redemption with Omniauth providers.
  app/assets/javascripts/discourse/app/controllers/invites-show.js
  app/assets/javascripts/discourse/app/initializers/auth-complete.js
  app/assets/javascripts/discourse/app/templates/components/login-buttons.hbs
  app/assets/javascripts/discourse/app/templates/invites/show.hbs
  app/assets/javascripts/discourse/app/templates/modal/create-account.hbs
  app/assets/javascripts/discourse/tests/acceptance/invite-accept-test.js
  app/assets/stylesheets/common/base/login.scss
  app/controllers/invites_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users_controller.rb
  app/models/invite.rb
  app/models/invite_redeemer.rb
  app/services/user_authenticator.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  lib/guardian.rb
  spec/components/guardian_spec.rb
  spec/requests/invites_controller_spec.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/services/user_authenticator_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Incorrect parameter when using omniauth providers on invites page.
  app/assets/javascripts/discourse/app/controllers/invites-show.js
Due: prettier, eslint-js

UX: Remove duplicate title from watched words page (#12321)
  app/assets/javascripts/admin/addon/templates/watched-words-action.hbs
  app/assets/stylesheets/common/admin/staff_logs.scss
Due: none

UX: Minor improvements to invites (#12324)
  app/assets/javascripts/discourse/app/controllers/create-invite.js
  app/assets/javascripts/discourse/app/templates/modal/create-invite.hbs
  app/serializers/invite_serializer.rb
  config/locales/client.en.yml
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Use Ember CLI middleware to decorate the index template (#12292)
  app/assets/javascripts/discourse/app/index.html
  app/assets/javascripts/discourse/app/pre-initializers/discourse-bootstrap.js
  app/assets/javascripts/discourse/config/environment.js
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/discourse/lib/bootstrap-json/index.js
  app/assets/javascripts/discourse/lib/bootstrap-json/package.json
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/discourse/public/assets/scripts/discourse-boot.js
  app/assets/javascripts/yarn.lock
  app/controllers/bootstrap_controller.rb
Due: rubocop, prettier, eslint-js

FEATURE: allow search engines to index tag pages. (#12248)
  app/controllers/robots_txt_controller.rb
  app/controllers/tags_controller.rb
  spec/requests/tags_controller_spec.rb
Due: rubocop

FIX: Do not clean up uploads when they're used by theme settings (#12326)
  app/jobs/scheduled/clean_up_uploads.rb
  spec/jobs/clean_up_uploads_spec.rb
Due: rubocop

FEATURE: allow category group moderators to pin/unpin topics (#12325)
  app/assets/javascripts/discourse/app/controllers/feature-topic.js
  app/assets/javascripts/discourse/app/templates/modal/feature-topic.hbs
  app/assets/javascripts/discourse/app/widgets/topic-admin-menu.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/fixtures/topic.js
  app/controllers/topics_controller.rb
  app/serializers/topic_view_details_serializer.rb
  lib/guardian/topic_guardian.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, prettier, eslint-js

UX: login; smaller titles, more consistent spacing, other fixes (#12317)
  app/assets/javascripts/discourse/app/components/create-account.js
  app/assets/javascripts/discourse/app/controllers/login.js
  app/assets/javascripts/discourse/tests/acceptance/auth-complete-test.js
  app/assets/javascripts/discourse/tests/acceptance/create-account-external-test.js
  app/assets/stylesheets/color_definitions.scss
  app/assets/stylesheets/common/base/login.scss
  app/assets/stylesheets/common/foundation/color_transformations.scss
  app/assets/stylesheets/common/foundation/variables.scss
  app/assets/stylesheets/desktop/login.scss
  app/assets/stylesheets/mobile/login.scss
Due: prettier, eslint-js

DEV: add db:validate_indexes task (#12273)
  lib/tasks/db.rake
Due: none
