Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: the phpbbb import script was not parsing youtube tags (#17787)
  script/import_scripts/phpbb3/support/bbcode/xml_to_markdown.rb
  script/import_scripts/phpbb3/support/text_processor.rb
Due: rubocop

Revert "Build(deps-dev): Bump webmock from 3.16.0 to 3.17.0 (#17817)" (#17820)
  Gemfile.lock
Due: none

DEV: Asyncify `findTopicList()` (#17816)
  app/assets/javascripts/discourse/app/routes/build-topic-route.js
Due: prettier, eslint

DEV: Improve wording about daily like limits (#17824)
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

FEATURE: show status on post streams (#17813)
  app/assets/javascripts/discourse/app/lib/transform-post.js
  app/assets/javascripts/discourse/app/widgets/post-user-status.js
  app/assets/javascripts/discourse/app/widgets/poster-name.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-test.js
  app/assets/stylesheets/common/base/topic-post.scss
  app/serializers/post_serializer.rb
  lib/topic_view.rb
  spec/serializers/post_serializer_spec.rb
Due: rubocop, prettier, prettier-scss, eslint

DEV: Set owner of sidebar section objects (#17827)
  app/assets/javascripts/discourse/app/components/sidebar/sections.js
Due: prettier, eslint

DEV: Make the first argument to the top-level describe a constant in specs
  Gemfile.lock
  spec/lib/discourse_redis_spec.rb
  spec/lib/distributed_cache_spec.rb
  spec/lib/onebox/engine_spec.rb
  spec/lib/redis_store_spec.rb
  spec/lib/validators/quality_title_validator_spec.rb
Due: rubocop

DEV: Fix a function name typo (#17828)
  app/assets/javascripts/discourse/app/lib/notification-item.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Due: prettier, eslint

DEV: Use json schema file to describe update group endpoint (#17825)
  spec/requests/api/groups_spec.rb
Due: rubocop

FEATURE: Add above-modal-header plugin outlet (#17812)
  app/assets/javascripts/discourse/app/templates/components/d-modal.hbs
Due: none

DEV: Clear extra header buttons (#17829)
  app/assets/javascripts/discourse/app/widgets/header.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Due: prettier, eslint

FIX: Make word watcher work with nil strings (#17830)
  app/services/word_watcher.rb
  spec/models/user_spec.rb
Due: rubocop

FIX: don't raise an error if file not found in S3. (#17841)
  lib/s3_helper.rb
Due: rubocop

DEV: Remove vendored babel and update config for plugins/themes (#17832)
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
  lib/discourse_js_processor.rb
  lib/freedom_patches/raw_handlebars.rb
  spec/models/theme_field_spec.rb
  spec/models/theme_spec.rb
  vendor/assets/javascripts/babel.js
Due: rubocop, prettier, eslint

DEV: return user status on the user search route (#17716)
  app/controllers/users_controller.rb
  app/models/user.rb
  app/models/user_search.rb
  app/serializers/found_user_serializer.rb
  app/serializers/found_user_with_status_serializer.rb
  spec/requests/users_controller_spec.rb
  spec/serializers/found_user_serializer_spec.rb
  spec/serializers/found_user_with_status_serializer_spec.rb
Due: rubocop

DEV: Rename `UriHelper.escape_uri` to `.normalized_encode`
  app/models/embeddable_host.rb
  app/models/topic_embed.rb
  lib/final_destination.rb
  lib/oneboxer.rb
  lib/pretty_text.rb
  lib/url_helper.rb
  plugins/poll/plugin.rb
  spec/lib/final_destination_spec.rb
  spec/lib/url_helper_spec.rb
Due: rubocop

FIX: broken onebox images due to url normalization bugs
  lib/url_helper.rb
  spec/lib/final_destination_spec.rb
  spec/lib/url_helper_spec.rb
  spec/models/upload_spec.rb
Due: rubocop

DEV: Bump asset compiler versions (#17843)
  app/models/theme.rb
  config/initializers/assets.rb
Due: rubocop

DEV: Run `yarn install` for all `rake docker:test` invocations (#17844)
  lib/tasks/docker.rake
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
