Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Add div around choose-topic results (#15379)
  app/assets/javascripts/discourse/app/templates/components/choose-topic.hbs
Due: none

FIX: fallback to `anonymous` not `user` when suggesting usernames for anonymous users (#15354)
  app/services/anonymous_shadow_creator.rb
  spec/services/anonymous_shadow_creator_spec.rb
Due: rubocop

FEATURE: when suggesting usernames skip input that consist entirely of disallowed characters (#15368)
  app/models/discourse_single_sign_on.rb
  app/services/username_changer.rb
  lib/auth/result.rb
  lib/user_name_suggester.rb
  spec/components/user_name_suggester_spec.rb
  spec/models/discourse_single_sign_on_spec.rb
Due: rubocop

DEV: add a container to the empty-state layout to simplify styling in themes (#15264)
  app/assets/javascripts/discourse/app/templates/components/empty-state.hbs
Due: none

DEV: Add callback when search is empties in choose-topic (#15380)
  app/assets/javascripts/discourse/app/components/choose-topic.js
Due: prettier, eslint

Version bump to v2.8.0.beta10 (#15382)
  lib/version.rb
Due: rubocop

FIX: Remove length constraint of `fancy_title` in `topics` (#15381)
  app/models/topic.rb
  db/migrate/20211221164540_remove_limit_for_fancy_title_in_topics.rb
Due: rubocop

DEV: Avoid shadowing variables in topics_controller_spec (#15383)
  spec/requests/topics_controller_spec.rb
Due: rubocop

FIX: gives composer options to post:highlight trigger (#15384)
  app/assets/javascripts/discourse/app/components/discourse-topic.js
  app/assets/javascripts/discourse/app/controllers/composer.js
Due: prettier, eslint

FIX: SiteSetting.title was being polluted in StaticController (#15385)
  app/controllers/static_controller.rb
  spec/requests/static_controller_spec.rb
Due: rubocop

DEV: Drop jQuery file uploader and old upload components (#15376)
  app/assets/javascripts/discourse/app/components/image-uploader.js
  app/assets/javascripts/discourse/app/mixins/upload.js
  app/assets/javascripts/discourse/app/templates/components/image-uploader.hbs
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/discourse/tests/integration/components/image-uploader-test.js
  app/assets/javascripts/discourse/tests/theme_qunit_vendor.js
  app/assets/javascripts/vendor.js
  app/assets/javascripts/wizard-vendor.js
  lib/tasks/javascript.rake
  vendor/assets/javascripts/jquery.fileupload-process.js
  vendor/assets/javascripts/jquery.fileupload.js
Due: prettier, eslint

DEV: correctly notify property changes of emoji store (#15389)
  app/assets/javascripts/discourse/app/services/emoji-store.js
Due: prettier, eslint

FIX: Predict draftSequence on draft save (#15390)
  app/assets/javascripts/discourse/app/models/composer.js
Due: prettier, eslint

PERF: Make tests faster by prefabricating more things (#15392)
  spec/components/guardian_spec.rb
  spec/components/post_creator_spec.rb
  spec/components/search_spec.rb
  spec/components/svg_sprite/svg_sprite_spec.rb
  spec/models/notification_spec.rb
  spec/models/post_timing_spec.rb
  spec/models/theme_field_spec.rb
  spec/models/topic_tracking_state_spec.rb
  spec/models/user_auth_token_spec.rb
  spec/requests/groups_controller_spec.rb
  spec/requests/user_badges_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/services/user_updater_spec.rb
Due: rubocop

FIX: Save draftSequence when it is 0 (#15394)
  app/assets/javascripts/discourse/app/models/composer.js
Due: prettier, eslint

FIX: Uploads were broken in old Safari (#15391)
  app/assets/javascripts/discourse/app/lib/uppy-checksum-plugin.js
Due: prettier, eslint

DEV: Add API docs for uploads and API doc watcher (#15387)
  lib/tasks/autospec.rake
  spec/fabricators/external_upload_stub_fabricator.rb
  spec/regenerate_swagger_docs
  spec/requests/api/schemas/json/upload_abort_multipart_request.json
  spec/requests/api/schemas/json/upload_batch_presign_multipart_parts_request.json
  spec/requests/api/schemas/json/upload_batch_presign_multipart_parts_response.json
  spec/requests/api/schemas/json/upload_complete_external_upload_request.json
  spec/requests/api/schemas/json/upload_complete_multipart_request.json
  spec/requests/api/schemas/json/upload_create_multipart_request.json
  spec/requests/api/schemas/json/upload_create_multipart_response.json
  spec/requests/api/schemas/json/upload_generate_presigned_put_request.json
  spec/requests/api/schemas/json/upload_generate_presigned_put_response.json
  spec/requests/api/uploads_spec.rb
  spec/swagger_helper.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
