Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: should_alter_quality should respect png_to_jpg_quality (#12055)
  lib/upload_creator.rb
  spec/fixtures/images/large_and_unoptimized.png
  spec/lib/upload_creator_spec.rb
Due: rubocop

UX: Second Factor + Alert Display (#12071)
  app/assets/javascripts/discourse/app/controllers/login.js
  app/assets/stylesheets/common/base/login.scss
  app/assets/stylesheets/desktop/login.scss
Due: prettier, eslint-js

FIX: Dismiss new with better migration (#12062)
  app/assets/javascripts/discourse/app/models/topic-tracking-state.js
  app/assets/javascripts/discourse/tests/unit/models/topic-tracking-state-test.js
  app/controllers/topics_controller.rb
  app/jobs/scheduled/clean_dismissed_topic_users.rb
  app/models/topic_tracking_state.rb
  app/models/user_option.rb
  app/services/dismiss_topics.rb
  app/services/user_merger.rb
  db/post_migrate/20210208022738_move_new_since_to_new_table.rb
  spec/jobs/clean_dismissed_topic_users_spec.rb
  spec/jobs/export_user_archive_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/services/dismiss_topics_spec.rb
Due: rubocop, prettier, eslint-js

FEATURE: Relative time input for timers and bookmarks and promote auto-close after last post timer (#12063)
  .gitignore
  app/assets/javascripts/discourse/app/components/bookmark.js
  app/assets/javascripts/discourse/app/components/edit-topic-timer-form.js
  app/assets/javascripts/discourse/app/components/relative-time.js
  app/assets/javascripts/discourse/app/components/time-shortcut-picker.js
  app/assets/javascripts/discourse/app/components/topic-timer-info.js
  app/assets/javascripts/discourse/app/controllers/edit-topic-timer.js
  app/assets/javascripts/discourse/app/lib/time-shortcut.js
  app/assets/javascripts/discourse/app/templates/components/edit-topic-timer-form.hbs
  app/assets/javascripts/discourse/app/templates/components/relative-time.hbs
  app/assets/javascripts/discourse/app/templates/components/time-shortcut-picker.hbs
  app/assets/javascripts/discourse/tests/acceptance/topic-edit-timer-test.js
  app/assets/stylesheets/common/base/edit-topic-timer-modal.scss
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/relative-time.scss
  app/assets/stylesheets/common/components/time-shortcut-picker.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: do not show SSO last payload to moderators (#12084)
  app/serializers/single_sign_on_record_serializer.rb
  spec/serializers/single_sign_on_record_serializer_spec.rb
Due: rubocop

UX: when auto-selecting topic make sure the focus is on selected topic (#12083)
  app/assets/javascripts/discourse/app/components/choose-topic.js
Due: prettier, eslint-js

UX: Fix local-dates styling (#12085)
  app/assets/javascripts/discourse/app/components/relative-time-picker.js
  app/assets/javascripts/discourse/app/templates/components/edit-topic-timer-form.hbs
  app/assets/javascripts/discourse/app/templates/components/relative-time-picker.hbs
  app/assets/javascripts/discourse/app/templates/components/time-shortcut-picker.hbs
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/relative-time-picker.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

A11Y: makes quote controls accessible (#12073)
  app/assets/javascripts/discourse/app/widgets/post-cooked.js
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier, eslint-js

A11Y: sets has-popup as menu for select-kit components (#12074)
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-header.js
Due: prettier, eslint-js

A11Y: makes aria-owns an ID and not a data attribute (#12075)
  app/assets/javascripts/select-kit/addon/components/select-kit.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-body.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-filter.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-header.js
  app/assets/javascripts/select-kit/addon/templates/components/email-group-user-chooser-header.hbs
  app/assets/javascripts/select-kit/addon/templates/components/multi-select.hbs
  app/assets/javascripts/select-kit/addon/templates/components/multi-select/multi-select-header.hbs
  app/assets/javascripts/select-kit/addon/templates/components/single-select.hbs
Due: prettier, eslint-js

UX: relative-time-picker should use pluralized strings (#12086)
  app/assets/javascripts/discourse/app/components/relative-time-picker.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

A11Y: adds support for aria-current through d-navigation-item (#12079)
  app/assets/javascripts/discourse/app/components/d-navigation-item.js
  app/assets/javascripts/discourse/app/templates/components/d-navigation-item.hbs
  app/assets/javascripts/discourse/app/templates/user/activity.hbs
Due: prettier, eslint-js

FIX: Restoring backup via UI was broken (#12089)
  lib/backup_restore/restorer.rb
Due: rubocop

FEATURE: support `mark` tag (#12088)
  app/assets/javascripts/discourse/app/lib/to-markdown.js
  app/assets/javascripts/discourse/tests/unit/lib/sanitizer-test.js
  app/assets/javascripts/discourse/tests/unit/lib/to-markdown-test.js
  app/assets/javascripts/pretty-text/addon/allow-lister.js
  app/assets/stylesheets/common/base/topic-post.scss
  lib/html_to_markdown.rb
  spec/components/html_to_markdown_spec.rb
Due: rubocop, prettier, eslint-js

A11Y: makes select-kit header a listbox (#12078)
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-header.js
  app/assets/javascripts/select-kit/addon/templates/components/selected-name.hbs
  app/assets/stylesheets/common/select-kit/select-kit.scss
Due: prettier, eslint-js

FIX: adds google tracking to page publishing (#12090)
  app/views/layouts/publish.html.erb
Due: none

FIX: Clean up topic-timer-info CSS classes, add edit button, and improve UI (#12080)
  app/assets/javascripts/discourse/app/components/edit-category-settings.js
  app/assets/javascripts/discourse/app/components/edit-topic-timer-form.js
  app/assets/javascripts/discourse/app/components/relative-time-picker.js
  app/assets/javascripts/discourse/app/components/topic-timer-info.js
  app/assets/javascripts/discourse/app/controllers/edit-topic-timer.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/app/templates/components/edit-category-settings.hbs
  app/assets/javascripts/discourse/app/templates/components/edit-topic-timer-form.hbs
  app/assets/javascripts/discourse/app/templates/components/relative-time-picker.hbs
  app/assets/javascripts/discourse/app/templates/components/topic-footer-buttons.hbs
  app/assets/javascripts/discourse/app/templates/components/topic-timer-info.hbs
  app/assets/javascripts/discourse/app/templates/topic.hbs
  app/assets/javascripts/discourse/app/widgets/topic-admin-menu.js
  app/assets/javascripts/discourse/tests/acceptance/modal-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-edit-timer-test.js
  app/assets/javascripts/discourse/tests/integration/widgets/topic-admin-menu-test.js
  app/assets/stylesheets/common/base/edit-category.scss
  app/assets/stylesheets/common/base/edit-topic-timer-modal.scss
  app/assets/stylesheets/common/printer-friendly.scss
  app/assets/stylesheets/desktop/topic.scss
  app/assets/stylesheets/mobile/topic.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Do not mark group_flair images as secure on upload (#12081)
  app/assets/javascripts/discourse/app/templates/components/group-flair-inputs.hbs
  db/post_migrate/20210215231312_fix_group_flair_avatar_upload_security_and_acls.rb
  lib/upload_security.rb
  spec/lib/upload_security_spec.rb
Due: rubocop

DEV: debug: false for service workers to stop log spam via workbox (#12093)
  app/assets/javascripts/service-worker.js.erb
Due: none

FIX: Use autocomplete=discourse in select-kit to disable autocomplete in Chrome (#12094)
  app/assets/javascripts/admin/addon/templates/modal/admin-merge-users-prompt.hbs
  app/assets/javascripts/discourse/app/templates/components/composer-user-selector.hbs
  app/assets/javascripts/discourse/app/templates/components/invite-panel.hbs
  app/assets/javascripts/discourse/app/templates/modal/change-owner.hbs
  app/assets/javascripts/select-kit/addon/templates/components/select-kit/select-kit-filter.hbs
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
