Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD main
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD main
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {all_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {all_files}
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint plugins/**/test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: show the `Next Monday` label instead of `Monday` on Sundays (#15745)
  app/assets/javascripts/discourse/app/components/bookmark.js
  app/assets/javascripts/discourse/app/components/edit-topic-timer-form.js
  app/assets/javascripts/discourse/app/components/time-shortcut-picker.js
  app/assets/javascripts/discourse/app/lib/time-shortcut.js
  app/assets/javascripts/discourse/app/lib/time-utils.js
  app/assets/javascripts/discourse/app/templates/components/bookmark.hbs
  app/assets/javascripts/discourse/tests/integration/components/bookmark-test.js
  app/assets/javascripts/discourse/tests/integration/components/time-shortcut-picker-test.js
Due: prettier, eslint

DEV: Clean up skipped tests (#15747)
  app/assets/javascripts/discourse-common/addon/lib/get-url.js
  app/assets/javascripts/discourse/tests/acceptance/bookmarks-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-edit-conflict-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/setup-tests.js
Due: prettier, eslint

UX: Add text-decoration to <ins> and <del> (#15726)
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier-scss

FEATURE: Update cppjieba_rb to latest (#15718)
  Gemfile.lock
Due: none

DEV: Update oj gem (#15713)
  Gemfile
  Gemfile.lock
Due: none

A11Y: Use `autocomplete="off"` for composer title (#15758)
  app/assets/javascripts/discourse/app/templates/components/composer-title.hbs
Due: none

PERF: prevents any fast edit work if you can't edit (#15759)
  app/assets/javascripts/discourse/app/components/quote-button.js
Due: prettier, eslint

FEATURE: make the use_email_for_username_and_name_suggestions setting visible and on by default on existing sites (#15751)
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20220130192155_set_use_email_for_username_and_name_suggestions_on_existing_sites.rb
Due: rubocop, yaml-syntax, i18n-lint

DEV: uses innerHTML to decide if fast-edit is possible (#15760)
  app/assets/javascripts/discourse/app/components/quote-button.js
Due: prettier, eslint

FEATURE: show the this weekend option on the bookmark modal (#15755)
  app/assets/javascripts/discourse/app/components/edit-topic-timer-form.js
  app/assets/javascripts/discourse/app/components/time-shortcut-picker.js
  app/assets/javascripts/discourse/app/lib/time-shortcut.js
  app/assets/javascripts/discourse/app/lib/time-utils.js
  app/assets/javascripts/discourse/tests/integration/components/time-shortcut-picker-test.js
Due: prettier, eslint

FIX: some options on the topic timer modal weren't timezone aware (#15749)
  app/assets/javascripts/discourse/app/components/edit-topic-timer-form.js
Due: prettier, eslint

FEATURE: Use native color-picker (#15748)
  app/assets/javascripts/admin/addon/components/color-input.js
  app/assets/javascripts/discourse/app/lib/public-js-versions.js
  app/assets/javascripts/discourse/app/templates/components/color-input.hbs
  app/assets/javascripts/discourse/app/templates/components/edit-category-general.hbs
  app/assets/stylesheets/common/admin/customize.scss
  app/assets/stylesheets/common/admin/settings.scss
  app/assets/stylesheets/common/base/colorpicker.scss
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/color-input.scss
  lib/tasks/javascript.rake
  package.json
  public/javascripts/spectrum-colorpicker/1.8.0/spectrum.css
  public/javascripts/spectrum-colorpicker/1.8.0/spectrum.js
  public/javascripts/spectrum.css
  public/javascripts/spectrum.js
  yarn.lock
Due: prettier, prettier-scss, eslint

PERF: attempts to resort to compute markdown in less cases (#15762)
  app/assets/javascripts/discourse/app/components/quote-button.js
  app/assets/javascripts/discourse/app/lib/utilities.js
Due: prettier, eslint

DEV: Follow up jQ file upload removal in #15376 (#15766)
  package.json
  vendor/assets/javascripts/jquery.iframe-transport.js
  yarn.lock
Due: prettier, eslint

DEV: Remove install-imagemagick script (#15768)
  install-imagemagick
Due: none

FIX: Remove svg icons from webmanifest shortcuts (#15765)
  app/controllers/metadata_controller.rb
  spec/requests/metadata_controller_spec.rb
Due: rubocop

DEV: Refactor clean-dom (#15609)
  app/assets/javascripts/discourse/app/initializers/clean-dom-on-route-change.js
  app/assets/javascripts/discourse/app/initializers/page-tracking.js
  app/assets/javascripts/discourse/app/lib/clean-dom.js
Due: prettier, eslint

UX: Add hover style to refresh-page dismiss button (#15711)
  app/assets/stylesheets/common/software-update-prompt.scss
Due: prettier-scss

UX: Slightly tweak admin/customize/themes CSS (#15712)
  app/assets/stylesheets/common/admin/customize.scss
Due: prettier-scss
