Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Avoid triggering 404 errors in tests (#17404)
  app/assets/javascripts/discourse/tests/acceptance/composer-uploads-uppy-test.js
  app/assets/javascripts/discourse/tests/acceptance/lightbox-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/unit/lib/text-direction-test.js
  plugins/discourse-presence/test/javascripts/acceptance/discourse-presence-test.js
Due: prettier, eslint

DEV: Don't vendor old qunit css (#17410)
  app/assets/stylesheets/test_helper.scss
  app/assets/stylesheets/vendor/qunit.css
Due: prettier-scss

Revert "DEV: Don't vendor old qunit css (#17410)" (#17417)
  app/assets/stylesheets/test_helper.scss
  app/assets/stylesheets/vendor/qunit.css
Due: prettier-scss

DEV: Update @ember/test-helpers (#17247)
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
  app/assets/javascripts/yarn.lock
Due: prettier, eslint

DEV: Fix emoji-uploader tests (#17395)
  app/assets/javascripts/discourse/tests/integration/components/emoji-uploader-test.js
Due: prettier, eslint

FIX: Ensure splash screen `<noscript>` is loaded for legacy browsers (#17413)
  app/assets/javascripts/discourse/scripts/browser-update.js
Due: prettier, eslint

DEV: Remove old hbs-in-script warning (#17418)
  app/assets/javascripts/discourse/app/pre-initializers/register-dom-templates.js
Due: prettier, eslint

FIX: Apply all watched words rules to user fields
  app/models/user.rb
  app/models/user_profile.rb
  spec/models/user_profile_spec.rb
  spec/models/user_spec.rb
Due: rubocop

FIX: Ensure category-tag filter routes are functioning (#17420)
  app/assets/javascripts/discourse/app/pre-initializers/dynamic-route-builders.js
  app/assets/javascripts/discourse/tests/acceptance/tags-test.js
Due: prettier, eslint

FIX: Just inline the QUnit CSS in theme-test html (#17415)
  app/assets/stylesheets/test_helper.scss
  app/assets/stylesheets/vendor/qunit.css
  app/views/qunit/theme.html.erb
  config/application.rb
  spec/requests/qunit_controller_spec.rb
Due: rubocop, prettier-scss

DEV: Update `ember-qunit` (#17251)
  app/assets/javascripts/discourse-widget-hbs/package.json
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: none

DEV: Update `message-bus-client` (#17421)
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: none

DEV: Don't forward `test-i18n.js` requests (#17422)
  app/assets/javascripts/discourse/lib/bootstrap-json/index.js
Due: prettier, eslint

DEV: Implement distributed mutex in lua (#16228)
  lib/distributed_mutex.rb
  spec/lib/distributed_mutex_spec.rb
Due: rubocop

DEV: uses resize observer to compute header-offset (#17399)
  app/assets/javascripts/discourse/app/components/site-header.js
Due: prettier, eslint

FIX: update flaky bulk invite spec (#17425)
  spec/requests/invites_controller_spec.rb
Due: rubocop

UX: Fix exp sidebar toggle alignment, add hovers (#17414)
  app/assets/javascripts/discourse/app/components/sidebar/section.js
  app/assets/stylesheets/common/base/sidebar.scss
Due: prettier, prettier-scss, eslint

Revert "UX: missing specificity (#17324)" (#17426)
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier-scss

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
