Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD main
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD main
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {all_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {all_files}
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint plugins/**/test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: `isExistingIconId()` regressed in #17553 (#17570)
  app/assets/javascripts/discourse-common/addon/lib/icon-library.js
Due: prettier, eslint

FIX: Correctly pluralize sidebar strings (#17572)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FIX: When a user status update received other users statuses were getting cleared (#17520)
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/tests/unit/models/user-test.js
Due: prettier, eslint

FIX: Do not redeem invites if user resets password (#17486)
  app/models/email_token.rb
  spec/models/email_token_spec.rb
Due: rubocop

FIX: Ensure injections are skipped when rehydrating stale models (#17574)
  app/assets/javascripts/discourse/app/services/store.js
  app/assets/javascripts/discourse/tests/helpers/create-store.js
  app/assets/javascripts/discourse/tests/unit/services/store-test.js
Due: prettier, eslint

DEV: Make `publishToMessageBus()` wait for settled (#17575)
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Due: prettier, eslint

FIX: badge backfilling triggers :user_badge_granted DiscourseEvent (#17514)
  app/models/badge.rb
  app/models/user_badge.rb
  app/services/badge_granter.rb
  spec/models/badge_spec.rb
  spec/services/badge_granter_spec.rb
Due: rubocop

UX: option to account for the sidebar in the breakpoint mixin (#17577)
  app/assets/stylesheets/common/base/sidebar.scss
  app/assets/stylesheets/common/foundation/mixins.scss
  app/assets/stylesheets/common/foundation/variables.scss
  app/assets/stylesheets/desktop/topic-list.scss
Due: prettier-scss

FIX: pass sidebar custom link willDestroy (#17565)
  app/assets/javascripts/discourse/app/components/sidebar/section-link.js
  app/assets/javascripts/discourse/app/templates/components/sidebar/sections.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
Due: prettier, eslint

FIX: Make group members bulk operations consistent (#17561)
  app/assets/javascripts/discourse/app/components/bulk-group-member-dropdown.js
  app/assets/javascripts/discourse/app/components/group-member-dropdown.js
  app/assets/javascripts/discourse/app/components/table-header-toggle.js
  app/assets/javascripts/discourse/app/controllers/group-index.js
  app/assets/javascripts/discourse/app/templates/group-index.hbs
  app/assets/javascripts/discourse/tests/acceptance/group-index-test.js
  app/assets/stylesheets/common/base/group.scss
Due: prettier, prettier-scss, eslint

FIX: Notify tag watchers when publishing topic (#17576)
  app/jobs/regular/notify_tag_change.rb
  lib/topic_publisher.rb
  spec/lib/topic_publisher_spec.rb
Due: rubocop

FEATURE: users with no posts shouldn't able to edit username after the allowed period. (#17583)
  lib/guardian/user_guardian.rb
  spec/lib/guardian_spec.rb
  spec/serializers/user_serializer_spec.rb
Due: rubocop

DEV: Tidy up create group api endpoint docs (#17586)
  spec/requests/api/groups_spec.rb
  spec/requests/api/schemas/json/group_create_request.json
  spec/requests/api/schemas/json/group_create_response.json
Due: rubocop

DEV: Randomize tests order in more cases (#17588)
  app/assets/javascripts/discourse/tests/test-boot-ember-cli.js
Due: prettier, eslint

DEV: Fix pretender in poll tests (#17587)
  plugins/poll/test/javascripts/widgets/discourse-poll-test.js
Due: prettier, eslint

DEV: Fix pretender leaking request handlers (#17584)
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
Due: prettier, eslint

DEV: Use a separate KVS namespace for tests (#17591)
  app/assets/javascripts/discourse/app/lib/key-value-store.js
  app/assets/javascripts/discourse/tests/unit/lib/key-value-store-test.js
Due: prettier, eslint

DEV: Install `ember-modifier` and `@ember/render-modifiers` (#17595)
  app/assets/javascripts/discourse/app/modifiers/.gitkeep
  app/assets/javascripts/discourse/config/deprecation-workflow.js
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: prettier, eslint

DEV: Introduce `RenderGlimmer` helper for use in widgets (#17592)
  app/assets/javascripts/discourse/app/components/mount-widget.js
  app/assets/javascripts/discourse/app/templates/components/mount-widget.hbs
  app/assets/javascripts/discourse/app/widgets/render-glimmer.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/render-glimmer-test.js
Due: prettier, eslint
