Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: Avoid errors when updating post and topic count user stats. (#15876)
  app/services/user_stat_count_updater.rb
  spec/services/user_stat_count_updater_spec.rb
Due: rubocop

FEATURE: Redeem invites for existent users (#15866)
  app/controllers/invites_controller.rb
  spec/requests/invites_controller_spec.rb
Due: rubocop

DEV: Drop unused pluralization ruleset (#15863)
  lib/javascripts/locale/pl.js
Due: prettier, eslint

FIX: use `prev_period` data if `prev30Days` value is not available. (#15867)
  app/assets/javascripts/admin/addon/models/report.js
  app/assets/javascripts/admin/addon/templates/components/admin-report-counters.hbs
  app/assets/javascripts/discourse/tests/unit/models/report-test.js
Due: prettier, eslint

DEV: Deprecate `assert.not()` (#15595)
  app/assets/javascripts/discourse/tests/acceptance/bookmarks-test.js
  app/assets/javascripts/discourse/tests/acceptance/create-account-external-test.js
  app/assets/javascripts/discourse/tests/acceptance/invite-accept-test.js
  app/assets/javascripts/discourse/tests/acceptance/invite-show-user-fields-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-full-test.js
  app/assets/javascripts/discourse/tests/acceptance/sign-in-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-move-posts-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-bookmarks-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-card-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/unit/controllers/admin-user-badges-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/topic-test.js
  app/assets/javascripts/discourse/tests/unit/lib/timeframes-builder-test.js
  app/assets/javascripts/discourse/tests/unit/lib/uploads-test.js
  app/assets/javascripts/discourse/tests/unit/lib/url-test.js
  app/assets/javascripts/discourse/tests/unit/mixins/grant-badge-controller-test.js
  app/assets/javascripts/discourse/tests/unit/models/topic-test.js
  app/assets/javascripts/discourse/tests/unit/models/user-test.js
Due: prettier, eslint

FIX: topic tracking state for tags (#15623)
  app/assets/javascripts/discourse/app/controllers/tag-show.js
  app/assets/javascripts/discourse/app/models/topic-tracking-state.js
  app/assets/javascripts/discourse/app/templates/tags/show.hbs
  app/assets/javascripts/discourse/tests/unit/models/topic-tracking-state-test.js
Due: prettier, eslint

FIX: inline onebox for github (#15859)
  lib/retrieve_title.rb
Due: rubocop

DEV: Update api docs to update username and to get post replies (#15881)
  spec/requests/api/posts_spec.rb
  spec/requests/api/schemas/json/post_replies_response.json
  spec/requests/api/schemas/json/user_update_username_request.json
  spec/requests/api/users_spec.rb
Due: rubocop

FEATURE: cache last post number (#15772)
  app/assets/javascripts/discourse/app/lib/topic-list-tracker.js
  app/assets/javascripts/discourse/app/services/screen-track.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/unit/services/screen-track-test.js
Due: prettier, eslint

DEV: Do not run ember-cli output through terser again (#15889)
  lib/tasks/assets.rake
Due: none

DEV: Do not include CDN domain in the sourceMappingURL (#15887)
  lib/tasks/assets.rake
Due: none

UX: Search spacing & position changes (#15882)
  app/assets/stylesheets/common/base/search.scss
Due: prettier-scss

DEV: Ensure Ember CLI sourcemaps are uploaded to S3 (#15893)
  lib/tasks/s3.rake
Due: none

FIX: Defer upload extension check for iOS (#15890)
  app/assets/javascripts/discourse/app/components/composer-editor.js
Due: prettier, eslint

Add classes to user stats, move likes received (#15892)
  app/assets/javascripts/discourse/app/templates/user/summary.hbs
Due: none

DEV: Improve theme error handling UX
  app/assets/javascripts/discourse/app/app.js
  app/assets/javascripts/discourse/app/lib/source-identifier.js
  app/assets/javascripts/discourse/app/pre-initializers/theme-errors-handler.js
  app/assets/stylesheets/common/base/discourse.scss
  app/models/theme.rb
  app/models/theme_field.rb
  config/locales/client.en.yml
  spec/models/theme_field_spec.rb
Due: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

DEV: Prefix deprecation notices and api warnings with theme name/id
  app/assets/javascripts/discourse-common/addon/lib/deprecated.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
Due: prettier, eslint

DEV: Allow focusComposer to reply to existing topic (#15896)
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/models/composer.js
Due: prettier, eslint

FIX: subcategory filter limits results (#15655)
  app/assets/javascripts/discourse/app/models/category.js
  app/assets/javascripts/discourse/tests/unit/models/category-test.js
  app/assets/javascripts/select-kit/addon/components/category-drop.js
Due: prettier, eslint

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
