Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: Show warning only if new value is different (#12893)
  lib/site_setting_extension.rb
Due: rubocop

FIX: topic might be night at this stage (#12929)
  lib/guardian/post_guardian.rb
Due: rubocop

Adding composer-after-composer-editor plugin-outlet on the composer template (#12914)
  app/assets/javascripts/discourse/app/templates/composer.hbs
Due: none

FIX: remove invite based associated object (#12927)
  app/services/user_destroyer.rb
  spec/services/user_destroyer_spec.rb
Due: rubocop

UX: anticipate anchor link hover (#12920)
  app/assets/stylesheets/common/base/topic-post.scss
Due: none

FIX: tag control styles should apply to desktop (#12919)
  app/assets/stylesheets/common/base/tagging.scss
  app/assets/stylesheets/mobile/topic-list.scss
Due: none

DEV: Support referencing public images in plugins in SCSS (#12930)
  app/assets/stylesheets/common/foundation/mixins.scss
  spec/components/stylesheet/compiler_spec.rb
Due: rubocop

Revert "FIX: excludes .svg-as-img from JS sizing (#12906)" (#12931)
  app/assets/javascripts/discourse/app/initializers/ensure-max-image-dimensions.js
Due: prettier, eslint-js

DOCS: Update min versions (#12932)
  README.md
Due: none

DOC: adds a link to teams.discourse.com (#12928)
  README.md
Due: none

FIX: show required only when full name is required and lint fix (#12916)
  app/assets/javascripts/discourse/app/templates/invites/show.hbs
  app/assets/javascripts/discourse/tests/acceptance/invite-accept-test.js
Due: prettier, eslint-js

FIX: Link notification to first unread post (#12868)
  app/services/post_alerter.rb
  spec/services/post_alerter_spec.rb
Due: rubocop

FIX: Hide Uncategorized unless allow_uncategorized_topics (#12889)
  app/models/category_list.rb
  spec/requests/categories_controller_spec.rb
Due: rubocop

UX: add CSS classes on body tag based on topic statuses. (#12729)
  app/assets/javascripts/discourse/app/components/add-topic-status-classes.js
  app/assets/javascripts/discourse/app/components/discourse-topic.js
  app/assets/javascripts/discourse/app/models/topic.js
  app/assets/javascripts/discourse/app/templates/topic.hbs
Due: prettier, eslint-js

DEV: removes comment about disable_jump_reply (#12939)
  app/models/user_option.rb
Due: rubocop

UX: hide the list of file extensions on the upload dialog (#12836)
  app/assets/javascripts/discourse/app/components/hidden-details.js
  app/assets/javascripts/discourse/app/controllers/upload-selector.js
  app/assets/javascripts/discourse/app/templates/components/hidden-details.hbs
  app/assets/javascripts/discourse/app/templates/modal/upload-selector.hbs
  app/assets/javascripts/discourse/tests/integration/components/hidden-details-test.js
  app/assets/stylesheets/desktop/upload.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

UX: Allow saving with cmd+s/ctrl+s with Ace editor (#12674)
  app/assets/javascripts/admin/addon/components/ace-editor.js
  app/assets/javascripts/admin/addon/components/admin-theme-editor.js
  app/assets/javascripts/admin/addon/components/email-styles-editor.js
  app/assets/javascripts/admin/addon/templates/components/admin-theme-editor.hbs
  app/assets/javascripts/admin/addon/templates/components/email-styles-editor.hbs
  app/assets/javascripts/admin/addon/templates/customize-email-style-edit.hbs
  app/assets/javascripts/admin/addon/templates/customize-themes-edit.hbs
Due: prettier, eslint-js

FIX: temporarily skip flaky future-date-input tests (#12941)
  app/assets/javascripts/discourse/tests/integration/components/select-kit/future-date-input-selector-test.js
Due: prettier, eslint-js

FIX: Make the docker:test task install dependencies before calling yarn ember test. (#12943)
  lib/tasks/docker.rake
Due: none
