Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD main
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD main
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {all_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {all_files}
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint plugins/**/test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Differentiate staff-writes-only banner (#18364)
  app/assets/javascripts/discourse/app/components/global-notice.js
  config/locales/client.en.yml
Due: prettier, eslint, yaml-syntax, i18n-lint

DEV: Refine showPopover / hidePopover + introduce isPopoverShown helper for use with d-popover (#18334)
  app/assets/javascripts/discourse/app/lib/d-popover.js
  app/assets/javascripts/discourse/tests/integration/components/d-popover-test.js
Due: prettier, eslint

UX: Restrict width of "reply where" modal (#18365)
  app/assets/stylesheets/common/base/modal.scss
Due: prettier-scss

FIX: Better virtual keyboard detect on Android (#18298)
  app/assets/javascripts/discourse/app/initializers/mobile-keyboard.js
  app/assets/stylesheets/common/base/compose.scss
  app/assets/stylesheets/mobile/compose.scss
Due: prettier, prettier-scss, eslint

FIX: 404 sending beacon "leave all" on subfolder install
  app/assets/javascripts/discourse/app/services/presence.js
Due: prettier, eslint
