Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: Swallow SSL errors when generating oneboxes
  lib/final_destination.rb
  spec/lib/final_destination_spec.rb
Due: rubocop

FEATURE: add welcome topic cta banner (#17821)
  app/assets/javascripts/discourse/app/components/welcome-topic-banner.js
  app/assets/javascripts/discourse/app/controllers/discovery/topics.js
  app/assets/javascripts/discourse/app/templates/components/welcome-topic-banner.hbs
  app/assets/javascripts/discourse/app/templates/discovery/topics.hbs
  app/assets/javascripts/discourse/tests/acceptance/welcome-topic-banner-test.js
  app/assets/stylesheets/desktop/topic-list.scss
  app/models/site.rb
  app/models/user.rb
  app/serializers/site_serializer.rb
  config/locales/client.en.yml
  config/site_settings.yml
  lib/wizard.rb
  spec/models/site_spec.rb
  spec/requests/api/schemas/json/site_response.json
  spec/serializers/site_serializer_spec.rb
Due: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

FEATURE: update bootstrap mode notice to add invite and wizard links (#17822)
  app/assets/javascripts/discourse/app/components/bootstrap_mode_notice.js
  app/assets/javascripts/discourse/app/components/global-notice.js
  app/assets/javascripts/discourse/app/controllers/application.js
  app/assets/javascripts/discourse/app/templates/application.hbs
  app/assets/javascripts/discourse/app/templates/components/bootstrap-mode-notice.hbs
  app/assets/javascripts/discourse/tests/acceptance/bootstrap-mode-notice-test.js
  app/assets/stylesheets/desktop/_index.scss
  app/assets/stylesheets/desktop/alert.scss
  app/assets/stylesheets/mobile/alert.scss
  config/locales/client.en.yml
  spec/models/translation_override_spec.rb
Due: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

Update translations (#17849)
  config/locales/client.es.yml
  config/locales/server.es.yml
Due: yaml-syntax

UX: add left sidebar toggle when sidebar enabled (#17831)
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/templates/components/sidebar/header-sidebar-toggle.hbs
  app/assets/javascripts/discourse/app/widgets/header-contents.js
  app/assets/javascripts/discourse/app/widgets/header.js
  app/assets/javascripts/discourse/app/widgets/sidebar-toggle.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-community-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-tags-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-test.js
  app/assets/stylesheets/common/base/header.scss
Due: prettier, prettier-scss, eslint

DEV: Add `registerUserMenuTab` plugin API (#17851)
  app/assets/javascripts/discourse/app/components/user-menu/menu.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/lib/user-menu/tab.js
  app/assets/javascripts/discourse/tests/acceptance/user-menu-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Due: prettier, eslint

DEV: Add messages tab to the new user menu (#17850)
  app/assets/javascripts/discourse/app/components/user-menu/menu.js
  app/assets/javascripts/discourse/app/components/user-menu/message-item.js
  app/assets/javascripts/discourse/app/components/user-menu/message-notification-item.hbs
  app/assets/javascripts/discourse/app/components/user-menu/message-notification-item.js
  app/assets/javascripts/discourse/app/components/user-menu/messages-list-empty-state.hbs
  app/assets/javascripts/discourse/app/components/user-menu/messages-list.js
  app/assets/javascripts/discourse/app/components/user-menu/notifications-list.js
  app/assets/javascripts/discourse/tests/acceptance/user-menu-test.js
  app/assets/javascripts/discourse/tests/fixtures/user-menu.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/bookmark-item-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/message-item-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/messages-list-test.js
  app/controllers/users_controller.rb
  app/models/notification.rb
  config/locales/client.en.yml
  config/routes.rb
  lib/topic_query/private_message_lists.rb
  spec/fabricators/post_fabricator.rb
  spec/requests/users_controller_spec.rb
Due: rubocop, prettier, eslint, yaml-syntax, i18n-lint

DEV: Fix the build (#17853)
  app/assets/javascripts/discourse/tests/acceptance/user-menu-test.js
Due: prettier, eslint

FIX: Destroy all posts when hard deleting topic (#17359)
  app/controllers/posts_controller.rb
  app/controllers/topics_controller.rb
  app/models/topic.rb
  lib/guardian/topic_guardian.rb
  lib/post_destroyer.rb
  spec/models/topic_spec.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop

SECURITY: Limit email invitations to topic
  app/models/invite.rb
  spec/models/invite_spec.rb
Due: rubocop

FEATURE: Allow private themes to be partially installed (#17644)
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-install-theme.js
  app/assets/javascripts/admin/addon/templates/customize-themes-show.hbs
  app/assets/javascripts/admin/addon/templates/modal/admin-install-theme.hbs
  app/assets/javascripts/discourse/tests/acceptance/themes-test.js
  app/assets/stylesheets/common/admin/customize.scss
  app/controllers/admin/themes_controller.rb
  app/models/remote_theme.rb
  config/locales/client.en.yml
  spec/requests/admin/themes_controller_spec.rb
Due: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

Version bump to v2.9.0.beta9
  lib/version.rb
Due: rubocop

DEV: `site-settings:main` -> `service:site-settings` (#17854)
  app/assets/javascripts/discourse/app/lib/plugin-api.js
Due: prettier, eslint

DEV: Attempt to fix flaky sidebar test (#17852)
  app/assets/javascripts/discourse/app/components/sidebar/more-section-links.js
Due: prettier, eslint

FEATURE: show status in search results when mentioning user in composers (#17811)
  app/assets/javascripts/discourse/app/helpers/emoji.js
  app/assets/javascripts/discourse/app/templates/user-selector-autocomplete.hbr
  app/assets/javascripts/discourse/tests/acceptance/composer-editor-mentions-test.js
Due: prettier, eslint

FIX: Don't notify editor when category or tag change (#17833)
  app/services/post_alerter.rb
  spec/jobs/notify_category_change_spec.rb
  spec/jobs/notify_tag_change_spec.rb
Due: rubocop

minor padding update for revamped user-menu (#17864)
  app/assets/stylesheets/common/base/menu-panel.scss
Due: prettier-scss

DEV: Update user-menu components to use `@glimmer/component` (#17869)
  app/assets/javascripts/discourse/app/components/user-menu/bookmark-notification-item.js
  app/assets/javascripts/discourse/app/components/user-menu/items-list.js
  app/assets/javascripts/discourse/app/components/user-menu/menu-item.js
  app/assets/javascripts/discourse/app/components/user-menu/menu.js
  app/assets/javascripts/discourse/app/components/user-menu/message-notification-item.js
  app/assets/javascripts/discourse/app/components/user-menu/notification-item.js
  app/assets/javascripts/discourse/app/components/user-menu/notifications-list-empty-state.js
  app/assets/javascripts/discourse/app/components/user-menu/notifications-list.js
  app/assets/javascripts/discourse/app/components/user-menu/reviewable-item.js
Due: prettier, eslint

FEATURE: Adds full screen composer submit button and prompt (#17839)
  app/assets/javascripts/admin/addon/templates/components/composer-fullscreen-prompt.hbs
  app/assets/javascripts/discourse/app/components/composer-fullscreen-prompt.js
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/models/composer.js
  app/assets/javascripts/discourse/app/templates/composer.hbs
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/stylesheets/desktop/compose.scss
  config/locales/client.en.yml
Due: prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
