Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FEATURE: Add more class names to latest-topic-list-item (#12933)
  app/assets/javascripts/discourse/app/components/latest-topic-list-item.js
Due: prettier, eslint-js

FIX: Pressing back from topic in bookmark list takes user to / (#12936)
  app/assets/javascripts/discourse/app/helpers/topic-link.js
  app/assets/javascripts/discourse/app/models/bookmark.js
  app/assets/javascripts/discourse/app/templates/components/bookmark-list.hbs
Due: prettier, eslint-js

DEV: Drop old IE11 intersection-observer references (#12942)
  app/assets/javascripts/vendor.js
  lib/tasks/javascript.rake
  package.json
  vendor/assets/javascripts/intersection-observer.js
  yarn.lock
Due: prettier, eslint-js

UX: update copy on the notifications empty panel (#12948)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FIX: limit visible revisions history to last 100 (#12946)
  app/serializers/post_revision_serializer.rb
  config/locales/client.en.yml
Due: rubocop, yaml-syntax, i18n-lint

Update translations (#12950)
  config/locales/client.da.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fa_IR.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.nl.yml
  config/locales/client.pl_PL.yml
  config/locales/client.ru.yml
  config/locales/client.sl.yml
  config/locales/client.sv.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
  config/locales/server.da.yml
  config/locales/server.fi.yml
Due: yaml-syntax

DEV: Update server startup warning to be more specific (#12949)
  bin/rails
  bin/unicorn
Due: none

FIX: Use the no-sandbox flag when running Ember CLI tests. (#12951)
  app/assets/javascripts/discourse/testem.js
Due: prettier, eslint-js

FIX: `{{ace-editor}}` was buggy in Ember CLI release (#12952)
  app/assets/javascripts/admin/addon/components/ace-editor.js
Due: prettier, eslint-js

FIX: Base topic details message on current category and tag tracking state (#12937)
  app/assets/javascripts/discourse/app/models/topic-details.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/topic-notifications-button-test.js
  app/assets/javascripts/discourse/tests/unit/models/topic-details-test.js
  app/assets/javascripts/select-kit/addon/components/topic-notifications-button.js
  app/assets/javascripts/select-kit/addon/templates/components/topic-notifications-button.hbs
  app/models/category_user.rb
  app/models/tag_user.rb
  app/models/user.rb
  app/serializers/basic_user_serializer.rb
  app/serializers/current_user_serializer.rb
  app/serializers/user_serializer.rb
  config/locales/client.en.yml
  spec/models/category_user_spec.rb
  spec/models/tag_user_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
