Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Add app event "topic:timings-sent" (#12737)
  app/assets/javascripts/discourse/app/lib/screen-track.js
  app/assets/javascripts/discourse/app/pre-initializers/inject-discourse-objects.js
Due: prettier, eslint-js

FIX: Allow CodeCommit-style theme .git url format (#12739)
  app/assets/javascripts/admin/addon/controllers/modals/admin-install-theme.js
  app/assets/javascripts/admin/addon/templates/modal/admin-install-theme.hbs
  app/assets/javascripts/discourse/tests/acceptance/admin-install-theme-modal-test.js
  app/assets/stylesheets/common/admin/customize.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

DEV: make font sizing and ratios default (#12741)
  app/assets/stylesheets/common/foundation/variables.scss
Due: none

FEATURE: Show the slow mode indicator in composer (#12720)
  app/assets/javascripts/select-kit/addon/components/composer-actions.js
Due: prettier, eslint-js

FIX: Enforce tag group count validation before sending to review queue (#12728)
  app/assets/javascripts/discourse/app/models/composer.js
  app/assets/javascripts/discourse/app/templates/composer.hbs
  app/assets/javascripts/select-kit/addon/components/mini-tag-chooser.js
  app/assets/stylesheets/common/base/edit-category.scss
  config/locales/server.en.yml
  lib/discourse_tagging.rb
  lib/topic_creator.rb
  spec/components/discourse_tagging_spec.rb
  spec/components/new_post_manager_spec.rb
  spec/components/topic_creator_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: POP3 polling shouldn't stop after exception or old email (#12742)
  app/jobs/scheduled/poll_mailbox.rb
  spec/jobs/poll_mailbox_spec.rb
Due: rubocop

DEV: adds an experimental `preserveKey` bool option to autocomplete (#12751)
  app/assets/javascripts/discourse/app/lib/autocomplete.js
Due: prettier, eslint-js

DEV: makes transformComplete async (#12752)
  app/assets/javascripts/discourse/app/lib/autocomplete.js
Due: prettier, eslint-js

UX: Mobile styling for discard draft modal buttons (#12735)
  app/assets/stylesheets/mobile/modal.scss
Due: none

DEV: Fix linting (#12754)
  app/assets/stylesheets/mobile/modal.scss
Due: none

Adding after-groups-index-container plugin-outlet (#12750)
  app/assets/javascripts/discourse/app/templates/groups/index.hbs
Due: none

UX: smoother timeline footer animation, padding fix (#12743)
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/topic-timeline.scss
  app/assets/stylesheets/desktop/topic.scss
Due: none

FEATURE: Add plugin outlet for category-box-below-each-category (#12755)
  app/assets/javascripts/discourse/app/templates/components/categories-boxes.hbs
Due: none

fix vbulletin importer to import unreferenced attachments (#12187)
  script/import_scripts/vbulletin.rb
Due: rubocop

FEATURE: Topic count in category boxes (#12756)
  app/assets/javascripts/discourse/app/templates/components/categories-boxes-with-topics.hbs
  app/assets/stylesheets/common/base/category-list.scss
Due: none

FIX: Clientside validate min tags for required tag group (#12758)
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/tests/acceptance/composer-tags-test.js
Due: prettier, eslint-js

FIX: user group message route should not be case-sensitive (#12753)
  app/controllers/list_controller.rb
  spec/requests/list_controller_spec.rb
Due: rubocop

soften language around daily limits and add daily (#12749)
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

UX: displays a descriptive error when theme is not allowed (#12763)
  app/controllers/admin/themes_controller.rb
  config/locales/server.en.yml
  spec/requests/admin/themes_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint
