Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD main
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD main
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {all_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {all_files}
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint plugins/**/test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Allow for taller images in posts and oneboxes (#15395)
  config/site_settings.yml
  spec/components/cooked_post_processor_spec.rb
Due: rubocop, yaml-syntax

DEV: Introduce Auth::Result API for overrides_* (#15378)
  lib/auth/managed_authenticator.rb
  lib/auth/result.rb
  spec/components/auth/managed_authenticator_spec.rb
  spec/lib/auth/result_spec.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Due: rubocop

REFACTOR: Use a consolidation rule for collapsing likes. (#15393)
  app/services/notifications/consolidate_notifications.rb
  app/services/notifications/consolidation_planner.rb
  app/services/notifications/delete_previous_notifications.rb
  app/services/post_alerter.rb
Due: rubocop

DEV: Re-organize TopicsController#reset_new tests (#15399)
  spec/requests/topics_controller_spec.rb
Due: rubocop

DEV: Remove old enable_experimental_composer_uploader site setting (#15406)
  config/site_settings.yml
  db/migrate/20211224011511_delete_experimental_composer_upload_setting.rb
Due: rubocop, yaml-syntax

UX: Maximize the preview space in composer (#15188)
  app/assets/javascripts/discourse/app/templates/components/composer-editor.hbs
  app/assets/javascripts/discourse/app/templates/components/d-editor.hbs
  app/assets/javascripts/discourse/app/templates/composer.hbs
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/stylesheets/common/base/compose.scss
  app/assets/stylesheets/common/d-editor.scss
  app/assets/stylesheets/common/select-kit/composer-actions.scss
  app/assets/stylesheets/desktop/compose.scss
  app/assets/stylesheets/mobile/compose.scss
  plugins/discourse-presence/assets/stylesheets/presence.scss
  plugins/discourse-presence/test/javascripts/acceptance/discourse-presence-test.js
Due: prettier, prettier-scss, eslint

DEV: Create post actions without creating a notification and store custom data. (#15397)
  app/assets/javascripts/discourse/app/widgets/default-notification-item.js
  app/services/post_alerter.rb
  lib/post_action_creator.rb
  spec/components/post_action_creator_spec.rb
  spec/services/post_alerter_spec.rb
Due: rubocop, prettier, eslint

Improve translation in pending reviewables reminder. (#15413)
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

FEATURE: allow sending message via a link to multiple users (#15412)
  app/assets/javascripts/discourse/app/routes/new-message.js
  app/assets/javascripts/discourse/tests/acceptance/new-message-test.js
Due: prettier, eslint

Update translations (#15416)
  config/locales/client.ar.yml
  config/locales/client.fa_IR.yml
  config/locales/client.hu.yml
  config/locales/client.ja.yml
  config/locales/client.sl.yml
  config/locales/client.sr.yml
  config/locales/client.uk.yml
  config/locales/client.zh_CN.yml
  config/locales/server.de.yml
  config/locales/server.es.yml
  config/locales/server.he.yml
  config/locales/server.hu.yml
  config/locales/server.it.yml
  config/locales/server.ko.yml
  config/locales/server.pl_PL.yml
  config/locales/server.sl.yml
  config/locales/server.sv.yml
  config/locales/server.uk.yml
  config/locales/server.zh_CN.yml
  plugins/discourse-details/config/locales/server.hu.yml
  plugins/discourse-local-dates/config/locales/client.hu.yml
  plugins/discourse-local-dates/config/locales/server.hu.yml
  plugins/discourse-narrative-bot/config/locales/server.hu.yml
  plugins/poll/config/locales/client.ar.yml
  plugins/poll/config/locales/client.hu.yml
  plugins/poll/config/locales/server.hu.yml
  plugins/poll/config/locales/server.uk.yml
Due: yaml-syntax

FIX: improve the way magnific popup is loaded (#15348)
  app/assets/javascripts/discourse/app/components/uppy-image-uploader.js
  app/assets/javascripts/discourse/app/initializers/post-decorations.js
  app/assets/javascripts/discourse/app/lib/lightbox.js
Due: prettier, eslint

DEV: Minor topic timeline refactor (#15357)
  app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/app/components/topic-timeline.js
  app/assets/javascripts/discourse/app/lib/header-outlet-height.js
  app/assets/javascripts/discourse/app/lib/sticky-avatars.js
  app/assets/javascripts/discourse/app/mixins/docking.js
  app/assets/stylesheets/common/topic-timeline.scss
Due: prettier, prettier-scss, eslint

DEV: Add `composer-open` class to body element when compsoer is open (#15420)
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/models/composer.js
Due: prettier, eslint

FIX: Don't allow NULL values for `notification_level` in `category_users` (#15407)
  app/models/category_user.rb
  db/migrate/20211224111749_not_null_notification_level_in_category_users.rb
  spec/jobs/export_user_archive_spec.rb
  spec/models/topic_list_spec.rb
  spec/models/topic_tracking_state_spec.rb
Due: rubocop

UX: improved invite accept page layout (#15418)
  app/assets/javascripts/discourse/app/templates/invites/show.hbs
  app/assets/stylesheets/common/base/login.scss
  app/assets/stylesheets/desktop/login.scss
  app/assets/stylesheets/mobile/login.scss
Due: prettier-scss

DEV: Remove Poll scope ignore pattern from Logster config
  config/initializers/100-logster.rb
Due: rubocop

DEV: Do not log `MimeNegotiation::InvalidType` to logster
  config/initializers/100-logster.rb
Due: rubocop

DEV: Do not log API key scope and/or source-ip mismatches (#15423)
  lib/auth/default_current_user_provider.rb
Due: rubocop

FEATURE: Automatic admin editor dark mode (#15419)
  app/assets/javascripts/admin/addon/components/ace-editor.js
  app/assets/javascripts/discourse/app/lib/public-js-versions.js
  lib/tasks/javascript.rake
  package.json
  public/javascripts/ace.js/1.4.12/ace.js
  public/javascripts/ace.js/1.4.12/ext-searchbox.js
  public/javascripts/ace.js/1.4.12/mode-sql.js
  public/javascripts/ace.js/1.4.12/theme-chrome.js
  public/javascripts/ace.js/1.4.13/ace.js
  public/javascripts/ace.js/1.4.13/ext-searchbox.js
  public/javascripts/ace.js/1.4.13/mode-html.js
  public/javascripts/ace.js/1.4.13/mode-scss.js
  public/javascripts/ace.js/1.4.13/mode-sql.js
  public/javascripts/ace.js/1.4.13/theme-chaos.js
  public/javascripts/ace.js/1.4.13/theme-chrome.js
  public/javascripts/ace.js/1.4.13/worker-html.js
  yarn.lock
Due: prettier, eslint

DEV: Small refactor to header offset (#15421)
  app/assets/javascripts/discourse/app/components/composer-body.js
  app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/app/components/topic-timeline.js
  app/assets/javascripts/discourse/app/lib/sticky-avatars.js
  app/assets/stylesheets/desktop/compose.scss
  plugins/discourse-narrative-bot/assets/javascripts/initializers/new-user-narrative.js
Due: prettier, prettier-scss, eslint
