Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

UX: mobile experimental sidebar improvement (#17302)
  app/assets/javascripts/discourse/app/components/sidebar.js
  app/assets/javascripts/discourse/app/controllers/application.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/templates/application.hbs
  app/assets/javascripts/discourse/app/templates/components/sidebar.hbs
  app/assets/javascripts/discourse/app/widgets/sidebar-toggle.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-mobile-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-test.js
  app/assets/stylesheets/common/base/discourse.scss
  app/assets/stylesheets/common/base/sidebar.scss
  app/assets/stylesheets/desktop/discourse.scss
  app/assets/stylesheets/mobile/discourse.scss
Due: prettier, prettier-scss, eslint

UX: Enforce bullet category style in sidebar (#17334)
  app/assets/javascripts/discourse/app/lib/sidebar/categories-section/category-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-categories-section-test.js
Due: prettier, eslint

UX: Update categories/tags in sidebar only after saving. (#17333)
  app/assets/javascripts/discourse/app/controllers/preferences/sidebar.js
  app/assets/javascripts/discourse/app/routes/preferences-sidebar.js
  app/assets/javascripts/discourse/app/templates/preferences/sidebar.hbs
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-sidebar-test.js
Due: prettier, eslint

UX: Hide user menu bookmark link when experimental sidebar is enabled (#17336)
  app/assets/javascripts/discourse/app/widgets/user-menu.js
  app/assets/javascripts/discourse/tests/integration/widgets/user-menu-test.js
Due: prettier, eslint

FIX: Posts can belong to hard-deleted topics (#17329)
  app/controllers/posts_controller.rb
  app/serializers/admin_user_action_serializer.rb
  spec/requests/posts_controller_spec.rb
Due: rubocop

FIX: Correct error in ip-lookup component definition (#17339)
  app/assets/javascripts/admin/addon/templates/components/ip-lookup.hbs
  app/assets/javascripts/discourse/app/components/ip-lookup.js
Due: prettier, eslint

UX: Prevent overlap between splash loader and splash text on some browsers (#17340)
  app/views/common/_discourse_splash.html.erb
Due: none

FEATURE: auto remove user status after predefined period (#17236)
  app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/app/components/user-card-contents.js
  app/assets/javascripts/discourse/app/controllers/user-status.js
  app/assets/javascripts/discourse/app/initializers/subscribe-user-notifications.js
  app/assets/javascripts/discourse/app/lib/time-shortcut.js
  app/assets/javascripts/discourse/app/lib/time-utils.js
  app/assets/javascripts/discourse/app/models/rest.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/templates/components/user-card-contents.hbs
  app/assets/javascripts/discourse/app/templates/modal/user-status.hbs
  app/assets/javascripts/discourse/app/widgets/quick-access-profile.js
  app/assets/javascripts/discourse/tests/acceptance/user-status-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/unit/models/user-test.js
  app/assets/stylesheets/common/base/discourse.scss
  app/assets/stylesheets/common/components/user-card.scss
  app/assets/stylesheets/common/modal/user-status.scss
  app/controllers/user_status_controller.rb
  app/models/user.rb
  app/models/user_status.rb
  app/serializers/current_user_serializer.rb
  app/serializers/user_card_serializer.rb
  app/serializers/user_status_serializer.rb
  config/locales/client.en.yml
  spec/requests/user_status_controller_spec.rb
  spec/serializers/current_user_serializer_spec.rb
  spec/serializers/user_card_serializer_spec.rb
Due: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

FEATURE: Allow iframe `allow` attribute in posts (#17291)
  app/assets/javascripts/pretty-text/addon/allow-lister.js
Due: prettier, eslint

UX: Prevent overlap between splash loader and splash text on some browsers take 2 (#17341)
  app/views/common/_discourse_splash.html.erb
Due: none

UX: staff notice should utilize full post width (#17346)
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier-scss

UX: Splash should always stick to top left corner of the viewport (#17348)
  app/views/common/_discourse_splash.html.erb
Due: none

UX: Prevent experimental sidebar scroll jumps (#17352)
  app/assets/javascripts/discourse/app/templates/components/sidebar.hbs
  app/assets/stylesheets/mobile/discourse.scss
Due: prettier-scss

DEV: Disable RAISE_ON_DEPRECATION (#17351)
  app/assets/javascripts/discourse/config/environment.js
Due: prettier, eslint

DEV: Update `sass` (#17349)
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: none

DEV: Improve multisite db scripts in dev (#17337)
  config/boot.rb
  config/database.yml
  lib/tasks/db.rake
  lib/temporary_db.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
