Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FEATURE: Introduce theme/component QUnit tests (take 2) (#12661)
  app/assets/javascripts/discourse/app/app.js
  app/assets/javascripts/discourse/app/helpers/theme-helpers.js
  app/assets/javascripts/discourse/app/initializers/auto-load-modules.js
  app/assets/javascripts/discourse/app/lib/theme-settings-store.js
  app/assets/javascripts/discourse/app/lib/utilities.js
  app/assets/javascripts/discourse/app/pre-initializers/theme-errors-handler.js
  app/assets/javascripts/discourse/app/services/theme-settings.js
  app/assets/javascripts/discourse/tests/setup-tests.js
  app/assets/javascripts/discourse/tests/test_helper.js
  app/assets/javascripts/discourse/tests/test_starter.js
  app/controllers/application_controller.rb
  app/controllers/qunit_controller.rb
  app/controllers/theme_javascripts_controller.rb
  app/helpers/application_helper.rb
  app/helpers/qunit_helper.rb
  app/models/theme.rb
  app/models/theme_field.rb
  app/views/qunit/index.html.erb
  config/routes.rb
  lib/tasks/qunit.rake
  lib/tasks/themes.rake
  lib/theme_javascript_compiler.rb
  spec/lib/theme_javascript_compiler_spec.rb
  spec/models/remote_theme_spec.rb
  spec/models/theme_field_spec.rb
  spec/models/theme_spec.rb
  spec/requests/qunit_controller_spec.rb
  spec/requests/theme_javascripts_controller_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Allow `Discourse::Utils.execute_command` timeout with `env` (#12672)
  lib/discourse.rb
  spec/components/discourse_spec.rb
Due: rubocop

FIX: only send user suspension emails if email message provided (#12666)
  app/controllers/admin/users_controller.rb
  spec/requests/admin/users_controller_spec.rb
Due: rubocop

FEATURE: Send an email notification when a post is approved. (#12665)
  app/mailers/user_notifications.rb
  app/models/reviewable_queued_post.rb
  app/services/notification_emailer.rb
  config/locales/server.en.yml
  spec/mailers/user_notifications_spec.rb
  spec/services/notification_emailer_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

DEV: Remove ScrollTop mixin (#12673)
  app/assets/javascripts/discourse/app/mixins/scroll-top.js
Due: prettier, eslint-js

UX: Improve poll builder UI (#12549)
  plugins/poll/assets/javascripts/controllers/poll-ui-builder.js.es6
  plugins/poll/assets/javascripts/discourse/templates/modal/poll-ui-builder.hbs
  plugins/poll/assets/stylesheets/common/poll-ui-builder.scss
  plugins/poll/assets/stylesheets/desktop/poll-ui-builder.scss
  plugins/poll/assets/stylesheets/mobile/poll-ui-builder.scss
  plugins/poll/config/locales/client.en.yml
  plugins/poll/plugin.rb
  plugins/poll/test/javascripts/acceptance/poll-builder-enabled-test.js.es6
  plugins/poll/test/javascripts/controllers/poll-ui-builder-test.js.es6
Due: rubocop, prettier, eslint-es6, yaml-syntax, i18n-lint

DEV: user suspension use .present? (#12676)
  app/controllers/admin/users_controller.rb
Due: rubocop

Update `caniuse-lite` to the latest version (#12677)
  app/assets/javascripts/discourse/yarn.lock
Due: none

enable eol-last for eslint and ember-template-lint (#12678)
  .eslintrc
  .template-lintrc.js
  app/assets/javascripts/admin/addon/templates/components/report-filters/bool.hbs
  app/assets/javascripts/admin/addon/templates/user-fields.hbs
  app/assets/javascripts/discourse/app/templates/components/composer-toggles.hbs
  app/assets/javascripts/discourse/app/templates/components/create-topics-notice.hbs
  app/assets/javascripts/discourse/app/templates/components/discourse-tag-bound.hbs
  app/assets/javascripts/discourse/app/templates/components/slow-mode-info.hbs
  app/assets/javascripts/discourse/app/templates/components/software-update-prompt.hbs
  app/assets/javascripts/discourse/app/templates/invites.hbs
  app/assets/javascripts/discourse/app/templates/modal/edit-slow-mode.hbs
  app/assets/javascripts/discourse/app/templates/preferences/profile.hbs
  app/assets/javascripts/discourse/app/templates/tag-groups-index.hbs
  app/assets/javascripts/discourse/app/templates/tags.hbs
Due: prettier, eslint-js

FIX: Allow raw-view classes to be resolved from themes/plugins (#12685)
  app/assets/javascripts/discourse/app/helpers/raw.js
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
