Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Document `/u/{username}.json` API endpoint
  spec/requests/api/topics_spec.rb
  spec/requests/api/users_spec.rb
Due: rubocop

UX: Add missing labels to mobile composer buttons
  app/assets/javascripts/discourse/app/components/composer-toggles.js
  app/assets/javascripts/discourse/app/templates/components/composer-toggles.hbs
  app/assets/javascripts/discourse/app/templates/composer.hbs
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

PERF: Don't load all poll_votes for a poll
  plugins/poll/app/models/poll.rb
  plugins/poll/app/serializers/poll_serializer.rb
  plugins/poll/plugin.rb
Due: rubocop

FIX: Make deleted topic post bookmarks more resilient (#10619)
  lib/bookmark_manager.rb
  lib/topic_view.rb
  spec/components/topic_view_spec.rb
  spec/lib/bookmark_manager_spec.rb
Due: rubocop

FIX: wraps popper call in afterRender and uses createPopper (#10621)
  app/assets/javascripts/discourse/app/widgets/widget-dropdown.js
Due: prettier, eslint-js

SECURITY: Don't allow moderators to view the admins inbox
  lib/topic_query.rb
Due: rubocop

Revert "SECURITY: Don't allow moderators to view the admins inbox"
  lib/topic_query.rb
Due: rubocop

SECURITY: Don't allow moderators to list PMs of all groups.
  app/controllers/list_controller.rb
  lib/topic_query.rb
  spec/components/topic_query_spec.rb
  spec/requests/list_controller_spec.rb
Due: rubocop

SECURITY: Remove indication that a group exists if user can't see it.
  app/controllers/groups_controller.rb
  spec/requests/groups_controller_spec.rb
Due: rubocop

DEV: Address review comments for 5ed84d9885b.
  lib/topic_query.rb
  spec/components/topic_query_spec.rb
Due: rubocop

DEV: Correct use of `sanitize_sql_array` in `TopicQuery`.
  lib/topic_query.rb
Due: rubocop

FIX: workaround constructor name not available after transpilation (#10623)
  app/assets/javascripts/discourse/app/widgets/widget.js
Due: prettier, eslint-js

FIX: handles different cases of canInvite/canRemove states in PM (#10607)
  app/assets/javascripts/discourse/app/widgets/private-message-map.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: We have changed the way `__widget_helpers` are resolved
  app/models/theme.rb
Due: rubocop

DEV: Strip unicode from color scheme stylesheet filenames (#10628)
  lib/stylesheet/manager.rb
  spec/components/stylesheet/manager_spec.rb
Due: rubocop

DEV: Resolve this child category pending request spec (#10604)
  spec/requests/list_controller_spec.rb
Due: rubocop

FIX: Admin should always be able to view group messages.
  lib/guardian/group_guardian.rb
  spec/requests/list_controller_spec.rb
Due: rubocop

PERF: Keep track of first unread PM and first unread group PM for user.
  app/jobs/scheduled/ensure_db_consistency.rb
  app/models/group_user.rb
  app/models/post_timing.rb
  app/models/user_stat.rb
  db/migrate/20200902054531_add_first_unread_pm_a_to_group_user.rb
  db/migrate/20200902082203_add_first_unread_pm_at_to_user_stats.rb
  db/post_migrate/20200903045539_add_index_topics_on_timestamps_private.rb
  lib/topic_query.rb
  spec/models/group_user_spec.rb
  spec/models/post_timing_spec.rb
  spec/models/user_stat_spec.rb
Due: rubocop

PERF: Memoize calls to `ApplicationHelper#scheme_id`.
  app/helpers/application_helper.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
