Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Fix typo. (#15857)
  app/jobs/base.rb
Due: rubocop

FIX: Overridden MessageFormat fallbacks (#15855)
  lib/js_locale_helper.rb
  spec/components/js_locale_helper_spec.rb
Due: rubocop

FIX: Explicitly set `allowfullscreen` on Wistia Oneboxes (#15828)
  lib/onebox/engine/wistia_onebox.rb
Due: rubocop

DEV: Add tests for wistia onebox. (#15860)
  lib/onebox/engine/wistia_onebox.rb
  spec/lib/onebox/engine/wistia_onebox_spec.rb
Due: rubocop

DEV: Make Ember CLI assets the default in production (#15861)
  app/controllers/qunit_controller.rb
  config/application.rb
  lib/tasks/assets.rake
Due: rubocop

DEV: Ensure that Discourse global is available for widget init (#15862)
  app/assets/javascripts/discourse/app/initializers/auto-load-modules.js
  app/assets/javascripts/discourse/app/initializers/inject-objects.js
Due: prettier, eslint

FEATURE: RS512, RS384 and RS256 COSE algorithms (#15804)
  lib/freedom_patches/cose_rsapkcs1.rb
  lib/webauthn.rb
  spec/lib/webauthn/security_key_authentication_service_spec.rb
Due: rubocop

DEV: Prioritize full name when setting active (#15820)
  app/assets/javascripts/discourse/app/components/quote-button.js
  app/assets/javascripts/discourse/app/lib/quote.js
  app/assets/javascripts/discourse/app/lib/transform-post.js
  app/assets/javascripts/discourse/app/models/composer.js
  app/assets/javascripts/discourse/app/widgets/post.js
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-quote-button-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/serializers/post_serializer.rb
Due: rubocop, prettier, eslint

Revert "DEV: Prioritize full name when setting active (#15820)" (#15869)
  app/assets/javascripts/discourse/app/components/quote-button.js
  app/assets/javascripts/discourse/app/lib/quote.js
  app/assets/javascripts/discourse/app/lib/transform-post.js
  app/assets/javascripts/discourse/app/models/composer.js
  app/assets/javascripts/discourse/app/widgets/post.js
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-quote-button-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/serializers/post_serializer.rb
Due: rubocop, prettier, eslint

DEV: Add Windows Hello webauthn authentication spec (#15871)
  spec/lib/webauthn/security_key_authentication_service_spec.rb
Due: rubocop

FEATURE: Add external_id to topics (#15825)
  app/controllers/posts_controller.rb
  app/controllers/topics_controller.rb
  app/models/topic.rb
  app/serializers/topic_view_serializer.rb
  config/routes.rb
  db/migrate/20220202225716_add_external_id_to_topics.rb
  lib/topic_creator.rb
  spec/components/topic_creator_spec.rb
  spec/models/topic_spec.rb
  spec/requests/posts_controller_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/serializers/topic_view_serializer_spec.rb
  spec/serializers/web_hook_topic_view_serializer_spec.rb
Due: rubocop

FIX: Avoid raising error when updating post and topic count user stats. (#15873)
  app/services/user_stat_count_updater.rb
  spec/services/user_stat_count_updater_spec.rb
Due: rubocop

DEV: Add focusComposer to composer controller (#15872)
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/models/composer.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
Due: prettier, eslint

DEV: Make clipboardCopy util available for import (#15874)
  app/assets/javascripts/admin/addon/controllers/admin-permalinks.js
  app/assets/javascripts/discourse/app/initializers/copy-codeblocks.js
  app/assets/javascripts/discourse/app/lib/utilities.js
Due: prettier, eslint

FIX: Clear drafts only when post is created by real user (#15720)
  app/controllers/posts_controller.rb
  app/models/topic.rb
  lib/post_creator.rb
  lib/topic_creator.rb
  spec/components/post_creator_spec.rb
  spec/models/draft_spec.rb
  spec/requests/posts_controller_spec.rb
Due: rubocop

FIX: Sort group owners and members together (#15708)
  app/controllers/groups_controller.rb
  spec/requests/groups_controller_spec.rb
Due: rubocop

DEV: adds initial support for custom blocks using code fencing (#15743)
  app/assets/javascripts/discourse/tests/unit/lib/allow-lister-test.js
  app/assets/javascripts/discourse/tests/unit/lib/pretty-text-test.js
  app/assets/javascripts/discourse/tests/unit/lib/sanitizer-test.js
  app/assets/javascripts/pretty-text/addon/sanitizer.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/code.js
  config/locales/server.en.yml
  spec/components/pretty_text_spec.rb
  spec/integrity/common_mark_spec.rb
Due: rubocop, prettier, eslint, yaml-syntax, i18n-lint

DEV: add native lazy loading for emojis (#15830)
  app/assets/javascripts/discourse/tests/acceptance/emoji-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-drafts-stream-test.js
  app/assets/javascripts/discourse/tests/unit/lib/pretty-text-test.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/emoji.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/quotes.js
  app/models/emoji.rb
  plugins/poll/spec/lib/pretty_text_spec.rb
  spec/components/cooked_post_processor_spec.rb
  spec/components/pretty_text_spec.rb
  spec/fabricators/post_fabricator.rb
  spec/helpers/user_notifications_helper_spec.rb
  spec/jobs/rebake_custom_emoji_posts_spec.rb
  spec/models/emoji_spec.rb
  spec/models/user_profile_spec.rb
  spec/services/search_indexer_spec.rb
Due: rubocop, prettier, eslint

FIX: Replace Twitter handles one at a time (#15870)
  lib/twitter_api.rb
  spec/lib/twitter_api_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
