Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD main
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD main
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {all_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {all_files}
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint plugins/**/test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: Support new layout on Amazon product pages (#16091)
  lib/onebox/engine/amazon_onebox.rb
  spec/fixtures/onebox/amazon-alternate.response
  spec/lib/onebox/engine/amazon_onebox_spec.rb
Due: rubocop

DEV: Actually focus stuff in tests (#16102)
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
Due: prettier, eslint

DEV: Remove remnants of nginx-perf-report plugin (#16107)
  lib/plugin/metadata.rb
  lib/tasks/plugin.rake
Due: rubocop

DEV: Use `Map()` to store emoji groups (#16065)
  app/assets/javascripts/discourse/app/components/emoji-picker.js
  app/assets/javascripts/pretty-text/addon/emoji.js
Due: prettier, eslint

DEV: Bump eslint-config-discourse (#16109)
  app/assets/javascripts/discourse/tests/helpers/component-test.js
  app/assets/javascripts/wizard/test/helpers/component-test.js
  package.json
  yarn.lock
Due: prettier, eslint

DEV: Drop lodash (#16110)
  app/assets/javascripts/discourse/app/pre-initializers/discourse-bootstrap.js
  app/assets/javascripts/vendor-common.js
  lib/pretty_text.rb
  lib/tasks/javascript.rake
  package.json
  vendor/assets/javascripts/lodash.js
  yarn.lock
Due: rubocop, prettier, eslint

FIX: Better 0 file size detection and logging (#16116)
  app/assets/javascripts/discourse/app/lib/uploads.js
  app/assets/javascripts/discourse/app/services/media-optimization-worker.js
  app/controllers/uploads_controller.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  public/javascripts/media-optimization-worker.js
  spec/requests/uploads_controller_spec.rb
Due: rubocop, prettier, eslint, yaml-syntax, i18n-lint
