Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

A11Y: Add labels where needed (#13686)
  app/assets/javascripts/discourse/app/templates/components/bookmark.hbs
  app/assets/javascripts/discourse/app/templates/topic.hbs
  app/assets/stylesheets/common/components/bookmark-modal.scss
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FIX: Use Terser for minification even if uglify-js is not available (#13683)
  lib/tasks/assets.rake
Due: none

FIX: Use array to keep best link for each onebox (#13717)
  app/assets/javascripts/discourse/app/widgets/post-cooked.js
Due: prettier, eslint-js

DEV: Update `i18n:check` rake task to detect invalid Markdown links (#13728)
  lib/i18n/locale_file_checker.rb
  lib/tasks/i18n.rake
Due: rubocop

FIX: A memoization bug in UserLookup and refactor (#13692)
  lib/user_lookup.rb
Due: rubocop

FIX: `user/badges` grid fix (#13729)
  app/assets/javascripts/discourse/app/templates/user/badges.hbs
  app/assets/javascripts/discourse/tests/acceptance/user-anonymous-test.js
  app/assets/stylesheets/desktop/user.scss
Due: prettier, eslint-js

DEV: Bump `discourse_dev_assets` to 0.0.3. (#13730)
  Gemfile.lock
Due: none

FIX: Remove button to dismiss theme error messages (#13734)
  app/assets/javascripts/admin/addon/templates/customize-themes-show.hbs
Due: none

FIX: Issues with custom icons in themes (#13732)
  app/models/theme_field.rb
  lib/svg_sprite/svg_sprite.rb
  spec/components/svg_sprite/svg_sprite_spec.rb
  spec/fixtures/images/bad-xml-icon-sprite.svg
  spec/models/theme_field_spec.rb
Due: rubocop

FIX: Assets for the theme tests page are not compressed (#13736)
  app/helpers/application_helper.rb
  spec/helpers/application_helper_spec.rb
Due: rubocop

UX: stop imgur/google photo mobile onebox overflow (#13738)
  app/assets/stylesheets/common/base/onebox.scss
Due: none

FEATURE: Add option to grant badge multiple times to users using Bulk Award (#13571)
  app/assets/javascripts/admin/addon/controllers/admin-badges-award.js
  app/assets/javascripts/admin/addon/routes/admin-badges-award.js
  app/assets/javascripts/admin/addon/templates/badges-award.hbs
  app/assets/javascripts/discourse/tests/acceptance/admin-badges-award-test.js
  app/assets/javascripts/discourse/tests/fixtures/badges-fixture.js
  app/assets/stylesheets/common/admin/badges.scss
  app/controllers/admin/badges_controller.rb
  app/jobs/regular/mass_award_badge.rb
  app/services/badge_granter.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  spec/jobs/mass_award_badge_spec.rb
  spec/requests/admin/badges_controller_spec.rb
  spec/services/badge_granter_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

DEV: trigger new discourse events `after_create_dev_record` & `after_populate_dev_records`. (#13733)
  lib/discourse_dev/record.rb
Due: rubocop

DEV: Improve rake `release_note:generate` date handling (#13726)
  lib/tasks/release_note.rake
Due: none

FIX: problems with choosing favorite badges (#13731)
  app/controllers/user_badges_controller.rb
  spec/requests/user_badges_controller_spec.rb
Due: rubocop

DEV: return populated data at the end of the method. (#13739)
  lib/discourse_dev/post.rb
  lib/discourse_dev/record.rb
  lib/discourse_dev/topic.rb
Due: rubocop

DEV: pass more arguments to before-create-topic-button (#13740)
  app/assets/javascripts/discourse/app/templates/components/d-navigation.hbs
Due: none

FEATURE: update existing users when group default notifications changed. (#13434)
  app/assets/javascripts/discourse/app/components/group-manage-save-button.js
  app/assets/javascripts/discourse/app/controllers/group-default-notifications.js
  app/assets/javascripts/discourse/app/mixins/modal-update-existing-users.js
  app/assets/javascripts/discourse/app/models/group.js
  app/assets/javascripts/discourse/app/templates/modal/group-default-notifications.hbs
  app/controllers/groups_controller.rb
  config/locales/client.en.yml
  spec/requests/groups_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Add order to outputted stylesheet link tags (#13735)
  config/site_settings.yml
  lib/stylesheet/manager.rb
  spec/components/stylesheet/manager_spec.rb
Due: rubocop, yaml-syntax

DEV: Remove stylesheet controller non-prod code (#13745)
  app/controllers/stylesheets_controller.rb
Due: rubocop
