Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: remove "--composer-height" style when composer is closed (#18022)
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
Due: prettier, eslint

FIX: Track native class deps in discourseComputed (#18023)
  app/assets/javascripts/discourse-common/addon/utils/handle-descriptor.js
  app/assets/javascripts/discourse/tests/unit/utils/decorators-test.js
Due: prettier, eslint

FIX: Move show like logic to client side (#18025)
  app/assets/javascripts/discourse/app/lib/transform-post.js
  app/serializers/post_serializer.rb
  spec/serializers/post_serializer_spec.rb
Due: rubocop, prettier, eslint

DEV: Correctly clear global exported variables
  app/assets/javascripts/discourse/app/components/topic-title.js
  app/assets/javascripts/discourse/app/lib/sidebar/custom-community-section-links.js
  app/assets/javascripts/discourse/app/lib/sidebar/custom-sections.js
  app/assets/javascripts/discourse/app/lib/user-menu/tab.js
  app/assets/javascripts/discourse/app/lib/user-presence.js
  app/assets/javascripts/discourse/app/widgets/post-menu.js
Due: prettier, eslint

DEV: Use `.ember-application` instead of `#main`
  app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/app/mixins/scrolling.js
  app/assets/javascripts/discourse/app/widgets/topic-admin-menu.js
Due: prettier, eslint

UX: do not show site header on wizard pages (#18037)
  app/assets/javascripts/discourse/app/controllers/application.js
  app/assets/javascripts/discourse/app/templates/application.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-test.js
  app/assets/javascripts/discourse/tests/acceptance/wizard-test.js
Due: prettier, eslint

FIX: ignore malformed HTML for title extraction (#18040)
  lib/retrieve_title.rb
  spec/lib/retrieve_title_spec.rb
Due: rubocop

DEV: improve comment (#18041)
  lib/retrieve_title.rb
Due: rubocop

UX: Remove sidebar section header background highlight on focus (#18043)
  app/assets/stylesheets/common/base/sidebar-section.scss
Due: prettier-scss

UX: Add badges section link to community section. (#18044)
  app/assets/javascripts/discourse/app/components/sidebar/user/community-section.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/badges-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
Due: prettier, eslint

DEV: Fix flaky spec due to ordering of Array intersection (#18045)
  app/models/user.rb
Due: rubocop

FEATURE: anonymous sidebar categories and tags (#18038)
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/categories-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/categories-section.js
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/sections.hbs
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/sections.js
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/tags-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/tags-section.js
  app/assets/javascripts/discourse/app/components/sidebar/user/tags-section.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/tags-section/pm-tag-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/tags-section/tag-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-tags-section-test.js
  app/models/user.rb
  app/serializers/site_serializer.rb
  spec/serializers/site_serializer_spec.rb
Due: rubocop, prettier, eslint

DEV: Skip loading plugin JS when running only core tests (#18047)
  .prettierignore
  app/assets/javascripts/discourse/lib/bootstrap-json/index.js
  app/assets/javascripts/discourse/public/assets/scripts/discourse-test-listen-boot.js
  app/assets/javascripts/discourse/public/assets/scripts/discourse-test-load-dynamic-js.js
  app/assets/javascripts/discourse/public/assets/scripts/discourse-test-trigger-ember-cli-boot.js
  app/assets/javascripts/discourse/tests/index.html
  app/assets/javascripts/discourse/tests/test-boot-ember-cli.js
Due: prettier, eslint

DEV: Increase timeout when pulling hotlinked image (#18036)
  app/jobs/regular/pull_hotlinked_images.rb
Due: rubocop

DEV: prevent class clash with user-field names (#18055)
  app/assets/javascripts/discourse/app/templates/components/user-card-contents.hbs
Due: none

Revert "UX: Hide chat image overflow (#18000)" (#18052)
  app/assets/stylesheets/common/base/onebox.scss
Due: prettier-scss

DEV: De-jQ sidebar tests (#18050)
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-tags-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-test.js
Due: prettier, eslint

DEV: Remove JQuery from `components/topic-list.js` (#18048)
  app/assets/javascripts/discourse/app/components/topic-list.js
Due: prettier, eslint

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
