Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

linting (#10644)
  spec/models/group_user_spec.rb
Due: rubocop

FIX: Account for different composer 'edit' states in discourse-presence (#10631)
  plugins/discourse-presence/assets/javascripts/discourse/components/composer-presence-display.js.es6
Due: prettier, eslint-es6

Revert "PERF: Use 1 query to load group and tag notification default."
  app/serializers/basic_group_serializer.rb
Due: rubocop

DEV: add plugin outlet below the categories-only component
  app/assets/javascripts/discourse/app/templates/components/categories-only.hbs
Due: none

FIX: Ignore empty search terms in topic queries
  lib/topic_query.rb
  spec/requests/list_controller_spec.rb
Due: rubocop

FIX: Adds important declaration to `.hidden` utility/helper class
  app/assets/stylesheets/common/foundation/helpers.scss
Due: none

FEATURE: add user opt to select bookmarks as home (#10597)
  app/assets/javascripts/discourse/app/controllers/preferences/interface.js
  app/models/user_option.rb
  test/javascripts/acceptance/preferences-test.js
  test/javascripts/fixtures/discovery_fixtures.js
  test/javascripts/fixtures/site-fixtures.js
  test/javascripts/helpers/site.js
Due: rubocop, prettier, eslint-js

FIX: Make sure rel attributes are correctly set. (#10645)
  lib/cooked_post_processor.rb
  lib/pretty_text.rb
  spec/components/cooked_post_processor_spec.rb
  spec/components/pretty_text_spec.rb
  spec/models/post_spec.rb
  spec/models/user_profile_spec.rb
Due: rubocop

FEATURE: show existing tag name on rename modal
  app/assets/javascripts/discourse/app/controllers/rename-tag.js
  app/assets/javascripts/discourse/app/templates/modal/rename-tag.hbs
Due: prettier, eslint-js

DEV: Add plugin api to permit bulk_action parameters (#10638)
  app/controllers/topics_controller.rb
  lib/discourse_plugin_registry.rb
  lib/plugin/instance.rb
Due: rubocop

DEV: Small refactor of topic progress wrapper positioning (#10646)
  app/assets/javascripts/discourse/app/components/topic-progress.js
  app/assets/stylesheets/common/base/compose.scss
  app/assets/stylesheets/common/foundation/variables.scss
  app/assets/stylesheets/desktop/topic.scss
  app/assets/stylesheets/mobile/topic.scss
Due: prettier, eslint-js

FIX: prevents eslint failure on unmatched patterns in plugins (#10648)
  lib/tasks/docker.rake
Due: none

UX: display moderators group name in the group dropdown menu.
  app/controllers/groups_controller.rb
  spec/requests/groups_controller_spec.rb
Due: rubocop

FIX: Prevent "uploads are missing in S3" alerts after restoring a backup
  app/jobs/scheduled/ensure_s3_uploads_existence.rb
  app/models/backup_metadata.rb
  lib/backup_restore/database_restorer.rb
  lib/backup_restore/restorer.rb
  spec/jobs/ensure_s3_uploads_existence_spec.rb
  spec/lib/backup_restore/database_restorer_spec.rb
Due: rubocop

FEATURE: moderators allowed to view groups which members can see.
  app/models/group.rb
  config/locales/client.en.yml
  spec/models/group_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FEATURE: Add bookmarks to the user export (#10591)
  app/jobs/regular/export_user_archive.rb
  spec/jobs/export_user_archive_spec.rb
Due: rubocop

Revert "FEATURE: moderators allowed to view groups which members can see."
  app/models/group.rb
  config/locales/client.en.yml
  spec/models/group_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

PERF: Fix broken memoization in `GroupShowSerializer`.
  app/serializers/group_show_serializer.rb
Due: rubocop

SECURITY: Mod should not see `group_users` and `second_factor_enabled`.
  app/serializers/user_serializer.rb
  spec/serializers/user_serializer_spec.rb
Due: rubocop

FEATURE: moderators allowed to view groups which members can see.
  app/models/group.rb
  config/locales/client.en.yml
  spec/models/group_spec.rb
  spec/requests/groups_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint
