Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

A11Y: makes post-edits-indicator a button instead of a link (#11811)
  app/assets/javascripts/discourse/app/widgets/button.js
  app/assets/javascripts/discourse/app/widgets/post-edits-indicator.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/integration/widgets/button-test.js
  app/assets/javascripts/discourse/tests/integration/widgets/post-test.js
  app/assets/stylesheets/common/base/_topic-list.scss
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier, eslint-js

FIX: Remove scheduled DND timings when schedule is disabed (#11814)
  app/models/user_notification_schedule.rb
  app/services/user_updater.rb
  spec/services/user_updater_spec.rb
Due: rubocop

FIX: Check the confirmation result before deleting SSO record (#11816)
  app/assets/javascripts/admin/addon/controllers/admin-user-index.js
Due: prettier, eslint-js

FIX: Cannot find currentThemeColorSchemeId when no themeId is present (#11817)
  app/assets/javascripts/discourse/app/controllers/preferences/interface.js
Due: prettier, eslint-js

A11Y: Structure user menu as tabs. (#11789)
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/widgets/button.js
  app/assets/javascripts/discourse/app/widgets/quick-access-panel.js
  app/assets/javascripts/discourse/app/widgets/user-menu.js
  app/assets/javascripts/discourse/tests/integration/widgets/user-menu-test.js
  app/assets/stylesheets/common/base/menu-panel.scss
Due: prettier, eslint-js

UX: Simplify narrative bot bio (#11820)
  plugins/discourse-narrative-bot/config/locales/server.en.yml
  plugins/discourse-narrative-bot/db/fixtures/001_discobot.rb
Due: rubocop, yaml-syntax, i18n-lint

edit button fix, follow up to 6f13d2b (#11821)
  app/assets/stylesheets/common/base/topic-post.scss
Due: none

FIX: remove rendering UX from bookmark model (#11765)
  app/assets/javascripts/discourse/app/components/bookmark-local-date.js
  app/assets/javascripts/discourse/app/components/topic-list-item.js
  app/assets/javascripts/discourse/app/controllers/bookmark.js
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/models/post.js
  app/assets/javascripts/discourse/app/models/topic.js
  app/assets/javascripts/discourse/app/templates/components/bookmark-local-date.hbs
  app/assets/javascripts/discourse/app/templates/modal/bookmark.hbs
  plugins/discourse-narrative-bot/assets/javascripts/initializers/new-user-narrative.js.es6
Due: prettier, eslint-es6, eslint-js

FIX: reindex_search job should work on model with no search data (#11819)
  app/controllers/users_controller.rb
  app/jobs/scheduled/reindex_search.rb
  app/models/user_search.rb
  spec/components/search_spec.rb
  spec/jobs/reindex_search_spec.rb
  spec/requests/similar_topics_controller_spec.rb
Due: rubocop

FIX: ensures timeline_lookup includes last tuple (#11829)
  lib/timeline_lookup.rb
  spec/lib/timeline_lookup_spec.rb
Due: rubocop

A11Y: uses role=button and supports ariaPressed for tapTile (#11827)
  app/assets/javascripts/discourse/app/components/tap-tile.js
Due: prettier, eslint-js

DEV: followup to 8edd2b38cb to use existing spec (#11830)
  spec/components/timeline_lookup_spec.rb
  spec/lib/timeline_lookup_spec.rb
Due: rubocop

FIX: Dismissing unread topics with a tag (#11832)
  app/assets/javascripts/discourse/app/mixins/bulk-topic-selection.js
Due: prettier, eslint-js

PERF: Migrate search data after locale rename (#11831)
  db/post_migrate/20210125100452_migrate_search_data_after_default_locale_rename.rb
Due: rubocop

FIX: Cleanup authentication_data cookie after login (#11834)
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
  spec/requests/application_controller_spec.rb
Due: rubocop

FIX: Destroy associated user api keys when making a user anonymous. (#11760)
  app/services/user_anonymizer.rb
  spec/services/user_anonymizer_spec.rb
Due: rubocop

UX: respect `email_editable` site setting in user activation page. (#11835)
  app/assets/javascripts/discourse/app/components/activation-controls.js
  app/assets/javascripts/discourse/app/templates/components/activation-controls.hbs
  app/assets/javascripts/discourse/tests/integration/components/activation-controls-test.js
  config/site_settings.yml
Due: prettier, eslint-js, yaml-syntax

FIX: un-prioritise inactive users in user search (#11838)
  app/models/user_search.rb
  spec/models/user_search_spec.rb
Due: rubocop

FIX: only de-prioritise exact matches in mentions (#11843)
  app/models/user_search.rb
  spec/models/user_search_spec.rb
Due: rubocop

FIX: "Customize text" link was broken on badges admin page (#11842)
  app/assets/javascripts/admin/addon/templates/badges-show.hbs
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
