Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

PERF: Do not enqueue digest emails when attempted recently (#10849)
  app/jobs/regular/user_email.rb
  app/jobs/scheduled/enqueue_digest_emails.rb
  app/models/user_stat.rb
  db/migrate/20201007124955_add_digest_attempted_at_to_user_stats.rb
  spec/jobs/enqueue_digest_emails_spec.rb
  spec/jobs/user_email_spec.rb
Due: rubocop

FIX: Compare Jobs::UserEmail type argument as string (#10851)
  app/jobs/regular/user_email.rb
Due: rubocop

FIX: Include topics from subcategories in tracked list (#10850)
  lib/topic_query.rb
  spec/components/topic_query_spec.rb
Due: rubocop

REFACTOR: Some qunit `module` imports were missing
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/unit/lib/click-track-edit-history-test.js
  app/assets/javascripts/discourse/tests/unit/lib/click-track-profile-page-test.js
  app/assets/javascripts/discourse/tests/unit/lib/highlight-search-test.js
Due: prettier, eslint-js

FIX: Respect show_category_definitions_in_topic_lists in category lists (#10853)
  lib/topic_query.rb
  spec/components/topic_query_spec.rb
Due: rubocop

FIX: Group Requests loading was broken
  app/assets/javascripts/discourse/app/controllers/group-requests.js
Due: prettier, eslint-js

FIX: missing SVG mask asset in wizard (#10856)
  app/assets/stylesheets/wizard.scss
  public/images/wizard/bubbles.svg
Due: none

DEV: Fix typo
  app/jobs/scheduled/ensure_db_consistency.rb
Due: rubocop

FIX - downcase strings consistently (#10861)
  lib/topic_creator.rb
  spec/requests/posts_controller_spec.rb
Due: rubocop

PERF: avoid lookbehinds when indexing search (#10862)
  lib/search.rb
  spec/services/search_indexer_spec.rb
Due: rubocop

FIX: Scheduled jobs not showing up in /sidekiq/schedule in dev.
  config/initializers/100-sidekiq.rb
Due: rubocop

Fix broken spec.
  lib/search.rb
Due: rubocop

DEV: remove legacy code
  db/migrate/20120803191426_add_admin_flag_to_users.rb
Due: rubocop

FIX: Confirm new email not sent for staff if email disabled with "non-staff" option (#10794)
  lib/email/sender.rb
  spec/components/email/sender_spec.rb
Due: rubocop

FIX: ensures category chooser is working with non english char (#10866)
  app/assets/javascripts/discourse/tests/acceptance/category-chooser-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/category-chooser-test.js
  app/assets/javascripts/select-kit/addon/components/category-chooser.js
Due: prettier, eslint-js

FIX: ensures insert hyperlink works with mailto (#10867)
  app/assets/javascripts/discourse/app/controllers/insert-hyperlink.js
  app/assets/javascripts/discourse/app/lib/url.js
  app/assets/javascripts/discourse/tests/acceptance/composer-hyperlink-test.js
  app/assets/javascripts/discourse/tests/unit/lib/url-test.js
Due: prettier, eslint-js

FIX: Use scope name when serializing UserApiKeys (#10871)
  app/serializers/user_serializer.rb
Due: rubocop

Ignore disabled out-of-date remote themes (#10870)
  app/models/remote_theme.rb
  spec/models/remote_theme_spec.rb
Due: rubocop
