Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Compile splash screen JS with ember-cli before inlining (#18150)
  app/assets/javascripts/discourse/scripts/splash-screen.js
  app/helpers/application_helper.rb
  app/helpers/splash_screen_helper.rb
  app/views/common/_discourse_splash.html.erb
  lib/content_security_policy/default.rb
  spec/requests/application_controller_spec.rb
Due: rubocop, prettier, eslint

FIX: Immediately show sql options when badge query is supplied
  app/assets/javascripts/admin/addon/controllers/admin-badges/show.js
  app/assets/javascripts/admin/addon/templates/admin-badges/show.hbs
  app/assets/javascripts/discourse/tests/acceptance/admin-badges-show-test.js
Due: prettier, eslint

UX: Show information about badge errors when saving
  app/assets/javascripts/discourse/app/models/badge.js
Due: prettier, eslint

DEV: Try to kickstart npm updates (#18152)
  .github/dependabot.yml
Due: yaml-syntax

FIX: Return next bookmarks page only if it exists (#18139)
  app/assets/javascripts/discourse/app/controllers/user-activity-bookmarks.js
  app/models/user_bookmark_list.rb
  app/serializers/user_bookmark_list_serializer.rb
  lib/bookmark_query.rb
  spec/models/user_bookmark_list_spec.rb
Due: rubocop, prettier, eslint

FIX: Keep private theme key secret from user (#18106)
  app/assets/javascripts/admin/addon/controllers/modals/admin-install-theme.js
  app/controllers/admin/themes_controller.rb
  config/locales/server.en.yml
  spec/requests/admin/themes_controller_spec.rb
Due: rubocop, prettier, eslint, yaml-syntax, i18n-lint

DEV: Use DiscourseJsProcessor for theme template compilation (#18135)
  app/assets/javascripts/discourse-common/addon/lib/raw-handlebars.js
  app/assets/javascripts/discourse-js-processor.js
  app/assets/javascripts/discourse/public/assets/scripts/discourse-boot.js
  app/models/theme.rb
  app/models/theme_field.rb
  lib/discourse_js_processor.rb
  lib/theme_javascript_compiler.rb
  spec/lib/discourse_js_processor_spec.rb
  spec/lib/theme_javascript_compiler_spec.rb
  spec/models/theme_field_spec.rb
  spec/models/theme_spec.rb
Due: rubocop, prettier, eslint

FIX: do not show "create topics" notice on wizard route (#18153)
  app/assets/javascripts/discourse/app/components/create-topics-notice.js
Due: prettier, eslint

UX: Close the revamped user menu when opening modals (#18148)
  app/assets/javascripts/discourse/app/components/user-menu/menu.hbs
  app/assets/javascripts/discourse/app/components/user-menu/profile-tab-content.js
  app/assets/javascripts/discourse/app/widgets/header.js
  app/assets/javascripts/discourse/tests/acceptance/do-not-disturb-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-status-test.js
Due: prettier, eslint

DEV: Add below-login-buttons plugin outlet (#18154)
  app/assets/javascripts/discourse/app/templates/components/login-buttons.hbs
Due: none

FIX: Create single notification per post and user (#18091)
  app/services/post_alerter.rb
  spec/services/post_alerter_spec.rb
Due: rubocop

FIX: Ensure discovery-categories always clears PreloadStore (#18157)
  app/assets/javascripts/discourse/app/routes/discovery-categories.js
  app/assets/javascripts/discourse/tests/acceptance/categories-test.js
Due: prettier, eslint

FIX: Use plugin's defined name for es6 module path (#18159)
  app/assets/javascripts/discourse-plugins/index.js
  app/assets/javascripts/discourse/lib/bootstrap-json/index.js
Due: prettier, eslint

DEV: Add tags to a topic fixture (#18162)
  app/assets/javascripts/discourse/tests/fixtures/topic.js
Due: prettier, eslint

FEATURE: other notifications tab for redesign user menu (#18164)
  app/assets/javascripts/discourse/app/components/user-menu/likes-notifications-list.js
  app/assets/javascripts/discourse/app/components/user-menu/mentions-notifications-list.js
  app/assets/javascripts/discourse/app/components/user-menu/menu.hbs
  app/assets/javascripts/discourse/app/components/user-menu/menu.js
  app/assets/javascripts/discourse/app/components/user-menu/notifications-list.js
  app/assets/javascripts/discourse/app/components/user-menu/other-notifications-list.js
  app/assets/javascripts/discourse/app/components/user-menu/replies-notifications-list.js
  app/assets/javascripts/discourse/app/lib/user-menu/tab.js
  app/assets/javascripts/discourse/tests/acceptance/user-menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/site-header-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/menu-test.js
  lib/svg_sprite.rb
  vendor/assets/svg-icons/discourse-additional.svg
Due: rubocop, prettier, eslint

UX: Fix width of preview pane to fix scroll (#18166)
  app/assets/javascripts/wizard/addon/components/homepage-preview.js
  app/assets/javascripts/wizard/addon/components/styling-preview.js
Due: prettier, eslint

FIX: Theme components should work with empty locale files (#18167)
  app/models/theme.rb
  lib/theme_translation_parser.rb
  spec/models/theme_field_spec.rb
Due: rubocop

UX: make user status emoji on post stream smaller (#18169)
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier-scss

DEV: make ember-cli skip plugin directories without `plugin.rb` (#18171)
  app/assets/javascripts/discourse-plugins/index.js
Due: prettier, eslint

FIX: raw translation string in user status tooltip (#18170)
  app/assets/javascripts/discourse/app/widgets/user-status-bubble.js
Due: prettier, eslint

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
