Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: Don't try to focus on a missing element (#11766)
  app/assets/javascripts/admin/addon/components/embeddable-host.js
  app/assets/javascripts/admin/addon/templates/components/embeddable-host.hbs
Due: prettier, eslint-js

FIX: Polish lang label (#11767)
  config/locales/names.yml
Due: yaml-syntax

DEV: implements combobox roles for select-kit (#11769)
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-body.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-filter.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-row.js
  app/assets/javascripts/select-kit/addon/components/select-kit/single-select-header.js
  app/assets/javascripts/select-kit/addon/templates/components/selected-name.hbs
Due: prettier, eslint-js

DEV: makes user-stream an unordered list (#11770)
  app/assets/javascripts/discourse/app/components/user-stream-item.js
  app/assets/javascripts/discourse/app/components/user-stream.js
  app/assets/stylesheets/common/components/user-stream-item.scss
Due: prettier, eslint-js

FEATURE: Create notification schedule to automatically set do not disturb time (#11665)
  app/assets/javascripts/discourse/app/components/user-notification-schedule-day.js
  app/assets/javascripts/discourse/app/components/user-notification-schedule.js
  app/assets/javascripts/discourse/app/controllers/do-not-disturb.js
  app/assets/javascripts/discourse/app/controllers/preferences/notifications.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/templates/components/user-notification-schedule-day.hbs
  app/assets/javascripts/discourse/app/templates/components/user-notification-schedule.hbs
  app/assets/javascripts/discourse/app/templates/modal/do-not-disturb.hbs
  app/assets/javascripts/discourse/app/templates/preferences/notifications.hbs
  app/assets/javascripts/discourse/tests/acceptance/do-not-disturb-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-notifications-test.js
  app/assets/javascripts/discourse/tests/fixtures/user-fixtures.js
  app/assets/stylesheets/common/base/user.scss
  app/controllers/users_controller.rb
  app/jobs/scheduled/process_user_notification_schedules.rb
  app/models/user.rb
  app/models/user_notification_schedule.rb
  app/serializers/user_serializer.rb
  app/services/user_notification_schedule_processor.rb
  app/services/user_updater.rb
  config/locales/client.en.yml
  db/migrate/20210106181418_create_user_notification_schedules.rb
  spec/models/user_notification_schedule_spec.rb
  spec/requests/users_controller_spec.rb
  spec/serializers/web_hook_user_serializer_spec.rb
  spec/services/user_notification_schedule_processor_spec.rb
  spec/services/user_updater_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

A11y: Accessible user menu icons (#11763)
  app/assets/javascripts/discourse/app/widgets/default-notification-item.js
  app/assets/javascripts/discourse/app/widgets/link.js
  app/assets/javascripts/discourse/app/widgets/user-menu.js
Due: prettier, eslint-js

A11Y: Improve the quick access menu accessibility. (#11757)
  app/assets/javascripts/discourse/app/widgets/do-not-disturb.js
  app/assets/javascripts/discourse/app/widgets/quick-access-item.js
  app/assets/javascripts/discourse/app/widgets/quick-access-panel.js
  app/assets/javascripts/discourse/app/widgets/quick-access-profile.js
  app/assets/javascripts/discourse/tests/integration/widgets/user-menu-test.js
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/mobile/menu-panel.scss
Due: prettier, eslint-js

FIX: Allow max_redemptions_limit to be 1 (#11771)
  app/assets/javascripts/discourse/app/templates/components/invite-link-panel.hbs
Due: none

FEATURE: Add English (UK) as locale (#11768)
  app/assets/javascripts/discourse/tests/fixtures/about.js
  app/assets/javascripts/discourse/tests/fixtures/user-fixtures.js
  app/assets/javascripts/discourse/tests/integration/components/d-editor-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/dropdown-select-box-test.js
  app/assets/javascripts/discourse/tests/test_helper.js
  app/assets/javascripts/locales/en_GB.js.erb
  app/assets/javascripts/locales/en_US.js.erb
  app/assets/javascripts/wizard/test/test_helper.js
  app/models/locale_site_setting.rb
  config/locales/client.en.yml
  config/locales/client.en_GB.yml
  config/locales/names.yml
  config/locales/server.en.yml
  config/locales/server.en_GB.yml
  config/site_settings.yml
  db/migrate/20210120125607_rename_english_locale.rb
  lib/js_locale_helper.rb
  lib/site_settings/defaults_provider.rb
  spec/components/freedom_patches/translate_accelerator_spec.rb
  spec/components/js_locale_helper_spec.rb
  spec/components/site_setting_extension_spec.rb
  spec/lib/i18n/fallback_locale_list_spec.rb
  spec/lib/search_spec.rb
  spec/mailers/user_notifications_spec.rb
  spec/models/locale_site_setting_spec.rb
  spec/multisite/site_settings_spec.rb
  spec/requests/extra_locales_controller_spec.rb
  spec/services/badge_granter_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: I18n couldn't find translations. (#11774)
  app/controllers/admin/site_texts_controller.rb
  app/serializers/site_text_serializer.rb
Due: rubocop

UX: Fallback locale warning improvements. (#11775)
  app/assets/javascripts/admin/addon/controllers/admin-site-text-index.js
  app/assets/javascripts/admin/addon/templates/site-text-index.hbs
  config/locales/client.en.yml
  config/site_settings.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

DEV: IMAP debugging improvements (#11784)
  app/models/imap_sync_log.rb
  app/models/incoming_email.rb
  app/models/post.rb
  lib/demon/email_sync.rb
  lib/imap/sync.rb
  spec/jobs/cleanup_imap_sync_log_spec.rb
Due: rubocop

It's 2021 🥳
  README.md
Due: none

DEV: Remove Dangerfile
  Dangerfile
Due: none

FIX: Change default for IncomingEmail#created_via to 0 (unknown) and make NOT NULL (#11782)
  app/models/incoming_email.rb
  db/migrate/20210121001720_change_incoming_email_created_at_null.rb
  lib/email/receiver.rb
  spec/fabricators/incoming_email_fabricator.rb
Due: rubocop

DEV: Remove an unused i18n string (#11783)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FIX: Show the fallback locale warning when both settings are enabled. (#11787)
  app/assets/javascripts/admin/addon/controllers/admin-site-text-index.js
Due: prettier, eslint-js

FIX: Embedded comments should only return regular posts (#11773)
  app/controllers/embed_controller.rb
  lib/topic_view.rb
  spec/components/topic_view_spec.rb
Due: rubocop

UX: Make moment.js produce Arabic numerals instead of Hindi numerals in the Arabic locale (#11788)
  app/assets/javascripts/locales/ar.js.erb
Due: none
