Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: In test mode, initializers were modifying classes over and over
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  plugins/discourse-details/assets/javascripts/initializers/apply-details.js.es6
  plugins/discourse-local-dates/assets/javascripts/initializers/discourse-local-dates.js.es6
  plugins/discourse-narrative-bot/assets/javascripts/initializers/new-user-narrative.js.es6
  plugins/poll/assets/javascripts/initializers/add-poll-ui-builder.js.es6
  plugins/poll/assets/javascripts/initializers/extend-for-poll.js.es6
Due: prettier, eslint-es6, eslint-js

FIX: bug with navigation to the activity/topics and the activity/read pages (#14182)
  app/assets/javascripts/discourse/app/routes/user-activity-read.js
  app/assets/javascripts/discourse/app/routes/user-activity-topics.js
Due: prettier, eslint-js

DEV: prevents broken tests due to focus bubbling (#14223)
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-row.js
Due: prettier, eslint-js

DEV: prevents uppy to act on destroyed object (#14224)
  app/assets/javascripts/discourse/app/mixins/composer-upload-uppy.js
  app/assets/javascripts/discourse/app/mixins/upload.js
  app/assets/javascripts/discourse/app/mixins/uppy-upload.js
Due: prettier, eslint-js

DEV: re-enable ember-cli tests on CI (#14189)
  .github/workflows/ember.yml
Due: yaml-syntax

Version bump to v2.8.0.beta6 (#14228)
  lib/version.rb
Due: rubocop

DEV: This constructs a `pluginId` for `modifyClass` when dispatching events
  app/assets/javascripts/discourse/app/lib/plugin-api.js
Due: prettier, eslint-js

FEATURE: Enable auto dark mode on new instances (#14208)
  db/fixtures/600_themes.rb
  lib/wizard/builder.rb
  spec/components/wizard/step_updater_spec.rb
Due: rubocop

UX: Remove `:empty` on topic-statuses, clean up (#14227)
  app/assets/stylesheets/common/base/_topic-list.scss
  app/assets/stylesheets/common/base/discourse.scss
  app/assets/stylesheets/common/base/reviewables.scss
  app/assets/stylesheets/common/base/topic.scss
  app/assets/stylesheets/common/components/bookmark-list.scss
  app/assets/stylesheets/desktop/category-list.scss
  app/assets/stylesheets/desktop/compose.scss
Due: none

A11Y: Improve create account modal for screen readers (#14204)
  app/assets/javascripts/discourse-loader.js
  app/assets/javascripts/discourse/app/components/d-modal-body.js
  app/assets/javascripts/discourse/app/components/d-modal.js
  app/assets/javascripts/discourse/app/controllers/create-account.js
  app/assets/javascripts/discourse/app/controllers/login.js
  app/assets/javascripts/discourse/app/initializers/ember-input-component-extension.js
  app/assets/javascripts/discourse/app/lib/show-modal.js
  app/assets/javascripts/discourse/app/mixins/name-validation.js
  app/assets/javascripts/discourse/app/mixins/password-validation.js
  app/assets/javascripts/discourse/app/mixins/username-validation.js
  app/assets/javascripts/discourse/app/models/login-method.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/templates/components/d-modal.hbs
  app/assets/javascripts/discourse/app/templates/components/login-buttons.hbs
  app/assets/javascripts/discourse/app/templates/modal.hbs
  app/assets/javascripts/discourse/app/templates/modal/create-account.hbs
  app/assets/javascripts/discourse/tests/acceptance/create-account-user-fields-test.js
  app/assets/stylesheets/common/base/login.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

Revert "A11Y: Improve create account modal for screen readers (#14204)" (#14233)
  app/assets/javascripts/discourse-loader.js
  app/assets/javascripts/discourse/app/components/d-modal-body.js
  app/assets/javascripts/discourse/app/components/d-modal.js
  app/assets/javascripts/discourse/app/controllers/create-account.js
  app/assets/javascripts/discourse/app/controllers/login.js
  app/assets/javascripts/discourse/app/initializers/ember-input-component-extension.js
  app/assets/javascripts/discourse/app/lib/show-modal.js
  app/assets/javascripts/discourse/app/mixins/name-validation.js
  app/assets/javascripts/discourse/app/mixins/password-validation.js
  app/assets/javascripts/discourse/app/mixins/username-validation.js
  app/assets/javascripts/discourse/app/models/login-method.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/templates/components/d-modal.hbs
  app/assets/javascripts/discourse/app/templates/components/login-buttons.hbs
  app/assets/javascripts/discourse/app/templates/modal.hbs
  app/assets/javascripts/discourse/app/templates/modal/create-account.hbs
  app/assets/javascripts/discourse/tests/acceptance/create-account-user-fields-test.js
  app/assets/stylesheets/common/base/login.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

A11Y: Improve create account modal for screen readers (#14234)
  app/assets/javascripts/discourse/app/components/d-modal-body.js
  app/assets/javascripts/discourse/app/components/d-modal.js
  app/assets/javascripts/discourse/app/controllers/create-account.js
  app/assets/javascripts/discourse/app/controllers/login.js
  app/assets/javascripts/discourse/app/initializers/ember-input-component-extension.js
  app/assets/javascripts/discourse/app/lib/show-modal.js
  app/assets/javascripts/discourse/app/mixins/name-validation.js
  app/assets/javascripts/discourse/app/mixins/password-validation.js
  app/assets/javascripts/discourse/app/mixins/username-validation.js
  app/assets/javascripts/discourse/app/models/login-method.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/templates/components/d-modal.hbs
  app/assets/javascripts/discourse/app/templates/components/login-buttons.hbs
  app/assets/javascripts/discourse/app/templates/modal.hbs
  app/assets/javascripts/discourse/app/templates/modal/create-account.hbs
  app/assets/javascripts/discourse/tests/acceptance/create-account-user-fields-test.js
  app/assets/stylesheets/common/base/login.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

PERF: Improve query perf when fetching unread for PM topic tracking state. (#14237)
  app/models/private_message_topic_tracking_state.rb
Due: rubocop

FIX: increase chunk size to fetch title tag correctly (#14144)
  lib/retrieve_title.rb
  spec/components/retrieve_title_spec.rb
Due: rubocop

FIX: allow single string values on custom multiple select fields and not just arrays (#14236)
  app/controllers/users_controller.rb
  spec/requests/users_controller_spec.rb
Due: rubocop

DEV: Add missing operationIds to the api docs (#14235)
  spec/requests/api/backups_spec.rb
  spec/requests/api/badges_spec.rb
  spec/requests/api/categories_spec.rb
  spec/requests/api/groups_spec.rb
  spec/requests/api/invites_spec.rb
  spec/requests/api/notifications_spec.rb
  spec/requests/api/posts_spec.rb
  spec/requests/api/private_messages_spec.rb
  spec/requests/api/search_spec.rb
  spec/requests/api/tags_spec.rb
  spec/requests/api/topics_spec.rb
  spec/requests/api/uploads_spec.rb
  spec/requests/api/user_badges_spec.rb
  spec/requests/api/users_spec.rb
Due: rubocop

DEV: simplify logic when selecting an undefined value (#14225)
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Due: prettier, eslint-js

DEV: prevents focus event bubbling (#14241)
  app/assets/javascripts/select-kit/addon/components/select-kit/single-select-header.js
Due: prettier, eslint-js

FIX: Don't attempt to migrate concurrently with other migrations (#14231)
  lib/tasks/db.rake
Due: none

DEV: toggle sk on click (#14243)
  app/assets/javascripts/select-kit/addon/components/select-kit.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-body.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-filter.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-header.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-row.js
  app/assets/javascripts/select-kit/addon/templates/components/topic-notifications-button.hbs
Due: prettier, eslint-js
