Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: Remove dismiss read topics from PM topic tracking state. (#14287)
  app/assets/javascripts/discourse/app/mixins/bulk-topic-selection.js
  app/assets/javascripts/discourse/app/models/private-message-topic-tracking-state.js
  app/assets/javascripts/discourse/tests/acceptance/user-private-messages-test.js
Due: prettier, eslint-js

FIX: Remove dismissed new topics from PM topic tracking state. (#14288)
  app/assets/javascripts/discourse/app/controllers/user-topics-list.js
  app/assets/javascripts/discourse/tests/acceptance/user-private-messages-test.js
  app/controllers/topics_controller.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, prettier, eslint-js

FIX: Display unread/new PM links only when viewing own user. (#14290)
  app/assets/javascripts/discourse/app/templates/user/messages.hbs
  app/assets/javascripts/discourse/tests/acceptance/user-private-messages-test.js
  app/controllers/list_controller.rb
  spec/requests/list_controller_spec.rb
Due: rubocop, prettier, eslint-js

FIX: Do not replace in mentions and hashtags (#14260)
  app/assets/javascripts/pretty-text/engines/discourse-markdown/watched-words.js
  spec/components/pretty_text_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Don't check the `defaultState` every time a widget is rendered
  app/assets/javascripts/discourse/app/widgets/widget.js
Due: prettier, eslint-js

FIX: Correct the play icon position (#14295)
  app/assets/stylesheets/common/base/onebox.scss
  lib/onebox/engine/google_photos_onebox.rb
  lib/onebox/engine/reddit_media_onebox.rb
Due: rubocop

FIX: Resolve short URLs after diffHTML was loaded (#14296)
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/lib/public-js-versions.js
  package.json
  public/javascripts/diffhtml/1.0.0-beta.18/diffhtml.min.js
  public/javascripts/diffhtml/1.0.0-beta.20/diffhtml.min.js
  yarn.lock
Due: prettier, eslint-js

markdown_linkify_tlds: Added onion in default
  config/site_settings.yml
Due: yaml-syntax

DEV: Work around HTMLElement.innerText differences between browsers (#14297)
  app/assets/javascripts/discourse/tests/acceptance/user-private-messages-test.js
Due: prettier, eslint-js

FIX: Don't attempt to migrate multisite test db while holding the mutex (#14298)
  lib/tasks/db.rake
Due: none

DEV: Run Ember CLI tests in Firefox evergreen too (#14283)
  .github/workflows/ember.yml
  app/assets/javascripts/discourse/testem.js
Due: prettier, eslint-js, yaml-syntax

DEV: Add rake task to check that the DB can be accessed (#14300)
  lib/tasks/db.rake
Due: none

DEV: Refactor uppy plugin interfaces (#14275)
  app/assets/javascripts/discourse/app/lib/uppy-checksum-plugin.js
  app/assets/javascripts/discourse/app/lib/uppy-media-optimization-plugin.js
  app/assets/javascripts/discourse/app/lib/uppy-plugin-base.js
  app/assets/javascripts/discourse/app/mixins/composer-upload-uppy.js
  app/assets/javascripts/discourse/app/mixins/extendable-uploader.js
  app/assets/javascripts/discourse/tests/unit/lib/uppy-checksum-plugin-test.js
  app/assets/javascripts/discourse/tests/unit/lib/uppy-media-optimization-plugin-test.js
Due: prettier, eslint-js

FIX: Don't publish PM archive events to acting user. (#14291)
  app/assets/javascripts/discourse/app/models/private-message-topic-tracking-state.js
  app/assets/javascripts/discourse/tests/acceptance/user-private-messages-test.js
  app/controllers/topics_controller.rb
  app/models/group_archived_message.rb
  app/models/private_message_topic_tracking_state.rb
  app/models/user_archived_message.rb
  lib/post_creator.rb
  lib/topics_bulk_action.rb
  spec/components/post_creator_spec.rb
  spec/models/private_message_topic_tracking_state_spec.rb
  spec/models/user_archived_message_spec.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, prettier, eslint-js

FEATURE: Add game consoles to unsupported browsers (#14294)
  config/site_settings.yml
Due: yaml-syntax

FIX: Make sure S3 object headers are preserved on copy (#14302)
  lib/file_store/s3_store.rb
  lib/s3_helper.rb
  spec/components/file_store/s3_store_spec.rb
  spec/components/s3_helper_spec.rb
Due: rubocop

DEV: Bump uppy-s3 to 2.0.2 to fix XHR bug (#14303)
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
  package.json
  vendor/assets/javascripts/uppy.js
  yarn.lock
Due: prettier, eslint-js

UX: Minor layout tweaks to dropdowns (#14299)
  app/assets/javascripts/select-kit/addon/mixins/tags.js
  app/assets/stylesheets/common/select-kit/_index.scss
  app/assets/stylesheets/common/select-kit/dropdown-select-box.scss
  app/assets/stylesheets/common/select-kit/multi-select.scss
  app/assets/stylesheets/common/select-kit/select-kit.scss
  app/assets/stylesheets/common/select-kit/user-notifications-dropdown.scss
  app/assets/stylesheets/desktop/user.scss
  plugins/styleguide/assets/javascripts/discourse/templates/styleguide/atoms/dropdowns.hbs
Due: prettier, eslint-js

FIX: Give the topic timeline unique keys for state
  app/assets/javascripts/discourse/app/widgets/topic-timeline.js
Due: prettier, eslint-js
