Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: Keep topic context when redirecting to full search (#14846)
  app/assets/javascripts/discourse/app/widgets/search-menu.js
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
Due: prettier, eslint-js

DEV: Skip a test instead of commenting it out (#14836)
  app/assets/javascripts/discourse/tests/acceptance/composer-uploads-uppy-test.js
Due: prettier, eslint-js

Revert "Build(deps): Bump hashie from 4.1.0 to 5.0.0"
  Gemfile.lock
Due: none

DEV: increase lock timeout for multisite migration (#14831)
  lib/tasks/db.rake
Due: none

FIX: Regression introduced in #14715 (#14842)
  lib/discourse_updates.rb
  spec/components/discourse_updates_spec.rb
Due: rubocop

FEATURE: Allow users to edit alt text from the image preview in the editor (#14480)
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/image-controls.js
  app/assets/stylesheets/common/d-editor.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: use correct attribute method to get post id from dataset. (#14845)
  app/assets/javascripts/discourse/app/components/user-card-contents.js
  app/assets/javascripts/discourse/app/mixins/card-contents-base.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/templates/components/user-card-contents.hbs
Due: prettier, eslint-js

FIX: Remove xlink:href to favour href due to deprecation (#14854)
  app/assets/javascripts/pretty-text/engines/discourse-markdown/image-controls.js
Due: prettier, eslint-js

FIX: Show perma-delete in menu without refresh (#14740)
  app/assets/javascripts/discourse/app/lib/transform-post.js
  app/assets/javascripts/discourse/app/models/post.js
  app/assets/javascripts/discourse/app/models/topic.js
  app/assets/javascripts/discourse/app/widgets/post-admin-menu.js
  app/assets/javascripts/discourse/tests/integration/widgets/post-test.js
  config/site_settings.yml
Due: prettier, eslint-js, yaml-syntax

FEATURE: Add pagination to API keys page (#14777)
  app/assets/javascripts/admin/addon/controllers/admin-api-keys-index.js
  app/assets/javascripts/admin/addon/templates/api-keys-index.hbs
  app/controllers/admin/api_controller.rb
  spec/requests/admin/api_controller_spec.rb
Due: rubocop, prettier, eslint-js

FIX: Make PostRevisor more consistent (#14841)
  lib/post_revisor.rb
  spec/components/post_revisor_spec.rb
Due: rubocop

"A11Y: Add prefers reduced motion" (#14859)
  app/assets/stylesheets/common/base/magnific-popup.scss
Due: none

FIX: In Ember CLI some plugin tests were referring to the wrong container
  app/assets/javascripts/discourse/app/lib/plugin-api.js
Due: prettier, eslint-js

DEV: Update DiscourseConnect nonce errors to be more descriptive (#14858)
  app/models/discourse_single_sign_on.rb
  spec/models/discourse_single_sign_on_spec.rb
Due: rubocop

FIX: Allow bulk invites to be used with DiscourseConnect (#14862)
  lib/guardian.rb
  spec/requests/invites_controller_spec.rb
Due: rubocop

UX: fix share/notify modal styles (#14861)
  app/assets/stylesheets/common/base/share_link.scss
Due: none

Revert "FIX: Composer height issue in Safari on iOS 15 (#14282)" (#14847)
  app/assets/javascripts/discourse/app/lib/safari-hacks.js
  app/assets/javascripts/discourse/app/pre-initializers/sniff-capabilities.js
  app/assets/stylesheets/mobile/compose.scss
Due: prettier, eslint-js

FIX: Disable scroll events while on full screen (#14864)
  app/assets/javascripts/discourse/app/components/scrolling-post-stream.js
Due: prettier, eslint-js

A11Y: set modal widths with EMs; improves scaling (#14863)
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/common/base/share_link.scss
  app/assets/stylesheets/desktop/modal.scss
  plugins/discourse-local-dates/assets/stylesheets/common/discourse-local-dates.scss
  plugins/poll/assets/stylesheets/desktop/poll-ui-builder.scss
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
