Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: none row doesn’t have a value, use class to target it (#14659)
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Due: prettier, eslint-js

FIX: reset sso email and payload when user navigates away (#14658)
  app/assets/javascripts/admin/addon/routes/admin-user-index.js
Due: prettier, eslint-js

Simplification of install Guide (#13716)
  docs/INSTALL-cloud.md
Due: none

DEV: drops jquery usage un admin-report-chart (#14661)
  app/assets/javascripts/admin/addon/components/admin-report-chart.js
Due: prettier, eslint-js

DEV: drops jquery usage from wizard-canvas (#14662)
  app/assets/javascripts/wizard/components/wizard-canvas.js
Due: prettier, eslint-js

FIX: Broken quick search on iPadOS (#14663)
  app/assets/javascripts/discourse/app/widgets/header.js
Due: prettier, eslint-js

FIX: Show search context only in topic routes (#14650)
  app/assets/javascripts/discourse/app/widgets/header.js
Due: prettier, eslint-js

FIX: Make the `verbose_auth_token_logging` setting off by default (#14664)
  app/models/user_auth_token.rb
  config/site_settings.yml
Due: rubocop, yaml-syntax

SECURITY: Improve validation of SNS subscription confirm (#14671)
  Gemfile.lock
  app/jobs/regular/confirm_sns_subscription.rb
Due: rubocop

Version bump to v2.8.0.beta7 (#14667)
  lib/version.rb
Due: rubocop

DEV: Update AWS API stub following gem version bump (#14673)
  spec/requests/uploads_controller_spec.rb
Due: rubocop

DEV: Refactor bookmark modal code (#14654)
  app/assets/javascripts/discourse/app/components/bookmark-list.js
  app/assets/javascripts/discourse/app/controllers/bookmark.js
  app/assets/javascripts/discourse/app/controllers/topic.js
Due: prettier, eslint-js

UPDATE: correct path to messages (#14668)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

DEV: Remove code that is no longer valid. (#14657)
  app/serializers/post_serializer.rb
Due: rubocop

DEV: removes unnecessary caret position code (#14665)
  app/assets/javascripts/discourse/app/lib/utilities.js
  vendor/assets/javascripts/caret_position.js
Due: prettier, eslint-js

DEV: Update discourse-presence plugin to use new PresenceChannel system (#14519)
  app/assets/javascripts/discourse/app/services/presence.js
  lib/presence_channel.rb
  plugins/discourse-presence/README.md
  plugins/discourse-presence/assets/javascripts/discourse/components/composer-presence-display.js.es6
  plugins/discourse-presence/assets/javascripts/discourse/components/topic-presence-display.js.es6
  plugins/discourse-presence/assets/javascripts/discourse/lib/presence.js.es6
  plugins/discourse-presence/assets/javascripts/discourse/services/composer-presence-manager.js
  plugins/discourse-presence/assets/javascripts/discourse/services/presence-manager.js.es6
  plugins/discourse-presence/assets/javascripts/discourse/templates/connectors/composer-fields/presence.js.es6
  plugins/discourse-presence/assets/javascripts/discourse/templates/connectors/topic-above-footer-buttons/presence.hbs
  plugins/discourse-presence/assets/javascripts/discourse/templates/connectors/topic-above-footer-buttons/presence.js.es6
  plugins/discourse-presence/plugin.rb
  plugins/discourse-presence/spec/integration/presence_spec.rb
  plugins/discourse-presence/spec/requests/presence_controller_spec.rb
  plugins/discourse-presence/test/javascripts/acceptance/discourse-presence-test.js
Due: rubocop, prettier, eslint-es6, eslint-js

UX: Sometimes the footer would show up while refreshing a list route
  app/assets/javascripts/discourse/app/controllers/discovery/topics.js
Due: prettier, eslint-js

UX: Add special case for user search when in a topic (#14669)
  app/assets/javascripts/discourse/app/widgets/search-menu-results.js
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
Due: prettier, eslint-js

FIX: 2N+1 sql in admin /api/keys endpoint (#14679)
  app/controllers/admin/api_controller.rb
Due: rubocop

FIX: Don't leak unhashed user API keys to redis (#14682)
  lib/auth/default_current_user_provider.rb
  spec/components/auth/default_current_user_provider_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
