Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Allow overiding calculation of top offset for card contents base (#11254)
  app/assets/javascripts/discourse/app/mixins/card-contents-base.js
Due: prettier, eslint-js

FIX: do not allow a tag to be synonym of its own (#11246)
  app/assets/javascripts/discourse/app/templates/components/tag-info.hbs
  lib/discourse_tagging.rb
  spec/components/discourse_tagging_spec.rb
Due: rubocop

Remove extra padding, follow-up to 8be04ff (#11258)
  app/assets/stylesheets/desktop/topic-post.scss
Due: none

DEV: Disable flaky test (#11257)
  spec/jobs/export_user_archive_spec.rb
Due: rubocop

PERF: Simplify topic serialization for user summary page (#11236)
  app/serializers/user_summary_serializer.rb
Due: rubocop

DEV: Use `.sort!` instead of `.sort` for user archive specs (#11260)
  spec/jobs/export_user_archive_spec.rb
Due: rubocop

UX: handle large email addresses on email skipped and bounced tabs (#11259)
  app/assets/javascripts/admin/addon/templates/email-bounced.hbs
  app/assets/javascripts/admin/addon/templates/email-skipped.hbs
  app/assets/stylesheets/common/admin/emails.scss
Due: none

Optimize assets/images
  app/assets/images/favicons/amazon.png
  app/assets/images/favicons/apple.png
  app/assets/images/favicons/discourse.png
  app/assets/images/favicons/github.png
  app/assets/images/favicons/google_branding/logo_calendar_128px.png
  app/assets/images/favicons/google_branding/logo_calendar_48px.png
  app/assets/images/favicons/google_branding/logo_docs_48px.png
  app/assets/images/favicons/google_branding/logo_drive_48px.png
  app/assets/images/favicons/google_branding/logo_forms_48px.png
  app/assets/images/favicons/google_branding/logo_sheets_48px.png
  app/assets/images/favicons/google_branding/logo_slides_48px.png
  app/assets/images/favicons/google_play.png
  app/assets/images/favicons/instagram.png
  app/assets/images/favicons/pdf_48px.png
  app/assets/images/favicons/pdf_64px.png
  app/assets/images/favicons/rottentomatoes.png
  app/assets/images/favicons/stackexchange.png
  app/assets/images/favicons/twitter.png
  app/assets/images/logo-dev.png
  app/assets/images/logo-single-dev.png
  app/assets/images/push-notifications/check.png
  app/assets/images/push-notifications/discourse.png
  app/assets/images/push-notifications/group_mentioned.png
  app/assets/images/push-notifications/linked.png
  app/assets/images/push-notifications/mentioned.png
  app/assets/images/push-notifications/posted.png
  app/assets/images/push-notifications/private_message.png
  app/assets/images/push-notifications/quoted.png
  app/assets/images/push-notifications/replied.png
  app/assets/images/select2-spinner.gif
  app/assets/images/select2.png
  app/assets/images/select2x2.png
Due: none

Move CSS link tags above JS in the head
  app/views/layouts/application.html.erb
Due: none

UX: Only link the icon for site setting history (#11265)
  app/assets/javascripts/admin/addon/templates/components/site-setting.hbs
  app/assets/stylesheets/common/admin/settings.scss
Due: none

DEV: New plugin-outlet under preferences interface nav (#11266)
  app/assets/javascripts/discourse/app/templates/preferences.hbs
Due: none

FIX: In newer embers, it's `triggerKeyEvent` not `keyEvent`
  app/assets/javascripts/discourse/tests/acceptance/admin-site-settings-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-hyperlink-test.js
  app/assets/javascripts/discourse/tests/acceptance/keyboard-shortcuts-test.js
  app/assets/javascripts/discourse/tests/acceptance/modal-test.js
  app/assets/javascripts/discourse/tests/acceptance/plugin-keyboard-shortcut-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-full-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/integration/components/simple-list-test.js
  app/assets/javascripts/test-shims.js
Due: prettier, eslint-js

REFACTOR: The Favcount library needs global variables
  app/assets/javascripts/discourse/app/lib/update-tab-count.js
  app/assets/javascripts/discourse/app/services/document-title.js
  app/assets/javascripts/vendor.js
  lib/tasks/javascript.rake
  package.json
  vendor/assets/javascripts/favcount.js
  yarn.lock
Due: prettier, eslint-js

UX: bottom padding for menu panel on iOS notch devices (#11270)
  app/assets/stylesheets/mobile/menu-panel.scss
Due: none

FIX: Precompile wizard stylesheet (#11275)
  lib/stylesheet/manager.rb
Due: rubocop

FIX: add missing translation for 'views' key. (#11276)
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

DEV: Fix flakey spec in export_user_archive (#11278)
  spec/jobs/export_user_archive_spec.rb
Due: rubocop

Revert "Build(deps): Bump redis from 4.2.2 to 4.2.3" (#11279)
  Gemfile.lock
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
