Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: do not trigger the user-status:changed event twice (#16954)
  app/assets/javascripts/discourse/app/initializers/subscribe-user-notifications.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/services/user-status.js
  app/assets/javascripts/discourse/tests/acceptance/user-status-test.js
Due: prettier, eslint

DEV: More efficiently trigger topic tracking state on state change (#16952)
  app/assets/javascripts/discourse/app/models/topic-tracking-state.js
  app/assets/javascripts/discourse/tests/unit/models/topic-tracking-state-test.js
Due: prettier, eslint

FEATURE: allow for overlapping DiscourseConnect secrets per domain (#16915)
  app/controllers/session_controller.rb
  lib/discourse_connect_base.rb
  lib/discourse_connect_provider.rb
  spec/requests/session_controller_spec.rb
Due: rubocop

UX: update chat menu popover styling (#16955)
  app/assets/stylesheets/common/base/d-popover.scss
Due: prettier-scss

DEV: Add to-markdown decorator functions (#16943)
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/lib/to-markdown.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/unit/lib/to-markdown-test.js
  docs/CHANGELOG-JAVASCRIPT-PLUGIN-API.md
Due: prettier, eslint

PERF: Improve to-markdown speed, update the code (#16939)
  app/assets/javascripts/discourse/app/lib/to-markdown.js
Due: prettier, eslint

DEV: add request data to the before_session_destroy event (#16905)
  app/controllers/session_controller.rb
  spec/requests/session_controller_spec.rb
Due: rubocop

FIX: do not looks for plugin test js in production (#16962)
  app/controllers/bootstrap_controller.rb
Due: rubocop

FIX: fallback to default push notification icon if none exists (#16961)
  app/assets/images/push-notifications/watching_first_post.png
  app/services/push_notification_pusher.rb
  spec/services/push_notification_pusher_spec.rb
Due: rubocop

FIX: tracked filter did not account for max_category_nesting of 3 (#16963)
  lib/topic_query.rb
  spec/lib/topic_query_spec.rb
Due: rubocop

FIX: change event target on select kit row (#16960)
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-row.js
Due: prettier, eslint

FIX: Topic list nav items count not respecting tracked filter. (#16935)
  app/assets/javascripts/discourse/app/components/navigation-item.js
  app/assets/javascripts/discourse/app/lib/topic-list-tracked-filter.js
  app/assets/javascripts/discourse/app/models/category.js
  app/assets/javascripts/discourse/app/models/nav-item.js
  app/assets/javascripts/discourse/app/models/site.js
  app/assets/javascripts/discourse/app/models/topic-tracking-state.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/widgets/hamburger-menu.js
  app/assets/javascripts/discourse/tests/acceptance/topic-discovery-tracked-test.js
  app/assets/javascripts/discourse/tests/fixtures/site-fixtures.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/category-chooser-test.js
  app/assets/javascripts/discourse/tests/unit/models/topic-tracking-state-test.js
  lib/topic_query.rb
Due: rubocop, prettier, eslint

FIX: Make f query param sticky when navigating between nav items (#16714)
  app/assets/javascripts/discourse/app/components/d-navigation.js
  app/assets/javascripts/discourse/app/components/navigation-item.js
  app/assets/javascripts/discourse/app/controllers/navigation/default.js
  app/assets/javascripts/discourse/app/lib/topic-list-tracked-filter.js
  app/assets/javascripts/discourse/app/models/nav-item.js
  app/assets/javascripts/discourse/app/templates/navigation/default.hbs
  app/assets/javascripts/discourse/tests/acceptance/topic-discovery-tracked-test.js
Due: prettier, eslint

FIX: Show suspended by user (#16927)
  app/controllers/admin/users_controller.rb
  spec/requests/admin/users_controller_spec.rb
  spec/requests/api/schemas/json/user_silence_request.json
  spec/requests/api/schemas/json/user_silence_response.json
  spec/requests/api/users_spec.rb
Due: rubocop

DEV: Mark discourse-group-tracker as official (#16574)
  lib/plugin/metadata.rb
Due: rubocop

FIX: Harmonise category body class generation on server/client (#16967)
  app/helpers/application_helper.rb
  spec/requests/list_controller_spec.rb
Due: rubocop

DEV: add class name to nav-bar nav items (#16968)
  app/assets/javascripts/discourse/app/templates/components/navigation-bar.hbs
  app/assets/javascripts/discourse/app/templates/mobile/components/navigation-bar.hbs
Due: none

DEV: emoji picker - make it possible to choose picker's placement and add a dedicated class for an anchor (#16969)
  app/assets/javascripts/discourse/app/components/emoji-picker.js
  app/assets/javascripts/discourse/tests/integration/components/emoji-picker-test.js
Due: prettier, eslint

DEV: allow plugins to override max file size for avatar downloads (#16970)
  app/controllers/user_avatars_controller.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
