Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD main
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD main
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {all_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {all_files}
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint plugins/**/test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Fix FakeLogger compat (#18562)
  spec/support/fake_logger.rb
Due: rubocop

DEV: Remove noop CSS (#18564)
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/admin/customize.scss
  app/assets/stylesheets/common/base/onebox.scss
  app/assets/stylesheets/common/base/tagging.scss
  app/assets/stylesheets/embed.scss
Due: prettier-scss

FIX: typo (#18566)
  app/assets/stylesheets/mobile/menu-panel.scss
Due: prettier-scss

FIX: Correctly handle HTTP errors during dominant color calculation (#18565)
  app/models/upload.rb
  spec/models/upload_spec.rb
Due: rubocop

DEV: Merge mentions and watching tabs into the replies tab in the user menu (#18544)
  app/assets/javascripts/discourse/app/components/user-menu/mentions-notifications-list.js
  app/assets/javascripts/discourse/app/components/user-menu/menu.js
  app/assets/javascripts/discourse/app/components/user-menu/watching-notifications-list.js
  app/assets/javascripts/discourse/tests/acceptance/user-menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/site-header-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/menu-test.js
Due: prettier, eslint

FEATURE: Implement new onboarding popups (#18362)
  app/assets/javascripts/discourse/app/components/mount-widget.js
  app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/app/lib/popup.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/widgets/header.js
  app/assets/javascripts/discourse/app/widgets/topic-timeline.js
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/stylesheets/common/base/discourse.scss
  app/controllers/users_controller.rb
  app/models/onboarding_popup.rb
  app/models/user_option.rb
  app/serializers/current_user_serializer.rb
  app/serializers/site_serializer.rb
  app/services/user_updater.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20220923212549_add_seen_popups_to_user_options.rb
  spec/serializers/site_serializer_spec.rb
  spec/services/user_updater_spec.rb
Due: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

FIX: alignment of user status emoji on posts (#18563)
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier-scss

FIX: status emoji was shown on the left on mobile (#18567)
  app/assets/javascripts/discourse/app/widgets/post-user-status.js
  app/assets/stylesheets/mobile/topic-post.scss
Due: prettier, prettier-scss, eslint

UX: danger colour update (#18516)
  app/assets/stylesheets/common/foundation/colors.scss
  spec/models/report_spec.rb
Due: rubocop, prettier-scss

FIX: Reset related site settings on general category delete (#18548)
  app/models/category.rb
  spec/models/category_spec.rb
Due: rubocop

A11Y: Make "Load parent post" element accessible (#18568)
  app/assets/javascripts/discourse/app/widgets/post.js
Due: prettier, eslint

Add replaceContent selectKit modifier (#18569)
  app/assets/javascripts/discourse/tests/integration/components/select-kit/api-test.js
  app/assets/javascripts/select-kit/addon/mixins/plugin-api.js
Due: prettier, eslint

FEATURE: add user status to user preferences (#18532)
  app/assets/javascripts/discourse/app/controllers/preferences/account.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/routes/preferences-account.js
  app/assets/javascripts/discourse/app/templates/preferences/account.hbs
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-account-user-status-test.js
  app/controllers/users_controller.rb
  app/services/user_updater.rb
  config/locales/client.en.yml
  spec/requests/users_controller_spec.rb
Due: rubocop, prettier, eslint, yaml-syntax, i18n-lint

FIX: remove `nil` items before sorting the sha1 string array. (#18571)
  lib/stylesheet/manager/builder.rb
  spec/lib/stylesheet/manager_spec.rb
Due: rubocop

FIX: replace prefixCSS with prefixElementColors (#18556)
  app/assets/javascripts/discourse/app/components/sidebar/anonymous/categories-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section-link-prefix.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section-link.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section-link.js
  app/assets/javascripts/discourse/app/components/sidebar/user/categories-section.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/user/categories-section/category-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
Due: prettier, eslint

UX: Hide tags section in sidebar when user has no visible tags (#18539)
  app/assets/javascripts/discourse/app/components/sidebar/user/sections.hbs
  app/assets/javascripts/discourse/app/templates/preferences/sidebar.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-tags-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-sidebar-test.js
  app/serializers/concerns/user_sidebar_tags_mixin.rb
  spec/serializers/current_user_serializer_spec.rb
  spec/serializers/user_serializer_spec.rb
  spec/support/user_sidebar_tags_mixin.rb
Due: rubocop, prettier, eslint

UX: Conditionally hide sidebar categories section for user (#18557)
  app/assets/javascripts/discourse/app/components/sidebar/user/categories-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/user/categories-section.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-sidebar-test.js
  app/assets/javascripts/discourse/tests/helpers/site-settings.js
Due: prettier, eslint

UX: Conditionally display sidebar tags section for user (#18558)
  app/assets/javascripts/discourse/app/components/sidebar/user/tags-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/user/tags-section.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-tags-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-sidebar-test.js
  app/assets/javascripts/discourse/tests/helpers/site-settings.js
Due: prettier, eslint

FIX: Category sidebar link not active when filtered by none and all (#18578)
  app/assets/javascripts/discourse/app/lib/sidebar/user/categories-section/category-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
Due: prettier, eslint

FIX: Missing category badge for category with color stored as 3-digit hex code (#18579)
  app/assets/javascripts/discourse/app/components/sidebar/section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
Due: prettier, eslint
