Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD main
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD main
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {all_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {all_files}
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint plugins/**/test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: Remove tags from experimental sidebar on notification level changed (#17083)
  app/assets/javascripts/discourse/app/controllers/tag-show.js
  app/assets/javascripts/discourse/app/models/topic-tracking-state.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-tags-section-test.js
  app/assets/javascripts/discourse/tests/unit/models/topic-tracking-state-test.js
  app/controllers/tags_controller.rb
  app/serializers/basic_user_serializer.rb
  app/serializers/concerns/user_tag_notifications_mixin.rb
  app/serializers/current_user_serializer.rb
  app/serializers/user_serializer.rb
  app/serializers/user_tag_notifications_serializer.rb
  spec/requests/tags_controller_spec.rb
  spec/serializers/current_user_serializer_spec.rb
Due: rubocop, prettier, eslint

DEV: First pass at messages section experimental sidebar (#17084)
  app/assets/javascripts/discourse/app/components/sidebar/messages-section.js
  app/assets/javascripts/discourse/app/templates/components/sidebar.hbs
  app/assets/javascripts/discourse/app/templates/components/sidebar/messages-section.hbs
  app/assets/javascripts/discourse/app/templates/components/sidebar/section.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-messages-section-test.js
  config/locales/client.en.yml
Due: prettier, eslint, yaml-syntax, i18n-lint

FIX: Rake tasks related to uploads were broken (#17085)
  lib/tasks/uploads.rake
Due: none

FIX: NavItem and Composer prop overriding was broken (#17092)
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/models/nav-item.js
  app/assets/javascripts/discourse/tests/unit/models/nav-item-test.js
Due: prettier, eslint

FIX: Allow all subdomains of localhost in development (#17089)
  config/environments/development.rb
Due: rubocop

DEV: Mark inline styles as safe (#17093)
  app/assets/javascripts/discourse/app/templates/components/categories-boxes-with-topics.hbs
  app/assets/javascripts/discourse/app/templates/components/categories-boxes.hbs
  app/assets/javascripts/discourse/app/templates/components/parent-category-row.hbs
Due: none

FIX: whisper available when reply to topic (#17054)
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/select-kit/addon/components/composer-actions.js
Due: prettier, eslint

FEATURE: Log the SMTP response in EmailLog (#17056)
  app/mailers/group_smtp_mailer.rb
  app/models/email_log.rb
  db/migrate/db/migrate/20220606061813_add_smtp_transaction_response_to_email_logs.rb
  lib/email/message_builder.rb
  lib/email/sender.rb
  spec/lib/email/sender_spec.rb
Due: rubocop

FIX: Handle sites with more than 1 JSON-LD element (#17095)
  lib/onebox/json_ld.rb
  spec/lib/onebox/json_ld_spec.rb
Due: rubocop

DEV: Emit a 'change' event when PresenceChannel info changes (#17088)
  app/assets/javascripts/discourse/app/services/presence.js
  app/assets/javascripts/discourse/tests/unit/services/presence-test.js
Due: prettier, eslint

DEV: @bind create-account actions (#17100)
  app/assets/javascripts/discourse/app/components/create-account.js
  app/assets/javascripts/discourse/tests/acceptance/create-account-user-fields-test.js
Due: prettier, eslint

DEV: Update create-account test to be more clear (#17102)
  app/assets/javascripts/discourse/tests/acceptance/create-account-user-fields-test.js
Due: prettier, eslint

DEV: Fix `javascript:update` rake task (#17098)
  app/assets/javascripts/discourse/app/lib/load-script.js
  app/assets/javascripts/discourse/app/lib/public-js-versions.js
  app/assets/javascripts/discourse/tests/unit/lib/load-script-test.js
  app/assets/stylesheets/vendor/svg-arrow.css
  lib/tasks/javascript.rake
  public/javascripts/chart.js/3.5.1/chart.min.js
Due: prettier, eslint

FEATURE: Add messages section links to experimental sidebar. (#17096)
  app/assets/javascripts/discourse/app/components/sidebar/messages-section.js
  app/assets/javascripts/discourse/app/lib/page-tracker.js
  app/assets/javascripts/discourse/app/lib/sidebar/messages-section/group-message-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/messages-section/personal-message-section-link.js
  app/assets/javascripts/discourse/app/templates/components/sidebar.hbs
  app/assets/javascripts/discourse/app/templates/components/sidebar/messages-section.hbs
  app/assets/javascripts/discourse/app/templates/components/sidebar/section-link.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-messages-section-test.js
  app/assets/stylesheets/common/base/sidebar.scss
  config/locales/client.en.yml
Due: prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

PERF: remove server plugin outlet for post (#17105)
  app/views/topics/show.html.erb
Due: none

FIX: Ensure emoji is inserted in the correct location (#17107)
  app/assets/javascripts/discourse/app/mixins/textarea-text-manipulation.js
  app/assets/javascripts/discourse/tests/integration/components/d-editor-test.js
Due: prettier, eslint

FIX: Ensure presence endpoints don't break the session (#17108)
  app/controllers/presence_controller.rb
  spec/requests/presence_controller_spec.rb
Due: rubocop

DEV: Handle emoji-picker and d-editor being destroyed simultaneously (#17109)
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/templates/components/d-editor.hbs
Due: prettier, eslint

DEV: add smtp_should_reject to the receive_emails api key scope (#17110)
  app/models/api_key_scope.rb
Due: rubocop
