Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: fix broken backend test due to #10749 (#10758)
  spec/components/pretty_text_spec.rb
Due: rubocop

UX: consistent password label on signup and invites page
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FEATURE: advanced search option for max posts count (#10761)
  app/assets/javascripts/discourse/app/components/search-advanced-options.js
  app/assets/javascripts/discourse/app/templates/components/search-advanced-options.hbs
  app/assets/stylesheets/common/base/search.scss
  config/locales/client.en.yml
  lib/search.rb
  spec/components/search_spec.rb
  test/javascripts/acceptance/search-full-test.js
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

DEV: don't add username to share links when badges are disabled (#10730)
  app/assets/javascripts/discourse/app/helpers/share-url.js
  app/assets/javascripts/discourse/app/models/post.js
  app/assets/javascripts/discourse/app/models/topic.js
  test/javascripts/acceptance/share-and-invite-desktop-test.js
  test/javascripts/acceptance/share-and-invite-mobile-test.js
Due: prettier, eslint-js

UX: fix styling for posts and views advanced search
  app/assets/stylesheets/common/base/search.scss
Due: none

FIX: Admin change email for user process improvements and fixes (#10755)
  app/assets/javascripts/discourse/app/controllers/preferences/email.js
  app/assets/javascripts/discourse/app/templates/preferences-email.hbs
  config/locales/client.en.yml
  lib/email_updater.rb
  spec/components/email_updater_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

UX: Don't truncate category names in search panel
  app/assets/stylesheets/common/base/menu-panel.scss
Due: none

FIX: Respect force download when downloading secure media via lightbox (#10769)
  app/controllers/uploads_controller.rb
  lib/file_store/s3_store.rb
  spec/requests/uploads_controller_spec.rb
Due: rubocop

UX: Replace cog icon in user menu with user icon
  app/assets/javascripts/discourse/app/widgets/user-menu.js
Due: prettier, eslint-js

FIX: Correct corrupt encoding in emails containing attachments
  lib/email/sender.rb
  spec/components/email/sender_spec.rb
Due: rubocop

UX: increase input width on accept invite page.
  app/assets/stylesheets/desktop/login.scss
Due: none

DEV: Move UserApiKey scopes to dedicated table (#10704)
  app/controllers/user_api_keys_controller.rb
  app/models/user_api_key.rb
  app/models/user_api_key_scope.rb
  app/services/post_alerter.rb
  db/migrate/20200918095554_add_user_api_key_scopes.rb
  lib/auth/default_current_user_provider.rb
  spec/components/auth/default_current_user_provider_spec.rb
  spec/fabricators/user_api_key_fabricator.rb
  spec/models/user_api_key_spec.rb
  spec/requests/user_api_keys_controller_spec.rb
  spec/services/post_alerter_spec.rb
Due: rubocop

FIX: empty highlighted_languages resulted in ["", "auto", "nohighlight"] (#10772)
  app/assets/javascripts/pretty-text/engines/discourse-markdown/code.js
Due: prettier, eslint-js

DEV: Plugin api function to add saveable user fields (#10774)
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/models/user.js
Due: prettier, eslint-js

FEATURE: composer option to reload page and force save draft (#10773)
  app/assets/javascripts/discourse/app/models/composer.js
  app/assets/javascripts/discourse/app/models/draft.js
  app/controllers/draft_controller.rb
  app/models/draft.rb
  config/locales/client.en.yml
  spec/models/draft_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: We were overriding the `canCreateTopicOnCategory` computed property
  app/assets/javascripts/discourse/app/controllers/discovery/topics.js
Due: prettier, eslint-js

FIX: Use correct locale for error messages (#10776)
  app/controllers/application_controller.rb
  spec/requests/application_controller_spec.rb
Due: rubocop

UI: Remove background from group notifications of @mentions (#10775)
  app/assets/stylesheets/common/base/group.scss
Due: none

minor copyedit
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
