Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Lint file
  app/models/user.rb
Due: rubocop

DEV: clear last seen cache consistently
  app/models/user.rb
  spec/components/auth/default_current_user_provider_spec.rb
Due: rubocop

FIX: dont error when bookmark topic is nil (#10555)
  lib/bookmark_reminder_notification_handler.rb
  spec/jobs/bookmark_reminder_notifications_spec.rb
Due: rubocop

FEATURE: allow specifying platform name for platform specific gems (#10559)
  lib/plugin_gem.rb
Due: rubocop

DEV: Improve assertions for spec.
  spec/services/post_alerter_spec.rb
Due: rubocop

DEV: Leaking state in `PostActionNotifier` in tests.
  app/services/post_action_notifier.rb
  spec/services/post_action_notifier_spec.rb
Due: rubocop

DEV: Leaking state in `PostActionNotifier` in tests take 2.
  app/services/post_action_notifier.rb
  spec/services/post_action_notifier_spec.rb
Due: rubocop

DEV: Only eagerload scheduled jobs in a Sidekiq process.
  config/initializers/100-sidekiq.rb
Due: rubocop

DEV: Remove jquery.cookie
  lib/tasks/javascript.rake
  package.json
  yarn.lock
Due: none

FEATURE: Add site setting and wizard step to set base font (#10250)
  .gitignore
  Gemfile
  Gemfile.lock
  app/assets/javascripts/wizard/components/font-preview.js
  app/assets/javascripts/wizard/components/font-previews.js
  app/assets/javascripts/wizard/components/homepage-preview.js
  app/assets/javascripts/wizard/components/image-preview-favicon.js
  app/assets/javascripts/wizard/components/image-preview-large-icon.js
  app/assets/javascripts/wizard/components/image-preview-logo-small.js
  app/assets/javascripts/wizard/components/image-preview-logo.js
  app/assets/javascripts/wizard/controllers/application.js
  app/assets/javascripts/wizard/lib/preview.js
  app/assets/javascripts/wizard/models/wizard.js
  app/assets/javascripts/wizard/templates/application.hbs
  app/assets/javascripts/wizard/templates/components/font-preview.hbs
  app/assets/javascripts/wizard/templates/components/font-previews.hbs
  app/assets/stylesheets/common.scss
  app/assets/stylesheets/common/foundation/variables.scss
  app/assets/stylesheets/wizard.scss
  app/helpers/application_helper.rb
  app/models/base_font_setting.rb
  config/application.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  lib/wizard/builder.rb
  spec/components/wizard/step_updater_spec.rb
  spec/components/wizard/wizard_builder_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Flaky JS test due to not waiting for promises
  test/javascripts/models/post-test.js
Due: prettier, eslint-js

UX: don't wrap topic status icons in the header if there's more than one
  app/assets/stylesheets/common/base/header.scss
Due: none

FIX: Disable insert link button when editing a category (#10549)
  app/assets/javascripts/discourse/app/components/edit-category-topic-template.js
  app/assets/javascripts/discourse/app/templates/components/edit-category-topic-template.hbs
Due: prettier, eslint-js

FIX: Ensure disabling 2FA works as expected (#10485)
  app/assets/javascripts/discourse/app/controllers/preferences/second-factor.js
  app/assets/javascripts/discourse/app/templates/preferences-second-factor.hbs
  app/assets/stylesheets/common/base/user.scss
  app/controllers/users_controller.rb
  config/locales/client.en.yml
  spec/requests/users_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

DEV: CSS truncation followup
  app/assets/stylesheets/common/base/header.scss
Due: none

DEV: Switch our fast_xor gem for xorcist (#10565)
  Gemfile
  Gemfile.lock
  lib/pbkdf2.rb
Due: rubocop

User export improvements 2 (#10560)
  app/jobs/regular/export_user_archive.rb
  spec/jobs/export_user_archive_spec.rb
Due: rubocop

FIX: Focus first button in topic admin menu (#10562)
  app/assets/javascripts/discourse/app/widgets/topic-admin-menu.js
  test/javascripts/acceptance/topic-admin-menu-test.js
Due: prettier, eslint-js

FIX: Handle deleted categories in post export (#10567)
  app/jobs/regular/export_user_archive.rb
  spec/jobs/export_user_archive_spec.rb
Due: rubocop

DEV: Increase log levels for more assets/static paths.
  config/initializers/100-quiet_logger.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
