Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: ignore the given_daily_likes table when moving timestamps on Try (#13971)
  script/db_timestamps_mover.rb
Due: rubocop

FIX: do not show flair bg color if flair is not visible (#13969)
  app/models/group.rb
  spec/components/user_lookup_spec.rb
  spec/models/group_spec.rb
  spec/requests/groups_controller_spec.rb
Due: rubocop

FEATURE: revert disallowing putting URLs in titles for TL0 users (#13970)
  app/models/topic.rb
  config/locales/server.en.yml
  lib/guardian.rb
  lib/post_revisor.rb
  lib/url_helper.rb
  lib/validators/urls_in_topic_title_validator.rb
  spec/requests/posts_controller_spec.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: Don't swallow an error if we can't run `yarn ember build`
  lib/tasks/assets.rake
Due: none

UX: disable "Queue For Review" button if user can't perform action. (#13966)
  app/assets/javascripts/discourse/app/controllers/flag.js
  app/assets/javascripts/discourse/app/templates/modal/flag.hbs
Due: prettier, eslint-js

FIX: prevents s shortcut to generate an error (#13974)
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
Due: prettier, eslint-js

DEV: ensures click listeners are reset between tests (#13900)
  app/assets/javascripts/discourse/app/mixins/card-contents-base.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Due: prettier, eslint-js

DEV: Use `key` over the deprecated `keyCode` (#13795)
  app/assets/javascripts/admin/addon/components/permalink-form.js
  app/assets/javascripts/admin/addon/components/screened-ip-address-form.js
  app/assets/javascripts/admin/addon/components/value-list.js
  app/assets/javascripts/admin/addon/components/watched-word-form.js
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/discourse/app/components/choose-topic.js
  app/assets/javascripts/discourse/app/components/create-account.js
  app/assets/javascripts/discourse/app/components/login-modal.js
  app/assets/javascripts/discourse/app/components/share-popup.js
  app/assets/javascripts/discourse/app/controllers/flag.js
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/mixins/card-contents-base.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/acceptance/flag-post-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-manage-membership-test.js
  app/assets/javascripts/discourse/tests/helpers/select-kit-helper.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/mini-tag-chooser-test.js
  app/assets/javascripts/discourse/tests/integration/components/value-list-test.js
  app/assets/javascripts/discourse/tests/test_starter.js
  app/assets/javascripts/select-kit/addon/components/mini-tag-chooser.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-filter.js
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-header.js
  app/assets/javascripts/wizard/components/invite-list.js
  app/assets/javascripts/wizard/components/wizard-step.js
  plugins/poll/assets/javascripts/widgets/discourse-poll.js.es6
Due: prettier, eslint-es6, eslint-js

FIX: Errno::EXDEV when across filesystem boundaries (#13976)
  lib/discourse.rb
Due: rubocop

DEV: `Discourse.User` has been deprecated since 2.6
  app/assets/javascripts/discourse/app/models/user.js
Due: prettier, eslint-js

Revert "DEV: `Discourse.User` has been deprecated since 2.6"
  app/assets/javascripts/discourse/app/models/user.js
Due: prettier, eslint-js

FIX: Reuse avatar-flair component in group preview (#13961)
  app/assets/javascripts/discourse/app/components/group-flair-inputs.js
  app/assets/javascripts/discourse/app/templates/components/group-flair-inputs.hbs
  app/assets/javascripts/discourse/app/templates/group.hbs
Due: prettier, eslint-js

UX: Missing translation for title attribute for PM tag route.
  app/assets/javascripts/discourse/app/routes/user-private-messages-tags-show.js
Due: prettier, eslint-js

DEV: Move rate limiter disable to after :each for tests (#13986)
  spec/rails_helper.rb
Due: rubocop

Revert "DEV: Move rate limiter disable to after :each for tests (#13986)" (#13987)
  spec/rails_helper.rb
Due: rubocop

DEV: Fix uploads controller flaky presigned put spec (#13985)
  spec/requests/uploads_controller_spec.rb
Due: rubocop

UI: fixes sidebar settings border and active styles (#13990)
  app/assets/stylesheets/common/components/navs.scss
Due: none

DEV: ensures container is not destroyed before showing tooltip (#13992)
  plugins/discourse-local-dates/assets/javascripts/initializers/discourse-local-dates.js.es6
Due: prettier, eslint-es6

REVERT "FIX: do not show private group flair on user avatars" (#13991)
  app/models/group.rb
  app/serializers/site_serializer.rb
  lib/user_lookup.rb
  spec/components/user_lookup_spec.rb
  spec/models/group_spec.rb
  spec/requests/groups_controller_spec.rb
Due: rubocop

FIX: prevents exception on malformatted messages (#13997)
  lib/email/receiver.rb
Due: rubocop
