Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

REFACTOR: New format for acceptance tests
  app/assets/javascripts/discourse/tests/acceptance/about-test.js
  app/assets/javascripts/discourse/tests/acceptance/account-created-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-emails-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-search-log-term-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-search-logs-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-site-settings-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-site-text-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-suspend-user-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-user-badges-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-user-emails-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-user-index-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-users-list-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-watched-words-test.js
  app/assets/javascripts/discourse/tests/acceptance/auth-complete-test.js
  app/assets/javascripts/discourse/tests/acceptance/badges-test.js
  app/assets/javascripts/discourse/tests/acceptance/bookmarks-test.js
  app/assets/javascripts/discourse/tests/acceptance/category-banner-test.js
  app/assets/javascripts/discourse/tests/acceptance/category-chooser-test.js
  app/assets/javascripts/discourse/tests/acceptance/category-edit-security-test.js
  app/assets/javascripts/discourse/tests/acceptance/category-edit-test.js
  app/assets/javascripts/discourse/tests/acceptance/click-track-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Due: prettier, eslint-js

REFACTOR: Convert many more acceptance tests to the new format
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-attachment-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-edit-conflict-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-hyperlink-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-onebox-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-tags-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-topic-links-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-uncategorized-test.js
  app/assets/javascripts/discourse/tests/acceptance/create-account-external-test.js
  app/assets/javascripts/discourse/tests/acceptance/create-account-user-fields-test.js
  app/assets/javascripts/discourse/tests/acceptance/custom-html-set-test.js
  app/assets/javascripts/discourse/tests/acceptance/custom-html-template-test.js
  app/assets/javascripts/discourse/tests/acceptance/dashboard-test.js
  app/assets/javascripts/discourse/tests/acceptance/email-notice-test.js
  app/assets/javascripts/discourse/tests/acceptance/emoji-picker-test.js
  app/assets/javascripts/discourse/tests/acceptance/emoji-test.js
  app/assets/javascripts/discourse/tests/acceptance/enforce-second-factor-test.js
  app/assets/javascripts/discourse/tests/acceptance/flag-post-test.js
  app/assets/javascripts/discourse/tests/acceptance/forgot-password-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-card-mobile-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-card-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-index-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-manage-categories-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-manage-interaction-test.js
  app/assets/javascripts/discourse/tests/fixtures/topic.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Due: prettier, eslint-js

FEATURE: Show a placeholder instead of videos in preview (#10962)
  app/assets/javascripts/discourse/tests/unit/lib/pretty-text-test.js
  app/assets/javascripts/pretty-text/addon/engines/discourse-markdown-it.js
  app/assets/javascripts/pretty-text/addon/white-lister.js
Due: prettier, eslint-js

FIX: Ensure old uploads can have animated field updated (#10963)
  app/jobs/scheduled/update_animated_uploads.rb
  spec/jobs/update_animated_uploads_spec.rb
Due: rubocop

FEATURE: CTRL-SHIFT-ENTER and SHIFT-Click do not scroll on post (#10965)
  app/assets/javascripts/discourse/app/components/d-button.js
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/mixins/key-enter-escape.js
  app/assets/javascripts/discourse/app/templates/composer.hbs
Due: prettier, eslint-js

FIX: Remove need for overflow hidden, follow-up to da5841d (#10971)
  app/assets/stylesheets/common/base/topic.scss
  app/assets/stylesheets/desktop/topic-post.scss
Due: none

FIX: include font import for embedded comments (#10967)
  app/assets/stylesheets/embed.scss
Due: none

DEV: support for relative symlinks for plugins in docker dev (#10955)
  bin/docker/boot_dev
Due: none

FEATURE: Add non_automatic group type param to groups index API
  app/controllers/groups_controller.rb
  spec/requests/groups_controller_spec.rb
Due: rubocop

DEV: Add env var to disable ActiveRecord logging in development (#10979)
  config/environments/development.rb
Due: rubocop

UX: Fix mobile padding-top on mobile, follow up to da5841d (#10982)
  app/assets/stylesheets/mobile/alert.scss
  app/assets/stylesheets/mobile/discourse.scss
Due: none

FIX: attempts to convert french quotes to regular quotes in dates (#10986)
  plugins/discourse-local-dates/assets/javascripts/lib/discourse-markdown/discourse-local-dates.js.es6
  plugins/discourse-local-dates/spec/lib/pretty_text_spec.rb
Due: rubocop, prettier, eslint-es6

FIX: converts “ and ” to " in local dates (#10987)
  plugins/discourse-local-dates/assets/javascripts/lib/discourse-markdown/discourse-local-dates.js.es6
  plugins/discourse-local-dates/spec/lib/pretty_text_spec.rb
Due: rubocop, prettier, eslint-es6

DEV: Add optional ENV variables for MiniProfiler snapshots transporter (#10985)
  app/controllers/application_controller.rb
  config/discourse_defaults.conf
  config/initializers/006-mini_profiler.rb
Due: rubocop

FIX: Restore users#topic_tracking_state route to api session_info scope (#10992)
  app/models/user_api_key_scope.rb
Due: rubocop

FIX: Pass user to Email::Sender to avoid broken reply key for group_smtp email (#10978)
  app/jobs/regular/group_smtp_email.rb
  lib/email/sender.rb
  spec/fabricators/group_fabricator.rb
  spec/jobs/regular/group_smtp_email_spec.rb
Due: rubocop

FIX: persist secure image width and height if is given (#10994)
  lib/email/styles.rb
  lib/pretty_text.rb
  spec/components/email/styles_spec.rb
  spec/components/pretty_text_spec.rb
Due: rubocop

DEV: Add more debugging context to onebox generation
  app/controllers/onebox_controller.rb
  lib/hijack.rb
Due: rubocop

FEATURE: Add detection of post date to use in bookmark modal (#10981)
  app/assets/javascripts/discourse/app/controllers/bookmark.js
  app/assets/javascripts/discourse/app/lib/bookmark.js
  app/assets/javascripts/discourse/app/models/post.js
  app/assets/javascripts/discourse/app/templates/modal/bookmark.hbs
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

UX: Remove forgot password button from login-preferences (#10998)
  app/assets/javascripts/discourse/app/templates/login-preferences.hbs
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
