Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: A screen-track/appEvents regression in #14929 (#14943)
  app/assets/javascripts/discourse/app/pre-initializers/inject-discourse-objects.js
Due: prettier, eslint-js

DEV: Retry installation of ember exam
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/discourse/tests/test-helper.js
  app/assets/javascripts/yarn.lock
Due: prettier, eslint-js

SECURITY: Ensure _forum_session cookies cannot be reused between sites (#14950)
  Gemfile.lock
  spec/integration/multisite_cookies_spec.rb
Due: rubocop

Version bump to v2.8.0.beta8 (#14948)
  lib/version.rb
Due: rubocop

DEV: Add basic theme support to the mini_profiler badge (#14952)
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/admin/mini_profiler.scss
Due: none

SYNTAX: Use classes instead of html element targeting (#14890)
  app/assets/javascripts/discourse/app/templates/components/topic-list.hbs
  app/assets/javascripts/discourse/app/templates/list/category-column.hbr
  app/assets/javascripts/discourse/app/templates/list/posters-column.hbr
  app/assets/javascripts/discourse/app/templates/list/posts-count-column.hbr
  app/assets/javascripts/discourse/app/templates/list/topic-list-item.hbr
  app/assets/javascripts/discourse/app/templates/topic-list-header-column.hbr
  app/assets/javascripts/discourse/app/templates/topic-list-header.hbr
  app/assets/stylesheets/common/base/_topic-list.scss
  app/assets/stylesheets/common/foundation/base.scss
  app/assets/stylesheets/desktop/topic-list.scss
  app/assets/stylesheets/mobile/topic-list.scss
Due: none

FIX: Drop malformed CC addresses in GroupSmtpEmail job (#14934)
  app/jobs/regular/group_smtp_email.rb
  spec/jobs/regular/group_smtp_email_spec.rb
Due: rubocop

DEV: Don't use `$.isEmptyObject()` (#14953)
  app/assets/javascripts/discourse/app/lib/screen-track.js
Due: prettier, eslint-js

FIX: Use correct group out of multiple for SMTP sender (#14957)
  app/models/topic.rb
  app/services/post_alerter.rb
  spec/services/post_alerter_spec.rb
Due: rubocop

FIX: Emoji uploader not using data.name on uppy upload (#14958)
  app/assets/javascripts/discourse/app/mixins/uppy-upload.js
Due: prettier, eslint-js

UX: mobile topic list fixes follow-up to 0e371d4 (#14959)
  app/assets/javascripts/discourse/app/templates/mobile/list/topic-list-item.hbr
  app/assets/stylesheets/mobile/topic-list.scss
Due: none

DEV: mutlipart -> multipart spelling fix (#14963)
  app/controllers/uploads_controller.rb
  config/locales/server.de.yml
  config/locales/server.en.yml
  config/locales/server.es.yml
  config/locales/server.he.yml
  config/locales/server.ko.yml
  config/locales/server.lt.yml
  config/locales/server.pl_PL.yml
  config/locales/server.ru.yml
  config/locales/server.sv.yml
  config/locales/server.tr_TR.yml
  config/locales/server.zh_CN.yml
Due: rubocop, yaml-syntax, i18n-lint

FIX: exclude topics from muted tag in category featured list. (#14925)
  app/models/category_list.rb
  lib/topic_query.rb
  lib/topic_query/private_message_lists.rb
  spec/models/category_list_spec.rb
Due: rubocop

FEATURE: Move sticky avatars into core
  app/assets/javascripts/discourse/app/initializers/sticky-avatars.js
  app/assets/javascripts/discourse/app/lib/sticky-avatars.js
  app/assets/javascripts/discourse/tests/acceptance/sticky-avatars-test.js
  app/assets/stylesheets/desktop/topic-post.scss
Due: prettier, eslint-js

FIX: Redirect to homepage if no posts exist (#14951)
  app/assets/javascripts/discourse/app/widgets/post-stream.js
Due: prettier, eslint-js

DEV: removes unnecessary jquery selector (#14945)
  app/assets/javascripts/discourse/app/lib/theme-selector.js
Due: prettier, eslint-js

DEV: jquery removal/listeners/cleanup of permalink form (#14944)
  app/assets/javascripts/admin/addon/components/permalink-form.js
  app/assets/javascripts/admin/addon/templates/components/permalink-form.hbs
Due: prettier, eslint-js

DEV: drops jquery usage in stacked chart (#14946)
  app/assets/javascripts/admin/addon/components/admin-report-stacked-chart.js
Due: prettier, eslint-js

DEV: drops jquery/simplify code/removes leaked event (#14947)
  app/assets/javascripts/admin/addon/components/staff-actions.js
  app/assets/javascripts/admin/addon/templates/components/staff-actions.hbs
Due: prettier, eslint-js

DEV: reduces jquery usage and memory leaks in composer (#14924)
  app/assets/javascripts/discourse/app/components/composer-body.js
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/lib/autocomplete.js
  app/assets/javascripts/discourse/app/mixins/textarea-text-manipulation.js
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
