Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

PERF: Remove an unncessary query when check for dark mode.
  app/helpers/application_helper.rb
Due: rubocop

Fix the build.
  spec/helpers/application_helper_spec.rb
Due: rubocop

UX: prevents auto capitalize/correct in the emoji picker (#10636)
  app/assets/javascripts/discourse/app/templates/components/emoji-picker.hbs.erb
Due: none

DEV: Add plugin api for adding to search-advanced-options dropdowns (#10606)
  app/assets/javascripts/discourse/app/components/search-advanced-options.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
Due: prettier, eslint-js

DEV: Improve theme support for color definitions (#10634)
  lib/stylesheet/importer.rb
  lib/stylesheet/manager.rb
  spec/components/stylesheet/importer_spec.rb
  spec/components/stylesheet/manager_spec.rb
Due: rubocop

FIX: `approve post count` did not take new topics into account
  lib/new_post_manager.rb
  spec/components/new_post_manager_spec.rb
Due: rubocop

fix typo Permenantly Delete -> Permanently Delete
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FIX: We should check for watched words first even if the user is a fast typer. (#10630)
  lib/new_post_manager.rb
  spec/components/new_post_manager_spec.rb
Due: rubocop

FIX: topic_creator accepts participant_count in import mode (#10632)
  lib/topic_creator.rb
  spec/components/topic_creator_spec.rb
Due: rubocop

FEATURE: Allow email image embed with secure media (#10563)
  app/mailers/group_smtp_mailer.rb
  app/mailers/user_notifications.rb
  config/locales/server.en.yml
  config/site_settings.yml
  lib/email/sender.rb
  lib/email/styles.rb
  lib/pretty_text.rb
  spec/components/email/sender_spec.rb
  spec/components/email/styles_spec.rb
  spec/components/pretty_text_spec.rb
  spec/mailers/user_notifications_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: Admin search for PMs should only search own PMs.
  lib/search.rb
  spec/components/search_spec.rb
Due: rubocop

DEV: Review fixes (#10641)
  app/models/imap_sync_log.rb
  db/migrate/20200910020909_make_imap_sync_log_cols_not_null.rb
  lib/demon/email_sync.rb
  spec/jobs/cleanup_imap_sync_log_spec.rb
Due: rubocop

FIX: Search checkboxes incorrectly being checked on similar prefix.
  app/assets/javascripts/discourse/app/components/search-advanced-options.js
  test/javascripts/acceptance/search-full-test.js
Due: prettier, eslint-js

DEV: Review fixes for bookmark-list (#10642)
  app/assets/javascripts/discourse/app/components/bookmark-list.js
Due: prettier, eslint-js

PERF: Use 1 query to load group and tag notification default.
  app/serializers/basic_group_serializer.rb
Due: rubocop

DEV: Remove redundant variable.
  lib/topic_query.rb
Due: rubocop

DEV: Remove unused function.
  app/assets/javascripts/discourse/app/components/related-messages.js
Due: prettier, eslint-js

Update Rails to 6.0.3.3.
  Gemfile
  Gemfile.lock
Due: none

FIX: Update first_pm_unread_at of user's groups without unread.
  app/models/group_user.rb
  spec/models/group_user_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
