Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: Keep current filter while navigating posts in a topic (#12620)
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/lib/url.js
  app/assets/javascripts/discourse/app/widgets/header-topic-info.js
Due: prettier, eslint-js

FIX: Include watched topics from muted categories in digests (#12602)
  app/models/topic.rb
  spec/models/topic_spec.rb
Due: rubocop

DEV: Add Higher Logic import script (#12623)
  script/import_scripts/higher_logic.rb
Due: rubocop

FEATURE: Move site updated modal into a less obtrusive prompt (#12577)
  app/assets/javascripts/discourse/app/components/software-update-prompt.js
  app/assets/javascripts/discourse/app/initializers/asset-version.js
  app/assets/javascripts/discourse/app/templates/application.hbs
  app/assets/javascripts/discourse/app/templates/components/software-update-prompt.hbs
  app/assets/javascripts/discourse/tests/acceptance/topic-discovery-test.js
  app/assets/javascripts/discourse/tests/helpers/component-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/integration/widgets/software-update-prompt-test.js
  app/assets/stylesheets/common.scss
  app/assets/stylesheets/common/software-update-prompt.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Small tweaks to "no messages" education (#12588)
  app/assets/javascripts/discourse/app/widgets/quick-access-messages.js
  app/assets/stylesheets/common/base/empty-state.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

DEV: add JS test for topic bulk action modal (#12621)
  app/assets/javascripts/discourse/app/templates/components/bulk-select-button.hbs
  app/assets/javascripts/discourse/tests/acceptance/topic-bulk-actions-test.js
Due: prettier, eslint-js

UX: icon instead of text for hiding mobile preview (#12625)
  app/assets/javascripts/discourse/app/templates/composer.hbs
Due: none

FIX: Make HTML scrubber work with deep HTML (#12619)
  app/services/search_indexer.rb
  spec/services/search_indexer_spec.rb
Due: rubocop

FEATURE: Introduce theme/component QUnit tests (#12517)
  app/assets/javascripts/discourse/app/helpers/theme-helpers.js
  app/assets/javascripts/discourse/app/initializers/auto-load-modules.js
  app/assets/javascripts/discourse/app/lib/theme-settings-store.js
  app/assets/javascripts/discourse/app/services/theme-settings.js
  app/assets/javascripts/discourse/tests/setup-tests.js
  app/assets/javascripts/discourse/tests/test_helper.js
  app/assets/javascripts/discourse/tests/test_starter.js
  app/controllers/qunit_controller.rb
  app/controllers/theme_javascripts_controller.rb
  app/helpers/application_helper.rb
  app/helpers/qunit_helper.rb
  app/models/theme.rb
  app/models/theme_field.rb
  app/views/qunit/index.html.erb
  config/routes.rb
  lib/tasks/qunit.rake
  lib/tasks/themes.rake
  lib/theme_javascript_compiler.rb
  spec/models/remote_theme_spec.rb
  spec/models/theme_field_spec.rb
  spec/models/theme_spec.rb
  spec/requests/qunit_controller_spec.rb
  spec/requests/theme_javascripts_controller_spec.rb
Due: rubocop, prettier, eslint-js

FIX: Prevent double slashes in Ember templates paths (#12630)
  app/models/theme.rb
  lib/theme_javascript_compiler.rb
  spec/lib/theme_javascript_compiler_spec.rb
Due: rubocop

DEV: Added support for custom site setting 'emoji_list' (#12414)
  app/assets/javascripts/admin/addon/components/emoji-value-list.js
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/admin/addon/templates/components/emoji-value-list.hbs
  app/assets/javascripts/admin/addon/templates/components/site-settings/emoji-list.hbs
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/desktop.scss
  app/assets/stylesheets/desktop/admin/_index.scss
  app/assets/stylesheets/desktop/admin/admin_base.scss
  config/locales/client.en.yml
  lib/site_settings/type_supervisor.rb
  lib/svg_sprite/svg_sprite.rb
  spec/components/site_settings/type_supervisor_spec.rb
  vendor/assets/svg-icons/emoji.svg
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

DEV: prevents test timeout (#12631)
  app/assets/javascripts/discourse/app/components/software-update-prompt.js
  app/assets/javascripts/discourse/tests/integration/widgets/software-update-prompt-test.js
Due: prettier, eslint-js

Revert "FEATURE: Introduce theme/component QUnit tests (#12517)" (#12632)
  app/assets/javascripts/discourse/app/helpers/theme-helpers.js
  app/assets/javascripts/discourse/app/initializers/auto-load-modules.js
  app/assets/javascripts/discourse/app/lib/theme-settings-store.js
  app/assets/javascripts/discourse/app/services/theme-settings.js
  app/assets/javascripts/discourse/tests/setup-tests.js
  app/assets/javascripts/discourse/tests/test_helper.js
  app/assets/javascripts/discourse/tests/test_starter.js
  app/controllers/qunit_controller.rb
  app/controllers/theme_javascripts_controller.rb
  app/helpers/application_helper.rb
  app/helpers/qunit_helper.rb
  app/models/theme.rb
  app/models/theme_field.rb
  app/views/qunit/index.html.erb
  config/routes.rb
  lib/tasks/qunit.rake
  lib/tasks/themes.rake
  lib/theme_javascript_compiler.rb
  spec/lib/theme_javascript_compiler_spec.rb
  spec/models/remote_theme_spec.rb
  spec/models/theme_field_spec.rb
  spec/models/theme_spec.rb
  spec/requests/qunit_controller_spec.rb
  spec/requests/theme_javascripts_controller_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Bump discourse_dev to 0.0.7 (#12633)
  Gemfile.lock
Due: none

FEATURE: Treat site settings as plain text and add a new HTML type. (#12618)
  Gemfile
  Gemfile.lock
  app/assets/javascripts/admin/addon/templates/components/site-settings/html.hbs
  app/controllers/admin/site_settings_controller.rb
  app/services/site_settings_task.rb
  app/services/user_merger.rb
  config/site_settings.yml
  lib/site_setting_extension.rb
  lib/site_settings/type_supervisor.rb
  spec/components/site_setting_extension_spec.rb
  spec/components/site_settings/type_supervisor_spec.rb
Due: rubocop, yaml-syntax

FIX: Ensure software-update banner is only shown after 24 hours (#12634)
  app/assets/javascripts/discourse/app/components/software-update-prompt.js
Due: prettier, eslint-js

DEV: bundle update onebox (#12635)
  Gemfile.lock
Due: none

DEV: lazy-yt plugin should attempt to use `parse_embed_response` (#12626)
  plugins/lazy-yt/plugin.rb
Due: rubocop

DEV: stub youtube embed requests (#12637)
  lib/oneboxer.rb
  spec/components/oneboxer_spec.rb
Due: rubocop
