Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Fix github event type name for cron runs (#14306)
  .github/workflows/ember.yml
Due: yaml-syntax

FIX: Mobile nav styling (#14309)
  app/assets/stylesheets/mobile/discourse.scss
  app/assets/stylesheets/mobile/user.scss
Due: none

UX: Fix date input display in iOS (#14307)
  app/assets/javascripts/discourse/app/templates/components/date-time-input-range.hbs
  app/assets/javascripts/discourse/app/templates/components/date-time-input.hbs
  app/assets/javascripts/discourse/app/templates/review-index.hbs
  app/assets/stylesheets/common/components/date-input.scss
  app/assets/stylesheets/mobile/reviewables.scss
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FEATURE: Make the multisite config path configurable (#14308)
  Gemfile.lock
  config/application.rb
  config/discourse_defaults.conf
Due: rubocop

Revert "FIX: Give the topic timeline unique keys for state"
  app/assets/javascripts/discourse/app/widgets/topic-timeline.js
Due: prettier, eslint-js

FIX: Do not error mobile upload button if !allowUpload (#14317)
  app/assets/javascripts/discourse/app/components/composer-editor.js
Due: prettier, eslint-js

DEV: Mark Ember CLI action as experimental (#14321)
  .github/workflows/ember.yml
Due: yaml-syntax

DEV: Fix the cron ember workflow (#14320)
  .github/workflows/ember.yml
Due: yaml-syntax

UX: Fix alignment for admin controls on mobile (#14312)
  app/assets/javascripts/admin/addon/templates/site-settings.hbs
  app/assets/javascripts/admin/addon/templates/watched-words.hbs
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/admin/customize.scss
Due: none

UX: Fix mobile styling for admin color schemes (#14314)
  app/assets/javascripts/admin/addon/templates/customize-colors-show.hbs
  app/assets/stylesheets/common/admin/customize.scss
  app/assets/stylesheets/mobile/admin_customize.scss
Due: none

FIX: Use <textarea> for theme translations (#14322)
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show.js
  app/assets/stylesheets/common/admin/customize.scss
Due: prettier, eslint-js

DEV: Use actions matrix to parallelize ember cli tests (#14323)
  .github/workflows/ember.yml
Due: yaml-syntax

UX: Use standard font size for buttons at the end of /top page (#14326)
  app/assets/stylesheets/common/base/_topic-list.scss
Due: none

Revert "DEV: Define --footer-nav-height css var (#14008)" (#14327)
  app/assets/stylesheets/common/components/footer-nav.scss
Due: none

DEV: Allow TopicEmbed.import to optionally receive a list of tags (#14301)
  app/models/topic_embed.rb
  spec/models/topic_embed_spec.rb
Due: rubocop

FIX: Optimistically fix topic timeline state issues
  app/assets/javascripts/discourse/app/components/mount-widget.js
  app/assets/javascripts/discourse/app/components/topic-timeline.js
  app/assets/javascripts/discourse/app/widgets/topic-timeline.js
Due: prettier, eslint-js

DEV: Match viewport metadata on mobile in Ember CLI (#14330)
  app/assets/javascripts/discourse/app/index.html
Due: none

DEV: Change uploads.filesize column to bigint (#14334)
  app/models/upload.rb
  db/migrate/20210914011037_change_uploads_filesize_to_bigint.rb
Due: rubocop

FIX: Update only present fields in request (#14310)
  app/assets/javascripts/discourse/app/models/category.js
  app/controllers/categories_controller.rb
  spec/requests/categories_controller_spec.rb
Due: rubocop, prettier, eslint-js

FEATURE: Cook drafts excerpt in user activity (#14315)
  app/assets/javascripts/discourse/app/lib/text.js
  app/assets/javascripts/discourse/app/models/draft.js
  app/assets/javascripts/discourse/app/models/user-drafts-stream.js
  app/assets/javascripts/discourse/app/routes/user-activity-drafts.js
  app/assets/javascripts/discourse/tests/acceptance/composer-draft-saving-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-edit-conflict-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-drafts-stream-test.js
  app/assets/javascripts/discourse/tests/fixtures/draft.js
  app/assets/javascripts/discourse/tests/fixtures/drafts.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  app/assets/javascripts/discourse/tests/unit/models/user-drafts-test.js
  app/controllers/draft_controller.rb
  app/controllers/drafts_controller.rb
  app/models/draft.rb
  config/routes.rb
  spec/requests/draft_controller_spec.rb
  spec/requests/drafts_controller_spec.rb
  spec/requests/session_controller_spec.rb
Due: rubocop, prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
