Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: User fields are case insensitive in bulk CSV (#12559)
  app/jobs/regular/bulk_invite.rb
  spec/jobs/bulk_invite_spec.rb
Due: rubocop

FIX: Handle staged users as unregistered users for external auth (#12567)
  app/controllers/users/omniauth_callbacks_controller.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Due: rubocop

FIX: Reload messages after a bulk operation (#12569)
  app/assets/javascripts/discourse/app/controllers/topic-bulk-actions.js
  app/assets/javascripts/discourse/app/controllers/user-private-messages.js
  app/assets/javascripts/discourse/app/routes/user-private-messages.js
  app/assets/javascripts/discourse/app/templates/user/messages.hbs
Due: prettier, eslint-js

FIX: Autocorrect values for dropdown imported user fields (#12572)
  app/jobs/regular/bulk_invite.rb
  spec/jobs/bulk_invite_spec.rb
Due: rubocop

FEATURE: Oneboxer cache response body (#12562)
  config/site_settings.yml
  lib/final_destination.rb
  lib/oneboxer.rb
  spec/components/oneboxer_spec.rb
Due: rubocop, yaml-syntax

DEV: bundle update onebox (#12573)
  Gemfile.lock
Due: none

A11Y: Do not use positive tabindex in composer (#12563)
  app/assets/javascripts/discourse/app/components/composer-save-button.js
  app/assets/javascripts/discourse/app/templates/components/composer-editor.hbs
  app/assets/javascripts/discourse/app/templates/components/composer-title.hbs
  app/assets/javascripts/discourse/app/templates/components/composer-user-selector.hbs
  app/assets/javascripts/discourse/app/templates/composer.hbs
Due: prettier, eslint-js

FIX: title when YouTube is pasted as the title to composer (#12565)
  app/assets/javascripts/discourse/app/components/composer-title.js
  app/assets/javascripts/discourse/tests/acceptance/composer-topic-links-test.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
Due: prettier, eslint-js

FEATURE: Show an educational message in the quick access menu for personal messages when there are none (#12564)
  app/assets/javascripts/discourse/app/components/composer-user-selector.js
  app/assets/javascripts/discourse/app/widgets/quick-access-messages.js
  app/assets/javascripts/discourse/app/widgets/quick-access-panel.js
  app/assets/stylesheets/common/base/_index.scss
  app/assets/stylesheets/common/base/empty-state.scss
  app/assets/stylesheets/common/base/menu-panel.scss
  app/serializers/current_user_serializer.rb
  config/locales/client.en.yml
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: post merging was failing silently (#12566)
  app/assets/javascripts/discourse/app/models/post.js
  app/controllers/posts_controller.rb
  config/locales/server.en.yml
  lib/post_merger.rb
  lib/validators/stripped_length_validator.rb
  spec/components/post_merger_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

UX: move logs/watched_words to customize/watched_words in admin section (#12571)
  app/assets/javascripts/admin/addon/components/watched-word-uploader.js
  app/assets/javascripts/admin/addon/controllers/admin-watched-words-action.js
  app/assets/javascripts/admin/addon/models/watched-word.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/customize.hbs
  app/assets/javascripts/admin/addon/templates/logs.hbs
  app/assets/javascripts/discourse/tests/acceptance/admin-watched-words-test.js
  app/assets/javascripts/discourse/tests/fixtures/watched-words-fixtures.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  config/locales/server.ca.yml
  config/locales/server.de.yml
  config/locales/server.en.yml
  config/locales/server.es.yml
  config/locales/server.fi.yml
  config/locales/server.fr.yml
  config/locales/server.gl.yml
  config/locales/server.he.yml
  config/locales/server.it.yml
  config/locales/server.ko.yml
  config/locales/server.nl.yml
  config/locales/server.pl_PL.yml
  config/locales/server.pt.yml
  config/locales/server.pt_BR.yml
  config/locales/server.ru.yml
  config/locales/server.sv.yml
  config/locales/server.tr_TR.yml
  config/locales/server.uk.yml
  config/locales/server.ur.yml
  config/locales/server.zh_CN.yml
  config/routes.rb
  spec/requests/admin/watched_words_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: "confirm new email" emails were failing for EmailChangeRequest records with blank requested_by_user_id field (#12579)
  app/models/email_change_request.rb
  spec/jobs/user_email_spec.rb
Due: rubocop

FEATURE: Use appEvents instead of jQuery for composer resizing progress (#12574)
  app/assets/javascripts/discourse/app/components/composer-body.js
Due: prettier, eslint-js

DEV: Pass editFirstPost action to plugin outlet in topic.hbs (#12582)
  app/assets/javascripts/discourse/app/templates/topic.hbs
Due: none

A11Y: make th keyboard accessible + aria attribs (#11895)
  app/assets/javascripts/discourse/app/components/topic-list.js
  app/assets/javascripts/discourse/app/raw-views/topic-list-header-column.js
  app/assets/javascripts/discourse/app/templates/topic-list-header-column.hbr
  app/assets/stylesheets/common/base/discourse.scss
Due: prettier, eslint-js

Change to no_messages_body copy (#12587)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FIX: Better error message for redeemed invite (#12580)
  app/controllers/invites_controller.rb
  config/locales/server.en.yml
  spec/requests/invites_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FEATURE: Copying invite link triggers a save (#12581)
  app/assets/javascripts/discourse/app/controllers/create-invite.js
  app/assets/javascripts/discourse/tests/acceptance/create-invite-modal-test.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: downloading watched words was broken (#12578)
  app/assets/javascripts/discourse/app/lib/url.js
Due: prettier, eslint-js

DEV: bundle update onebox (#12591)
  Gemfile.lock
Due: none
