Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Enforce dominant_color length in validation (#18309)
  app/models/upload.rb
  db/migrate/20220915132547_add_dominant_color_to_uploads.rb
  spec/models/upload_spec.rb
Due: rubocop

DEV: Improve setting of raw-view owner (#18310)
  app/assets/javascripts/discourse/app/helpers/raw.js
Due: prettier, eslint

DEV: Remove support for legacy plugin JS compilation pipeline (#18293)
  .github/workflows/tests.yml
  app/assets/javascripts/admin-plugins.js.erb
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/discourse/lib/bootstrap-json/index.js
  app/assets/javascripts/discourse/testem.js
  app/assets/javascripts/discourse/tests/active-plugins.js.erb
  app/assets/javascripts/discourse/tests/core-tests.js
  app/assets/javascripts/discourse/tests/plugin-tests.js.erb
  app/views/qunit/theme.html.erb
  config/initializers/assets.rb
  lib/ember_cli.rb
  lib/plugin/instance.rb
  lib/tasks/qunit.rake
Due: rubocop, prettier, eslint, yaml-syntax

SECURITY: Handle incomplete quote bbcode (#18311)
  app/assets/javascripts/discourse/app/widgets/post-cooked.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-cooked-test.js
  app/assets/javascripts/discourse/tests/unit/lib/pretty-text-test.js
Due: prettier, eslint

FIX: DB migration fails if old site setting has empty value (#18296)
  db/migrate/20160302170230_rename_digest_after_days_to_digest_after_minutes.rb
Due: rubocop

DEV: Ensure GitHub workflows cancel cleanly (#18314)
  .github/workflows/licenses.yml
  .github/workflows/linting.yml
  .github/workflows/tests.yml
Due: yaml-syntax

DEV: Improve labelling of Firefox Evergreen/ESR CI runs (#18313)
  .github/workflows/tests.yml
  app/assets/javascripts/discourse/testem.js
Due: prettier, eslint, yaml-syntax

DEV: Update github workflow for 8-core workers (#18271)
  .github/workflows/tests.yml
Due: yaml-syntax

DEV: Don't interpret user field names as HTML (#18317)
  app/assets/javascripts/discourse/app/templates/components/user-fields/confirm.hbs
  app/assets/javascripts/discourse/app/templates/components/user-fields/dropdown.hbs
  app/assets/javascripts/discourse/app/templates/components/user-fields/multiselect.hbs
  app/assets/javascripts/discourse/app/templates/components/user-fields/text.hbs
Due: none

DEV: Update `rake qunit:test` to support filtering (#18249)
  lib/tasks/qunit.rake
Due: none

DEV: Only lock rows that need to change in migration (#18319)
  db/migrate/20220920044310_enforce_user_profile_max_limits.rb
Due: rubocop

FEATURE: Select emojis in picker via keyboard (#18163)
  app/assets/javascripts/discourse/app/components/emoji-picker.js
  app/assets/javascripts/discourse/app/templates/components/emoji-picker.hbs
  app/assets/javascripts/discourse/tests/acceptance/emoji-picker-test.js
  app/assets/javascripts/discourse/tests/unit/lib/emoji-test.js
  app/assets/javascripts/discourse/tests/unit/models/topic-test.js
  app/assets/javascripts/pretty-text/addon/emoji.js
  app/assets/stylesheets/common/base/emoji.scss
Due: prettier, prettier-scss, eslint

DEV: Cache `turbo_rspec_runtime.log` in CI (#18318)
  .github/workflows/tests.yml
Due: yaml-syntax

PERF: Do not double bundle common langs in hljs bundle (#18321)
  lib/highlight_js.rb
Due: rubocop

DEV: Add test case for syntax highlight of complex HTML (#18320)
  app/assets/javascripts/discourse/app/lib/highlight-syntax.js
  app/assets/javascripts/discourse/tests/integration/components/highlighted-code-test.js
  app/assets/javascripts/discourse/tests/unit/lib/highlight-syntax-test.js
  vendor/assets/javascripts/highlightjs/highlight-test-bundle.min.js
Due: prettier, eslint

DEV: Mobile layout support for experimental user nav (#18308)
  app/assets/javascripts/discourse/app/components/user-nav.hbs
  app/assets/javascripts/discourse/app/components/user-nav.js
  app/assets/javascripts/discourse/app/components/user-nav/dropdown-list.js
  app/assets/javascripts/discourse/app/controllers/user.js
  app/assets/javascripts/discourse/app/templates/user.hbs
  app/assets/stylesheets/common/base/new-user.scss
  app/assets/stylesheets/desktop/_index.scss
  app/assets/stylesheets/desktop/new-user.scss
  app/assets/stylesheets/mobile/_index.scss
  app/assets/stylesheets/mobile/new-user.scss
  config/locales/client.en.yml
Due: prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

FIX: Hide experimental user navigation changes when disabled (#18327)
  app/assets/javascripts/discourse/app/controllers/user.js
  app/assets/javascripts/discourse/app/templates/user.hbs
Due: prettier, eslint

DEV: Allow `rake qunit` filter to be used alongside parallel option (#18326)
  lib/tasks/qunit.rake
Due: none

DEV: Use AR enums in reviewables related code
  app/controllers/reviewables_controller.rb
  app/jobs/regular/export_user_archive.rb
  app/jobs/scheduled/auto_queue_handler.rb
  app/jobs/scheduled/pending_queued_posts_reminder.rb
  app/jobs/scheduled/reviewable_priorities.rb
  app/models/concerns/roleable.rb
  app/models/reviewable.rb
  app/models/reviewable_flagged_post.rb
  app/models/reviewable_history.rb
  app/models/reviewable_post.rb
  app/models/reviewable_queued_post.rb
  app/models/reviewable_score.rb
  app/models/reviewable_sensitivity_setting.rb
  app/models/reviewable_user.rb
  app/models/user.rb
  app/serializers/queued_post_serializer.rb
  app/serializers/reviewable_history_serializer.rb
  app/serializers/reviewable_score_serializer.rb
  app/serializers/reviewable_serializer.rb
  app/services/spam_rule/flag_sockpuppets.rb
  lib/post_action_creator.rb
  spec/integration/spam_rules_spec.rb
  spec/lib/post_destroyer_spec.rb
  spec/models/post_action_spec.rb
  spec/models/reviewable_flagged_post_spec.rb
  spec/models/reviewable_history_spec.rb
  spec/models/reviewable_post_spec.rb
  spec/models/reviewable_queued_post_spec.rb
  spec/models/reviewable_spec.rb
  spec/models/topic_spec.rb
  spec/models/user_spec.rb
  spec/serializers/reviewable_serializer_spec.rb
  spec/services/auto_silence_spec.rb
  spec/services/flag_sockpuppets_spec.rb
  spec/services/post_alerter_spec.rb
  spec/services/user_destroyer_spec.rb
Due: rubocop

minor sidebar description styling for anons (#18332)
  app/assets/stylesheets/common/base/sidebar-section.scss
Due: prettier-scss

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
