Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: app/assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  include: app/assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

REFACTOR: minor changes to api-keys-new (#14435)
  app/assets/javascripts/admin/addon/controllers/admin-api-keys-new.js
  app/assets/javascripts/admin/addon/routes/admin-api-keys-new.js
  app/assets/javascripts/admin/addon/templates/api-keys-new.hbs
Due: prettier, eslint-js

FIX: Workaround Safari 15 createImageBitmap bug (#14448)
  app/assets/javascripts/discourse/app/lib/media-optimization-utils.js
Due: prettier, eslint-js

DEV: Plugin API to add to document title count (#14449)
  app/assets/javascripts/discourse/app/components/d-document.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
Due: prettier, eslint-js

UX: Adjust mobile spacing for full page search (#14450)
  app/assets/stylesheets/mobile/search.scss
Due: none

DEV: Make discourse-reactions official and sort existing plugin list (#14452)
  lib/plugin/metadata.rb
Due: rubocop

PERF: Improve database query perf when loading topics for a category. (#14416)
  app/models/topic.rb
  db/post_migrate/20210922064213_alter_bumped_at_indexes_on_topics.rb
  lib/topic_query.rb
  spec/components/topic_query_spec.rb
Due: rubocop

Fix: Support Ruby 3 keyword arguments for DiscourseRedis (#14444)
  lib/discourse_redis.rb
Due: rubocop

PERF: Revert all inboxes from messages route. (#14445)
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/controllers/user-private-messages.js
  app/assets/javascripts/discourse/app/routes/app-route-map.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-archive.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-index.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-new.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-personal-archive.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-personal-new.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-personal-sent.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-personal-unread.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-personal.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-sent.js
  app/assets/javascripts/discourse/app/routes/user-private-messages-unread.js
  app/assets/javascripts/discourse/app/templates/user/messages.hbs
  app/assets/javascripts/discourse/tests/acceptance/user-private-messages-test.js
  app/assets/stylesheets/desktop/user.scss
  app/assets/stylesheets/mobile/user.scss
  app/controllers/list_controller.rb
  config/locales/client.en.yml
  config/routes.rb
  lib/topic_query/private_message_lists.rb
  spec/lib/topic_query/private_message_lists_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Destroy application instance after each test (#14455)
  app/assets/javascripts/discourse/tests/setup-tests.js
Due: prettier, eslint-js

DEV: Use isLegacyEmber helper in setup-tests (#14458)
  app/assets/javascripts/discourse/tests/setup-tests.js
Due: prettier, eslint-js

UX: Show scrollbar only when needed in dropdowns (#14461)
  app/assets/stylesheets/common/select-kit/select-kit.scss
Due: none

DEV: prevents route nodes to leak on each test run (#14457)
  app/assets/javascripts/discourse/app/mapping-router.js
  app/assets/javascripts/discourse/app/pre-initializers/map-routes.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Due: prettier, eslint-js

DEV: Print usedJSHeapSize to the console after QUnit run (#14462)
  app/assets/javascripts/discourse/testem.js
  app/assets/javascripts/discourse/tests/setup-tests.js
  test/run-qunit.js
Due: prettier, eslint-js

DEV: Increase chrome JS memory limit in CI (#14446)
  app/assets/javascripts/discourse/testem.js
Due: prettier, eslint-js

DEV: Sort styleguide icons alphabetically and fix render on refresh (#14463)
  plugins/styleguide/assets/javascripts/discourse/components/styleguide-icons.js.es6
Due: prettier, eslint-es6

DEV: Bulk imports should find existing users by email (#14468)
  script/bulk_import/base.rb
  script/bulk_import/phpbb_postgresql.rb
  script/bulk_import/vbulletin.rb
Due: rubocop

UX: Don't display group messages link for group with no messages. (#14453)
  app/assets/javascripts/discourse/app/controllers/group.js
  app/assets/javascripts/discourse/tests/fixtures/group-fixtures.js
Due: prettier, eslint-js

FIX: Do not publish post for PM topic tracking if not new for user. (#14469)
  app/assets/javascripts/discourse/app/models/private-message-topic-tracking-state.js
  app/models/private_message_topic_tracking_state.rb
  spec/models/private_message_topic_tracking_state_spec.rb
Due: rubocop, prettier, eslint-js

FIX: incorrect interpolation was limiting to 1 dispatch / component (#14470)
  app/assets/javascripts/discourse/app/lib/plugin-api.js
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}
  eslint-es6: any of: *.es6
  eslint-js: any of: *.js
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
