Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD main
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD main
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {all_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {all_files}
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint plugins/**/test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: make `bin/ember-cli -u` terminate unicorn when ember-cli fails (#18172)
  bin/ember-cli
  bin/unicorn
Due: none

FIX: Ensure `<script>` handlebars templates are namespaced correctly (#18178)
  app/models/theme.rb
  app/models/theme_field.rb
  spec/models/theme_field_spec.rb
Due: rubocop

FIX: Regression with admin user delete dialog buttons (#18179)
  app/assets/javascripts/admin/addon/controllers/admin-user-index.js
  app/assets/javascripts/discourse/app/controllers/user.js
  app/assets/javascripts/discourse/app/templates/user.hbs
  app/assets/javascripts/discourse/tests/acceptance/admin-user-index-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-profile-summary-test.js
  config/locales/client.en.yml
Due: prettier, eslint, yaml-syntax, i18n-lint

FIX: "Exit setup" link should exit the wizard and take user to homepage (#18182)
  app/assets/javascripts/discourse/tests/acceptance/wizard-test.js
  app/assets/javascripts/wizard/addon/components/wizard-step.js
  app/assets/javascripts/wizard/addon/templates/components/wizard-step.hbs
  app/assets/stylesheets/wizard.scss
Due: prettier, prettier-scss, eslint

FIX: Ensure low-resolution placeholders are used while loading images (#18194)
  app/assets/javascripts/discourse/app/lib/lazy-load-images.js
Due: prettier, eslint

FIX: Ensure loading thumbnails are used in Safari (#18204)
  app/assets/javascripts/discourse/app/lib/lazy-load-images.js
Due: prettier, eslint

UX: Change `posted` notification icon to `discourse-bell-exclamation` (#18217)
  app/assets/javascripts/discourse-common/addon/lib/icon-library.js
Due: prettier, eslint

DEV: Update dependabot config (#18218)
  .github/dependabot.yml
Due: yaml-syntax

DEV: Update moment.js (#18207)
  package.json
  vendor/assets/javascripts/moment-locale/sr-cyrl.js
  vendor/assets/javascripts/moment-locale/sr.js
  vendor/assets/javascripts/moment.js
  yarn.lock
Due: prettier, eslint

DEV: Fix spec file name (#18227)
  spec/lib/onebox/engine/github_pull_request_onebox_spec.rb
Due: rubocop

DEV: Add another missing `await` (#18226)
  app/assets/javascripts/discourse/tests/acceptance/preferences-test.js
Due: prettier, eslint

DEV: Minor code cleanup (#18225)
  app/assets/javascripts/discourse/app/components/basic-topic-list.js
  app/assets/javascripts/discourse/app/components/topic-list-item.js
  app/assets/javascripts/discourse/app/initializers/banner.js
  app/assets/javascripts/discourse/app/initializers/logout.js
  app/assets/javascripts/discourse/app/initializers/read-only.js
  app/assets/javascripts/discourse/app/initializers/subscribe-user-notifications.js
  app/assets/javascripts/discourse/app/initializers/welcome-topic-banner.js
  app/assets/javascripts/discourse/app/lib/desktop-notifications.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/services/pm-topic-tracking-state.js
  app/assets/javascripts/discourse/app/services/presence.js
  plugins/discourse-narrative-bot/assets/javascripts/initializers/new-user-narrative.js
  plugins/poll/assets/javascripts/initializers/extend-for-poll.js
Due: prettier, eslint

DEV: Refactor self-delete dialog (#18180)
  app/assets/javascripts/discourse/app/controllers/preferences/account.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-account-test.js
  app/assets/javascripts/discourse/tests/fixtures/user-fixtures.js
Due: prettier, eslint

DEV: Add favicon to dev ember proxy (#18228)
  app/assets/javascripts/discourse/lib/bootstrap-json/index.js
Due: prettier, eslint

UX: trigger tooltips on click for touch devices (#18198)
  app/assets/javascripts/discourse/app/components/d-tooltip.js
Due: prettier, eslint

DEV: remove H1 from crawler view header (#18201)
  app/views/layouts/_noscript_header.html.erb
Due: none

UX: switch wizard SVG colors for dark mode (#18109)
  app/assets/javascripts/wizard/addon/components/wizard-step.js
  app/assets/javascripts/wizard/addon/templates/components/illustration-finished.hbs
  app/assets/javascripts/wizard/addon/templates/components/illustration-members.hbs
  app/assets/javascripts/wizard/addon/templates/components/illustration-welcome.hbs
  app/assets/javascripts/wizard/addon/templates/components/wizard-step.hbs
  lib/wizard/builder.rb
  public/images/wizard/finished-illustration.svg
  public/images/wizard/members-illustration.svg
  public/images/wizard/welcome-illustration.svg
Due: rubocop, prettier, eslint

FIX: Correctly pass `invite_to_topic` param to invites (#18229)
  app/controllers/invites_controller.rb
  spec/requests/invites_controller_spec.rb
Due: rubocop

UX: sidebar more link for categories & tags (#18199)
  app/assets/javascripts/discourse/app/components/sidebar/user/categories-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/user/tags-section.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-tags-section-test.js
  config/locales/client.en.yml
Due: prettier, eslint, yaml-syntax, i18n-lint

DEV: Prioritize unread notifications in the experimental user menu (#18216)
  app/controllers/notifications_controller.rb
  app/models/notification.rb
  app/models/user.rb
  spec/models/notification_spec.rb
  spec/models/user_spec.rb
  spec/requests/notifications_controller_spec.rb
Due: rubocop
