Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Deprecate message bus site settings (#14465)
  config/discourse_defaults.conf
  config/initializers/004-message_bus.rb
Due: rubocop

DEV: Remove deprecated methods (#14885)
  lib/flag_query.rb
Due: rubocop

Add support for Ember Exam
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/discourse/tests/test-helper.js
  app/assets/javascripts/yarn.lock
Due: prettier, eslint-js

Revert "Add support for Ember Exam" (#14895)
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/discourse/tests/test-helper.js
  app/assets/javascripts/yarn.lock
Due: prettier, eslint-js

DEV: Catch Mocha::ExpectationError in request specs (#14897)
  spec/rails_helper.rb
Due: rubocop

DEV: adds a new topic footer dropdown api (#14747)
  app/assets/javascripts/discourse/app/components/topic-footer-buttons.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/lib/register-topic-footer-button.js
  app/assets/javascripts/discourse/app/lib/register-topic-footer-dropdown.js
  app/assets/javascripts/discourse/app/templates/components/topic-footer-buttons.hbs
  app/assets/javascripts/discourse/tests/acceptance/topic-footer-button-api-mobile-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-footer-button-api-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-footer-buttons-mobile-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-footer-dropdown-api-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier, eslint-js

FIX: ensures minimum tags logic is correct and shared (#14723)
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/models/category.js
  app/assets/javascripts/discourse/app/models/composer.js
  app/assets/javascripts/discourse/app/templates/composer.hbs
  app/assets/javascripts/discourse/tests/unit/models/category-test.js
  app/assets/javascripts/select-kit/addon/components/category-chooser.js
  app/assets/javascripts/select-kit/addon/components/dropdown-select-box.js
  app/assets/javascripts/select-kit/addon/components/mini-tag-chooser.js
  app/assets/javascripts/select-kit/addon/components/multi-select.js
  app/assets/javascripts/select-kit/addon/components/select-kit.js
  app/assets/javascripts/select-kit/addon/templates/components/multi-select.hbs
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Use Map instead of Object for caching (#14887)
  app/assets/javascripts/discourse/tests/unit/lib/pretty-text-test.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/watched-words.js
Due: prettier, eslint-js

DEV: Let's always give a drop_from param to deprecate (#14901)
  app/controllers/groups_controller.rb
  app/controllers/posts_controller.rb
  app/models/category.rb
  app/models/post_action.rb
  app/models/report.rb
  app/models/reviewable.rb
  app/models/site_setting.rb
  lib/admin_user_index_query.rb
  lib/auth/auth_provider.rb
  lib/auth/default_current_user_provider.rb
  lib/freedom_patches/active_record_base.rb
  lib/new_post_result.rb
  lib/plugin/instance.rb
  lib/sql_builder.rb
  lib/stylesheet/functions.rb
Due: rubocop

DEV: Remove deprecated method (#14902)
  app/models/group.rb
Due: rubocop

DEV: reduces jquery usage in composer-editor (#14903)
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/lib/link-hashtags.js
Due: prettier, eslint-js

FIX: Prevent `PreloadStore` from calling the finder when value is falsy (#14899)
  app/assets/javascripts/discourse/app/lib/preload-store.js
  app/assets/javascripts/discourse/tests/unit/lib/preload-store-test.js
Due: prettier, eslint-js

DEV: Remove `jQuery` global usage where possible (#14905)
  .eslintrc
  app/assets/javascripts/discourse/app/helpers/raw.js
  app/assets/javascripts/discourse/app/lib/formatter.js
  app/assets/javascripts/discourse/app/lib/highlight-syntax.js
  app/assets/javascripts/discourse/app/lib/link-hashtags.js
  app/assets/javascripts/discourse/app/lib/link-mentions.js
  app/assets/javascripts/discourse/app/lib/plugin-connectors.js
  app/assets/javascripts/discourse/app/lib/timeframes-builder.js
  app/assets/javascripts/discourse/app/widgets/button.js
  app/assets/javascripts/discourse/app/widgets/header.js
  app/assets/javascripts/discourse/app/widgets/post-admin-menu.js
  app/assets/javascripts/discourse/tests/helpers/select-kit-helper.js
  app/assets/javascripts/discourse/tests/setup-tests.js
  app/assets/javascripts/wizard/components/wizard-step.js
Due: prettier, eslint-js

SECURITY: Disallow caching of MIME/Content-Type errors (#14907)
  lib/middleware/anonymous_cache.rb
  lib/middleware/discourse_public_exceptions.rb
  spec/components/middleware/anonymous_cache_spec.rb
Due: rubocop

DEV: Fix `hljs.highlightBlock` deprecation (#14908)
  app/assets/javascripts/discourse/app/lib/highlight-syntax.js
Due: prettier, eslint-js

DEV: Fix one more use of `jQuery` global (#14910)
  plugins/poll/assets/javascripts/widgets/discourse-poll.js.es6
Due: prettier, eslint-es6

DEV: Fix Chrome flags (#14914)
  app/assets/javascripts/discourse/testem.js
Due: prettier, eslint-js

DEV: Avoid using globals (#14909)
  .eslintrc
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-show.js
  app/assets/javascripts/discourse/app/components/pick-files-button.js
  app/assets/javascripts/discourse/app/controllers/grant-admin-second-factor.js
  app/assets/javascripts/discourse/app/mixins/composer-upload-uppy.js
  app/assets/javascripts/discourse/app/mixins/composer-upload.js
  app/assets/javascripts/discourse/app/mixins/uppy-upload.js
  app/assets/javascripts/discourse/app/models/site.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/tests/acceptance/admin-watched-words-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-edit-conflict-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/acceptance/create-invite-modal-test.js
  app/assets/javascripts/discourse/tests/acceptance/fast-edit-test.js
  app/assets/javascripts/discourse/tests/acceptance/flag-post-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-manage-interaction-test.js
  app/assets/javascripts/discourse/tests/acceptance/group-test.js
  app/assets/javascripts/discourse/tests/acceptance/keyboard-shortcuts-test.js
  app/assets/javascripts/discourse/tests/acceptance/notifications-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-footer-button-api-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-quote-button-test.js
  app/assets/javascripts/discourse/tests/helpers/component-test.js
  app/assets/javascripts/discourse/tests/integration/components/bookmark-test.js
  app/assets/javascripts/discourse/tests/integration/components/hidden-details-test.js
  app/assets/javascripts/discourse/tests/integration/components/invite-panel-test.js
  app/assets/javascripts/discourse/tests/integration/components/pick-files-button-tests.js
  app/assets/javascripts/discourse/tests/integration/components/site-header-test.js
  app/assets/javascripts/discourse/tests/unit/lib/pretty-text-test.js
  app/assets/javascripts/start-discourse.js
  app/assets/javascripts/wizard/test/acceptance/wizard-test.js
  app/assets/javascripts/wizard/test/components/invite-list-test.js
Due: prettier, eslint-js
