Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD main
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD main
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {all_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {all_files}
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint plugins/**/test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: Add better and more strict invite validators (#18399)
  app/models/invite.rb
  config/locales/server.en.yml
  spec/models/invite_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: Remove zero-width space when not necessary (#18429)
  app/assets/javascripts/discourse/app/templates/components/d-button.hbs
Due: none

FEATURE: when entering a topic scroll to last visited line marker (#18440)
  app/assets/javascripts/discourse/app/lib/url.js
Due: prettier, eslint

FIX: Allow logout for admins in staff-writes-only-mode (#18441)
  app/assets/javascripts/discourse/app/routes/application.js
Due: prettier, eslint

FEATURE: Make General the default category (#18383)
  app/assets/javascripts/discourse/app/models/composer.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/category-chooser-test.js
  app/assets/javascripts/select-kit/addon/components/category-chooser.js
  config/environments/test.rb
  config/site_settings.yml
  db/migrate/20220927171707_disable_allow_uncategorized_new_sites.rb
  spec/models/topic_converter_spec.rb
  spec/support/helpers.rb
Due: rubocop, prettier, eslint, yaml-syntax

UX: fix post placeholder on mobile (#18442)
  app/assets/stylesheets/mobile/topic-post.scss
Due: prettier-scss

FIX: Allow email login for admins in staff-writes-only-mode (#18443)
  app/controllers/session_controller.rb
  app/controllers/users_controller.rb
  spec/requests/session_controller_spec.rb
Due: rubocop

DEV: Add new plugin outlet in topic list header (#18444)
  app/assets/javascripts/discourse/app/templates/topic-list-header.hbr
Due: none

FIX: Workaround a bug in the R2 gem to produce valid RTL CSS (#18446)
  app/assets/stylesheets/common/base/sidebar-more-section-links.scss
Due: prettier-scss

FIX: Review sidebar link showing for users that can't review (#18454)
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/review-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
Due: prettier, eslint

UX: add max-width to digest email, format erb (#18445)
  app/views/user_notifications/digest.html.erb
Due: none

FIX: New general category changes preventing topic create (#18459)
  app/assets/javascripts/discourse/app/models/composer.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/category-chooser-test.js
  app/assets/javascripts/select-kit/addon/components/category-chooser.js
Due: prettier, eslint

UX: Change notifications nav icon in user page to bell (#18455)
  app/assets/javascripts/discourse/app/components/user-nav.hbs
  app/assets/javascripts/discourse/app/templates/user.hbs
Due: none

DEV: Convert messages user page nav to experimental redesign (#18456)
  app/assets/javascripts/discourse/app/components/user-nav/messages-groups-dropdown.js
  app/assets/javascripts/discourse/app/components/user-nav/messages-nav.hbs
  app/assets/javascripts/discourse/app/components/user-nav/messages-nav.js
  app/assets/javascripts/discourse/app/controllers/user-private-messages.js
  app/assets/javascripts/discourse/app/templates/user/messages.hbs
  app/assets/stylesheets/desktop/new-user.scss
  app/assets/stylesheets/mobile/new-user.scss
  config/locales/client.en.yml
Due: prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

DEV: Remove broken line of code (#18465)
  app/assets/javascripts/discourse/app/controllers/user-private-messages.js
Due: prettier, eslint

UX: Hide sidebar on 2FA route (#18464)
  app/assets/javascripts/discourse/app/controllers/application.js
  app/assets/javascripts/discourse/app/routes/second-factor-auth.js
  app/assets/javascripts/discourse/tests/acceptance/second-factor-auth-test.js
  app/assets/javascripts/wizard/addon/routes/wizard.js
Due: prettier, eslint

FIX: do not show user status on posts twice (#18458)
  app/assets/javascripts/discourse/app/widgets/poster-name.js
  app/assets/javascripts/discourse/tests/acceptance/topic-user-status-test.js
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier, prettier-scss, eslint

DEV: Experimental changes to user page notifications nav (#18466)
  app/assets/javascripts/discourse/app/templates/user/notifications.hbs
Due: none
