Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.{js,es6}"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-es6:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Promote all `javascripts/discourse` devDependencies to dependencies (#14167)
  app/assets/javascripts/discourse/package.json
Due: none

FIX: Capture S3 metadata when calling create_multipart (#14161)
  app/assets/javascripts/discourse/app/mixins/composer-upload-uppy.js
  app/controllers/uploads_controller.rb
  lib/file_store/s3_store.rb
  spec/requests/uploads_controller_spec.rb
Due: rubocop, prettier, eslint-js

FIX: correctly apply unusual padding to profile dropdowns (#14172)
  app/assets/stylesheets/mobile/user.scss
Due: none

DEV: Make composer-uppy-upload mixin more extensible (#14138)
  app/assets/javascripts/discourse/app/components/composer-editor-uppy.js
  app/assets/javascripts/discourse/app/mixins/composer-upload-uppy.js
  app/assets/javascripts/discourse/app/mixins/composer-upload.js
  app/assets/javascripts/discourse/tests/integration/components/uppy-image-uploader-test.js
Due: prettier, eslint-js

DEV: Bump Uppy to v2.X and rebuild bundle (#14173)
  app/assets/javascripts/discourse-shims.js
  app/assets/javascripts/discourse/app/lib/uppy-checksum-plugin.js
  app/assets/javascripts/discourse/app/lib/uppy-media-optimization-plugin.js
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
  package.json
  vendor/assets/javascripts/custom-uppy.js
  vendor/assets/javascripts/uppy.js
  yarn.lock
Due: prettier, eslint-js

DEV: reapply height hack for iOS (#14176)
  app/assets/stylesheets/common/select-kit/select-kit.scss
Due: none

DEV: Introduce PresenceChannel API for core and plugin use
  app/assets/javascripts/discourse/app/services/presence.js
  app/assets/javascripts/discourse/tests/unit/services/presence-test.js
  app/controllers/presence_controller.rb
  app/jobs/scheduled/presence_channel_auto_leave.rb
  app/serializers/presence_channel_state_serializer.rb
  config/routes.rb
  lib/discourse_plugin_registry.rb
  lib/plugin/instance.rb
  lib/presence_channel.rb
  spec/components/presence_channel_spec.rb
  spec/requests/presence_controller_spec.rb
Due: rubocop, prettier, eslint-js

DEV: make composer-upload-uppy more flexible
  app/assets/javascripts/discourse/app/components/composer-editor-uppy.js
  app/assets/javascripts/discourse/app/mixins/composer-upload-uppy.js
Due: prettier, eslint-js

FIX: Allow PresenceChannel to work on Redis 6.0 (#14178)
  lib/presence_channel.rb
Due: rubocop

FIX: Update PresenceChannel#present to work for redis 6.0 (#14180)
  lib/presence_channel.rb
Due: rubocop

UX: display correct replies count in embedded comments view. (#14175)
  app/controllers/embed_controller.rb
  app/views/embed/comments.html.erb
  spec/fabricators/post_fabricator.rb
  spec/requests/embed_controller_spec.rb
Due: rubocop

UX: use existing guardian method to check messageable group. (#14174)
  app/controllers/groups_controller.rb
  app/serializers/group_show_serializer.rb
  spec/requests/groups_controller_spec.rb
Due: rubocop

FIX: Ensure id sequences are not reset during db:migrate (#14184)
  lib/freedom_patches/seed_fu.rb
  spec/components/freedom_patches/seed_fu_spec.rb
Due: rubocop

DEV: Add default on encoding to dir-span (#14183)
  app/assets/javascripts/discourse/app/helpers/dir-span.js
  app/assets/javascripts/discourse/app/models/category.js
  app/assets/javascripts/discourse/app/templates/components/category-title-link.hbs
  app/assets/javascripts/discourse/app/templates/components/parent-category-row.hbs
  app/assets/javascripts/discourse/app/templates/components/sub-category-row.hbs
  app/assets/javascripts/discourse/app/templates/list/topic-excerpt.hbr
  app/assets/javascripts/discourse/app/templates/navigation/category.hbs
  app/assets/javascripts/select-kit/addon/templates/components/category-row.hbs
Due: prettier, eslint-js

DEV: Update api docs for search endpoint (#14181)
  spec/requests/api/schemas/json/search_request.json
  spec/requests/api/schemas/json/search_response.json
  spec/requests/api/search_spec.rb
Due: rubocop

UX: Better login/signup styling for small desktop windows (#14185)
  app/assets/stylesheets/common/base/login.scss
  app/assets/stylesheets/desktop/login.scss
Due: none

PERF: Make `TopicViewSerializer#requested_group_name` more efficient. (#14196)
  app/serializers/topic_view_serializer.rb
  spec/serializers/topic_view_serializer_spec.rb
Due: rubocop
