Repository yellowflash2041/Assassin-World: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD main
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD main
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|test/javascripts"
      run: yarn pprettier --list-different {all_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets"
      run: yarn pprettier --list-different {all_files}
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts
    eslint-plugins-assets:
      run: yarn eslint plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint plugins/**/test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Refactor popup-tip component (#15257)
  app/assets/javascripts/discourse/app/components/popup-input-tip.js
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/templates/components/popup-input-tip.hbs
  app/assets/stylesheets/common/base/compose.scss
  app/assets/stylesheets/common/input_tip.scss
Due: prettier, prettier-scss, eslint

DEV: Use `Discourse.deprecate` instead of `logger.warn` (#15274)
  lib/site_settings/deprecated_settings.rb
Due: rubocop

DEV: Drop env-based SiteSetting deprecation errors (#15273)
  lib/site_settings/yaml_loader.rb
  spec/components/site_settings/yaml_loader_spec.rb
Due: rubocop

DEV: Reset OmniAuth test mode between tests (#15278)
  spec/rails_helper.rb
Due: rubocop

DEV: Plugin API to add desktop notification handlers (#15280)
  app/assets/javascripts/discourse/app/lib/desktop-notifications.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Due: prettier, eslint

PERF: Prefabricate more of topics_controller_spec.rb (#15281)
  spec/requests/topics_controller_spec.rb
Due: rubocop

DEV: Add discourse-vk-auth to official plugins list (#15287)
  lib/plugin/metadata.rb
Due: rubocop

DEV: Prefers reads helper over alias (#15282)
  app/assets/javascripts/discourse/app/components/popup-input-tip.js
Due: prettier, eslint

DEV: Cache database in GitHub actions tests (#15279)
  .github/workflows/tests.yml
Due: yaml-syntax

DEV: Use slim container for backend tests in GitHub Actions (#15290)
  .github/workflows/tests.yml
Due: yaml-syntax

DEV: Add chat invitation notification type (#15288)
  app/models/notification.rb
  spec/requests/api/schemas/json/site_response.json
Due: rubocop

UX: Extend user hyperlink in staff action logs (#15293)
  app/assets/javascripts/admin/addon/templates/logs/staff-action-logs.hbs
Due: none

DEV: removes jQuery usage from extend-for-poll (#15289)
  plugins/poll/assets/javascripts/initializers/extend-for-poll.js
Due: prettier, eslint

DEV: update and improvements to json editor (#15294)
  app/assets/javascripts/discourse/app/components/json-editor.js
  app/assets/javascripts/discourse/app/lib/public-js-versions.js
  app/assets/javascripts/discourse/app/templates/components/json-editor.hbs
  package.json
  public/javascripts/@json-editor/json-editor/2.6.1/jsoneditor.js
  yarn.lock
Due: prettier, eslint

DEV: Use discourse image for postgres in GitHub Actions (#15291)
  .github/workflows/tests.yml
  lib/tasks/docker.rake
  script/start_test_db.rb
Due: rubocop, yaml-syntax

PERF: Prefabricate posters in topics_controller_spec (#15297)
  spec/requests/topics_controller_spec.rb
Due: rubocop
